{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Parodies and References in Comedy anime </h2>
		
		<br/>
		<div class="article-author">By: Truck-kun</div>
		<br>
		<div class="article-content">
			<p>While many people think that all anime devolves down to strong, bulky men fighting with stupidly powerful attacks gungho style, many fail to realize other genres, like comedy, exist and contain a plethora of <b>prominent shows.</b></p>

			<p>Comedy anime employ various methods to keep the viewers entertained.</p>

			<p>The use of parodies in anime has various reasons, which we will discuss later. In this article, I will discuss an anime that relies heavily on these references. Yes, I am talking about Gintama.</p>

			<h3>How does Referential Humor work?</h3>

			<p>Referential humor relies on the audience's knowledge of the referenced media; hence, it is optimal for the creator to use widely known and talked about topics to appeal to a broader audience. It also establishes a sense of “insider knowledge” in the audience’s mind. It also creates a rewarding feeling in the consumer's mind, as if he knows about the referred topic.</p>

			<p>References can add humor to a show in many ways. For example, if the reference contrasts with the context of the source material of the reference, it creates a layer of irony that the consumer may find funny. Another way to use this is to change a component of the story with a totally unexpected replacement and create shock and humor simultaneously. Nostalgia also amplifies the amplitude of the humor of the scene.</p>

			<p>While there may be some differences in the meaning of the words “parody” and “reference,” I will use them interchangeably in this article.</p>

			<h3>Gintama: The OG Comedy Show</h3>

			<p>Gintama is an anime created by Hideaki Sorachi. This show takes place in aIt is a show based in a Sci-fi world and contains action, drama, and comedy. It is famous for the parodies it offers on history and other anime.</p>

			<p>Known for its unpredictable and unique storytelling, this show isThe show is known for its unpredictable and unique storytelling. It’s particularly famous for its parodies of popular culture and anime tropes, often breaking the fourth wall and using self-referential humor.</p>

			<p>References create humor through satire and mutual understanding between the author and the reader. The show utilizes references from many topics from Japanese and Otaku culture and sometimes even includes historical figures, including historical figures, Japanese culture, and Otaku culture. This show is riddled with references, so many that only a handful of humans know enough to understand each one.</p>

			<h3>References to other Media</h3>

			<p>Making a list of parodies in Gintama is not feasible for a mortal human, but someone did try. <a href="https://tvtropes.org/pmwiki/pmwiki.php/ShoutOut/Gintama" target="_blank">Here</a> is the list.</p>

			<p>On the 185th episode of this gag series, they create a parody version of Charlie and The Chocolate Factory, a movie top-rated in Japan and the world alike. The gag is that chocolate is replaced by mayonnaise in the episode. This works as a funny parody mainly because the user realizes that the Movie (or the book) is entirely based on Chocolates, but replacing it with Mayonnaise creates no urgency to change the story as it perfectly makes sense in the context.</p>

			<p>The swap from chocolate to mayonnaise is an absurd and random contrast between two totally different foods. Humor often comes from surprise or incongruity—things that don’t usually belong together suddenly being placed in the same situation.</p>

			<br/><center><img src="/assets/releases/2024-11-1/4-1.webp" alt="." style="height: calc(min(350px, 35vw));"></center><br>

			<p>There is another episode in Gintama in which the author references five anime. One-piece, Dragon Ball, Hunter X Hunter, Pokémon, and Naruto, to be exact. Gintama, the king of references, excels in exaggerating cliches and tropes used in other anime to add humor.</p>

			<br/><center><img src="/assets/releases/2024-11-1/4-2.webp" alt="." style="height: calc(min(350px, 35vw));"></center><br>

			<h3>Self-referential or meta-humor</h3>

			<p>The show also utilizes 4th wall breaks in almost every episode.</p>

			<p>4th wall breaks allow the creators to directly talk to the viewers creating a great opportunity for meta-humor. Now, what is meta-humor? According to Google, Self-referential humor, also known as self-reflexive humor or self-aware humor, is a type of <a href="https://en.wikipedia.org/wiki/Expression_(language)" target="_blank">comedic expression[1]</a> that—either directed toward some other subject or openly directed toward itself—is <a href="https://en.wikipedia.org/wiki/Self-reference" target="_blank"> self-referential</a> in some way.</p>

			<p>Meta humor works the same way as references to other topics minus the prerequisite of knowledge and nostalgia factor. The characters acknowledge the production budget, make fun of the show’s fillers, or reference the fact that they’re in an anime.</p>

			<br/><center><img src="/assets/releases/2024-11-1/4-3.webp" alt="." style="height: calc(min(350px, 35vw));"></center><br>

			<p>For example, in an episode parodying bleach, the characters admit to cutting corners in the animation quality due to budget restraints.</p>

			<p>The difference between meta-humor and typical parodies lies in the reason why they work in comedy anime. While we have already discussed why typical references work, meta-parodies lack the most essential component of the reference, the fact that the media referenced has little to no connection to the anime in question.</p>

			<p>Where self-referential humor lacks in surprise, it compensates by other methods. One is the use of 4th wall breaks. This adds humor, character development, shifting tone, and subverting expectations.</p>

			<h3>Conclusion</h3>

			<p>In conclusion, many anime rely heavily on references like Gintama. They may be of many types and references from different topics, but their utility is more often than not the same: to give comedic relief. The reasons might not be the same, but they work to make the show a delightful experience for all of us.</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
