{# Ao Ashi Review: done #}
<div class="page">
	<div class="article-full">
		<h2>Anime Review: AO ASHI</h2>
		<br/>
		<div class="article-author">By: Nikhith Mathai Manoj</div>
		<table class="anime-info">
			<tr><td>Seasons</td><td>1</td></tr>
			<tr><td>Episodes</td><td>24</td></tr>
			<tr><td>Genres</td><td>Sports</td></tr>
		</table>
		<div class="article-content">
			<h3>Brief Summary</h3>
			<p>Ao Ashi is a sport-based anime adaptation of the Japanese manga series written and illustrated by Yugo Kobayashi and based on a concept by Naohiko Ueno. The story revolves around Aoi Ashito, a third-year middle school student whose main aim is to become a professional football player as soon as possible. A significant event in his quest to go pro happens when a youth coach for Tokyo City Esperion happens to attend a football match where Ashito plays as a striker, and invites him to the selections for the Esperion Youth Academy.</p>
			<h3>Characters</h3>
			<p>The main character, Ashito, is eccentric in general, but when he is trying to learn something new in football, he becomes serious and his thoughts are filled with it. The youth coach, Fukuda, has a laid-back approach to things, but like Ashito, he is also serious when it comes to his footballing goals. Ashito's family consists of his mother and brother, who don't get much screen time except in the first few episodes of the show. At the youth team selections, Ashito meets new people, notably Tachibana, a striker who came from a different youth system hoping that a new challenge will lead to further development, and Otomo, who is the comic relief of the show.</p>
			<h3>Art & Animation</h3>
			<p>The art style is great and the animation felt smooth. Each character had different hairstyles and facial structures, which made it easy to differentiate between characters. The OP and ending sequences were well-animated, but there was nothing too special about them.</p>
			<h3>Music</h3>
			<p>I felt like the music was good and fitted the themes quite well. There was nothing remarkable about them, but there was nothing to complain about at the same time. The soundtracks for the OP and ED were also quite good, and worth listening to.</p>
			<h3>Enjoyment</h3>
			<p>It is a slightly slow-paced anime, and for those who don't follow football much, it could be a bit of a bore sometimes. But for people who follow football, it is an amazing experience, well worth a watch. In my opinion, it is one of the most realistic football anime till now, and it even has intense matches and moments.</p>
			<h3>Ratings</h3>
			<table class="anime-ratings">
				<tr><td>Story: </td><td>9</td></tr>
				<tr><td>Characters: </td><td>8</td></tr>
				<tr><td>Art: </td><td>8</td></tr>
				<tr><td>Music: </td><td>7</td></tr>
				<tr><td>Enjoyment: </td><td>8</td></tr>
				<tr><td>Overall: </td><td>8</td></tr>
			</table>
			<div class="article-end"></div>
		</div>
	</div>
</div>
