{# Second Life Ranker Review: Done #}
<div class="page">
	<div class="article-full">
		<h2>Manhwa Review: SECOND LIFE RANKER</h2>
		<br/>
		<div class="article-author">By: Chiranjeet Mishra</div>
		<table class="anime-info">
			<tr><th>Status</th><td>Ongoing</td></tr>
			<tr><th>Chapters</th><td>140+</td></tr>
			<tr><th>Genre</th><td>Action, Fantasy</td></tr>
		</table>
		<div class="article-content">
			<h3>Synopsis</h3>
		<img src="/assets/releases/2022-12-1/1.webp" style="width:200px; display: block; float: right; margin: 0px 10px;">
			<p>Yeon-woo's twin brother disappeared five years ago, only for his pocket watch to suddenly fall into Yeon-woo's hands. Inside, Yeon-woo found a hidden diary. "By the time you hear this, I guess I will already be dead..."</p>
			<p>Obelisk, the Tower of the Sun God, is a world where several universes and dimensions intersect. Yeon-woo's brother died after being betrayed while he climbed the tower, and after learning the truth, Yeon-woo decided to climb the tower with the help of his brother's diary.</p>
			<p class="quote">"From now on, I am Cha Jeong-woo.”</p>
			<h3>Art - 10/10</h3>
			<p>The art is quite similar to Solo Leveling and other manhwas like “The Second Coming of Gluttony” and “The Beginning After The End”. The character designs have a charming appeal to them (super hot male characters uwu). I would consider it to have some of the best art in this genre.</p>
			<h3>Story- 9/10</h3>
			<p>The most important element of any main character is their drive. Here is his desire to take revenge for his twin brother. The story starts with the main character acing every single trial that is thrown at him. The way he tackles each trial uniquely is interesting and an out-of-the-box approach. The build-up is quite good, and even though the number of characters is numerous, the author handles them quite well. The development of the main character is quite well-progressed. The only drawback to the story is that remembering so many abilities can be difficult at times [perhaps the author addressed this later in the manhwa;)].</p>
			<h3>Characters- 6/10</h3>
			<p>Well, I would consider this the weakest part of the series. The side characters are just not that well-developed. Do I care about them? No. Will it be any different if one of them dies? No. That's the issue here. The whole series is overly dependent on the main character, although Yeon-woo does cover up for the lacunae of his comrades. The characters that I personally liked would be Edora, Martial King and Phante in the beginning of the manhwa.</p>
			<h3>Epilogue</h3>
			<p>Personally, this is one of my favourite manhwas and will remain at the top of my list for quite some time. Even though I have read numerous overpowered MC manhwas, Second Life Ranker touched my weebheart the most. I would recommend you this manhwa as a must-read.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
