{# Partner-themed Crossword #}
<div class="page" id="crossword">
	<div id="cross-wrapper">
		<span class="article-header">Partner-Themed Crossword</span>
		<div class="anime-info" style="max-width: 50%; padding: 5px; text-align: center;">Everyone has a partner, be it a pet, a friend or even a bloodthirsty demon who resides inside you. This crossword is all about them. Use the clues to find out some of the most iconic partners in your favourite animes</div>
		<table class="crossword-table" id="crossword-table" cellspacing="0"></table>
		<div id="crossword-words">
			<div id="crossword-left"></div>
			<div id="crossword-right"></div>
		</div>
	</div>
	<div id="cross-alt">Your device is too thin to view this content; please rotate your screen or use a larger device!</div>
</div>
