<div class="page">
	<div class="article-full">
		<h2>Review - The Saga of Tanya the Evil</h2>
		<br/>
		<div class="article-author">By: Parth Mane</div>
		<table class="anime-info">
			<tr><td>Alternative Names:</td><td>Youjo Senki</td></tr>
			<tr><td>Season(s)</td><td>1</td></tr>
			<tr><td>Episodes</td><td>12+1</td></tr>
			<tr><td>Genres</td><td>Action, Isekai, Military</td></tr>
		</table>
		<div class="article-content">
			<img src="/assets/releases/2021-09-1/3.webp" alt="Youjo Senki" style="width: 50%;margin:10px auto;display:block"/>
			<p>The Saga of Tanya the Evil (or Youjo Senki, as it’s more commonly known) is a rather unknown anime by NUT based on a manga by the same name. It follows the story of an unnamed cold-hearted atheist salaryman - or rather, his life after he is reincarnated as a young girl into a war-torn world.</p>
			<p>The anime starts out with an introduction to the cold-hearted young Lieutenant Tanya Degurechaff, and shows her as a ruthless soldier. We’re shown her/his previous life as an employer - after he coldly fires a subordinate for shoddy work, the aggrieved employee shoves him in front of a train, resulting in his imminent death. However, right before the train hits him, time freezes, and a divine presence shows up in front of him before offering an ultimatum: believe in God and continue the cycle of rebirth, or go to hell for the sins committed in his life. The salaryman, however, coldly rejects the idea of a god and instead calls the presence ‘Being X’. Amused, Being X decides that his lack of faith is due to a lack of misery in his life, and decides to reincarnate him in a war-stricken world, under the condition that he would be immediately sent to hell if he failed to acknowledge God or died before his time.</p>
			<p>Reincarnated as an orphan, she decides to pursue a career in the military, end up at a high position, and safely live out the rest of her life in the rear end of the army. In this world with magic, she displays an immense affinity towards magical weapons, and becomes one of the army’s strongest soldiers.</p>
			<p>The rest of the anime follows her exploits as she faces various circumstances with chilling cruelty and tactics. Those who have watched Overlord are familiar with the overwhelming power and terror demonstrated by the main character, and Tanya does an excellent job at striking fear into the hearts of her enemies.</p>
			<p>The animation is good, although some find the facial style of the human characters to be a bit unusual. The action scenes, however, do not fail to deliver, and each battle has an arresting appeal that will leave viewers wanting more.</p>
			<p>Youjo Senki does an excellent job of keeping the viewer’s attention, and is paced to never have a dull moment. Despite this, the plot never appears forced or rushed, and keeps the viewer hooked until the end.</p>
			<p>On the music front, the anime has one opening song (JINGO JUNGLE by MYTH & ROID) and two ending themes (Los! Los! Los! by Aoi Yuuki for most of the episodes, and Sensen no Realism by Mako Niina for episode 8). The opening is energetic and ear-catching, and the ending themes are worth a listen.</p>
			<p>On a scale of 1-10, the ratings I’d give are:</p>
			<table class="anime-ratings">
				<tr><td>Plot: </td><td>8/10</td></tr>
				<tr><td>Characters: </td><td>8/10</td></tr>
				<tr><td>Animation: </td><td>8/10</td></tr>
				<tr><td>Music: </td><td>7/10</td></tr>
				<tr><td>Enjoyment: </td><td>9/10</td></tr>
				<tr><td>Overall: </td><td>8/10</td></tr>
			</table>
			<p>All-in-all, I’d say Youjo Senki is definitely worth a watch if you’re into dark isekais or want a quick fun show to binge. Keep an eye out for the upcoming second season, too!</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
