<div class="page">
	<div class="article-full">
		<h2>Review: That Time I Got Reincarnated as a Slime</h2>
		<br/>
		<div class="article-author">By: Sarthak Vijaywat</div>
		<table class="anime-info">
			<tr><td>Anime</td><td>That Time I Got Reincarnated as a Slime (Tensei Shitara Slime Datta Ken) [2018 and ongoing]</td></tr>
			<tr><td>Episodes</td><td>24+ (ongoing season 2) </td></tr>
			<tr><td>Genres</td><td>Action, Adventure, Comedy, Isekai</td></tr>
		</table>
		<div class="article-content">
			<p>A well-known anime which many of you might have watched already, Slime is a story about a guy who lives a normal life, but one day dies an unexpected death, resulting in his reincarnation in another world as a slime. It was received quite well by the audience which resulted in the release of its second season, having two parts and starting this winter.</p>
			<img src="/assets/releases/2021-09-1/4.webp" alt="Slime" style="width: 50%;margin:10px auto;display:block"/>
			<p>As it has quite a large name, it is generally referred to as the Slime anime or TenSuru. After reincarnation, our protagonist meets different types of creatures, the first one being a dragon, whom he easily becomes friends with. He gets the name Rimuru in this new world given by that dragon. As the story progresses, Rimuru meets new people and learns more about this new world.</p>
			<p>Before the reincarnation, our protagonist’s original name was Satoru Mikami, and he was a corporate worker with poor social skills. He didn’t have many friends, but he was content with his life, except for the fact that he never had a girlfriend. All this resulted in him resolving that he would do things differently in this life, like making lots of friends, analyzing before making any decisions, and few other character traits which he developed in this second chance of life.</p>
			<p>Apart from the story, which is not unique but still quite engaging, the other thing which kept me hooked on the story was the power system that Rimuru acquired during reincarnation. The system works around a voice who is extremely helpful in dire times and also provides us with some comical scenes. There are a lot more points which I could disclose about the system, but you will enjoy them more while watching the series itself. And as a good series is incomplete without one or two quirky characters, it does have a large contrast between the personalities of his friends, who are interesting and goofy from time to time.</p>
			<p>The music is generally on the calm side, which is relatable as the story is serene, while sometimes it gets emotional and brutal. The animation also supports the story as it is fairly good and sometimes results in nice, captivating scenes. In some episodes it can get boring as it might seem that the story is being stretched, but I still felt the urge to watch the next episode.</p>
			<p>So, overall, the anime is a fun watch if you like the isekai genre or if you are looking for a story about a hero growing from scratch to overpowered in a family-friendly way. And even if you do not have anything particular in your mind, you could still give it a try and enjoy it. </p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
