<div class="page">
	<div class="article-full">
		<h2>Review / Recommendation: Kekkai Sensen Blood Blockade Battlefront</h2>
		<br/>
		<div class="article-author">By: Aditya Sarode</div>
		<table class="anime-info">
			<tr><td>By</td><td>Nightow Yasuhiro</td></tr>
			<tr><td>Episodes</td><td>24 + 2 OVA</td></tr>
			<tr><td>Production</td><td>Bone, Toho</td></tr>
			<tr><td>Genres</td><td>Action, Fantasy, Adventure, Fiction</td></tr>
		</table>
		<div class="article-content">
			<h3>What is Kekkai Sensen about?</h3>
			<p>The story revolves around a young boy named Leonardo Watch and his adventures with the organization Libra, whose sole motive is to eradicate any threat to the residents of Hellsalem's Lot and maintain the balance between the worlds of humans and monsters. Having acquired the All-Seeing Eyes of the Gods in exchange for his sister's vision and the coincidental acquaintance of one of the strongest organizations working from the shadows, his life could be anything but ordinary.</p>
			<p>The flashbacks are one of the most pivotal elements in this story as they set the groundwork for its progression. From the heartwarming struggles of two siblings to the misfortunes of their protectors and from defeating monsters to grabbing burgers, every scene has a twist portraying both the worlds in a wonderful manner. In the end, only a few know what kind of threats lie in the abyss below the two worlds.</p>
			<p>To put it in a phrase-<i>An upheaval of common notions!</i></p>
			<h3>How does Kekkai Sensen unfold-</h3>
			<p>From the beginning itself, Kekkai sensen has an unusual development line which hits differently. It's a combination of comedy and shounen with a subtle yet simple approach. Direct deployment of characters, their development and larking together in the most relaxing ways make this series unique in the action genre. And as far as the backstory is concerned, there are a couple instances which are questionable, yet entertaining in their own ways. The plot doesn't deviate from the original storyline and has constant underrated surprises in store for the viewers. It has its usual dark moments and variegated approaches for any situation, yet the build-up is worth the wait to savour in one whole bite.</p>
			<h3>A Final Glance</h3>
			<p>All in all, the series has its own domain with a variety of emotions, action and even some dull moments - but it leaves no ground for criticism on its layout and comebacks. As for the opening and ending, the former throws out the boomerang of hope and the latter embodies youthful grace, thus ending each episodethe series on a high note.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
