
<div class="page">
    <div class="article-full">
        <h2>Review - Kumo Desu Ga, Nani Ka?</h2>
        <br/>
        <div class="article-author">By: Parth Mane</div>
        <table class="anime-info">
            <tr><td>Alternative Names:</td><td>So I’m a Spider, So What?</td></tr>
            <tr><td>Season(s)</td><td>1</td></tr>
            <tr><td>Episodes</td><td>24</td></tr>
            <tr><td>Genres</td><td>Isekai</td></tr>
        </table>
        <div class="article-content">
            <p>Hiiro Wakaba opens her eyes in a massive cave full of spider eggs, even though she was in a school class mere seconds ago. All eight of her eyes.</p>
            <p>Gradually, she pieces together the story - she’d died, and now she’s reincarnated as a spider in a dangerous world full of monsters and magic.</p>
            <p>Wakaba (or as she’s now called, Kumoko) thus begins her perilous journey fraught with danger, death, and stomach-turning last-resort meals. And we, as the viewers, now get to enjoy what is truly a surprisingly engaging tale as Kumoko grows stronger and learns how to protect herself from the uncountable threats hidden in the darkness of the Great Elroe Labyrinth.</p>
            <img src="/assets/releases/2021-09-1/2.webp" alt="Kumo Desu Ga" style="width: 60%;margin:10px auto;display:block"/>
            <p>As the viewer, though, this tale isn’t only from one perspective - we also now get to see the perspective of fellow classmate Shunsuke Yamade, who has reincarnated as Schlain Analeit - the fourth prince of the Analeit Kingdom. He, together with the classmates his teacher managed to find, begins his journey to protect the new world he lives in as well as his former classmates as the Warrior of the era.</p>
            <p>Unfortunately, Shun’s journey is nowhere near as compelling as Kumoko’s. While Kumoko constantly grows, develops, and breathes a fresh breath of life into the show, the human side of the show is dull and cliched. And despite the parallel perspectives of the show, one cannot simply skip over the human parts because of the information gleaned.</p>
            <p>As a character, Shun is the staple hero of any isekai - fuelled by a sense of doing what is right, willing to go to war because he cannot stand seeing another species in trouble, blessed by the powers of being the Chosen One - Shun utterly lacks any traits to truly call his own. This extends to his human compatriots - a vast majority of the human characters have no personality of their own, instead simply firing off naive, cringeworthy lines without a care for the composure of the viewer.</p>
            <p>Which is not to say the anime has no interesting characters - some of the characters have intriguing backstories and circumstances that had significant potential for development. Sadly, this is never capitalized on, and we watch everything go down the drain as the truth is revealed. The one truly interesting character in the show would have to be Kumoko, and Aoi Yūki carries the entire show on her back with her performance.</p>
            <p>The animation is highly CGI-based, and this is significantly noticeable as an unnatural perspective during the fight scenes. There are times, however, when the CGI shines through - albeit rarely.</p>
            <p>The music, on the other hand, is done well. The anime has two opening themes (keep weaving your spider way and Bursty Greedy Spider), both of which are catchy and worth a listen. The ending themes (Ganbare! Kumoko-san! and Genjitsu Totsugeki Hierarchy) are what truly shine, however. Both performed by Kumoko’s voice actress, the endings are instant bangers and absolutely worth watching after every episode.</p>
            <table class="anime-ratings">
                <tr><td>Plot: </td><td>7</td></tr>
                <tr><td>Characters: </td><td>4-9</td></tr>
                <tr><td>Animation: </td><td>6</td></tr>
                <tr><td>Music: </td><td>9</td></tr>
                <tr><td>Enjoyment: </td><td>9</td></tr>
                <tr><td>Overall: </td><td>8</td></tr>
            </table>
            <small>Kumoko is worth a 9, but the others amount to a 4</small>
            <br/><br/>
            <p>Kumo Desu Ga is definitely worth a watch if you have the time - and with another season coming soon, it’s a pretty good anime to binge. Even if the human narrative sucks, you can trust everyone’s favourite Kumoko to carry the whole show on her eight spindly legs.</p>
            <div class="article-end"></div>
        </div>
    </div>
</div>