<div class="page" id="wordsearch">
	<span class="article-header">Tensura Wordsearch</span><span style="display: inline-block;min-width:50px"></span><span class="article-author">By: Sarthak Vijaywat</span>
	<br/><br/>
	<div class="word-wrapper"><table id="wordsearch-table" cellspacing="0"></table></div>
	<hr style="width:80%;margin:20px auto"/>
	<div id="wordsearch-words"></div>

</div>