/node_modules

# Server secrets
/src/*credentials.json
/src/credentials.zip

# Testing template, test changes here
/templates/test*.njk

# Don't save CSS files since these are auto compressed. Use SCSS instead.
assets/**/*.css
