{# Ayush - Otonari ni Ginga: done #}
<div class="page">
	<div class="article-full">
		<h2>Manga Review: Otonari ni Ginga</h2>
		<br/>
		<div class="article-author">By: Ayush Parmar</div>
		<table class="anime-info">
			<tr><th>English Name</th><td>A Galaxy Next Door</td></tr>
			<tr><th>Genres</th><td>Comedy, Romance</td></tr>
			<tr><th>Airing Date</th><td>08 April, 2023</td></tr>

		</table>
		<div class="article-content">
			<br/><center><img src="/assets/releases/2023-02-1/1.webp" style="max-width: 30%; display: block;"></center><br/>

			<p>For all the fellow romance anime enthusiasts out there, the Winter 2023 season has been an amazing start to the new year with the return of playful Nagatoro-san while also introducing us to some new gems like Tomo-chan, Kubo-san, and the angelic Mahiru Shiina-san (>'-'<).</p>

			<p>But all these diabetes-inducing anime are not just limited to this season. We&rsquo;ve got one oh-so-sweet, oh-so-warm anime waiting for us in the next season!! And what awaits us in the coming season, or, should I say, next door, is nothing short of a galaxy.</p>

			<p>The anime adaptation of the manga Otonari ni Ginga (&ldquo;A Galaxy Next Door&rdquo;) was announced last year and is set to be released on April 8, 2023, along with a television drama too.</p>

			<p>After graduating from high school, Ichiro Kuga made his debut as a manga artist, but after his father died, he worked hard every day to support his young siblings by himself. Just by this much, you know that this is not going to be your stereotypical &ldquo;guy quits his passion to support his siblings&rdquo; plot point. It&rsquo;s becoming difficult to keep up with his growing deadlines and responsibilities, and to top all that, his last two assistants quit to make their own debuts.  It&rsquo;s getting out of hand for Kuga to manage everything. But just then, she appears: Kuga&rsquo;s knight in a black dress! Yes, you read it correctly. Shiori Goshiki, an extremely competent and equally beautiful lady, applies to become his new assistant. Goshiki helps Kuga meet his deadline, and Kuga&rsquo;s life seems to be back on track&mdash;or does it? There&rsquo;s something otherworldly about Goshiki, and an accident (a happy one, perhaps) will get them both engaged.</p>

			<p>Otonari ni Ginga is a tale that depicts how unnatural circumstances can lead to something beautiful. Although Kuga and Goshiki seem to share a bond as soon as the story begins, this won&rsquo;t let you miss out on the &ldquo;slowly falling in love&rdquo; side of the story. These are two level-headed adults who are trying to deal with the situation they found themselves in. There is no love at first sight here. It's a slow but pleasant burn. Their development is gradual and very interesting because none of it is cartoonish or played for fun, though the situations themselves will elicit some chuckles from the audience.</p>

			<p>So far, five volumes of the manga have been released. The author of the manga, Gido Amagakure, has done significant work in slice-of-life and romance. He is popular for his work &ldquo;Sweetness and Lightning,&rdquo; which was also adapted into an anime. The amount of wholesomeness in &ldquo;Sweetness and Lightning&rdquo; makes us anticipate similar levels of wholesomeness in this one too.</p>

			<p>The manga is great so far. The story is well-paced, and the mixture of romance and fiction in a slice-of-life setting is very refreshing and gives all the right feels. If you&rsquo;re a romance anime fan and don&rsquo;t mind a laid-back story, this is the anime you should be looking forward to. </p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
