{# Rashmi - Sailor Moon: done #}
			<div class="page">
				<div class="article-full">
					<h2>Mangaka Review: Naoko Takeuchi</h2>
					<br/>
					<div class="article-author">By: Rashmi Patil</div>
					{# <table class="anime-info">
						<tr><th>English name </th><td>Your Lie in April</td></tr>
						<tr><th>Seasons</th><td>1</td></tr>
						<tr><th>Episodes</th><td>22</td></tr>
						<tr><th>Genres </th><td>Slice-of-life, Music, Romance</td></tr>

					</table> #}
					<div class="article-content">
						<p class="quote">"Pharmacist that sold 35M manga copies<sup><a class="ref" href="https://meaww.com/naoko-takeuchi-togashi-creator-sailor-moon-netflix-manga-yoshihiro-togashi" target="_blank"> [1]</a></sup>"</p>
						<br/><center><img src="/assets/releases/2023-02-1/22.webp" style="max-width: 35%; display: block;"></center><br/>
						<p><strong>Meet Naoko Takeuchi</strong></p>
						{# <p>&nbsp;</p> #}
						<p>Although she is known by the name Naoko, the artist and author is popularly known as Naoko Takeuchi, which is her maiden name. She was born in the city of Kofu, Yamanashi, Japan, on March 15, 1967. Takeuchi attended Kofu Ichi High School, where she was in the astronomy and manga clubs. Takeuchi drew inspiration from the past year while creating manga.</p>
						{# <p>&nbsp;</p> #}
						<p>Seeing that the manga industry in Japan is a highly competitive one, Takeuchi's father encouraged her to consider an alternate path in the event that becoming an artist didn't work out. She studied chemistry at the Kyoritsu University of Pharmacy and graduated with a degree from the same university. She is a licenced pharmacist. Togashi entered the industry of manga after she submitted her work "Love Call" to Kodansha, a publishing house. Her other works included "Maria" and "Cherry Project." Takeuchi later took interest in doing a project that focused more on outer space and being a girl fighter.</p>
						<br/><center><img src="/assets/releases/2023-02-1/23.webp" style="max-width: 35%; display: block;"></center><br/>
						<!-- <p>&nbsp;</p> -->
						<p>After having a discussion with her editor, Fumio Osano, they decided to put the fighters in sailor suits, and thus the one-shot "Codename: Sailor" was created. In 1999, Nakayoshi began serialising Sailor Moon, and the series instantly became a hit. She went on producing 52 chapters, which were made up of 18 volumes. The series was so widely loved by people that it led to a 200-episode anime adaptation, animated films, video games, and a range of merchandise. The success of the series is not limited to Japan; it has a massive global fan base.</p>
						{# <p>&nbsp;</p> #}
						<br/><center><img src="/assets/releases/2023-02-1/24.webp" style="max-width: 85%; display: block;"></center><br/>
						<!-- <p>&nbsp;</p> -->
						
						<p>&nbsp;</p>
						<p><strong>What is her net worth?</strong></p>
						<p>Seeing just how successful "Sailor Moon" went on to become, it comes as no surprise that Takeuchi's net worth is $50 million, as reported by Taddlr. As reported by the Japan Times, the series has gone on to sell 35 million copies since its start. With the new adaptations and release of the movie "Pretty Guardian Sailor Moon Eternal The Movie," the "Sailor Moon" fanbase will probably keep growing.</p>
						{# <p>&nbsp;</p> #}
						<br/><center><img src="/assets/releases/2023-02-1/25.webp" style="max-width: 85%; display: block;"></center><br/>

						<!-- <p>&nbsp;</p> -->
						
						<p>She is married to the equally popular Yoshihiro Togashi. After Takeuchi left Kodansha to work for Shueisha, the popular publication house known for publishing Weekly Shonen Jump magazines, she attended a meeting for all the artists, where she met Yoshihiro Togashi, the author of the land hunter X Hunter. The two of them began meeting each other shortly after, and she even helped him with his manga. She acted as his manager and later as his colorist. The couple got married in January 1999 and have two children together, a son and a daughter.</p>

						<div class="article-end"></div>
					</div>
				</div>
			</div>
	