
{# Mention 1. Violet Evergarden: Done (need to watch) #}
<div class="page">
    <div class="article-full">
        <h2>Violet Evergarden</h2>
        <br/>
        <table class="anime-info">
            <tr><th>Seasons</th><td>1</td></tr>
            <tr><th>Episodes</th><td>13 (+1 Movie)</td></tr>
        </table>
        <div class="article-content">
            <center><img src="/assets/releases/2023-02-1/15.webp" style="max-height: 300px; max-width: 90%;"/></center>
            <br/>
            <p>What is the meaning of “I love you”? Violet, an emotionally isolated girl, embarks on a journey to find the meaning of the last words of her commander, the one and only person who was important to her. Devastated and confused as she was, she tried her best to find the meaning behind those words and understand what her commander expects her to do. We progressively watch Violet come to terms with her past and experience these emotions along the road in this show, which teaches all of us the true meaning, significance, and depth of emotions and feelings, the necessity of words, and the need to convey what's actually in your heart. Although not a romance-focused show, it is one of the most heartfelt love-themed shows we've ever seen in the second half. On a different note, this anime has the most beautiful artstyle we have seen.</p>
        </div>
        <div class="article-end"></div>
    </div>
</div>
