{# Intro Page: Need to add banner alert #}
<div class="page">
    <div class="article-full">
        <h2>Top 10 Romance Anime</h2>
        <br/>
        <div class="article-author">By: Abhibhu Prakash, Vidhu Vikas Singh</div>
        <br/>
        <br/>
        <div class="article-content">
            <p>The month of February, the month of romance. Hence, we bring to you the list of the top 10 anime with romance themes, curated by us. Since it is already a list of top 10 romances, we are not putting any ratings, because they are already the best you can find in this genre.</p>
            {# Need to customize this one #}
            <br/>
            <p>BANNER ALERT: We made this list only considering the anime we have watched, as, very obviously, we cannot comment on the anime we haven't watched. Therefore, few shoujo anime like "Fruits Basket" were not included since we haven't watched it.</p>
            <br/>
            <p>Romance; What pops in your head when you think about it? A couple of teenagers, fumbling through the turmoil in their hearts; A pair enjoying the serenity of their daily lives; Some cheesy kisses and cuddles that get you all giddy on the inside? Well, there are a lot of forms that romance takes. While an ideal romance may take different notions or definitions for different people, there is one thing common in almost all romances (we are definitely not questioning your taste in romance if this is not a common factor in your ideal romance. Trust us), it warms your heart. With this, let's start with the 10th entry in our list.</p>
            <div class="article-end"></div>
        </div>
    </div>
</div>
