{# 6. Horimiya: Done #}
			<div class="page">
				<div class="article-full">
					<h2>6. Horimiya</h2>
					<br/>
					<table class="anime-info">
						<tr><th>Seasons</th><td>1</td></tr>
						<tr><th>Episodes</th><td>12</td></tr>
					</table>
					<div class="article-content">
						<center><img src="/assets/releases/2023-02-1/10.webp" style="max-height: 300px; max-width: 90%;"/></center>
						<br/>
						<p>This brings us to one of the most popular romance anime in recent years. Horimiya is a story about Izumi Miyamura, an introverted and low self-esteem character,and Kyouko Hori, a stunning and well-liked character, the narrative of how they meet and how their romance develops. This is not one of those anime where the plot develops over the course of the entire show and the confession occurs at the very end. The couple's connection is lovely and funny at the same time, and the tale moves quickly—way too quickly. There are a few other couples in the plot that are just as promising. Although the anime adaptation skipped over half of the manga, this is not a problem for anime-onlys, as there is enough diabetes in the 12 episodes and the important plot points aren’t skipped in the anime.</p>
					</div>
					<div class="article-end"></div>
				</div>
			</div>
		