{# 5. Kaguya-sama: Done #}
<div class="page">
	<div class="article-full">
		<h2>5. Kaguya-Sama: Love is War</h2>
		<br/>
		<table class="anime-info">
			<tr><th>Seasons</th><td>3</td></tr>
			<tr><th>Episodes</th><td>36 (12+12+12)</td></tr>
		</table>
		<div class="article-content">
			<center><img src="/assets/releases/2023-02-1/11.webp" style="max-height: 300px; max-width: 90%;"/></center>
			<br/>
			<p>Love is a war. The one who confesses their feelings first is the loser in the battlefield called love. </p>
			<p>This is the sole premise of the show and, boy, is it executed beautifully. The poor, awkward, and hard working student council president at the Shuuchin Academy, wants to make the rich, sheltered and brilliant vice president fall in love with him, while the said rich girl wants to do the same to him. The events that transpire as they attempt to outwit one another in this deadly game of love are hilarious. Throw into this an adorable airhead(and her famous dance at the end of Season 1 ep 3), a super relatable socially awkward, yet intelligent guy, and a girl with the street smarts and awareness; and you get yourself one of the best animes ever made when it comes to pure Romantic Comedy. This anime is a mashup of every genre you would identify with romance, bar action, and is a roller coaster of comedy, romance, wits, and downright stupidity.</p>
		</div>
		<div class="article-end"></div>
	</div>
</div>
