{# 8. Tsuredure Children: Done #}
<div class="page">
	<div class="article-full">
		<h2>8. Tsuredure Children</h2>
		<br/>
		<table class="anime-info">
			<tr><th>Seasons</th><td>1</td></tr>
			<tr><th>Episodes</th><td>12</td></tr>
		</table>
		<div class="article-content">
			<center><img src="/assets/releases/2023-02-1/8.webp" style="max-height: 300px; max-width: 90%;"/></center>
			<br/>
			<p><i>Seishun</i>, youth… the sweet <i>sweet</i> time of your life, when things like love and romance and hormone secretions are at their peak and when the thought of a lover sends butterflies in your stomach or colour you in a red brighter than your future. This anime has numerous high school couples, or soon-to-be couples in their own rom-coms, and each will make you grin broadly till your face resembles the mask (Not a reference to our society, but the Hollywood movie). You might genuinely be told that you have diabetes because it is so unbelievably sweet. Those who appreciate sweet romantic comedies simply must watch it. Due to the continually changing plot, the show never becomes boring because it centres around so many different characters. The 212 chapter completed manga, which contains many more pairings and a finished plot for each of them, is something we recommend reading if you like the anime.</p>
		</div>
		<div class="article-end"></div>
	</div>
</div>
