{# 7. Oregairu: Done #}
			<div class="page">
				<div class="article-full">
					<h2>7. Yahari Ore no Seishun Love Comedy wa Machigatteiru</h2>
					<br/>
					<table class="anime-info">
						<tr><th>English Name</th><td>My Teen Romantic Comedy is Wrong As Expected</td></tr>
						<tr><th>Seasons</th><td>3</td></tr>
						<tr><th>Episodes</th><td>38 (13+13+12)</td></tr>
					</table>
					<div class="article-content">
						<center><img src="/assets/releases/2023-02-1/9.webp" style="max-height: 300px; max-width: 90%;"/></center>
						<br/>
						<p>Easily misunderstood, unable to strike up a conversation with girls, and a social pariah both by circumstance and choice. It is Hachiman Hikigaya, the protagonist of Oregairu; I am not making fun of you people. Sounds familiar, doesn't it—a guy who gave up on his social life and, as a result, on romance—a guy who gave up on expecting anything. Well, not completely, but in part. Oregairu is a rom-com drama that will leave you thinking deeply by the end of the episode. It is the story of a love triangle with a pessimistic protagonist, a separated perfectionist girl suffering from her complex, and a kind, optimistic and joyful, albeit slightly dumb girl. When watching this series, certain things could seem unnecessary or even pointless, and you might wonder why a character did what they did. However, because each character is well-developed, you will eventually come to understand, relate to, and sympathise with them.</p>
						<p>This show depicts the complicated and awkward friendship of three teenagers who are all dealing with social discomfort. Oregairu is a powerful show that will repay you for the time you put into watching all three seasons. It will teach you the essentials and value of human interactions.</p>
					</div>
					<div class="article-end"></div>
				</div>
			</div>
		