{# 9. Kaichou wa Maid-sama: Done #}
			<div class="page">
				<div class="article-full">
					<h2>9. Kaichou wa Maid-sama!</h2>
					<br/>
					<table class="anime-info">
						<tr><th>English Name</th><td>Class President is a Maid!</td></tr>
						<tr><th>Seasons</th><td>1</td></tr>
						<tr><th>Episodes</th><td>26 (+1 OVA)</td></tr>
					</table>
					<div class="article-content">
						<center><img src="/assets/releases/2023-02-1/7.webp" style="max-height: 300px; max-width: 90%;"/></center>
						<br/>
						<p>Misaki Ayuzawa, the first female president of the student council, has a bias towards girls and has a tense encounter with Takumi Usui, the most popular boy in the school. However, when they run into each other again, there's a catch: our president is seen doing her part-time job as a maid in a maid café! During this episode, a disciplined model student who must work in a maid café to support her family develops a difficult and humorous connection with an arrogant alpha male who has no qualms about using the girl’s part time job as leverage and blackmail. Misaki can argue all she wants, but she won't be able to stop the rising confusion inside her heart when Takumi acts possessive and protective of her. This anime has a shoujo demographic, but even if you are a guy, you would enjoy the incessant and exaggerated tropes that this show has in store for you.</p>
					</div>
					<div class="article-end"></div>
				</div>
			</div>
		