{# 10. Chunibyo: Change name to JAP name #}
<div class="page">
	<div class="article-full">
		<h2>10.	Love, Chunibyo and Other Delusions</h2>
		<br/>
		<table class="anime-info">
			<tr><th>Seasons</th><td>2</td></tr>
			<tr><th>Episodes</th><td>24 (+1 Movie, OVAs)</td></tr>
			<tr><th></th><td></td></tr>
		</table>
		<div class="article-content">
			<center><img src="/assets/releases/2023-02-1/6.webp" style="max-height: 300px; max-width: 90%;"/></center>
			<br/>
			<p>A charming romance between Rikka Takanashi, a girl with delusions, and Yuuta Togashi, a man who has overcome his delusions but is still plagued by his past. The friendship between the odd pair gradually develops into a romance for Yuuta, who initially feels helpless and then becomes motivated by a desire to assist someone who is experiencing the same mental condition as he did. This show offers to you a hilarious love relationship that conceals deeper feelings and meanings than what you initially see. It is full of comical moments centred around a group of students who are either deluded or formerly were. You will not find many sweet moments in this show, but you will surely enjoy Yuuta reprimanding Rikka and her cute protests against him.</p>
		</div>
		<div class="article-end"></div>
	</div>
</div>
