{# Honourable Mentions: Need to write a proper center-place code #}
<div class="page">
	<div class="article-full">
		<div class="article-content">
			<h2 style='color: #00000000 !important;'>A</h2>
			<h2 style='color: #00000000 !important;'>A</h2>
			<h2 style="color: #00000000 !important;">A</h2>
			<h2 style="color: #00000000 !important;">A</h2>
			<div class="article-end"></div>
			<p class='quote'>Before we proceed with number one, here are some honourable mentions.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>