{# Mention 4. Plastic Memories: Done #}
<div class="page">
	<div class="article-full">
		<h2>Plastic Memories</h2>
		<br/>
		<table class="anime-info">
			<tr><th>Seasons</th><td>1</td></tr>
			<tr><th>Episodes</th><td>12</td></tr>
		</table>
		<div class="article-content">
			<center><img src="/assets/releases/2023-02-1/18.webp" style="max-height: 300px; max-width: 90%;"/></center>
			<br/>
			<p>Love is not always unsuccessful due to a sad ending. What if one's love is reciprocated and yet the conclusion isn’t happy? NO, you douchebags, we aren’t talking about NTR. CALM DOWN! Well this is not a happy story, we’d warn you beforehand. But this doesn’t undermine how meaningful the story of this show is. How important are memories to you? Is it just a recollection of your past and a record book of your experience? Or something much more profound and valuable? Over the course of the show, the duo of our protagonist and his Android partner undertakes various cases of taking back, or rather, neutralising androids that have reached the limit of their memories and are on the verge of a mental breakdown. The sorrowful romance that blossoms between the duo really touches the heart. This might not be the best anime, but the plot carries the deepest of experiences you’ll find in any show.</p>
		</div>
		<div class="article-end"></div>
	</div>
</div>
