{# Return to countdown page: same as Honourable Mentions #}
<div class="page">
	<div class="article-full">
		<div class="article-content">
			<h2 style="color: #00000000 !important;">A</h2>
			<h2 style="color: #00000000 !important;">A</h2>
			<h2 style="color: #00000000 !important;">A</h2>
			<h2 style="color: #00000000 !important;">A</h2>
			<div class="article-end"></div>
			<p class="quote">And with this we come to the show which we deem to be the best romance anime of all time.</p>
		</div>
		<div class="article-end"></div>
	</div>
</div>
