{# Mention 3. Toradora: Done #}
<div class="page">
	<div class="article-full">
		<h2>Toradora</h2>
		<br/>
		<table class="anime-info">
			<tr><th>Seasons</th><td>1</td></tr>
			<tr><th>Episodes</th><td>25</td></tr>
		</table>
		<div class="article-content">
			<center><img src="/assets/releases/2023-02-1/17.webp" style="max-height: 300px; max-width: 90%;"/></center>
			<br/>
			<p>This show is about a vicious short girl, commonly known as "palm tiger," and a gentle tall guy who has a fearsome appearance and is mistaken for a gang member. Hilarity arises when these two somehow end up intertwined in one another's lives. The “com”(of “rom-com”) is strong in this one. This is one of the few rom-coms that lasts for 24 episodes with plenty of growth and story to rely on, as well as, of course, top-notch comedy. However, that does not mean that there isn't any character or story development. The final episode's end credits ARE NOT to be skipped.</p>
		</div>
		<div class="article-end"></div>
	</div>
</div>
