{# Mention 2. Golden Time: Done #}
			<div class="page">
				<div class="article-full">
					<h2>Golden Time</h2>
					<br/>
					<table class="anime-info">
						<tr><th>Seasons</th><td>1</td></tr>
						<tr><th>Episodes</th><td>24</td></tr>
					</table>
					<div class="article-content">
						<center><img src="/assets/releases/2023-02-1/16.webp" style="max-height: 300px; max-width: 90%;"/></center>
						<br/>
						<p>This is a classic that is almost certainly going to come up while discussing romance anime. This show offers far more than the latest cliché rom-com, replete with needless stereotypes, and has an amnesiac protagonist who is plagued by his past self and becomes involved in a love triangle with both his present crush and his prior love interest. It is not as sweet an anime as Tonikawa or Horimiya, but instead a proper and deeply impressive show with much more dimensions.</p>
					</div>
					<div class="article-end"></div>
				</div>
			</div>
		