{# Mention 6. Done #}
			<div class="page">
				<div class="article-full">
					<h2>Lovely Complex</h2>
					<br/>
					<table class="anime-info">
						<tr><td>Seasons</td><td>1</td></tr>
						<tr><td>Episodes</td><td>24</td></tr>
					</table>
					<div class="article-content">
						<center><img src="/assets/releases/2023-02-1/20.webp" style="max-height: 300px; max-width: 90%;"/></center>
						<br/>
						<p>Tall girl, short guy, both with a complex about their heights and how they try to help each other with their crushes. This is the one show that made me(one of the writers of this article) cry and laugh simultaneously. It’s so emotional and funny at the same time; the only reason it’s not in the top 10 can be attributed to my dislike(somewhat) of the main male lead’s indecisiveness(don’t let it stop you from watching it though, it gets better albeit over time). On the other hand, the primary female character is likeable. Despite being an old anime, it isn’t one of those animes where the confession happens at the very end(looking at you Special A). People who are looking for a fantastic rom-com should definitely watch it because of the incredible way it is crafted.</p>
					</div>
					<div class="article-end"></div>
				</div>
			</div>
		