{# Mention 5. Done #}
			<div class="page">
				<div class="article-full">
					<h2>Chivalry of a Failed Knight</h2>
					<br/>
					<table class="anime-info">
						<tr><td>Seasons</td><td>1</td></tr>
						<tr><td>Episodes</td><td>12</td></tr>
					</table>
					<div class="article-content">
						<center><img src="/assets/releases/2023-02-1/19.webp" style="max-height: 300px; max-width: 90%;"/></center>
						<br/>
						<p>The only action anime to make it in this list. WE JUST HAD TO PUT THIS SHOW IN THIS LIST SOMEHOW.Since it is an action-romance anime, the show didn't explicitly emphasise romance for very apparent reasons, but when it comes to romance in an action anime, there is simply nothing better than this. And guess what, the protagonist does not have the power of friendship! Yes! It’s an action anime, with the most impressive romance, excellent animation, equally good soundtracks, underdog MC and a very engrossing plot. You'll undoubtedly enjoy this anime if you don't belong to the minority who despises any action anime that isn't one of the most well-known.</p>
					</div>
					<div class="article-end"></div>
				</div>
			</div>
		