{% extends '_base.njk' %}

{% set pagetitle = pagetitle if pagetitle else 'Governor Portal' %}

{% set navlink=[{
	href: 'post',
	name: 'Post'
},{
	href: 'poll',
	name: 'Poll'
},{
	href: 'member',
	name: 'Member'
}] %}

{% block navbar %}
	<div class="navbar-full">
		<ul>
			<li><a href="/" style="padding:0px 16px;vertical-align:middle;" class="nohover" target="_self"><img src="/assets/logo.jpeg" alt="Logo" width="100%" height="100%" id="navbar-logo"/></a></li>
			<span class="navbar-line">&nbsp;</span>
			<div class="navbar-container">
				{% for link in navlink %}
					<li><a href="/gov-portal/{{ link.href }}-management" {% if link.href === thispage %} class="active-page" {% endif %} target="_self">{{ link.name }}</a></li>
				{% endfor %}
			</div>
		</ul>
	</div>
	<div class="plate"><a href="/"><div class="burger-home"><img src="/assets/logo.jpeg" id="burger-logo" alt="Logo"/></div></a><div class="burger"><div class="patty"></div></div></div><hr class="plate-bar"/>
	<div class="hamburger-menu">
		<div style="height:80px;"></div>
		<hr id="top-line"/>
		{% for link in navlink %}
			<a href="/{{ link.href }}" target="_self"><div class="lettuce{% if link.href == thispage %} active-page {% endif %}" >{{ link.name }}</div></a>
			{% if not loop.last %}<hr class="minor"/>{% endif %}
		{% endfor %}
		<a href="/about" target="_self"><div class="lettuce{% if 'about' == thispage %} active-page {% endif %}" id="most-bottom">Our Society</div></a>
		<hr class="minor lower-border"/>
		<a href="/members" target="_self"><div class="lettuce{% if 'members' == thispage %} active-page{% endif %}" id="almost-bottom">Our Members</div></a>
		<hr class="minor lower-border lower-border-upper"/>
		{% if loggedIn %}
			<a href="/profile" target="_self"><div class="lettuce{% if 'profile' == thispage %} active-page{% endif %}{% if userless %} disabled{% endif %}" id="top-bottom">Profile</div></a>
		{% else %}
			<a href="/login" target="_self"><div class="lettuce{% if 'login' == thispage %} active-page{% endif %}{% if userless %} disabled{% endif %}" id="top-bottom">Login</div></a>
		{% endif %}
		<hr class="border-bottom"/>
	</div>
	<script>
		document.querySelector('.burger').addEventListener('click', function () {
			this.classList.toggle('open');
			document.querySelector('.hamburger-menu').classList.toggle('slide');
			document.querySelector('#content-wrap').classList.toggle('burger-open');
		});
	</script>
{% endblock %}

{% block pagecontent %}
	{% block extrainfo %}{% endblock %}
	<h1>Governor Portal{% if actionname %} - {{ actionname }} {% endif %}</h1>
	{{ message if message }}
	{# This looks kinda empty, maybe we can have stuff here #}
	<div class="action">
		{% block actioncontent %}
			<h2> Quick Actions </h2>
			<div>
				<a href="/gov-portal/add-poll" class="add-item"> Add Poll </a>
				<a href="/gov-portal/add-post" class="add-item"> Add Post </a>
			</div>
		{% endblock %}
	</div>
{% endblock %}

{% block customcss %}
	<style>
		.add-item {
			display: block;
			width: fit-content;
			margin: 20px auto;
			border: 3px solid var(--off-white);
			border-radius: 5px;
			padding: 10px;
			background-color: var(--dark-gray);
			transition: color 0.3s, border-color 0.3s, background-color 0.3s;
		}
		.add-item:hover {
			color: var(--error-red);
			border-color: var(--white);
			background-color: var(--darker-gray);
		}
	</style>
{% endblock %}
