{% extends "_base.njk" %}

{% set thispage = 'govportal' %}
{% set pagetitle = 'Governor Portal' %}

{% set navlinks=[{
	href: 'gov-portal/image-upload',
	name: 'Image Upload'
},
{
	href: 'gov-portal/test',
	name: 'Test1'
},{
	href: 'gov-portal/test',
	name: 'Test2'
}] %}
