{% extends "govportal/govportal.njk" %}

{% set thispage = 'govportal' %}
{% set pagetitle = 'Governor Portal | Image Upload' %}
{% set actionname = 'Image Upload' %}

{% block actioncontent %}
	Image upload code jhere aaaaaaaaaa
{% endblock %}