{% extends "govportal/govportal.njk" %}

{% set thispage = 'govportal' %}
{% set pagetitle = 'Governor Portal | Member Management' %}
{% set actionname = 'Member Management' %}

{% block customjs %}
	<script>
		function showModal (id) {
			modal = document.getElementById(id);
				modal.style.display = "block";
		}

		function removeMemberTeam(name, roll, team) {
			if(confirm(`Are you sure you want to remove ${name} from ${team}`)) {
				console.log("confirm")
			}
		}

		function addTeam(memberTeams) {
			console.log(memberTeams);
			console.log(typeof memberTeams[0]);

			const teamNames = ["AMV & Music", "Media & Newsletter", "Quiz", "WebDev", "Design & Arts"];
			const memberTeamsArray = memberTeams.split(',').map(team => team.trim());

			const toAdd = teamNames.filter(team => !memberTeamsArray.includes(team));

			console.log(toAdd);
		}

	</script>
{% endblock %}

{% block actioncontent %}
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Position</th>
			</tr>
		</thead>
		<tbody>
			{% for member in currentMembers %}
				<tr>
					<td class = "member-name" onclick = "showModal(`{{ member.roll }}`)"><div class = "name"><b>{{ member.name }}</b></div>
					<div id = "{{ member.roll }}" class = "modal" style = "display:none">
						<div class = "modal-content">
							</br>
							<div class = "member-details" style = "display:block;">{{ member.roll }}</div>
							<div class = "member-details" style = "display:block;"> 
								{% for team in member.teams %}
									<span class = "team-span">{{ team }}  <span class = "cross" onclick = "removeMemberTeam(`{{ member.name }}`,`{{ member.roll }}`, `{{ team }}`)">  &times;</span></span>
								{% endfor %}
								<span class = "add-team" onclick = "addTeam(`{{ member.teams }}`)">&plus;</span>
							</div>
							<div class = "member-details" style = "display:block;">{{ member.position }}</div>
						</div>
					</div>
					</td> 
					<td>{{ member.position }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block customcss %}
	<style>
		.cross:hover {
			background-color : lightgrey;
		}
		.cross {
			border-radius : 200px;
			padding : 0px 5px 0px 5px;
		}
		.changeMemberDetails {
			border-radius : 5px;
			padding: 4px 3px 13px 3px;
  			height : 30px;
			width : 50px;
		}
		.team-span {
			padding : 3px 8px 3px 8px;
			border : solid;
			border-radius :5px;
		}
		.add-team {
			padding : 3px 8px 3px 8px;
			border : solid;
			border-radius :5px;
		}
		.add-team:hover {
			background-color: lightgrey;
		}
		table {
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			border: 1px solid grey;
			padding: 8px;
			text-align: left;
		}
		td.member-name:hover {
			background-color : #464646;
			cursor : pointer;
		}
		.member-details {
			font-color : white;
			padding : 1px 0px 10px 0px;
		}
		.name {
			font-size : 22px;
		}
	</style>
{% endblock %}
