{% extends "govportal/govportal.njk" %}

{% set thispage = 'govportal' %}
{% set pagetitle = 'Governor Portal | Post Management' %}
{% set actionname = 'Post Management' %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block actioncontent %}
	<div class="form-container">
		<form>
			<div class="item">
				<input type="text" required id="name">
				<label>Name</label>
			</div>
			<div class="item">
				<input type="text" required id="link">
				<label>Link</label>
			</div>
			<div class="item">
				<select name="type" id="type">
				<label>Type</label>
					<option value="youtube">Youtube</option>
					<option value="letter">Newsletter</option>
				</select>
			</div>
			<div class="item">
				<input type="text" required id="attr">
				<label>Author</label>
			</div>
			<div class="item">
				<input type="text" required id="date">
				<label>Date</label>
			</div>
			<div class="item">
				<input type="text" id="page" required value="_blank">
				<label>Page</label>
			</div>
			<div class="item">
				<input type="text" id="hype" required value="true"> 
				<label>Hype</label>
			</div>
			<button type="button" onclick="updatePost()">Post</button>
		<form>
	</div>
{% endblock %}

{% block customjs %}
	<script>
		axios.defaults.withCredentials = true;
		axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';
		
		async function updatePost() {
			const data = {
				name: document.getElementById('name').value,
				link: document.getElementById('link').value,
				type: document.getElementById('type').value,
				attr: [document.getElementById('attr').value],
				date: document.getElementById('date').value,
				page: document.getElementById('name').value,
				hype: document.getElementById('name').value
			}
			console.log(data);
			const res = await axios.post('/gov-portal/post', { data: data });
		}
		window.onload = () => {
			document.getElementById('date').value = new Date().toISOString();
		}
	</script>
{% endblock %}

{% block customcss %}
	<style>
		.form-container{
			padding: 23px 25px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		form {
			display: flex;
			flex-direction: column;
			border: 2px solid rgba(255,255,255,0.1);
			border-radius: 12px;
			padding: 12px 5px;
			width: 40%;
			background-color: rgba(255,255,255,0.13);
			backdrop-filter: blur(5px);
		}
		form * {
			outline: none;
			border: none;
		}
		.item {
			position: relative;
			margin: 10px;
		}
		.item label{
			position: absolute;
			top: 50%;
			left: 5%;
			transform: translateY(-50%);
			color: #fff;
			font-weight: 600;
			font-size: 18px;
			pointer-events: none;
			transition: 0.3s;
		}
		.item input{
			background-color: rgba(255,255,255,0.07);
   			font-size: 18px;
    		font-weight: 300;
			height: 50px;
			width: 90%;
  			border-radius: 8px;
  			padding: 0 15px 0px 15px;
  			border: 2px solid var(--light-gray);
  			color: #fff;
  			outline: none;
		}
		.item select{
			background-color: rgba(255,255,255,0.07);
   			font-size: 18px;
    		font-weight: 600;
			height: 50px;
			width: 95%;
  			border-radius: 8px;
  			padding: 0 15px 0px 15px;
  			border: 2px solid var(--light-gray);
  			color: #fff;
  			outline: none;
		}
		.item > input:focus{
  			border: 2px solid var(--red);
		}
		.item > select:focus{
  			border: 2px solid var(--red);
			color: var(--red);
		}
		.item > input:focus ~ label{
			top: 0;
			font-size: 16px;
			color: var(--red);
			padding: 0 2px;
			background-color: rgba(0, 0, 0, 0);
		}
		.item > input:valid ~ label{
			top: 0;
			font-size: 16px;
			padding: 0 2px;
			background-color: rgba(0, 0, 0, 0);
		}
		form > button {
			align-self: center;
			margin-top: 19px;
			width: 44%;
			background-color: var(--red);
			color: white;
			padding: 12px 0;
			font-size: 18px;
			font-weight: 600;
			border-radius: 12px;
			cursor: pointer;
		}

		@media (max-width: 1600px) {
			form {
				width: 50%;
			}
		}

		@media (max-width: 1300px) {
			form {
				width: 65%;
			}
		}

		@media (max-width: 1000px) {
			form {
				width: 75%;
			}
		}
	</style>
{% endblock %}
