{% extends "govportal/govportal.njk" %}

{% set thispage = 'govportal' %}
{% set pagetitle = 'Governor Portal | Post Management' %}
{% set actionname = 'Post Management' %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block actioncontent %}
	<div class="form">
		<div>
			<label for="">Name</label>
			<input type="text" id="name">
		</div>
		<div>
			<label for="link">Link</label>
			<input type="text" id="link">
		</div>
		<div>
			<label for="type">Type</label>
			<select name="type" id="type">
				<option value="youtube">Youtube</option>
				<option value="letter">Newsletter</option>
			</select>
		</div>
		<div>
			<label for="attr">Author</label>
			<input type="text" id="attr">
		</div>
		<div>
			<label for="date">Date</label>
			<input type="text" id="date">
		</div>
		<div>
			<label for="page">Page</label>
			<input type="text" id="page" value="_blank">
		</div>
		<div>
			<label for="hype">Hype</label>
			<input type="text" id="hype" value="true">
		</div>
		<button type="button" onclick="submit()">Submit</button>
	</div>
{% endblock %}

{% block customjs %}
	<script>
		axios.defaults.withCredentials = true;
        axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';
		
		async function submit() {
			const data = {
				name: document.getElementById('name').value,
				link: document.getElementById('link').value,
				attr: [document.getElementById('attr').value],
				date: document.getElementById('date').value,
				page: document.getElementById('name').value,
				hype: document.getElementById('name').value
			}
			console.log(data);
			const res = await axios.post('/gov-portal/post', { data: data });
		}
		window.onload = () => {
			document.getElementById('date').value = new Date().toISOString();
		}
	</script>
{% endblock %}

{% block customcss %}
	<style>
		.form{
			margin: 7vh auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	</style>
{% endblock %}
