{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2>The Tragedy of Emiya Kiritsugu- A Character Analysis</h2>
		<br/>
		<div class="article-author">By: Sphinx-001</div>
		<br/>
		<div class="article-content">

            <h2>Introduction</h2>

            <p>It seems that we are once again doing this.. Sigh.. for this article, I will be taking up a character from the Fate franchise, specifically Fate Zero, which I found really intriguing and relatable during my first watch of the show. (Of course, I am definitely a responsible student, and as one, I binge-watched the entire franchise during my winter vacations.) Well, the character is none other than the protagonist of the Show, which also remained my favorite character throughout the entire series, i.e., Emiya Kiritsugu.</p>

            <p>Since this is a character analysis, I will delve deep into the philosophies and the back-workings of his mindset and why his ideology becomes the onset of a great mental and worldly tragedy. </p>

            <h2>The first Impression</h2>

            <p>Many people perceive Emiya’s character as simple utilitarianism, a cold and calculating machine who can go all low to fulfill his goals. However, if we take a careful look at the minute details of his screen time, it is not that invisible to the eyes how flawed and multifaceted he can be and how deeply and meticulously his character has been woven throughout the entirety of the show.</p>

            <p>From the very first frame of the show, we are shown the air around Kiritsugu being something strange. It is the birth of her very daughter, yet instead of colorful cheerfulness in the room. There is a deep silence filling the space around Kiritsugu. It’s almost as if something is silently haunting him.</p>

            <p>“Iri. I will be the cause of your death.”</p>

            <p>Those are the first words that escape Kiritsugu’s mouth upon his daughter’s birth. These words are enough to subtly describe the immense burden that he carries on his lone shoulders. The framing tells that Kiritsugu is a man in solitude, utterly devoid of any positive emotions, as he laments that he will be the cause of his wife’s death. He judges himself unworthy of holding his newborn daughter, and this speaks volumes of his character as he believes himself undeserving of any kind of happiness.</p>

            <h2>Opening the layers</h2>

            <p>Initially, Kiritsugu may be described as a calculating and emotionless killing machine however, as the plot continues, his outward dispassion to the world around him begins to crumble as he realises what he has put on the stakes for this Holy Grail War. Yes, the only two people left to him that he can wholeheartedly call his own family. The weight behind this is backed by the unforgiving past of Kiritsugu, throughout which he had to kill or leave to death his loved ones all one by one.</p>

            <p>In the 7th episode, amidst the Holy Grail war, we see a new and vulnerable side of his character as he lays down bare all his pent-up emotions to Irisveil. He contemplates on abandoning everything behind and starting afresh with his wife and daughter. In contrast to his utilitarian persona, this scene manages to beautifully depict the vulnerability of Kiritsugu and how much he suffers behind the mask. He is scared, scared of losing the only left set of people close to him. He wants to stop, but he is bounded by something. This adds an extra layer to the depth of his motivation. We’ve been told that the reason Kiritsugu wants to attain the holy grail is to give humanity salvation by ending all wars and human conflict. However, that is the habitual lie he tells himself again and again. He isn’t as selfless as we think. All of this traces back to the distant past — a promise he made with his only friend.</p>

            <h2>“Hero of Justice”-The weight of a single promise</h2>

            <p>From a young age, Kiritsugu was filled with a naive optimism about the world. He dreamt of becoming a hero who would one day save the world, and it was Shirley who saw that potential in him when no one else did. She proved to be a catalyst for Kiritsugu’s transformation and his promise to her of becoming a hero ultimately became the true driving force of his actions.</p>

            <p>His utilitarian mindset is a result of the past tragedy that he could have prevented upon a single but heart-wrenching action. Upon finding out that it was his own father. Without a hint of remorse, he who caused the outbreak in the village just for the sake of his own research. Kiritsugu took it upon himself to take responsibility of getting rid of this evil off the face of the earth, no matter the personal cost. He had already failed once by not putting Shirley out of her misery, which inadvertently caused the doom of the entire village.</p>

            <p>This is the start of his utilitarian ideology, One that would continuously haunt him forever for his remaining life. It is very important to keep in mind that this is not just a result of some mere sense of justice, but a promise, a promise to his dear friend Shirley. Burdened by her death, he feels that his inaction to save Shirley is what ultimately causes the eradication of the village and hence feels responsible to kill his own father. Finally, Kiritsugu leaves the island with Natalia, choosing to take nothing with but the memory of Shirley. He also eventually forms a mother-son-like bond with Natalia, who strictly teaches him the way of a mercenary and the nature of human conflict. Later on, he gets the chance to prove his ideology during a mission that goes horribly wrong. </p>

            <p>Kiritsugu is once again faced with a similar dilemma from his past in which he has to shoot down a plane with Natalia inside or risk having an entire country’s population die. It’s a gut-wrenching and emotional scene, but Kiritsugu knows what he must do. He pulls the trigger and… fires. All that time spent with Natalia, being raised and taught like he was her own son, gone in an instant. What was it for? Some greater sense of nobility?</p>

            <p>All that’s left is his lonely set of ideals. Ideals that will continue to haunt him for the rest of his life. This breaks down Kiritsugu as he drowns in a pit of guilt, regret, and sadness. He calls out a name, but it’s not Natalia. It’s Shirley. And it’s that line, that unfolds the crux of Kiritsugu’s core beliefs. It wasn’t about a duty or sense of justice but a promise. A promise he couldn’t keep when he was younger, and so he tries to make up for it, but it’s never enough. From this point in his life, Kiritsugu tries to forsake all of his emotions and shoulder the burden of all his past sins. He believes that all the pain and suffering he carries throughout his life will one day be liberated from obtaining humanity's salvation.</p>

            <h2>The Tragic Ending</h2>

            <p>What makes Kiritsugu’s life even more miserable is that, try as he might, deep down he is not an emotionless machine as people like to believe he is. He needs a form of companionship, someone who understands or at least accepts all the terrible things he’s done. Someone to tell him that everything he did throughout his life was the right thing to do. Shirley, Natalia, Irisviel, and even Maiya were pillars of support, and he needed to convince himself that all the actions he took were for the greater good.</p>

            <p>Thus, we reach the most climactic moment in Fate Zero where Kiritsugu rejects the Grail after everything he’s been through. He learns that the grail is tainted as it can only grant wishes via methods only the wisher knows. The Grail’s only solution it offers for Kiritsugu’s wish for humanity's salvation is to kill every person in the world and have him live out his life with his wife and daughter peacefully for all eternity. This comes as an absolute shock for Kiritsugu, as the only way the grail can save everyone is to kill everyone. Kiritsugu refuses the grail as he didn’t come this far from sacrificing the people he loved, only to sacrifice even more.</p>

            <p>It’s this moment in the ending where I believe Kiritsugu to truly become a tragic hero. He makes yet another hard sacrifice by giving up the opportunity to live peacefully with his wife and daughter in order to save billions of people. But in doing so, gives up his final chance to achieve his dreams that he’d been working towards his entire life, for nothing in return. Labeling this as a tragedy would be a cruel understatement.</p>

            <h2>Conclusion</h2>

            <p>I think this article has reached its good length, and therefore, I will have to stop with my yapping. Emiya’s character, or in general, any well-written character, can easily have an infinitely extended discussion. Still, I think whatever I have done in this article was at least good enough to sum up this masterpiece of a character he is and give you a deeper insight into what makes his writing so extricate and complex. Personally, Emiya Kiritsugu remained my most loved character throughout the entire Fate series, and I genuinely hope your opinion of him may have improved as well. Well then… cya next time :)</p>

            <div class="article-end"></div>
		</div>
	</div>
</div>