<div class="page">
		<div class="article-full">
			<h2>Monster Review</h2>
			<br/>
			<div class="article-author">By: Anmol Kumar</div>
			<div class="article-content">
				<img src="/assets/releases/2021-10-1/3.webp" alt="Monster" style="float:left;margin:10px 20px 5px 0;height:40vh;min-width:100px;max-width:400px;max-width:80%"/>
				<p>Monster, created by Naoki Urasawa, was originally a manga consisting of 18 volumes which was later adapted into a 74-episode long anime series by Madhouse. Inspired by the 1960s American TV Series ‘The Fugitive’, Urasawa said that his editor was sure that the series would not be received well and even tried to stop him from working on it.</p>
				<p>The plot begins by introducing us to a young Japanese doctor Kenzo Temna, who is a highly gifted neurosurgeon and works in a hospital in Düsseldorf, Germany. Temna is shown to be in a very good relationship with the Hospital Chief’s daughter, Eva Heinemann. In a chain of events, where a poor Turkish man who had been brought to the hospital earlier, was declined treatment in order to prioritize a politician’s treatment, Temna starts questioning his orders and begins to build a hint of dissatisfaction within himself. We then witness the iconic dialogue by Eva, who upon being asked by Temna if that politician’s life was more important than that Turkish guy, replies saying, “Not all people’s lives are created equal.”</p>
				<p>This is one of those several instances in the story, where the viewer is left to wonder about the choices a character has to make. Temna faces many such situations throughout the plot. Urasawa has been appreciated for creating a carefully woven complex plot, where every character has their presence felt in the minds of the viewer. In addition to this, the storyline progresses in a linear fashion, but we learn more about the characters and their lives in a non linear way. A lot of characters and subplots are introduced throughout the show, but Urasawa has been careful enough to keep all of them connected together. It can be definitely said that proper character development has been implemented, be it Temna, Eva or any other characters who are introduced later.</p>
				<p>Monster has been praised for its realistic and humane approach to add progress into the character developments. Most of the characters have an inner conflict within their minds, which affects their actions and behaviors towards people and events. Urasawa has been careful enough to talk about the events in their lives, their past and history which made them what they are now. In order to add more realism into the story, the manga art has been kept close to actual anatomical proportions. The anime adaptation has followed the manga closely, and has combined the marvellous storytelling by Urasawa with some very apt background scores and themes. The themes are slow and hollow by themselves, but allow the listener to amass their own interpretations and produce their own meanings underlying the seemingly flat imagery. Overall, Monster is a great combination of mature characters, interesting storyline, and engaging background scores if you are watching the anime.</p>
				<div class="article-end"></div>
			</div>
		</div>
	</div>