
	<div class="page">
		<div class="article-full">
			<h2>Made in Abyss - Anime/Manga Review</h2>
			<br/>
			<div class="article-author">By: Parth Mane</div>
			<table class="anime-info">
				<tr><td>Volumes</td><td>9</td></tr>
				<tr><td>Chapters</td><td>60</td></tr>
			</table>
			<table class="anime-info">
				<tr><td>Seasons</td><td>1</td></tr>
				<tr><td>Episodes</td><td>13</td></tr>
				<tr><td>Movies</td><td>3</td></tr>
			</table>
			<div class="article-content">
				<img src="/assets/releases/2021-10-1/2.webp" alt="Abyss" style="float:left;margin:10px 20px 5px 0;height:40vh;min-width:100px;max-width:400px;max-width:80%"/>
				<p>Made in Abyss is a manga series by Akihito Tsukushi that’s been serialized since 2012 in Web Comic Gamma. It also has a popular anime adaptation which aired in 2017. The story follows Riko, an orphaned girl, as she tries to follow her mother (who was presumed dead) to the bottom of the Abyss.</p>
				<p>The Abyss is a massive, mysterious pit that extends deep into the Earth, with no one ever having seen the bottom. In the Abyss lie countless ruins of civilizations of times gone by, and artifacts with powers ranging from useless to legendary. In all this, though, there also lurk countless dangers of the Abyss, all of which are lethal.</p>
				<p>In this world, there exist Delvers who undertake the dangerous task of climbing through the depths of the Abyss to bring back coveted relics. What stops many people from entering, though, is the Curse of the Abyss - a malady that attacks anyone who climbs back up the Abyss. Past a certain layer, this malady results in certain death.</p>
				<p>Riko’s mother Lyra is a White Whistle - one of the most skilled Delvers in the world - who is presumed dead after she undertakes her Last Dive - where she goes so deep into the Abyss that returning can only result in death from the Curse of the Abyss. However, among the belongings she leaves behind, is a note telling her daughter that she’s waiting for her at the bottom of the Abyss.</p>
				<p>Riko, together with Reg (a humanoid robot she found in the Abyss), thus sets off on a journey to reach the bottom of the Abyss.</p>
				<p>The plot from here unfolds rather well. Each layer, each new place they visit, each new scene brings with it new mysteries, keeping the viewers hooked as they slowly begin to unravel the mysteries of the Abyss. But don’t let the adorable and innocent chibi art style fool you - the series is also very harsh and unforgiving, with large doses of terror, pain, loss, sacrifices, and sorrow. And while some truths that Riko stumbles upon may be revolting, she continues pressing onwards.</p>
				<img src="/assets/releases/2021-10-1/1.webp" alt="Reg" style="height: 46vh;margin:10px auto;display:block;float:right;margin:10px 5px 0 20px;"/>
				<p>The anime pulls off a smooth animated look, with characters that wouldn’t look out of place in a children’s movie - until the horror sets in with squelching coldness. There is something macabre about watching so much pain and death in this artstyle, and it’s part of what makes the show a memorable watch. The manga also pulls off the artstyle fairly well, with art and design that won’t leave you disappointed.</p>
				<p>The characters in the series are fairly unique. Unlike many renowned series, many of the characters in Made of Abyss are as far as you can get from cookie-cutter. And while you may question Riko’s willpower, you will root for her to finally meet her mother.</p>
				<p>The anime also has a fairly good soundtrack, which while not significantly remarkable, sets the mood very well. The show also doesn’t have any scenes that feel stretched or rushed, and seems to progress at just the right pace - though of course it’s always painfully slow for those wondering about the truth behind the Abyss.</p>
				<p>One issue with the series that many people have is the grief in the series, which many may be averse to. Personally, I feel the grief does have its place - but that doesn’t diminish the pain.</p>
				<p>Currently, the anime has one season (with two movies covering these events) as well as an additional movie (Dawn of the Deep Soul) which further explores events not yet shown in the anime series. The manga is many chapters ahead, and is serialized on an infrequent basis.</p>
				<p>Made in Abyss is a remarkable series in the way it spellbindingly sketches grief and horror into a fantasy. It may not be everyone’s cup of tea, but it definitely deserves a watch / read. Fair warning, though - the horror may keep you up some nights.</p>
				<table class="anime-ratings">
					<tr><td>Plot: </td><td>8/10</td></tr>
					<tr><td>Characters: </td><td>8/10</td></tr>
					<tr><td>Art: </td><td>9/10</td></tr>
					<tr><td>Music: </td><td>7/10</td></tr>
					<tr><td>Enjoyment: </td><td>9/10</td></tr>
					<tr><td>Overall: </td><td>8/10</td></tr>
				</table>
				<div class="article-end"></div>
			</div>
		</div>
	</div>