
<div class="page">
	<div class="article-full">
		<h2>Psycho Pass - Review</h2>
		<br/>
		<div class="article-author">By: Aditya Sarode</div>
		<table class="anime-info">
			<tr><td>Director</td><td>Naoyoshi Shiotani</td></tr>
			<tr><td>Seasons</td><td>3</td></tr>
			<tr><td>Episodes</td><td>41</td></tr>
			<tr><td>Movies</td><td>3</td></tr>
		</table>
		<div class="article-content">
			<p>Psycho Pass is quite rare, both in concept and individuality of its genre. Being highly underrated, this anime by I.G Production is a great watch. In this era of monopoly by isekais and shounens, being able to grab a spot on the Top 2000 on MAL is an extraordinary feat in itself and it also speaks for the content people aspire to witness in any anime.</p>
			<p>The plot revolves around two detectives, Tsunemori Akane and Kougami Shinya trying to understand the working of a nationwide program called 'The Sybill system'. Akane, having recently joined the Public Safety Bureau, gains insight into the hitherto unknown mishaps of the society and tries to uncover the truth behind all incidents involving her senior officers. Losing your loved ones, forging relationships and maintaining those connections are just some of the few focal points in this series. It has a concrete storyline with a debonaire protagonist which helps it unfold with the weather and further blooms into a masterpiece of brain games and action. </p>
			<p>Having a consistent pathway, Psycho-Pass follows it till the end with an explosive ending which is a rare sight considering other generic anime, and quite a welcome one at that. Despite that, there are no constraints on the emotional and animation platform  thus serving you the entertainment you desire.</p>
			<p>Thus I'd like to end this review whilst giving a rating of 8.5 out of 10 for the plot and a solid 8 out of 10 for the characterization and animation, taking into account the several reviews from occasional watchers. It's definitely worth the watch.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>