
<div class="page">
    <div class="article-full">
        <h2>Darwin's Game - Review</h2>
        <br/>
        <div class="article-author">By: Srijan Srivastava</div>
        <div class="article-content">
            <p>Upon receiving an invitation from a friend to play Darwin’s Game, Sudou Kaname is thrown headfirst into a deathmatch with a man in a panda costume.</p>
            <p>After barely winning, Kaname discovers the truth about Darwin's Game.</p>
            <p>Darwin’s Game is a battle royale in which every participant is pitted against each other. Full of bloody battles, it’s a brutal fight for survival.</p>
            <h3 style="text-align:center">It's either kill or be killed.</h3><br/>
            <p>Or so it could have been. Somehow, even when every person is a potential threat to his life, the protagonist doesn’t kill anyone for the majority of the show, and the opponents he faces never kill him either - despite having multiple chances to do so and gaining nothing out of it. Darwin’s Game is an even worse offender of the “power of friendship” trope than Fairy Tail.</p>
            <p>Even after ignoring what it could have been, this anime has nothing to write home about. The animation is, at times, stiffer than One Punch Man season 2, while the sound effects are nothing special and the characters are incredibly one-dimensional and cookie cutter.</p>
            <p>The plot progression is incredibly slow and the show spends the entire first half of its short 12 episode run only assembling a crew.My final review is as follows:</p>
            <table class="anime-ratings">
                <tr><td>Story: </td><td>1/10</td></tr>
                <tr><td>Animation: </td><td>6/10</td></tr>
                <tr><td>Music: </td><td>5/10</td></tr>
                <tr><td>Characters: </td><td>2/10</td></tr>
                <tr><td>Overall: </td><td>1/10</td></tr>
            </table>
            <div class="article-end"></div>
        </div>
    </div>
</div>