<div class="page" id="crossword">
	<div id="cross-wrapper">
		<span class="article-header">Death Note Crossword</span><span style="display:inline-block;min-width:50px"></span><span class="article-author">By: Parth Mane</span><br/><br/>
		<table class="crossword-table" id="crossword-table" cellspacing="0"></table>
		<div id="crossword-words">
			<div id="crossword-left"></div>
			<div id="crossword-right"></div>
		</div>
	</div>
	<div id="cross-alt">Your device is too thin to view this content; please rotate your screen or use a larger device!</div>
</div>
