<div class="page">
	<div class="article-full">
		<h2>Tokito wants to learn more about Tanjiro</h2>
		<br/>
		<div class="article-author">By: Varun Ponnekanti</div>
		<br><br>
		<div class="article-content">
			<p><b>Demon Slayer: Kimetsu no Yaiba</b> (鬼滅の刃, Kimetsu no Yaiba, "Blade of Demon Destruction") is a Japanese manga series written and illustrated by Koyoharu Gotouge. It follows teenage Tanjiro Kamado, who strives to become a Demon Slayer after his family was slaughtered and his younger sister, Nezuko, is turned into a demon.</p>

			<h3>INTRO:</h3>
			<p>Muichiro Tokito is part of the Demon Slayer Corps in the Kimetsu no Yaiba (Demon Slayer) series. He is a genius and only took 2 months before becoming a Hashira at a young age, and he uses the mist breathing technique. He now sits down with Tanjiro to learn more about him after the happenings at swordsmith village, where they took part in defeating two upper-moon demons.</p>

			<h3>SETTING:</h3>
			<p>The Demon Slayer Corps headquarters, where Muichiro Tokito, known for his reserved and introverted personality, interviews the earnest and determined Tanjiro Kamado.</p>
			<center><img src="/assets/releases/2023-11-1/1.webp" style="max-width: 65%; display: block; width: 600px;"></center>
			<br/><hr/><br/><br/>

			<p><b>Muichiro Tokito:</b> (sitting at a desk, speaking softly) "Tanjiro Kamado, thank you for taking the time to sit down with me today. Though Hashira’s time is worth far more than time spent by you people (smiles), can you tell me how you first became a Demon Slayer?”</p>
			
			
			<p><b>Tanjiro Kamado:</b> (sitting across from Muichiro) "Of course, Tokito. It all started when my family was attacked by demons. I became a Demon Slayer to avenge their deaths and protect others from suffering the same fate."</p>
			
			<p><b>Muichiro Tokito:</b> “Hmm...So that’s why you have become a Demon Slayer. Your determination is evident in your actions. Can you tell me more about Nezuko?”</p>


			<p><b>Tanjiro Kamado:</b> "Nezuko is my younger sister, turned into a demon. She's kind-hearted, determined, and a vital part of my life as a Demon Slayer. We're on a mission to turn her back into a human, and she's mastering her unique Blood Demon Art."</p>
			
			<p><b>Muichiro Tokito:</b> "Hmm. Good. But why do you care so much about other people?”</p>

			<p><b>Tanjiro Kamado:</b> (cheerfully) “Whatever you do for others comes around to help you as well, in the end. That is why I always help the people who need it.</p>
			
			<br/><center><img src="/assets/releases/2023-11-1/2.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>

			<p><b>Muichiro Tokito:</b> (with curiosity) “Tanjiro, I'd like to know more about your interactions with Genya Shinazugawa. He's a fellow Demon Slayer, and his journey has been quite remarkable as well. How would you describe your relationship with him, and how has he influenced your journey?”</p>

			<p><b>Tanjiro Kamado:</b> (reflects) “Genya is an interesting person. At first, he seemed abrasive and distant, but as we fought alongside each other, I realized he had his reasons. He's incredibly determined and dedicated, much like you, Tokito. Genya's strength comes from his unwavering resolve to prove himself and protect his loved ones.”</p>
			
			<p><b>Muichiro Tokito:</b> (with reverence) “Tanjiro, Kyojuro Rengoku was an inspiring and respected figure in the Demon Slayer Corps. Can you share your memories of your encounters with him and the impact he had on you?”</p>

			<p><b>Tanjiro Kamado:</b> (Somberly) “Rengoku was an incredible pillar of strength. I first met him on the Mugen Train, and his passion for protecting humanity and his indomitable spirit left a lasting impression on me. He was like a big brother, always ready to offer guidance and support.”</p>
			
			<br/><center><img src="/assets/releases/2023-11-1/3.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>

			<p><b>Muichiro Tokito:</b> (intrigued) "Tanjiro, throughout your challenging journey as a Demon Slayer, you've faced immense losses and devastating blows. How do you find the strength to keep going?”</p>

			<p><b>Tanjiro Kamado:</b> (in a sad voice) “No matter how many people you may lose, you have no choice but to go on living—no matter how devastating the blows might be.”</p>
			
			<p><b>Muichiro Tokito:</b> “So what are your aspirations as a Demon Slayer, Tanjiro?”</p>
			
			<p><b>Tanjiro Kamado:</b> (Eyes filled with determination) "My ultimate goal is to defeat Muzan Kibutsuji, the strongest demon, and bring an end to the suffering he's caused. I want to ensure a world where no one has to fear demons anymore."</p>
			
			<p><b>Muichiro Tokito:</b> “Thank you for letting me learn more about you, Tanjiro. I wish you the best of luck in your journey forward.”</p>
			
			<br/><center><img src="/assets/releases/2023-11-1/4.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>

			<div class="article-end"></div>

		</div>
	</div>
</div>
