<div class="page">
	<div class="article-full">
		<h2>Dark and Mysterious Themes in Anime and Anime Community.</h2>
		<br/>
		<div class="article-author">By: Arnab Jena</div>
		<br><br>
		<div class="article-content">
			<p>Anime is for kids, huh!!. Konnichiwa to all those people thinking this and my fellow anime fans who know how dark and disturbing the art form of anime and manga can be. Anime and manga are often recognized by the general audience as family-friendly media having a lighthearted theme along with a positive moral. This art form should not be generalized as such because it can also incorporate some seriously disturbing themes which makes the narrative of the story all the more complex and perplexing. So let's explore some of the chilling themes of the anime community. One of the most famous and revolutionary examples was Neon Genesis Evangelion. Oh btw spoilers warning and a disclaimer that this article might make some uncomfortable so read at your own risk.</p>

			<h3>DEATH OF NAOKO AKAGI</h3>
			<br><center><img src="/assets/releases/2023-11-1/14.webp" style="display:block; max-width:60%; max-height:50vh;"></center><br>
			<p>One of the most frightening scenes of Evangelion takes place when Naoko Akagi is provoked by a small Rei regarding her relationship with Gendo. This provocation made Naoko realize that she was only being used by Gendo to create the supercomputer Magi system and for sexual pleasure. Thus out of pure rage and anger, she chokes the little girl and kills her in a truly horrifying scene.</p>
			<br><center><img src="/assets/releases/2023-11-1/15.webp" style="display:block; max-width:50%; max-height:50vh;"></center><br>
			<p>Rei&rsquo;s stare and words, the voice acting, the use of color palettes, and the background mystery surrounding Rei make this all the more uncomfortable to watch. This scene further becomes frightening when we realize the vengeful soul of the small Rei is still inside unit 00.</p>

			<p>Naoko Akagi after she realized she meant nothing to Gendo and what she had done, gave up to insanity and killed herself by jumping into one of the Magi computers. You know what is even more uncanny, her soul remained in the supercomputer as a slave to Gendo.</p>

			<p>This scene adds perplexity towards the origins of Rei and gives her a truly disturbing side along with explaining the motivations of Ritsuko Akagi and certain events which take place in the future. This is a great example of a truly disturbing death done right. I wonder how many people must have gotten enjoyment from the suffering (kinda) of a small child. The suffering of a small child, reminds me of another dark anime Shoujo Tsubaki.</p>
			
			<h3>THE BANNED ANIME: SHOJOU TSUBAKI</h3>
			<br><center><img src="/assets/releases/2023-11-1/16.webp" style="display:block; max-width:60%; max-height:50vh;"></center><br>

			<p>This is an extremely dark and grotesque anime that revolves around the life of a small girl who after her mother died (in one of the most unsettling scenes of the anime), finds shelter in a circus whose address was given to him by a stranger.</p>
			<p>Her hopes of finding a new family turn into despair when she finds out the circus is full of creeps and pedophiles who want to take advantage of the 12-year-old&rsquo;s innocence and pure nature. Her life is drastically worsened at the circus as she suffers sexual harassment, physical beating, and abuse from the creeps at the circus. The small happiness that she finds is snatched away from her, leaving her to suffer in despair.</p>
			<p>This anime is truly depressing and difficult to watch but at the same time shows certain aspects of our human society like how far people can get to fulfill their selfish desires. The anime ends with Midori&rsquo;s psyche getting completely out of hand due to the false hope and despair she faces at such a young age.</p>
			<div class="article-end"></div>

		</div>
	</div>
</div>
