<div class="page">
    <div class="article-full">
        <h2>A Look into the storytelling of the big webnovels</h2>
        <br>
        <div class="article-author">By: Ramesh Raseela</div>
        <br>
        <div class="article-content">
            <p>A lot goes into creating great stories, especially those that endure in the minds of fans.</p>
            <p>A series would have a lot of runtime, direction, sound design, and the allure of the actors acting in it, and most importantly, its story. When considering movies, the scope of things that set a movie apart is reduced due to its shorter runtime compared to a series. The moment we consider anime as a means of telling a story, we attach a great deal of freedom to the medium. The unique animation and artistic style adds a lot of flair to the story. If we restrict this freedom, we end up going to comics that rely on their art design, and panelling makes up a part of it. Further restricting this freedom, we end up with novels. Novels rely on their text alone to entice readers and immerse them in their world.</p>
            <p>Novels are dependent on mainly two things. What the story is and how it is written. Perhaps this simplicity is the reason it has maintained its position as a way of storytelling over a long time since its introduction.</p>
            <p>In this article, I am trying to go through and look at the way stories are told in a few popular webnovels. <br>The ones I am going to cover are: Lord of Mysteries, Shadow Slave, Omniscient Reader’s Viewpoint, and The Beginning After The End. Feel free to read the part you're interested in first.</p>
            <h3>Lord of Mysteries</h3>
            <p>This story is one of my favourites, and I have particularly enjoyed the author’s take on storytelling. <br>The story was originally written in Mandarin, so I have read its English translation. However, it is safe to say that the translator was hell-bent on making this a fantastic read and has achieved that really well.</p>
            <p>If I were to describe the way the world inside the novel is unveiled, I would call it akin to lighting up a world shrouded in fog, waiting for one to discover it. Each bit of the world has a story behind it, to be revealed sooner or later. A reminder is often relayed in this novel that everything that is to be known will be known when it is time. <br>This theme keeps the reader on the edge and excited for what is to come. The way the story is driven plays a lot into this as well, as the main character, Klein Moretti, is not one to stop and become content with what he has, a determined yet cautious person, making him the perfect candidate to guide the story in a world like that of Lord of Mysteries.</p>
            <p>The story features one of the most unique power systems seen in any webnovel, with its set of complexities that is not as simple as a power progression. The world is teeming with secrets, mysteries, hidden connections, and politics, all set against a well-paced, action-packed, and thrilling story that keeps one on the edge of their seat the entire time.</p>
            <p>The immersive nature of the novel and its lengthy expanse make it a truly great read and one of the best attempts at storytelling I have witnessed.</p>
            <h3>Shadow Slave</h3>
            <p>This novel is another favourite of mine, also known as one of the Big Three of webnovels. (The Big Three being Lord of Mysteries, Reverend Insanity and Shadow Slave. More stuff in the p.s. about this.) This novel has stayed on top of the rankings on WebNovel since 2023!</p>
            <p>The story is revealed as though we are walking in a dark cave with a flashlight. We can have some idea of where we are and what is a little ahead, but otherwise still lack information about the things that are further ahead and those that are left behind. The uncertainty of the current state and of what is to come makes this novel thrilling. It is gritty in its nature, with the main character, Sunny, almost always struggling just to make his way through the current predicament.</p>
            <p>This story has numerous plot twists and is primarily guided by one of Sunny’s attributes, Fated. <br>Fated makes it so that Sunny is more likely to have good or bad luck compared to any other person. This road of ups and downs makes for a constantly active, engaging story. <br>The characters are well-written, and their interactions with one another are delightful to read. <br>All in all, the storytelling in this is truly unique and enjoyable, especially with its Soulslike aspects. (Soulslike refers to the Souls games from FromSoftware Inc., which are known to be ridiculously tough to get through.)</p>
            <h3>Omniscient Reader’s Viewpoint</h3>
            <p>Omniscient Reader’s Viewpoint is another contender for the 3rd spot of the Big Three of webnovels. It has an amazing manhwa, and that is how I got into it.</p>
            <p>The world in this novel is designed like a video game with different stages. Each new arc feels disjoint from the previous one, with only the main cast of characters remaining constant throughout. This disjointness is primarily because ORV(Omniscient Reader’s Viewpoint in short) tries to cover a wide range of mythologies and ideas to implement them into its story.</p>
            <p>The central power system is revealed somewhat late in the novel, but it is one of the most unique takes on a power system that I have ever encountered. Due to how this power system works, power scaling is quite uneven, and it creates a situation where one doesn’t always know the definite outcome.</p>
            <p>The disjointness, the broad scope of ideas covered, a unique power system, and its lovable cast of characters are what set it apart and make it a contender for one of the best webnovels written.</p>
            <h3>The Beginning After The End</h3>
            <p>This is another novel with an amazing and really popular manhwa.</p>
            <p>Its approach to story telling and world design is quite different from the others mentioned in this article such that it is a reincarnation story. The main character Arthur Leywin, experiences his life in this world starting from his childhood, and we see that perspective and come to learn about this world with him.</p>
            <p>It seems to follow the troupe of the genius isekaid protagonist but it starts differing from that soon enough. The world that they are present in is quite detailed with each region there having its own fair share of troubles. The power system at the start seems normal/generic but it expresses its unique identity soon enough. It also explores Arthur’s previous life and the various things that come along with it.</p>
            <p> The characters are fleshed out and developed thoroughly and we get to see their character development over time. Arthur himself is a good take on an isekai protagonist. He carries the emotional detachment caused due to not being from this world and also the attachment because a part of him grew up in this world.</p>
            <p>It is a fantastic story with its up and its downs accentuated by the things that have been set up over its entirety.</p>
            <p>Well thats all for now. Thanks for Reading!!</p>
            <p>P.S:- <br>I might just make this into a series of articles. <br>Also about the Big Three webnovels. General consensus says that at the very least Lord of Mysteries and Reverent Insanity are two of them. The third position is often argued about. Personally I am on team Shadow Slave for the third contendor. I tried reading Reverend Insanity but unfortunately couldn’t get too far. I hope that whenever I try next I’ll be able to read its entirety.</p>
            <div class="article-end"></div>
        </div>
    </div>
</div>