{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2>Contemporary Themes in Shounen and Radicalism</h2>
		<br/>
		<div class="article-author">InkClaw</div>
		<br/>
		<div class="article-content">
			<p>The theme of shonen is evergreen for some and bland and repetitive for some. But something has changed recently in this vast theme. Yes, the seemingly constant theme might be undergoing a change akin to tectonic plates! What do I mean? Hear me out…</p>
			
			<h3>Big 3: The Rise (and The Fall?)</h3>

			<p>A few popular names in anime are so classic for newcomers to anime, not only shonen, that they boast the title of “Big 3”. They are named so because millions of otakus worldwide have watched them, making them some of the “biggest” names in anime. The big three consist of “One Piece”, “Naruto”, and “Bleach”. There was even a time when the concept of “Big 4” reigned, including Dragon Ball and the Big 3.</p>

			<p>Big 3 helped anime spread worldwide by being the front face of anime, and they are adored by fans even today. One Piece is a household name in Japan and has a very strong fandom worldwide. Japan even officially acknowledges 22nd July as “One Piece Day.”</p>

			<p>These shows aren’t just big on viewers… they’re big on episodes, too! This is why many stop watching big anime after tasting one of the “Big 3”. Most veteran weebs consider the Big 3 as simplistic or overrated. With reasons stated and more, the current Big 3 are no longer considered the flagbearers of mainstream anime.</p>

			<h3>Changing trends in the Big 3</h3>

			<p>Naruto is over. No one knows when or how the One Piece will end. Bleach is full of fillers, but it’s peak right now with the final arc airing. The days of Big 3 are nearly ending. Or is it “mou shindeiru” (already dead), given Naruto ended?</p>

			<p>Well, faster than you, many anime theorists (with an M.Weeb degree) have already theorised many combinations of the “new Big 3”. Many of them include Demon Slayer, Hunter X Hunter, My Hero Academia or One Piece (yes, again). It kind of makes sense, as the only criteria are being popular and pushing the anime fandom to more overseas reach. Which would’ve worked before, but with time, newer anime seem more deserving of this big title than some 2010 anime. This is largely due to the new spike in anime watchers post-pandemic, which has changed the battleground quite a bit. The more “modern” anime that gain public attention differ a lot from their predecessors. That brings us to the next topic:</p>

			<h3>What is considered the popular shounen these days? The case of JJK and CSM.</h3>

			<p>Jujutsu Kaisen (JJK) and Chainsaw Man (CSM) are like buzzwords in more recent shounen anime. JJK owes its popularity to the humongous number of memes and the Gojo fanbase (which is much bigger than Itadori’s, by the way). CSM is wild and doesn’t seem to have any filter. Yep, that’s pretty much it. The article is done, and before you click away to the next article, wait because I was just kidding.	</p>

			<h3>Why JJK and CSM are similar? Why are they popular with the current generations?</h3>

			<p>First similarity: Both have non-mc characters with more following than the MC. </p>

			<p>Yeah just kidding. These shows are loved partly because they feel different from the shounen thus far. They start with the MC getting their power in the first few episodes, doing something big, and forming a team of friends. Seems like a typical shounen, right? Well nope! They are popular for the ruthless killing of fan-favourite characters and won’t hesitate to put MC aside or in hell as long as the chaos continues. </p>

			<p>Both shows are radical compared to all the popular shounen thus far, and both show glimpses of seinen. Denji is always after women… bro sets his life goals like “go on a date” or “have a girlfriend”. He grew up in poverty and did many things that closely resemble the mangaka’s own experience with poverty. JJK has families with internal conflict (Zenin family), human-curse experimentation (cursed-womb brothers), and societal issues (context: Gojo says that he doesn’t like the higher-ups, and that’s why he decided to be a teacher).</p>

			<p>It has a quick plot, which occasionally catches you off guard because of its differences from classic shounen. </p>

			<p>Whenever one of MC’s friends dies in classic shounen anime, it becomes a stage for character development or signifies the end or beginning of a major plot point. As such, such deaths are used only a few times in the older shounen. On the other hand, in CSM, Denji’s many acquaintances and friends died a seemingly pointless death. The deaths are not dragged across chapters and happen very quickly, as if an earthquake has come and done its thing. In JJK, the world doesn’t revolve around MC like it does in usual anime. He has a lot of power but not enough power to change the fate of those surrounding him, rendering him useless and giving him the equivalence of a useless nobody.</p>

			<p>Whenever something major happens in these shows, it’s not meticulously expressed or explained so that every Tom, Dick, and Harry can understand it in a single glance. As mentioned, it happens quickly with little explanation, leaving viewers and readers with many questions. I would love to give examples, but many wonderful scenarios are currently manga-only. For now, the best one would be Nanami’s death. No one was expecting that. It was quick, Itadori’s response was instantaneous, and though everyone held grief over Nanami from inside, it was not expressed anywhere apart from Itadori’s fit of rage.</p>

			<p>Both CSM and JJK take place in a modern city world. They don’t take place in another world or realm like isekai or Bleach for example. They don’t happen in a world where everyone has superpowers (e.g. MHA or OPM). They didn’t happen way back in ancient Japan (e.g. Demon Slayer) or in a secluded region with a cultural group (e.g. Naruto). They. Happen. In. Modern. Cities. Yep! And both protagonists and antagonists duel in the city itself! These signify modernity in their themes.</p>

			<h3>Hunter X Hunter: A hint of modern shounen from the old era</h3>

			<p>Hunter X Hunter is hailed as the father of modern shounen by some. While I leave it to the reader’s opinion whether they believe it to be true, Hunter X Hunter has shown that a shounen anime can be ruthless and cruel, which became a domino effect for many later shounen manga.</p>

			<h3>Conclusion</h3>

			<p>Needless to say, these shows are special. They are changing the face of shounen in the public's minds and paving the way to escape the “old shounen cliche cycle”. The contemporary Big 3, if it was present, would definitely have CSM or JJK in it. Or, at least, these can be called the foundation for what would become the 2020s’ Big 3.</p>


			<div class="article-end"></div>
		</div>
	</div>
</div>
