{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2>ARTICLE_TITLE</h2>
		<br/>
		<div class="article-author">ARTICLE_AUTHOR</div>
		<br/>
		<div class="article-content">
			{# Begin hereand remove this comment#}

			<div class="article-end"></div>
		</div>
	</div>
</div>
