{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Top 10 Anime Songs: Fall 2023 Edition </h2>
		<br/>
		<div class="article-author">By: സുര </div>
		<br>
		<div class="article-content">
			<center><img src="/assets/releases/2024-02-1/1-1.webp" alt="Sun Tzu Quote" style="width: calc(min(700px, 60vw));"></center><br>

			<p>As I delved into the world of anime during the previous season, a peculiar observation caught my attention: nearly every anime I watched boasted remarkable opening or ending theme songs, sometimes both. This anomaly sparked an idea in my mind as I pondered the melodies resonating in my ears. A sudden surge of inspiration prompted me to undertake a task: the ranking of anime openings and endings I had encountered. To make it more inclusive, I decided to extend my list to include every single anime from the Fall of 2023.</p>

			<p>So, there I sat, immersing myself in the melodies of around 160 songs repeatedly, aiming to identify the 10 songs that truly captivated me—songs that unquestionably deserved a place on my playlist.</p>

			<p>For this list, I selected opening and ending soundtracks only from anime parts or seasons categorized as Fall 2023 releases on AnimePlanet, excluding those from previous seasons. This means no entries like ‘SPECIALZ’ (from Jujutsu Kaisen S2) or ‘Highest’ (from The Eminence In Shadow). However, the list may include songs released in Winter 2024, as long as the anime is classified as a Fall 2023 release.</p>

			<p>Now that we’ve got that out of the way, let’s dive into the list (the headings are linked to their respective YouTube videos):</p>

			<h3>10. <a href="https://youtu.be/0VAm_GrSYz4?si=Ipl6AgiZpgL5Awfw">JUNGLE FIRE ft. Motsu - Yuu Serizawa</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-2.webp" alt="Race Cars" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Jungle Fire is a catchy song from the anime ‘MF Ghost’, a sequel to Initial D. It is no wonder, then, that listening to this song invokes a strong sense of ‘Deja Vu’ (it bears resemblance to the famous Initial D song titled ‘Deja Vu’). The song even features a brief appearance by the rapper behind several Initial D soundtracks, Motsu. </p>

			<h3>9. <a href="https://youtu.be/nZtka4t_0Dw?si=8huuRZhQTZBHy193">"Forira" - ClariS</a></h3>
			<p>From the second season of the anime ‘Girlfriend, Girlfriend’, "Forira'' stands out with its unusual chord progression and unique sound effects for an anime ending. While the vocals are outstanding, it's the background music and sound effects that secure this song's place on the list.</p>

			<h3>8. <a href="https://youtu.be/WEkk0a4VApk?si=D1PQSFcuViIPpDoq">"RED" - SiM</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-3.webp" alt="ZERO" style="width: calc(min(700px, 60vw));"></center><br>
			
			<p>Fighting anime and metal music go hand in hand, and this song further strengthens that stance. This headbanger, the opening soundtrack for ‘Kengan Ashura’s second season, goes very hard, and it goes even harder with the opening animation that seems to suit it perfectly. The ending soundtrack of this anime, ‘Shambles’ by Band-Maid, is almost as good as this one.</p>

			<h3>7. <a href="https://youtu.be/CGmDyAyjlc4?si=7Dy2DYSa9NeI7ZKc">"Graceful World" - Saori Hayami</a></h3>
			
			<center><img src="/assets/releases/2024-02-1/1-4.webp" alt="Elsa from Frozen" style="width: calc(min(700px, 60vw));"></center><br>
			
			<p>It sounds like a generic anime ending. It sounds like a generic anime ending… and yet…  there's something special about it. The voice behind this song exudes a remarkable soothing quality, and it's no surprise why. Saori Hayami, the voice actress for the female lead in ‘I'm Giving the Disgraced Noble Lady I Rescued a Crash Course in Naughtiness,’ and also the voice of Yor Forger, graces this soundtrack with her vocals. Yor has a voice that could lull you to sleep (and a profession that could put you to sleep, forever, but that’s a story for another day). I’d even go as far as to say this one’s the best song this season as far as the vocals are concerned.</p>

			<h3>Wildcard Entry:<a href="https://youtu.be/9hiTaB9zJFQ?si=qfp7yvrIJLibdNL2"> "Kyou no Ending wa Watashi ga Kaitotta kara Suki ni Shite Ii wa yo ne ♡" by Sumire Uesaka</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-5.webp" alt="Wonderland stuff" style="width: calc(min(700px, 60vw));"></center><br>

			<p>This special ending track from episode 11 of 'Kimi No Koto Ga Daidaidaidaidaisuki na Hyaku-nin No Kanojo' (or Hyakkano) puts the 'wild' in the 'wildcard entry', in the sense that it’s outrageous. I added this song to my playlist recently, but every time this track comes around, some parts leave me wondering what I’m even listening to. The background score is amazing, and the song has phases that could rival JoJo’s Bizarre Adventure soundtracks, but it also has moments that could out-bizarre JoJo’s adventures. This is the only soundtrack on this list that I couldn’t rank, no matter how hard I tried, so I decided to label it as a wildcard entry, although it could honestly fit in anywhere on this list.</p>

			<h3>6. <a href="https://youtu.be/3KuI3gAtDIE?si=B0jRWlnkHBzFSb49">"Hyper" - Kroi</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-6.webp" alt="Almost Sharingan" style="width: calc(min(700px, 60vw));"></center><br>

			<p>The sixth entry on our list, hailing from the anime 'Under Ninja', immediately captivates with its intriguing fusion of instruments and vocals. This dynamic introduction sets the stage for a compelling build-up, marked by an easily memorable instrumental pattern and solid vocals. In a way, it feels like the vocals are providing the background for the instrumentals, and not the other way round. The hook, too,  effectively carries the momentum from the preceding build-up. In essence, this track showcases a sophisticated interplay of vocals and instrumentation, earning it a well-deserved spot as a standout piece on the list.</p>

			<h3>5. <a href="https://youtu.be/z9JZB08qy44?si=x6AyM1KMpsdwj2L_">"Hana ni Natte" - Ryokuoushoku Shakai</a></h3>
			<p>‘The Apothecary Diaries’, one of the best Fall 2023 anime, has an opening soundtrack to match, delivering a consistently fresh and distinct feel. The hook, characterized by clear vocals and vibrant tones, serves as the perfect finishing touch, elevating this opening to greater heights than it already achieves.</p>

			<h3>4. <a href="https://youtu.be/3m_dVhwZmFs?si=08lJiTonomHsQU0G">"Queen of the Night" - KanoeRana</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-7.webp" alt="The naked dudes painting with clothed girls" style="width: calc(min(700px, 60vw));"></center><br>

			<p>This track may initially leave behind the impression of an average anime ending, but this piece does everything perfectly. The vocals behind the song are a perfect fit for the background music. Most songs have either vocals or accompaniment bringing more to the song than the other, but in this one, both are equally great, and their combination is perfectly balanced (as all things should be). It is, then, no surprise that this song, from ‘Tearmoon Empire,’ makes it onto this list.</p>

			<center><img src="/assets/releases/2024-02-1/1-8.webp" alt="Thanos hath spoken" style="width: calc(min(700px, 60vw));"></center><br>

			<h3>3. <a href="https://youtu.be/ZmA3O50cMTY?si=Gy_RzAs6AoZaelb1">"Daidaidaidai Daisuki na Kimi e♡" - Kaede Hondo, Miyu Tomita, Maria Naganawa, Asami Seto, Ayaka Asai</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-9.webp" alt="Nice expressions" style="width: calc(min(700px, 60vw));"></center><br>

			<p>This song, the opening soundtrack for ‘Hyakkano,’ seems chaotic upon first listen. On diving deeper, however, one can find beauty underneath the chaos, making this a perfect fit for the anime. The vivid orchestral ensemble serving as the background music, and the distinct vocals by the voice actresses, are all unique in their way. You’d expect a completely chaotic listen by bringing these distinct pieces together, but somehow, this soundtrack masterfully holds all these elements together, exactly how the anime was able to maintain an orderly disorder. However, if you find that such chaos is not for you, fret not; for there are less chaotic versions, with just a single voice behind the vocals. (I recommend the <a href="https://www.youtube.com/watch?v=y6Lr9aJHwK4">Asami Seto/Eiai Nano version</a>.)</p>

			<h3>2. <a href="https://youtu.be/V4WuFN9F1ts?si=lXRRMzgnQF4WnBF9">"ZOOM ZOOM" - aespa</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-10.webp" alt="Digital art be like" style="width: calc(min(700px, 60vw));"></center><br>

			<p>I know nothing about Beyblade X, but I do know that this ending soundtrack from the anime is very catchy. Usually, I tend to find Japanese songs trying to include fancy terms in English cringe (their English ain’t Englishing), but this one’s an exception. I have no idea what the lyrics are trying to say, but the song goes hard, so all is forgiven.</p>

			<h3>Honorable Mentions:</h3>
			<p>Here are the Fall 2023 songs that just missed out on earning a top 10 spot, ranked:</p>
			<ol>
				<li>11. <a href="https://youtu.be/B5Y9w7XSewo?si=4b3Q3pPnxGrxlyXS">"Koi! Koi Koi"</a> - Akari Kito, Mai Kanazawa, Chitose Morinaga, Yu-ri Yoshida (After-School Hanako-kun)</li>
				<li>12. <a href="https://youtu.be/2vjoMYD4oZM?si=9vjki5hF8ARPJAMq">"SIN"</a> - MADKID (The Rising of the Shield Hero S3)</li>
				<li>13. <a href="https://youtu.be/DPOy0Ntne3g?si=3bC9Ctyw8gySOdGq">"Red Liberation"</a> - fripSide (The Vexations of a Shut-in Vampire Princess)</li>
				<li>14. <a href="https://youtu.be/A9ShfuTXMEE?si=_okIpFgqkvJ-oNWy">"Shambles"</a> - BAND-MAID (Kengan Ashura S2)</li>
				<li>15. <a href="https://youtu.be/aLtT1rJ6O9M?si=k7CWGJoUAp8XMG1Z">"Dramatic ni Koi Shitai"</a> - Hikari Kodama (Girlfriend, Girlfriend S2)</li>
				<li>16. <a href="https://youtu.be/s7Pafd4zvS0?si=OsdNIpmDKsLIVPiL">"Sweet Sign"</a> - Nako Misaki (The 100 Girlfriends Who Really, Really, Really, Really, Really Love You)</li>
				<li>17. <a href="https://youtu.be/SB3MwFMZG8Q?si=DHeN6e_Pm3lOlIob">"Hope"</a> - Yuuma Uchida (Dead Mount Death Play P2)</li>
				<li>18. <a href="https://youtu.be/gz--GkzpAf8?si=MhO-KLwEZHznYCRV">"Kura Kura"</a> - Ado (Spy X Family S2)</li>
				<li>19. <a href="https://youtu.be/VlcjW90l6c4?si=ymsWjxudqu3ISDq8">"Danger Danger"</a> - FZMZ ft. icy (Shangri-La Frontier)</li>
				<li>20. <a href="https://youtu.be/-Yj-BxjG7SM?si=0kuioMQogjlRGFvo">"Scrap Art"</a> - Inori Minase (Dead Mount Death Play P2)</li>
				<li>21. <a href="https://youtu.be/QoGM9hCxr4k?si=gP07tLQnOsHrHLGS">"Yuusha"</a> - YOASOBI (Frieren: Beyond Journey’s End)</li>
				<li>22. <a href="https://youtu.be/zs19jXXaX-Y?si=7NhRqW4rqf77NY0z">"Lilac Melody"</a> - Aina Suzuki (The Saint's Magic Power is Omnipotent S2)</li>
				<li>23. <a href="https://youtu.be/eaUWfrHNq4U?si=_W9ACNFMGyR0b9QI">"Prove"</a> - ONE OK ROCK (Beyblade X)</li>
				<li>24. <a href="https://youtu.be/6viO9qyw424?si=hIWwnY8V6tRtsPDV">"salvia"</a> - Nornis (Good Night World)</li>
				<li>25. <a href="https://youtu.be/xlbkoAp-298?si=43N7c2j8r5cYSP5D">"6 wo Naderu"</a> - Momosu Momosu (A Returner’s Magic Should Be Special)</li>
			</ol>
			<br>

			<h3>1. <a href="https://youtu.be/j896lhjNdFg?si=tZiyB6JVMVROUjMi">"R.I.P." by ReoNa (Ver β)</a></h3>

			<center><img src="/assets/releases/2024-02-1/1-11.webp" alt="Sitting Wakanda Forever" style="width: calc(min(700px, 60vw));"></center><br>

			<p>When I was listening to the first version of this ending from Arknights: Perish in Frost, I was already certain that this was going to be on this list. However, I felt that the song was lacking something, and it could do with a heavier build-up to the final verse. Enter the beta version, which possessed everything the alpha version needed: a heavy buildup, and louder, clearer vocals with it. I had second thoughts when it came to every other song on the list and had to listen to them a few times to come to a decision, but I knew from my first listen that this song by ReoNa was going to be number one, without a shadow of a doubt. </p>

			<p></p>

			<p>And there you have it – the top 10 (+15) anime songs of the Fall 2023 season. Keep in mind that this list is crafted from my perspective. Feel free to share if you believe any remarkable song didn't make the cut (although that's probably only because there are at least 25 more outstanding tracks).</p>
			
			<div class="article-end"></div>
		</div>
	</div>
</div>
