{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Various shades of romance with Horimiya </h2>
		<br/>
		<div class="article-author">By: InkClaw</div>
		<br>
		<div class="article-content">
			<h3>Introduction and History:</h3>

			<p>Hori-san to Miyamura-kun  is a Japanese manga series written and illustrated by Hiroki Adachi, under the pseudonym Hero. It was self-published as a webcomic on Hero's website, Dokkai Ahen, from February 2007 to December 2011 in a four-panel format. Additional side-story chapters were compiled in fifteen volumes from July 2012 to July 2021 as Hori-san to Miyamura-kun Omake.</p>

			<p>Hori-san to Miyamura-kun was adapted into an original video animation (OVA) series from September 2012 to May 2021. An anime television series adaptation of Horimiya produced by CloverWorks aired from January to April 2021. A live-action film and TV drama adaptation premiered in February 2021. A second anime series, titled Horimiya: The Missing Pieces (ホリミヤ -piece-), aired from July to September 2023.</p>
			
			<h3>Abstract of article:</h3>
			
			<p>In this article, I will take you on a journey through the show by highlighting and discussing the various shades of romance portrayed (yes, as the title suggests). Let’s a go! -Mario 1983.</p>
			
			<center>
				<i>
					<p style="font-size: 120%; color: var(--teal)">
						“Sometimes love happens without anyone knowing, maybe not even the said people themselves.”
						- Case of Horimiya.
					</p><br>
				</i>
			</center>

			<p>Since the show is named Horimiya for Hori and Miyamura, it’s only natural to start from here.</p>

			<p>The first episode of the anime series depicted how Horimiya met each other over a little “happenstance”, and is aptly “A Tiny Happenstance”. Souta, brother of Hori (FMC), got injured and was brought over by Miyamura, who looked astonishingly different compared to his appearance at school. Intrigued, Hori gets a glimpse into Miyamura’s hidden side while he witnesses Hori’s domestic life, which is unknown to others. Over time, they would meet in the evenings at the Hori household, and would gradually get comfortable with each other. They appreciated that they shared a side of themselves that they don’t share with anyone else, making them accomplices in a fun secret! As put by Hori, “It feels like this moment belongs to me and me only”. This was the primary motivation and beginning of their love story. It also fueled building a rapport where they could confidently ask each other random stuff. With this case done, I move on to the next shade.</p>

			<h3>Moving on from an unrequited crush</h3>
			<h4>&emsp;- with Tooru Ishikawa and Akane Yanagi</h4>

			<p>Now, people don't always happen to get the response they desire from their crushes/love interests, and the author decided to put this early on in the show.</p>

			<p>First, we have Tooru Ishikawa, who previously had a crush on Kyouko Hori but gave up on her when he discovered that Hori and Miyamura were in a (building) relationship. But would Tooru accept rejection just like that? No! He really underwent denial, depression and acceptance of the 5 stages of grief. The denial part was basically him trying to test whether Miyamura deserved Hori more than him, only to get the bitter truth, ultimately accepting it. But he was still hung up on his crush (until he found love later on). There is no moral I wish to show here; it’s just my intention to offer the standpoint of a person who has been denied his crush; the person would reject, angry, but soon accept and move on… otherwise, how is he to be happy? What is he to do?</p>

			<p>Second, we have Akane Yanagi, who genuinely loved someone he never talked to. The person in question, Yuki Yoshikawa (a long-time friend of Tooru, about her later), didn’t know of Akane Yanagi because they were in different classes and loved another person. He’s an insanely beautiful guy. When Akane Yanagi confronted Yuki for a reply after confession, he found that Yuki was accompanied by another guy; he sensed Yuki’s emotions and asked if the person accompanying her was her boyfriend without needing Yuki to explain. Yuki says that he’s indeed her boyfriend. Upon hearing this, Yanagi doesn’t show any gestures of anger, sadness or frustration. He came as charming and calm as ever and maintained it even during the moment. He chooses to make it not awkward for Yuki and excuses himself. </p>

			<p>Now, was Akane not in love with Yuki? Why did he leave immediately? Why did he make it easy for her to reject? Did he not feel any emotion after rejection? Did he abandon his love for her like it never happened? </p>

			<p>Well, in my view: 1)He was in love with her, 2) he’s a polite and kind person, 3)he made it easy for her to reject him because he wished for the happiness of Yoshikawa (perhaps), 4)He loved her even after rejection, he accepted it in peace, but he was still hung up on her in secret.</p>

			<p>In both cases, neither Tooru nor Akane is superior; both have their own ways of interacting with people and dealing with rejection. It’s a beautiful portrayal. Now, we explore the domain of love again.</p>

			<h3>Love is War </h3>
			<h4>&emsp;- <span style="text-decoration: line-through;">with Kaguya Shinomiya (Sama) and Miyuki Shirogane</span></h4>
			<h4>&emsp;- with Yuki Yoshikawa and Kouno Sakura</h4>

			<p>Yuki Yoshikawa, a long-time friend of Tooru Ishikawa, falls in love with him. On a little incident of fate, Kouno Sakura, a girl from the student council, was mesmerised by Tooru Ishikawa. Both loved Tooru, but their way of approach is highly different. </p>

			<p>Yuki Yoshikawa has an inferiority complex; she doesn’t believe she deserves what she wants. The more she wants something, the more she will hide that she wants it, and when the opportunity arises, she gets disappointed. This may seem childish, but there are people like Yoshikawa in our society as well (I can confirm, being one of them). </p>

			<p>Kouno, on the other hand, adopts an indirect approach to get close to Tooru; for example, she often bakes cookies for Tooru and gives them to him. Kouno is shy like Yuki, but Kouno takes that extra step to muster courage and make her move. Seeing this, Yuki tried to learn baking for Tooru but didn’t want him to find out.</p>

			<p>Eventually, after a turn of events, she gets close to Tooru. Tooru rejects Kouno after a brave confession. Yuki wonders if she is in the right, whether she deserves it or not. She points out how unfair it is for Kouno after everything she has done, as Yuki is kind and caring, and so is Kouno. But she doesn’t want to give up on Tooru; she doesn’t want to “give” him to her anymore; she internally apologises to Kouno, yet she doesn’t yield to Kouno. Yes, Kouno being rejected looks pretty wrong. Still, in anime, the relationship between Yuki and Tooru is also developed beautifully, making it all the more conflicting for the viewers to side with either Kouno or Yuki. However, I believe the author has framed it so that irrespective of the viewer’s side, it’s justified that Yuki got Tooru.  </p>

			<p>In this, we discuss how there’s always a war-like situation in love. Hinting at “Not wanting to give” and “I want him/her one way or another”.</p>

			<h3>A common way to love </h3>
			<h4>&emsp;- with Sakura Kouno</h4>
			<p>Also, another shade of love covered in this love triangle is how Kouno’s love for Tooru develops. Initially, she’s interested in a person through first impressions, progressively getting a better opinion of them and eventually falling in love. Though I am exaggerating the events of anime here if I say so myself. This seems a flavourless yet peaceful means of falling in love. Still, for many people, this is how it happens, which is very natural and great.</p>
			
			“My boyfriend is weak but he tries really hard, I love him so much” 
			with Remi Ayasaki featuring Kakeru Sengoku.
			<p>I want to show you a piece of romance here. If you can afford to, I would like you to watch the after-opening scene in season 1, episode 8 of Horimiya, which is around 03:40 seconds into the video. But it’s fine if you don’t want to; I can’t expect people to do that just because an article told them to do so. Still, I thought I should mention it because it adds to the feeling with imagery, background music and delivery of lines. Instead, here’s the transcript.</p>

			<div style="font-family: monospace; font-size: 16px;">
				Remi Ayasaki (narrating):  “The boy I love is really weak” (referring to Kakeru Sengoku)<br><br>
				"Really, really weak."<br><br>
				"He doesn’t actually like yelling at people." (Sengoku is shown to get sad after scolding students despite his job as student council president)<br><br>
				"He’ll laugh about being unathletic... But deep down, it really frustrates him."<br><br>
				"Boys and girls alike fawn over him... Which makes him happy. But every now and then, it makes him feel anxious." (Sengoku is famous among his school friends, but it sometimes makes him anxious)<br><br>
				"There’s so much he struggles with, and I love him so much."<br><br>
				(Pause in narration as Remi stares at Sengoku)<br><br>
				(spider falls on Remi’s shoulder slowly)<br><br>
				Remi: (acting cutely) O-Oh, no! Sengoku, get it, I’m scared.<br><br>
				Remi: (internally) His expression screams “I’m scared, too!”<br><br>
				(Sengoku is scared but strengthens himself instantly and brushes the spider off Remi’s shoulder.)<br><br>
				But... His reactions really surprise me at times.<br><br>
				(pats Sengoku) <br><br>
				(internally) "You tried hard, didn’t you?"<br><br>
				“The boy I love is weak, but he tries really hard.”
			</div>
			<br>
			<p>I consider this portrayal a work of art. This paragraph describes something so indescribable indirectly! I cannot bring myself to spoil it by explanation. Hence, I beg thee to feel it. </p>
			
			<h3>Conclusion</h3>
			<p>With that, I have concluded my rounds covering the shades of love depicted in the series. I wanted to include a few honorable mentions like the bonds of siblings and bromance but midsems and the length of this article have compelled me to set aside the idea (for now). Hope you had a great read and a great month… Thank you.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
