{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Romance Quiz </h2>
		
		<div class="article-content">
			<br>
			<p style="width: calc(min(800px, 100%)); margin: 10px auto;">It’s time for you to take on a small puzzle; this time, it’s a match-the-column. So, why don’t you refresh your memory with this romance anime-themed challenge of matching some couples? The rules are simple: on the left side, you will find character images, and on the right side, you will find character names; your job is to match the couples and let them live happily ever after. Good Luck!!</p>
			<br>
			<div style="display: flex; align-items: center; justify-content: center;">
				<table>
					<tr>
						<td></td>
						<th style="font-size: 120%;"> Image </th>
						<td></td>
						<th style="font-size: 120%;"> Name </th>
					</tr>
					<tr>
						<td>a.</td>
						<td style="padding-right: 10px;"> Miyuki Shirogane </td>
						<td> 1. </td>
						<td><img src="/assets/releases/2024-02-1/5-1.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>b.</td>
						<td style="padding-right: 10px;"> Rinko Yamada </td>
						<td> 2. </td>
						<td><img src="/assets/releases/2024-02-1/5-2.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>c.</td>
						<td style="padding-right: 10px;"> Nia Teppelin </td>
						<td> 3. </td>
						<td><img src="/assets/releases/2024-02-1/5-3.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>d.</td>
						<td style="padding-right: 10px;"> Shuu Ouma </td>
						<td> 4. </td>
						<td><img src="/assets/releases/2024-02-1/5-4.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>e.</td>
						<td style="padding-right: 10px;"> Bam </td>
						<td> 5. </td>
						<td><img src="/assets/releases/2024-02-1/5-5.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>f.</td>
						<td style="padding-right: 10px;"> Mine </td>
						<td> 6. </td>
						<td><img src="/assets/releases/2024-02-1/5-6.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>g.</td>
						<td style="padding-right: 10px;"> Tomoya Aki </td>
						<td> 7. </td>
						<td><img src="/assets/releases/2024-02-1/5-7.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>h.</td>
						<td style="padding-right: 10px;"> Hitagi Senjougahara </td>
						<td> 8. </td>
						<td><img src="/assets/releases/2024-02-1/5-8.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>i.</td>
						<td style="padding-right: 10px;"> Yuu Koito </td>
						<td> 9. </td>
						<td><img src="/assets/releases/2024-02-1/5-9.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
					<tr>
						<td>j.</td>
						<td style="padding-right: 10px;"> Kyotaro Ichikawa </td>
						<td> 10. </td>
						<td><img src="/assets/releases/2024-02-1/5-10.webp" alt="Person Image" style="width: calc(min(200px, 30vw));"> </td>
					</tr>
				</table>
			</div>
			<br><br>
			Click here to view the answers: <span style="color: var(--teal); background-color: var(--teal);" onclick="((element) => element.style.color = element.style.backgroundColor = '')(this)">  a-4, b-3, c-5, d-6, e-10, f-1, g-9, h-7, i-2, j-8
			</span>
			<div class="article-end"></div>
		</div>
	</div>
</div>
