{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2>Zombie Apocalyse Survival Tips with Akira and Shizuka</h2>
		<br/>
		<div class="article-author">By: Markio and Parag</div>
		<br>
		<div class="article-content">
			<p><i>
				The scene follows as Akira, Shizuka, and Kencho leave the camp and are on the way to Gunma village. Akira and Shizuka are seated in the front seat of the caravan, Akira on the drive. Kencho is following them with the motorcycle.
			</i></p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-1.gif" alt="Truck escape"></center>

			<p><i>
				Shizuka complains about Akira’s recklessness, pointing to the fact that they are low on supplies. They stop at a store and go to the storage rooms in the back. There, Akira finds a video camera.
			</i></p>
			<p>
				<b>Akira:</b> Hey! Hey! Look at what I found. Woooah, I haven’t seen a video camera since the apocalypse started. Since we did find it…Why don’t we make a video about…uhh…oh ya! Zombie survival tactics before we become zombies.
			</p>

			<p>
				<b>Shizuka:</b> Haaah?? That is an absolute waste of time. For what purpose would we do that? Also, what if a zombie attacks while you are goofing around here?
			</p>

			<p>
				<b>Akira:</b> Don’t worry. Kencho is on the lookout, so he will warn us. Doing this has always been on my bucket list and it will be fun, so it’s a-okay. Come on, I am gonna start, so get ready quickly. Lights. Camera. Action!
			</p>

			<p>
				<b>Shizuka:</b> Sigh…I guess there’s no point arguing with you since it would just waste more time. Let’s get this over with quickly then. Hello everyone, my name is Shizuka Mikazuki, and my cameraman here is Akira Tendou. Despite this being absolutely pointless, we will be sharing a few tips on how to survive the zombie apocalypse, mostly from personal experience.
			</p>

			<p>
				<b>Akira:</b> <i>(Interrupting)</i> Ya, so the first thing you gotta do is to watch out for your abusive boss from work and start having fun. If you happen to run into them, don’t forget to tackle the-
			</p>

			<p>
				<b>Shizuka:</b> <i>I would advise</i> the viewer to ignore this idiot. He is way too reckless, and no one should follow his case. Anyway, as I was saying…A few necessities to survive the zombie apocalypse would be to store food in bulk, drink water regularly, and try to perform regular exercise to keep your body in shape, this will be very useful when running away from zombies.
			</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-2.webp" alt="Shizuka wiping sweat"></center>

			<p>
				<b>Akira:</b> Beer! beer! We need more beer! and video games, too. This journey would be really boring without beer. Lemme set this camera on a stand and go look for some beer. Hmm…while I am at it, I will get some sweets for you since you like them.
			</p>

			<p>
				<b>Shizuka:</b> Getting beer is pointless, and carrying it around will just make us slower and an easier target for the zombies. And high-calorie foods aren’t nutritious at all. You can’t put your life in danger for such unnecessary goods.
			</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-3.webp" alt="Shizuka looking back"></center>

			<p>
				<b>Akira:</b> Waah!! My precious beer! What will I do without you? Huh, there’s more food here than I expected. I found instant ramen and water bottles. There’s some dried meat here too. Aaahhhh, Meat after so many days. Let’s have a barbeque!
			</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-4.webp" alt="Barbeque preparation"></center>

			<p>
				<b>Shizuka:</b> Hmm, I don’t think you can barbeque dried meat, but at least you have some idea about what is useful. Our cameraman seems to have run off on his own yet again, but as I was saying, when you are in a store, try to get all essential commodities in one go. Always keep new batteries, flashlights, and rope on yourself in case of an emergency. It is also useful to keep bottles of vitamin and mineral supplements to maintain a healthy body since it is difficult to maintain a balanced diet at all times.
			</p>

			<p>
				<b>Akira:</b> Don’t mind me…(happily smuggles beer and video games into his bag) But, you know, beer and games are important too. What's the point of living if we don't have a little fun? Our lives are already in danger, so we should make the best of it and have a blast every day.
			</p>

			<p>
				<b>Shizuka:</b> <i>(stares in exasperation)</i> You never learn, do you? Don’t take this fool as an example of how to survive an apocalypse. I have no clue how you’re still alive after all the risky things you did. Remember viewer, you should equip yourself with defensive equipment and analyze your environment before taking action. Don’t just jump into danger like a certain someone… <i>(glares at Akira)</i>
			</p>

			<p>
				<b>Akira:</b> But I want to be a superhero, so it’s only natural for me to jump into danger to save people.
			</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-5.webp" alt="Akiraiger is here!"></center>

			<p>
				<b>Shizuka:</b> That isn’t a good reason for you to risk your life and fight zombies. Like that time at the aquarium, you had no reason to fight the zombified shark.
			</p>

			<p>
				<b>Akira:</b> I don’t need a reason to protect you. I just wanted to do it.
			</p>

			<p>
				<b>Shizuka:</b> …you’re hopeless. A-anyway, don’t you think that the video is long enough? We should end it before the zombies come looking for us.
			</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-6.gif" alt="Shizuka walking away"></center>

			<p>
				<b>Akira:</b> Ohhh, before we end it. (shouting) Oyee Kencho! Don’t you want to be in the video too?
			</p>

			<p>
				<b>Shizuka:</b> No, he’s always roaming around naked for some odd reason, and having him in the video wouldn’t be appropriate. What if kids watch this video?
			</p>

			<p>
				<b>Kenichirou:</b> <i>(shouts)</i> HEEYYYY GUUYYYZZZ!!! Zombies!!! They are headed this way!!!
			</p>
 
			<p>
				<b>Akira:</b> Oh no! This quickly. I haven’t even packed all my stuff.
			</p>

			<p>
				<b>Shizuka:</b> The zombies must have heard you shouting and making all that ruckus before.
			</p>
 
			<p>
				<b>Kenichirou:</b> Get in the caravan quickly! Look, there are zombies coming from the left, too!!
			</p>

			<p>
				<b>Akira:</b> Don’t worry, Shizuka. I will protect you. Shark-Suit KICK!
			</p>

			<p>
				<b>Shizuka:</b> …
			</p>

			<p><i>
				(Shizuka silently runs away)
			</i></p>

			<p>
				<b>Akira:</b> (Shouting) Aaahhhh!! Wait for me. I am coming toooo… <i>(hustling towards the caravan with a pack of Beer)</i>
			</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/1-7.webp" alt="Scooter escape"></center>

			<div class="article-end"></div>
		</div>
	</div>
</div>
