{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2>A Returner’s Magic Should Be Special: A Faithful Adaptation or Not?</h2>
		<br/>
		<div class="article-author">By: Tanaka-kun</div>
		<br>
		<div class="article-content">
			<p>Manhwas, or Korean comics, have been getting adaptations over the past few years, thanks to Crunchyroll for the most part. While some adaptations (such as Tower of God and The God of High School) have been praised well, there are some (like Noblesse) that have failed to meet the expectations of the manhwa readers and anime-only watchers alike. With anime adaptations coming every season now, we would be focusing on the Autumn 2023 anime adaptation of the manhwa “A Returner’s Magic Should Be Special.”</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/3-1.webp" alt="Anime Banner"></center><br>

			<h3>Premise</h3>
			<p>After the world has been engulfed by the otherworldly calamity, the Shadow Worlds, Desir Herrman, and the final survivors put up a final struggle, only to lose to the Destruction Dragon. As Desir meets his end, he finds himself 13 years in the past. With the knowledge of the future, Desir reassembles his friends to change the impending doom the future has in store for them.</p>
			
			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/3-5.webp" alt="Old Desir"></center><br>

			<p>After the much-hyped Solo Leveling adaptation announcement, I was surprised to see an anime adaptation of this manhwa. Despite my slight disappointment in the GoHS adaptation (primarily because they cut some parts from the manhwa), I chose to give this a chance because of how I felt like this might be a good adaptation and might have some good scenes like Tower of God did (specifically the scene where Baam protects Rachel by becoming Shinsu) which the manhwa did not illustrate as well as the anime did. As the season has come to an end, here’s what I feel about this.</p>

			<h3>Pros</h3>
			<p>The anime managed to showcase the action scenes really well. While the animation does not compare to some other anime in this season such as Shield Hero S3 or Eminence in Shadow S2, the anime managed to show the fight scenes well. This is often observed as a plus point among various anime adaptations. </p>

			{# A GIF of the first exam #}

			<p>The voice acting also resembled what your average reader would have in mind while reading the manhwa. While it is an issue you’d often see in English voice acting, some anime have the same issue even in the Japanese voice acting (generally but not necessarily seasonal trash isekais). It was definitely a good thing that this anime did not suffer the same cursed fate.</p>

			<h3>Cons</h3>
			<p>While the animation did not have any issues, I personally felt like they ruined the characters for me. While they did not change the characters majorly, they managed to make some changes which… let’s just say did not appeal to me as a manhwa reader (Oh who am I kidding? I got triggered by it!!!) While it is understandable that there would be some changes in the style as they move from a webtoon to an anime (especially when sometimes even the webtoon art is simplistic), the way they managed to add a glossy touch to everyone’s hair and the rigidity in the shapes felt like they were trying too hard. The biggest disappointment for me was how they represented Pram Schneider.</p>

			<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
				<center><img style="width: calc(max(300px, 30vw));" src="/assets/releases/2023-12-1/3-2.webp" alt="Pram Schneider (manhwa)"></center>
				<center><img style="width: calc(max(300px, 30vw)); max-height: calc(max(450px, 30vw) * 1741 / 3996); object-fit: contain;" src="/assets/releases/2023-12-1/3-3.webp" alt="Pram Schneider (anime)"></center>
			</div><br>

			<p>I’ll try to keep it as spoiler-free as possible. Pram Schneider, despite having cute femboy-ish looks and being the character whom Romantica finds cute like a puppy, is shown to be a rather fierce ally of Desir. While the manhwa also showcases the clinginess that Pram directs toward Desir, the anime felt like it overdid it. While it felt like a minor detail that was appreciated in the manhwa as a minor character trait, the anime made those interactions. Especially in the anime original shopping scene in episode 10, it really made me cringe, to the point I slightly regretted watching it. (Honestly, if they really wanted to make Pram cutesy, they could’ve made him similar to Iruma-Kun.) The anime has made me feel something straight out of a JoJo scene.</p>

			<center><img style="width: calc(min(450px, 70vw));" src="/assets/releases/2023-12-1/3-4.webp" alt="I'll never forgive the Japanese!"></center><br>

			<p>Characters aside, there was one more major issue that I had with this anime; the anime-original story parts. While this mainly includes the fight scenes, it also includes the scene from episode 10 I mentioned before. Although I called the animation in the same commendable, the scripting made it a bit too lengthy for my preference. While a portion of it is understandable to explain the setup and the background characters, they could have been simplified a bit more. While it is understandable that the studio has to make some changes to choose how much of the story fits in one season and to ensure that they spread it over the course of the number of episodes they have, I would have preferred if they had stuck to the manhwa’s storyboarding and pacing.</p>

			<h3>Conclusion</h3>
			<p>If someone wants to watch a season of an anime, without really worrying about the original source or anything, just to spend some time, this anime would be a decent one to watch. However, as an adaptation, it feels like it has gone over the top in many aspects, which itself is what makes this an adaptation that I did not enjoy that much. I would not have minded watching a slightly less lustrous or plain adaptation as long as the execution was good. The majority of why I watched the anime this season was just to see the plot progression (even though I literally binged 250 chapters of the manhwa days before I started the season and remembered the story.) Due to the excessive styling of characters and anime-specific changes, for an avid manhwa reader like me, this felt like it was not that faithful of an adaptation.</p>

		<div class="article-end"></div>
		</div>
	</div>
</div>
