{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2>The Vast World of of Tensura</h2>
		<br/>
		<div class="article-author">By: Manideep and NPC</div>
		<br>
		<div class="article-content">
				<p>In the fantastical world brought to life by 8bit Studio, the story of That Time I Got Reincarnated as a Slime quickly captured the hearts of fans. We follow the story of Satoru Mikami, a 37-year-old whose life tragically ended while protecting a colleague's girlfriend. He wakes up in a new world, reborn as Rimuru Tempest, a slime and embarks on extraordinary adventures. Through encounters with diverse races like Goblins, Ogres, Lizardmen, Humans, and Demons, Rimuru carves out his unique path in this magical realm. In the series, we learned many details about these different species, which we have tried to compile into this article.</p>

				<h3>Monster Class:</h3>
				
				<h5>Slimes:</h5>
				<p>Slimes are mindless creatures who do not possess the ability to see or hear and do not possess self-awareness or gender. Slimes utilise their elastic bodies to translocate through a bouncing motion from one location to another. Slimes do not engage in the activities of eating, breathing, or sleeping. Unlike many other races that must acquire the skill of self-regeneration, slimes are inherently endowed with the capacity for self-regeneration from birth.</p>

				<center><img src="/assets/releases/2023-12-1/4-1.webp" alt="Slime" style="width: calc(min(700px, 60vw));"></center><br>

				<h4>Goblin family:</h4>
				
				<h5>Goblins:</h5>
				<p>Goblins are a race of weak, common mob monsters. Displaying human-like features, Goblins possess intelligence and speech, forming communities in villages with an elder as their leader. Goblins typically exhibit a frail physical constitution, resulting in challenges when engaged in combat.</p>

				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-2.webp" alt="Goblins" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-3.webp" alt="Goblins" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>

				<h5>Hobgoblins/Goblinas:</h5>
				<p>Male goblins undergo evolution into Hobgoblins, while their female counterparts transform into Goblinas. These evolved forms demonstrate heightened intelligence, improved health, and increased muscularity compared to their goblin predecessors.</p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-4.webp" alt="Goblinas" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-5.webp" alt="Goblinas" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
				
				<h4>Wolves family:</h4>
				
				<h5>Direwolves:</h5>
				<p>Direwolves, inspired by real wolves, display fierceness and a penchant for hunting weaker prey, mirroring the pack dynamics observed in their real-world counterparts. Inherently more potent than Goblins, a direwolf pack may comprise up to 100 members, relying on their sharp fangs and claws for power. Direwolves are remarkably loyal to their master. The collective elevation in rank occurs when a solitary direwolf is granted a name, exemplifying the interconnected fate shared by all pack members.</p>
				
				<center><img src="/assets/releases/2023-12-1/4-6.webp" alt="Direwolves" style="width: calc(min(700px, 60vw));"></center><br>

				
				<h5>Tempest Wolves:</h5>
				<p>Evolved from direwolves, the notable species known as Tempest wolves owe their name to Rimuru Tempest. Characterised by a main elemental wind attribute, Tempest wolves possess remarkable abilities, capable of inciting storms merely by wagging their tails. Additionally, they can alter their size and exhibit wind-like swiftness. The establishment of a specific bond allows other creatures to summon Tempest wolves.</p>
				
				<center><img src="/assets/releases/2023-12-1/4-7.webp" alt="Tempest wolves" style="width: calc(min(700px, 60vw));"></center><br>

				<h5>Tempest Star Wolves:</h5>
				<p>The Tempest Star Wolf is the evolved form of Tempest Wolves, distinguished by two horns and double the size. This evolution grants them a formidable special attack known as Black Lightning.</p>

				<center><img src="/assets/releases/2023-12-1/4-8.webp" alt="Tempest Star Wolf" style="width: calc(min(700px, 60vw));"></center><br>

				<h4>Ogre Family:</h4>
				
				<h5>Ogres:</h5>
				<p>Ogres, high-level monsters of Japanese origin, exhibit a distinct cultural influence, as evident in their attire resembling Japanese armour and katana-like swords. Proficient in combat and refined magical abilities, Ogres showcase incredible strength and possess the potential for further growth, distinguishing them as formidable while living alongside other monsters in the forest. Notably, their advanced swordsmanship sets them apart from mere monsters. Evolving from Hobgoblins and Goblinas, Ogres form a critical link in the evolutionary chain. Before the Orcs' massive attack on Ogres, there were 300 Ogres in the Great Jura Forest, but only 6 survived.</p>
				<center>
					<div>
						<img src="/assets/releases/2023-12-1/4-9.webp" alt="Ogres" style="width: calc(min(700px, 60vw));">
						<p style="color: var(--teal);"> The surviving 6 Ogres </p>
					</div>
				</center>
				<br>
				
				<h5>Kijin:</h5>
				<p>Kijin, being the evolutions of Ogres, represent a high-class monster race with exceptional abilities. Each Kijin possesses remarkable potential in various fields, surpassing humans in artistry, whether in magic, swordsmanship, ninja skills, elemental mastery, and more. Renowned for their formidable power, Kijin are invaluable allies in warfare, with their abundance of magicules surpassing their Ogre predecessors.</p>

				<center><img src="/assets/releases/2023-12-1/4-10.webp" alt="Kijin" style="width: calc(min(700px, 60vw));"></center><br>
				
				<h4>Orc family:</h4>
				
				<h5>Orcs:</h5>
				<p>Orcs stand markedly weaker than Ogres, relying on their strength in numbers for compensation. Resembling pigs in appearance, Orcs are less intelligent, even among monsters, which is compensated by their substantial muscular power. </p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-11.webp" alt="Orcs" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-12.webp" alt="Orcs" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
				
				<h5>Orc Lord:</h5>
				<p>The Orc Lord, a distinctive monster, commands fear as he leads a large number of Orcs despite their typical aversion to forming groups. Ruling through intimidation, the Orc Lord possesses an inherent "Starved" ability that influences all his followers. This ability allows the user to acquire the strength and abilities of their victim upon consumption, with the caveat of perpetual hunger. Importantly, any abilities obtained by an Orc under the Orc Lord are instantly shared among all Orcs, including the Orc Lord himself.</p>
				
				<center><img src="/assets/releases/2023-12-1/4-13.webp" alt="Orc Lord" style="width: calc(min(700px, 60vw));"></center><br>
				
				<h5>Orc King:</h5>
				<p>The Orc King, the paramount leader of Orcs, boasts remarkable regenerative capabilities and commands the Orcs with great strength. While an orc transforms physically into an Orc Lord upon becoming an Orc King, it is crucial to note that the emotional aspect diverges from the terror-inducing control characteristic of the Orc Lord. Unlike the Orc Lord, the Orc King does not possess the ability called "Starved". Emphasising his physical prowess, the Orc King is a mighty Orc Lord.</p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-14.webp" alt="Orc King" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-15.webp" alt="Orc King" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
				
				<h5>High Orcs:</h5>
				<p>High Orcs, the evolved form of Orcs, exhibit heightened strength and durability compared to their predecessors. Endowed with remarkable physical stamina, they excel in prolonged labour activities. Additionally, High Orcs demonstrate an impressive aptitude for swiftly acquiring simple skills, such as construction and other physical abilities inherent to humans.</p>

				<br>
				<p>Orcs are considered descendants of the beastmen. There is also Orc Disaster, evolved from Orc Lord, who possesses the seed of a demon lord.</p>
				
				<h4>Lizardmen family:</h4>
				
				<h5>Lizardmen:</h5>
				<p>Lizardmen, humanoid creatures with a reptilian resemblance, inhabit marshlands and adopt a tribe-like social structure led by a figure known as the "Chieftain." Despite not being inherently powerful, Lizardmen surpass Orcs in hierarchy due to their intelligence and intricate social organisation. Building their armies on numerical strength, they equip themselves with armour and conventional weaponry. The Lizardmen take pride in their lineage as descendants of dragons, a concept of common occurrence in fantasy realms. Notably, the Chieftain possesses a significant artifact called the Vortex Spear, enhancing the wielder's magical powers and symbolising leadership akin to a crown.</p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-16.webp" alt="Lizardmen" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-17.webp" alt="Lizardmen" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
				
				<h5>Dragonewts:</h5>
				<p>Dragonewts, the evolved forms of Lizardmen, may have different appearances based on their lineage, individual characteristics, evolutionary traits and magical influences. Distinguishing them from their predecessors, Dragonewts feature wings, providing them with aerial capabilities absent in the Lizardmen, who evolved primarily for swift movement in marshy environments.</p>
				
				<center><img src="/assets/releases/2023-12-1/4-18.webp" alt="Dragonewts" style="width: calc(min(700px, 60vw));"></center>
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-19.webp" alt="Dragonewts" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-20.webp" alt="Dragonewts" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>

				<h3>Humans and Humanoids Class:</h3>
				
				<h5>Humans:</h5>
				<p>There are humans, as always intelligent, greedy, prejudice-making, cowards, and god-believers. There are a lot of human kingdoms, and most weren’t happy with the rise of Jura. </p>
				
				<h5>Otherworlders:</h5>
				<p>Otherworlders are individuals who have been reincarnated or transported from another world into the fantasy world where the occurs place. They usually retain memories of their past life and possess unique skills.</p>
				
				<h5>Summons: </h5>
				<p>Summons refer to creatures or beings brought into the fantasy world through magical or summoning rituals. Unlike Otherworlders, summons are typically creatures or entities given powers according to the ceremony's purpose. Summons are not reincarnated with the memory from the past life.</p>
				
				<h5>Beastman: </h5>
				<p>Beastmen are humanoid creatures with characteristics of some animals, such as cats, lions, snakes, etc. Each category of Beastmen has a different type of strength. This race was created by hybridising humans and magical beasts. </p>

				<h3>Demon Class:</h3>
				
				<h5>Lesser Demons: </h5>
				<p>The bottom-most rank among demons, they still possess good knowledge of elemental magic and have high resistance against any sort of magic.</p>

				<center><img src="/assets/releases/2023-12-1/4-21.webp" alt="Lesser Demons" style="width: calc(min(700px, 60vw));"></center><br>
				
				<h5>Greater Demons/Arch Demons: </h5>
				<p>The appearance of greater demons is different for each individual. Though they possess arms, legs and a face like humans, they aren’t humanoid overall. They might have abnormal arms, scales, goat-like legs, etc. However, they do possess general characteristics of demons like horns, claws etc, </p>

				<center><img src="/assets/releases/2023-12-1/4-22.webp" alt="Greater Demons" style="width: calc(min(700px, 60vw));"></center><br>
			
				
				<h5>Primordial Demons:</h5>
				<p>These are the absolute beings among demons whose existence traces back to the dawn of time. They possess such tremendous power that even saying their name is taboo in the human world. There are only 7 primordial demons. </p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-23.webp" alt="Primordial Black" style="width: calc(min(60vw, max(30vw, 350px))); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-24.webp" alt="Primordial Red" style="width: calc(min(60vw, max(30vw, 350px))); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-25.webp" alt="Primordial Green" style="width: calc(min(60vw, max(30vw, 350px))); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-26.webp" alt="Primordial Blue" style="width: calc(min(60vw, max(30vw, 350px))); margin: 5px;">
				</div>
				<br>

				<p>The above are the 4 out of 7 Primordial Demons shown in Anime.</p>

				<p>Other than these, there are other demons who rank somewhere in between or parallel to given ones. Demons are strong against angels and weak against spirits.</p>
				
				<h3>Dragon Class:</h3>
				
				<h5>Dragons: </h5>
				<p>Dragons are said to be the strongest species in the world. They have massive muscular bodies covered in scales. We have seen the appearance of a sky dragon in the Anime. </p>
				
				<h5>True Dragons: </h5>
				<p>True dragons are the highest-ranking beings in existence, excluding only the supreme deity. There are currently 4 true dragons in existence. </p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-27.webp" alt="Veldora" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-28.webp" alt="Velzard" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
					
				<p>Other than these, there are also some species directly related to dragons, such as Charybdis, who was born from the magicules of Veldora. Demon Lord Milim Nava is also associated with dragons being a hybrid between a true dragon and a human.</p>
				
				<center>
					<div>
						<img src="/assets/releases/2023-12-1/4-29.webp" alt="Sky Dragon" style="width: calc(min(700px, 60vw));">
						<p style="color: var(--teal);"> Sky Dragon </p>
					</div>
					<br>
					<div>
						<img src="/assets/releases/2023-12-1/4-30.webp" alt="Charybdis" style="width: calc(min(700px, 60vw));">
						<p style="color: var(--teal);"> Charybdis </p>
					</div>
					<br>
					<div>
						<img src="/assets/releases/2023-12-1/4-31.webp" alt="Milim Nava" style="width: calc(min(700px, 60vw));">
						<p style="color: var(--teal);"> Milim Nava </p>
					</div>
					<br>
				</center>
				
				<h3>Spirits Class:</h3>
				
				<h5>Spirits:</h5>
				<p>Spirits, magical entities, come in varying forms. Smaller and weaker spirits appear as colourful dots, resembling stars in the night sky. In contrast, greater spirits can adopt specific shapes and possess distinct personalities. These mystical beings reside in a place known as the Dwelling of Spirits. Each spirit is associated with one of the elemental attributes, including Space, Earth, Water, Wind, Fire, Light, Darkness, and Time. The governance of spirits is vested in the singular Queen of Spirits, a unique entity that consistently undergoes reincarnation.</p>

				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-32.webp" alt="Spirits" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-33.webp" alt="Spirits" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
				
				
				<h5>Queen of Spirits:</h5>
				<p>Ramiris, the singular Queen of Spirits throughout history, is known by various titles, including Ramiris of Labyrinth, Guide of Saints, Fairy of Labyrinth, and Demon Lord Ramiris. Pioneering in spirit engineering, she often creates toys using spirits for fun. She had become a demon lord because she had “fallen”. Ramiris is tasked with bestowing divine protection upon heroes, claiming impartiality. She plays an essential role in maintaining balance within the world.</p>
				
				<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
					<img src="/assets/releases/2023-12-1/4-34.webp" alt="Ramiris" style="width: calc(min(60vw, 350px)); margin: 5px;">
					<img src="/assets/releases/2023-12-1/4-35.webp" alt="Ramiris" style="width: calc(min(60vw, 350px)); margin: 5px;">
				</div>
				<br>
				
				<h5>Dryads:</h5>
				<p>Dryads, specialised spirits and embodiments of nature serve as the dedicated caretakers of the Great Forest of Jura. Typically concealing themselves, they possess comprehensive knowledge of all events within the forest. In their role as guardians, Dryads administer divine judgment to those who pose harm to the forest.</p>
				
				<center><img src="/assets/releases/2023-12-1/4-36.webp" alt="Dryad" style="width: calc(min(700px, 60vw)); max-height: 60vh; object-fit: contain;"></center><br>
				

				<p>In conclusion, while other fascinating races like Harpies and Vampires have been briefly introduced, their full depth remains unexplored within the anime thus far. This tantalising glimpse, however, underscores the author's dedication to meticulous world-building, leaving us eager to delve deeper into the intricacies of this meticulously crafted universe. Thank you for joining me on this exploration.</p>

		<div class="article-end"></div>
		</div>
	</div>
</div>
