{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Character development in Attack on Titan </h2>
		<br/>
		<div class="article-author">By: Rishith Prabhat</div>
		<br>
		<div class="article-content">

			<p>Attack on Titan started airing back in 2013, when most of us had no idea what anime even was. The manga started out even before (duh) in 2009. With the recent finale, Attack on Titan marked 10 years since it's beginning. We the viewers have grown a lot in the past 10 years. We have matured (some of us, at least), faced multiple hurdles, have developed a better understanding of ourselves and are in general better than we used to be ten years back.</p>
			
			<p>During these 10 years, anime also changed quite a bit, and believe it or not, so did AoT. The show changed genres dramatically multiple times, changing the direction of the story each time. Season 1 and 2 were survival and mystery, season 3 part 1 became a political drama and part 2 gave us some of the best action we've ever seen in the series; while season 4 was drama at it's finest.</p>

			<p>So just like us, the characters from the show have also changed, matured and grown. These characters have grown, physically, mentally and emotionally. Let us take a look at how some of the characters have transformed through the series, and characters who have not.</p>

			<h3>1. Jean Kirstein</h3>

			<center><img src="/assets/releases/2024-03-1/4-1.webp" alt="Jean Kirstein" style="width: calc(min(700px, 60vw));"></center><br>

			<p> Jean is easily the most relatable character. Of all the characters, he is the only person who didn't have a tragic back story and still has a functional family (this was revealed in the OVA “A Sudden Visitor”. Watch it if you haven't). He didn't have any serious motivation for being a soldier until Marco's death. </p>

			<p>Jean went from being a selfish douche to a brave soldier capable of thinking on the go. While Season 1 Jean was immature, lost his temper easily and engaged in petty banters with Eren, Connie and Sasha; Season 4 Jean cares for Eren and is best friends with Sasha and Connie. It is really remarkable to see Jean go from a sheltered city-boy to a hardened veteran who can make tough decisions on the go.</p>

			<p>He handled Sasha's death pretty well, and stopped others from throwing Gabi off the airship, which automatically makes him more mature than half of the fandom.</p>

			<h3> 2. Reiner </h3>

			<center><img src="/assets/releases/2024-03-1/4-2.webp" alt="Reiner Braun" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Reiner in one of those characters who seem more mature and stable than they actually are. Rather than growing stronger as a character, we see Reiner's true self and weaknesses flesh out more as the series progress. Season 1 Reiner presents himself as a strong character. He's a big brother figure to Eren and appears to always be in control of himself and his situation. However, his life as a Marliean warrior starts taking a toll on him. While he does an excellent job of keeping his identity a secret throughout season 1 and 2, he reaches his breaking point at the end of season 2, developing a Split-personality disorder for a while.</p>

			<p>Further seasons see Reiner devolve into a suicidal mess. His weaknesses really start coming out and you can clearly see how much he hates himself. And to be fair, who wouldn't crack under such pressure? He lost both his closest friends before he even turned 15 and had to kill Marco to keep his cover intact. All this along with the constant guilt of betraying people who truly thought of him as friends is enough to drive any person to the edge. To add to the injuries, he didn’t get to marry Historia, which is just cruel.

In short, Reiner has arguably suffered the most throughout the series and by the end of season 3, it starts showing.</p>

			<h3> 3. Floch </h3>

			<center><img src="/assets/releases/2024-03-1/4-3.webp" alt="Floch" style="width: calc(min(700px, 60vw));"></center><br>

			<p>When it comes to Floch, people have mixed responses. Some can't bear to stand him and for some he is one of the best characters in the show. Either way, you can't deny his role in the story. For someone like Floch who didn't get as much screen time as the main characters, his character is very well fleshed out and he has gone through a great extent of character development. </p>

			<p>Floch started out as a seemingly insignificant side character with an atrocious haircut. He is introduced as a wimpy soldier afraid of dying a meaningless death during the charge against the Beast Titan, miraculously being the sole survivor of the charge.</p>
			
			<p>Fast forward to Season 4 and we see his drastic transformation. Floch goes from a wimpy soldier to a veteran taking charge with authority. His loyalty to saving his home and its people is seen time and again. Floch emerges as a true nationalist, ready to risk everything for his country. He goes from cowering from the Beast Titan to fighting againt 2 Titans and an Ackerman all by himself. Floch undoubtedly had the best character development.</p>

			<h3> 4. Mikasa </h3>

			<center><img src="/assets/releases/2024-03-1/4-4.webp" alt="Mikasa" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Now this may come as a surprise to many people. For a majority of the series, Mikasa shows as much personality as a wet paper towel. And there is some truth to it. For the majority of the show, Mikasa is limited to being a Titan killer and programmed to say just “Eren”. However, Mikasa too went through some character development.</p>

			<p>Season 1 introduces Mikasa as a quiet girl obsessed with Eren. Her obsession leads her to side with Eren even when he's in the wrong. Season 4 Mikasa however, starts questioning Eren's actions. But the series finale is where we truly see her development. While Eren seemed to be hell-bent on freedom, Mikasa almost seemed to be a slave to her love for Eren.</p>

			<p>Her cutting off Eren's head showed us that she can overcome her love to do what is needed and hence not enslaved to her own feelings, something that cannot be said for Founder Ymir.
In short, Mikasa went from being a slave to her own obsession with Eren to a being free from it, to some extent at least.</p>

			<h3> 5. Armin </h3>

			<center><img src="/assets/releases/2024-03-1/4-5.webp" alt="Armin" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Armin probably represents a lot of our childhood selves. Naïve, innocent, curious, and full of dreams - that's how he started out. Armin starts out a wimp who's scared shitless of the Titans. However, as the series progresses, we see him change into a brave soldier. Aside from his courage, he is also one of the most wisest characters from AoT. His quotes like “People who aren’t ready to give up everything cannot change anything” really hits home.</p>

			<p>Armin's changing point was the death of Commander Erwin. Him and Erwin were the 2 smartest people in the whole Survey Corps. With Erwin gone, that mantle ultimately fell to him. We can see he isn't happy to receive the Colossal Titan either- showing how much he truly despises war.</p>

			<h3> 6. Eren </h3>

			<center><img src="/assets/releases/2024-03-1/4-6.webp" alt="Eren" style="width: calc(min(700px, 60vw));"></center><br>

			<p>And now, for the poster boy of the series. Surprisingly, Eren did not change much at all throughout the series. He starts out as an angry boy hungry for freedom who masks his emotions. Throughout the series we see him mature bit by bit, or at least that’s what it seems like. But deep down, Eren just gets better at masking his true self. In the last episode of Attack on Titan when Eren and Armin talk one last time, we see his façade melting away and emotionally, he is still the same as he was in the beginning.</p>

			<p>Well, there you have it folks, the character development of some of the most prominent characters in AoT. Of course there are a ton of other characters in AoT that got considerable character development as well. However, covering all of them would easily fill a novel.</p>

			<p>With this, I bid you farewell and hope to see you in the next issue of our newsletter.</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
