{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> What if Toji Helped the Sorcerers in Shibuya? </h2>
		<br/>
		<div class="article-author">By: Arnab</div>
		<br>
		<div class="article-content">
			<p>Konnichiwa minna!!!. I hope you guys are following the making of one of the best modern shounens, which is Jujustsu Kaisen. Great fights, compelling stories, and hype moments make this anime a treat to watch. The return of the menace, Toji Fushiguro, was a marvel to experience after what he had done during the hidden inventory arc. But don't you think he went out a bit too soon?What would have happened if he had stuck around and helped the sorcerers? How would the outcomes at Shibuya change? Let's find out as we explore this scenario.</p>

			<h3>Scenario Set up</h3>

			<p>Now for giving Toji his consciousness, we assume that during the seance, due to Toji’s heavenly restrictions, the procedure malfunctioned, and along with Toji’s body, his consciousness also took over the poor grandson. </p>

			<h3>Recap</h3>
			<ul>
				<li>• Toji awakens.</li>
				<li>• He beats Inno as he is being attacked and kills the granny.</li>
				<li>• Toji wonders in Shibuya, confused at what happened.</li>
				<li>• Stumbles upon Megumi’s domain.</li>
				<li>• Enters and, seeing the situation at hand, talks a bit with Naobito and goes on to destroy Daegon with playful cloud.</li>
				<li>• They exit the domain.</li>
			</ul>

			<center><img src="/assets/releases/2024-01-1/4-1.webp" alt="Upside Down Toji" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Now, Toji recognizes his son Megumi and asks for his name, and upon hearing it, he decides to help them out, as deep inside the monstrous body there is a small part that is glad that Megumi was not sold to the Zenin clan and thus decides to help them retrieve the man who made it possible. During this conversation, they are interrupted by Jogo.</p>

			<h3>Fight with Jogo</h3>
			<p>Now, unlike in the original story, Maki, Nanami, and Naobito won’t be burned to death by Jogo instantly. Instead, Toji would immediately take a stand to fight Jogo. Others who are injured are advised by Megumi to meet Shoko for recovery. On resisting, they are informed by a menacing and confident Toji that he can take on Jogo alone as he prepares the playful cloud for a fight.</p>

			<center><img src="/assets/releases/2024-01-1/4-2.webp" alt="Toji Jogo Manga Panel" style="width: calc(min(700px, 60vw));"></center><br>

			<p>I feel like Toji will have a little more trouble taking down Jogo as compared to Daegon, considering he only has playful cloud at his disposal. I still see this as a comfortable win for Toji due to the overwhelming strength, power, and reflexes he is granted due to his heavenly restrictions. Toji can easily dodge every attack thrown by Jogo, as he can even sense changes in air density to sense the opponent and react accordingly. Along with this, he has the boon of 0 cursed energy, which makes him undetectable by Jogo, opening up scope for surprised attacks. And if you are wondering what would happen if Jogo used domain expansion, then that would be an even easier win for Toji, as he is not constrained by the guaranteed hit condition inside the domain, and he can simply leave the domain as confirmed later in the story. After the usage of the domain, Jogo would be exhausted, thus giving Toji an even easier win over him.</p>
			
			<p>Now let us get over some significant changes that will take place.</p>
			<ul>
				<li>• Sukuna won’t be resurrected. So Yuji would most likely be out of commission due to his fight with Choso.</li>
				<li>• Megumi won’t summon Mahoraga, as even if he were encountered by Haruta, he would easily fend him off as he would be in better condition.</li>
				<li>• Nanami and Naobito won’t die! (Maki doesn’t get those badass scars.)</li>
			</ul>

			<h3>Meet with Mahito</h3>
			<p>After exorcising Jogo, as Toji advances towards the 5th level, he meets up with Mahito. Mahito is taken aback by the man in front of him, as he does not sense any cursed energy from him. Underestimating Toji, Mahito starts shit-talking about humans, to which Toji, like a true boss, just gives a menacing smile. During the exchange itself, Mahito launches himself forward to attack Toji, which Toji easily evades and kicks Mahito’s soul out into a pillar. As Mahito tries to get up, he is in disbelief. How can this man hurt him? As he looks up, he sees Toji take his stance and prepare the playful cloud.</p>

			<center><img src="/assets/releases/2024-01-1/4-3.webp" alt="Toji and Mahito" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Now, a whole lot of you would ask, How can Toji hurt Mahito? Well, because in the later part of the story, it was revealed that the master of soul split katana (which Toji was) can even sense the souls of inorganic matter, implying he has a greater understanding of the soul. Along with this, Toji completely outclasses Mahito in physical capabilities, which means Mahito can’t one tap Toji. Also, he will eventually be joined by Todo, which further confirms Mahito’s defeat. From the above points, we can conclude that Toji claps Mahito.</p>

			<p>One of the most important changes would be that Nobara would probably be alive, as Mahito would be too worked up with Toji to give any attention to Nobara. </p>

			<h3>Finale</h3>

			<p>As Toji moves towards exorcising Mahito, he sees Geto come out of nowhere and absorb Mahito. Kenjaku starts explaining his plan and prepares to attack. At this moment, Toji is joined by the sorcerers from both Tokyo and Kyoto as everyone prepares to fight Kenjaku.</p>

			<center><img src="/assets/releases/2024-01-1/4-4.webp" alt="Posse" style="width: calc(min(700px, 60vw));"></center><br>

			<p>At this moment, taking into consideration Kenjaku’s future fights, I don’t think Kenjaku can fight off all of them by himself. Even if he gets help from Uraume’s ice powers, it will easily fend off  when Yuki arrives with Garuda. Taking on Yuki and Choso was difficult enough for Kenjaku, but when you include Toji and other sorcerers like Nanami and Maki, it seems very difficult for Kenjaku to Win. Which means the sorcerers would be able to retrieve the Prison realm. Now the story will also change drastically, but we won’t be discussing that here as we decided to cover it until the Shibuya incident. </p>

			<p>Adding Toji to the team not only changes the complete outcome of the arc but also many casualties. Toji, couldn’t you have waited 1 minute more before attacking Megumi?</p>
			
			<p>I hope you enjoyed it. Thank you for reading</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
