{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Power Systems in Different Anime </h2>
		<br/>
		<div class="article-author">By: Rishith Prabhat</div>
		<br>
		<div class="article-content">
			<p>
				Power Progression is one of the key factors that make a shonen series successful. The patient waits for the protagonist's new form or power while he is getting his ass handed to him, the suspense and build up leading to a massive reveal of a new power - nothing gets more hype than this.
			</p>
			<p>However with the amount of shonens available today, the power progression becomes repetitive, predictable and boring. Let's take a look at the way different shows handle power distribution and progression.</p>

			<h3>The OGs</h3>
			<p>Most people start their anime journey with something like Dragon Ball, Naruto or any other anime they catch on Cartoon Network at night. Shows like Dragon Ball and Naruto are undoubtedly the foundation of Shonen as it exists today, with Dragon Ball practically being the first shonen (technically Astro Boy was the first but no one’s seen that).</p>

			<h4>Dragon Ball</h4>

			<p>Let's talk about Dragon Ball. Anyone who’s watched Dragon Ball knows the hype when a  new form is revealed. Goku going Super Saiyan for the first time against Frieza, Gohan unlocking Super Saiyan 2 against Perfect Cell , or Goku shedding his eyebrows against Majin Boo to go Super Saiyan 3. All of these are defining moments in not only Dragon Ball but anime itself as a medium. You enjoy these moments but eventually, a pattern becomes apparent.</p>

			<p>The entirety of Dragon Ball can be summed up by the following chart:</p>

			<center><img src="/assets/releases/2024-01-1/5-1.webp" alt="Dragon Ball Chart" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Needless to say, it gets a bit boring. Also, the side characters really get left behind. Take for example, Piccolo. Remember when he was an actual threat and a powerful ally? Now he’s just cannon fodder used to buy time against the big guns.</p>

			<h4>Naruto</h4>
			<p>The orange-wearing, ramen-loving dork is a stranger to no one. Naruto has been one of the biggest shonens of all time. Now while Naruto’s power system is more diverse than DBZ, it also follows a similar trope of ever stronger enemies. While there’s nothing wrong with it and some even might consider it necessary, it results in the show becoming vastly different from where it started. This is in general a problem with linear power scaling. If the series goes on for too long, the grounded characters become god-like, while the side characters are left behind.</p>


			<h3>The Creatives</h3>

			<p>Series like Bungo Stray Dogs and JoJo’s Bizarre Adventure have a different approach to this conundrum. Let us take a look at JoJo’s Bizarre Adventure.</p>

			<h4>JJBA</h4>
			<p>Aside from it’s Gayness, JoJo is known for a few other things as well- one of them being it’s unique power systems. Stands offer a very unique form of power leveling- the characters get stronger when they mature mentally and understand their powers better (not applicable to Parts 1 and 2, the characters just hit the gym and get beefed up for peak performance).</p>
			<p>As a result, you see characters working with their limited resources in different ways to tackle different things.</p>
			<p>Take for example, Jolyne Cujoh, the protagonist from Part 6. Her powers include transforming to threads (literally). Such a power at first doesn’t seem all that useful, but we see the protagonist go toe to toe against people who can manipulate gravity to their will; all thanks to her creativity  with her powers.</p>
			<p>The beauty of anime such as JoJo is that rightfully said in the panel below:</p>

			<center><img src="/assets/releases/2024-01-1/5-2.webp" alt="WTF moments" style="width: calc(min(700px, 60vw));"></center><br>

			<h4>Bungo Stray Dogs</h4>

			<p>Let's talk about Bungo. Now, BSD as a series has a pretty non-existent power progression system. The character's powers do not increase with time. When it comes to their special abilities, the cards they are dealt are the cards they play with. </p>
			<p>With Bungo Stray Dogs however, teamwork is really what makes the difference. A character’s abilities are limited, but different characters working as a team unlock wild new possibilities. </p>

			<p>The main character, Atsushi’s ability, ‘Beast Beneath the Moonlight’ allows him to turn into a tiger and while is great for offense, leads little room for defending himself. Akutagawa’s Rashoumon on the other hand is great for ranged attacks and close quarter defense. </p>
			The 2 are formidable on their own, but pair them up and they can go toe to toe with the deadliest foes with ease. 

			<p>Similarly, Chuya’s gravity manipulation is undoubtedly the strongest ability in the series, but leads him to lose control and potentially end the world. Pair him up with Dazai and you get a duo who can quite literally manifest a black hole and control it.</p>

			<h3>Conclusion</h3>

			<p>Linear power scaling is a great way of power progression in long running series. You see the characters grow alongside you, and seeing their growth makes you feel a personal connection with them.However, linear power scaling often becomes repetitive and carries the risk of making the series drift too far from its roots. While this is not always bad, this does leave less room for creativity and side characters get left behind.</p>

			<p>Non-linear power scaling allows for creative solutions and always leaves room for more possibilities. Further different power combinations can lead to vastly different results and this makes character interactions way more interesting.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
