{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> A Deep-Dive into the Six-faced World </h2>
		<br/>
		<div class="article-author">By: Markio</div>
		<br>
		<div class="article-content">

			<p>Mushoku Tensei: Isekai Ittara honki Dasu (which I will be referring to as MT from now on for convenience's sake) is a Light Novel Series written by Rifujin no Magonote, which translates to Unreasonable Backscratcher, (this surely has a deep meaning that I am not wise enough to comprehend). Having originally written it as a Web Novel on the site Shōsetsuka ni Narō, it got very, very popular (number one ranked work on the site from October 2013 to February 2019). This got it a Light Novel adaptation and a recent anime adaptation, and it got very popular, which is great because I absolutely adore this series. But having read both the Light Novel and Web Novel, I don’t have any content left to consume in the series. That was when I was struck by a brilliant idea,</p>
			
			<i style="font-family: serif;">
				<center><h3>“If you have no content left to consume, then create the content yourself."</h3><br>
				<div style="text-align: right; max-width: 690px;">- Markio</div></center>
			</i><br>
			<center><img src="/assets/releases/2024-01-1/6-1.webp" alt="Astounding Genius" style="width: calc(min(700px, 60vw));"></center><br>
			<p><i>…well now that we got that out of the way, let's move on with the article.</i></p>

			<h3>The Six-Faced World</h3><br>

			<p>All events of the MT storyline take place in the Human World, which is a part of the six-faced world. As one would expect, the six-faced world consists of seven worlds. It is in a hexahedral (die-like) form, and each of its sides consists of one world, namely:</p>
			<ul>
				<li>• Dragon World</li>
				<li>• Demon World</li>
				<li>• Beast World</li>
				<li>• Ocean World</li>
				<li>• Sky World</li>
				<li>• <b>Human World</b></li>
			</ul>
			<p>And The Void World, a world of white nothingness at the center of the die.</p>
			
			<p>Since this isn’t a thesis (<i>and I have a deadline to meet</i>), I will only be covering the Human World.</p>
			
			<h3>History and Mythology</h3><br>
			
			<p>As per mythology, the God of Creation created the six-faced world as he was nearing the end of his life. He decided to build a world before he died but realized that he was too weak to create a stable world. Apparently, even gods can’t escape the effects of aging; the new world he created was unstable. So, he kept creating worlds, each one turning out as unstable as the one before, till there were six. As all six were unstable, he came across the bright idea to merge all six worlds, and the resulting world was stable (don’t ask how). He then divided his soul into six alter-egos and inhabited each of the six worlds, therefore creating the six-faced world. Despite being as believable as other mythological stories, it is an interesting read, and it is nice to know that the author even gave the origin of the world some thought.</p>
			
			<h3>The Human World</h3><br>
			
			<p>Congratulations! After scanning through the filler content above, you have finally reached the meat of the article. Give yourself a pat on the back. The Human World consists of five continents, one being 3000 feet above sea level.</p>

			<ul>
				<li>• Central Continent</li>
				<li>• Demon Continent</li>
				<li>• Millis Continent</li>
				<li>• Begaritt Continent</li>
				<li>• Divine / Heaven Continent (I think you guys can guess which continent is floating in the sky)</li>
			</ul><br>
			
			<p>Now, before going in-depth about the ecosystem and culture of different continents, let’s first discuss the history of the human world. When the human world was initially made, it was occupied by humans alone, and ruled by the Human God. It was considered the most developed civilization among the worlds, and due to humans being short-lived, innovative ideas were more commonplace. But all went into disarray once the Dragon God’s War started, which I will not (and cannot) explain in this article. You can read up on it in the wiki if you enjoy getting spoiled. During this war, all the gods, except the Human God, were killed. In these dire situations, the Human God rallied all the other races and brought them all to the Human World. So, I guess you should thank the first Dragon God (and the war) for making the Human World as racially diverse as it is.</p>
			<p>Also, here’s a cool map of the Human World.</p>
			
			<center><img src="/assets/releases/2024-01-1/6-2.webp" alt="ze Map" style="width: calc(min(700px, 60vw));"></center><br>

			The Central Continent

			<p>The Central Continent is the largest continent of the Human World, and can essentially be compared to Asia. It is a geographically diverse land consisting of mountain ranges, plains, snow-ridden lands, and forests. Being so large, this continent is further divided into three parts by a vast mountain range running through its middle.</p>

			<h4>Red Wyrm Mountains</h4><br>

			<p>This enormous mountain range runs through the middle of the continent, which roughly divides the continent into three parts: North, West, and South. You can see the same in the map attached above. The name of the Mountain Ranges originates from the Laplace War (a war started by Laplace) when Laplace released wyrm dragons in the mountains to prevent humans from crossing.</p>

			<center><img src="/assets/releases/2024-01-1/6-3.webp" alt="Red Wyrm Mountains" style="width: calc(min(700px, 60vw));"></center><br>

			<p>The Mountain Range is divided into two sections; the North-western part is called the Red Wyrm’s Upper mouth, which trails off into two more ranges, one heading to the East while the other to the South. The one that goes to the East is known as the Crying Wyrm mountain range. The one going South is called the Red Wyrm’s Lower mouth, and these three ranges neatly divide the Central Continent into its three major regions.</p>

			<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
				<img src="/assets/releases/2024-01-1/6-4.webp" alt="Red Wyrm Mountains" style="width: calc(min(60vw, 350px)); margin: 5px;">
				<img src="/assets/releases/2024-01-1/6-5.webp" alt="Red Wyrm Mountains" style="width: calc(min(60vw, 350px)); margin: 5px;">
			</div>

			<h4>The North</h4><br>

			<p>To the North of the Red Wyrm Mountains lies the Northern territories, which are extremely cold and frequently receive heavy snowfall. This region can be compared to the Arctic regions or Greenland. The soil here is infertile, and the region is generally weak and poor, at least compared to other kingdoms on the continent. The small kingdoms here are often at war with each other for resources and power. This region is also filled with strong monsters, so warriors often travel North to train. Clearly, in this world, for a lot of people, their safety is a small price to pay for more power. Experienced adventurers often frequent dungeons to kill strong monsters.</p>

			<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
				<img src="/assets/releases/2024-01-1/6-6.webp" alt="The North" style="width: calc(min(60vw, 350px)); margin: 5px;">
				<img src="/assets/releases/2024-01-1/6-7.webp" alt="The North" style="width: calc(min(60vw, 350px)); margin: 5px;">
			</div>

			<p>The Magic Nations Alliance is an alliance of the three strongest nations in the North, and it’s the stabilizing factor in an otherwise volatile region. It consists of The Ranoa Kingdom, the Duchy of Neris, and the Duchy of Basherant. The Kingdom of Ranos is most famous for having the Ranoa University of Magic, the largest magic school in the world. It also happens to be the place where Rudeus Greyrat went to find a remedy for a sensitive issue of his.</p>

			<center><img src="/assets/releases/2024-01-1/6-8.webp" alt="The North" style="width: calc(min(700px, 60vw));"></center><br>

			<p>Other notable regions are the Sword Sanctum, the headquarters of the Sword God Style School of Swordsmanship, and the Kingdom of Biheiril.</p>

			<h4>The West</h4><br>

			<p>The western part of the continent is a very prosperous region and home to many powerful kingdoms. It is abundant in fertile plains and rivers, leading to its military and economic prosperity. This region is not popular with adventurers as its monsters are generally weak and are regularly eliminated by knights of the Kingdom. The Kingdom of Asura holds absolute authority over the West, and it can mainly be divided into four regions: Fittoa Region, Milbotts Region, Donati Region, and Wisir Region. These four regions are ruled by four different families and engage in the usual politics and power struggles.</p>

			<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
				<img src="/assets/releases/2024-01-1/6-9.webp" alt="Buena village (the West)" style="width: calc(min(60vw, 350px)); margin: 5px;">
				<img src="/assets/releases/2024-01-1/6-10.webp" alt="Red Wyrm Mountains" style="width: calc(min(60vw, 350px)); margin: 5px;">
			</div>

			<h4>The South</h4><br>

			<p>The southern region is fertile, with numerous rivers, large expanses of plains, and vast forest regions. Many kingdoms are located north of the King Dragon mountain range, but they constantly engage in war, and this region is known as the ‘Conflict Zone’. These kingdoms regularly meet their demise and rebuild themselves, but to the south of the mountain region, kingdoms are more stable and have greater autonomy over their lands. The King Dragon Realm is a powerful kingdom with control over the southern regions and four major vassal states. Of these four, one of them is the Shirone Kingdom, where Rudeus went to save his stepmom and younger sister.</p>

			<h3>The Demon Continent</h3><br>

			<p>Moving on from the relatively tame Central continent, we move on to the extremely harsh Demon continent. Like seriously, you wouldn’t want to be teleported thousands of feet in the sky above this continent like a certain someone. This continent is inhabited by many demon races, like the Migurd and Superd, and the main language spoken is the Demon God Tongue. Due to high mana density, the monsters who inhabit these lands are very strong, despite being small-fry in front of Rudeus’ party. Surviving a day here would be as tough as surviving in Ohio.</p>

			<center><img src="/assets/releases/2024-01-1/6-11.webp" alt="Fight in Demon Continent" style="width: calc(min(700px, 60vw));"></center><br>

			<p>The two main regions of importance in the Demon continent are the city of Rikarisu and The Wind Port in the South. Other minor regions that can be found are the Petrified Forest, the Migurd village (the village of Roxys), and the Gaslow region. The Wind Port is the only port in the Demon Continent and connects to Zanto Port in the Millis continent.</p>

			<div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">
				<img src="/assets/releases/2024-01-1/6-12.webp" alt="Demon Continent" style="width: calc(min(60vw, 350px)); margin: 5px;">
				<img src="/assets/releases/2024-01-1/6-13.webp" alt="Demon Continent" style="width: calc(min(60vw, 350px)); margin: 5px;">
			</div>

			<h3>The Millis Continent</h3><br>

			<p>The Millis Continent is mainly divided into two major sections, which is represented by the species living there. The population of humans is about the same as that of beast people, where the humans live in the western plains, while the beast people live secluded in the eastern forests. As one would expect, the main languages spoken here are the human God tongue and the Beast God tongue.</p>

			<h4>Holy County of Millis</h4><br>

			<p>This is the second oldest and most powerful kingdom after the Asura kingdom. It is also the homeland of the world’s largest faith, the Millis Religion. Millishion is the capital of the country and is considered the most beautiful place in the world (probably self-proclaimed).</p>

			<center><img src="/assets/releases/2024-01-1/6-14.webp" alt="Millis" style="width: calc(min(700px, 60vw));"></center><br>

			<h4>The Great Forest</h4><br>

			<p>A woodland region that covers the northeastern half of the continent. This forest is extremely dense in trees and wildlife and receives three months of torrential rains every year. This forest is home to various races: the beast race, hobbits, elves, and dwarves. The beast races are mainly divided between two major clans, the dog-like Adorudia and the cat-like Dedorudia, who live in a village deep in the Great Forest. The beast people treat most humans with hostility, as humans kidnap and traffic beast people on a regular basis. They are then trafficked to Asura nobility, who buy them for huge sums of money.</p>

			<center><img src="/assets/releases/2024-01-1/6-15.webp" alt="Great Forest" style="width: calc(min(700px, 60vw));"></center><br>

			<h4>Holy Sword Highway</h4><br>

			<p>The Blue Dragon Mountain range is the border that separates the Holy Country of Millis and the Great Forest, thereby separating the two human and the beast races. The Holy Sword Highway passes through the mountain by a very narrow path wide enough for only two carriages. This highway connects all major regions of the Millis Continent, including the two ports, the Great Forest, and the country of Millis. The highway got its name from the famous story that Saint Millis created this highway with a single swing of his sword (despite the fantasy setting, I find this story unrealistic). </p>

			<center><img src="/assets/releases/2024-01-1/6-16.webp" alt="Highway" style="width: calc(min(700px, 60vw));"></center><br>

			<h3>The Begaritt Continent</h3><br>

			<p>Begaritt is a continent in the southwest, which has a large number of dungeons. Due to high mana density, the monsters of this land are as tough as those of the Demon Continent. The region seems reminiscent of the Sahara desert due to large expanses of sand and harsh climate conditions. The majority of the people who live here are adventurers/ex-adventurers, and the major language spoken is Fighting God Tongue.</p>

			<p>The Maze City of Rapan is the most prominent city on the continent, which was built inside the rib cage of a behemoth monster. This city consists of two ports, one connecting to the western side of the Central Continent, near the Asura kingdom, and the other to the southern side of the Central Continent. A rather barren land that people rarely visit, and where even fewer live.</p>

			<center><img src="/assets/releases/2024-01-1/6-17.webp" alt="Some Weird Desert" style="width: calc(min(700px, 60vw));"></center><br>


			<h3>Heaven Continent</h3><br>

			<p>The Heaven Continent is 3000 meters above sea level and is connected to the Central and Demon Continent by an extremely steep cliff. Very little is known about this continent due to its unnatural location (climbing thousands of meters into the sky is no joke), and people rarely ever visit this continent. It is known to be inhabited by the Heaven race, and the language spoken is the Sky God tongue. Images are unavailable due to obvious reasons.</p>

			<h3>Conclusion</h3><br>

			<p>Despite all my efforts, this did end up becoming a sort of thesis, and I could probably write even more, but that would just bore you out (if it hasn’t already), and I am already tired as is. I hope this article, or maybe a guide, was able to evoke some appreciation for the world-building that this series has to offer and would make you want to get into the series.</p><br>
	
			<center><img src="/assets/releases/2024-01-1/6-treat.webp" alt="Treat" style="width: calc(min(700px, 60vw));"></center><br>

			<p>A little treat for those who stuck around till the end.</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
