<div class="page">
	<div class="article-full">
		<h2>Horror/Thriller Anime Reviews</h2>
		<br/>
		<div class="article-author">By: Abhibhu Prakash</div>
		<div class="article-content">
			{# <div class="article-end"></div> #}
			<h3 style="text-align:center">Seraph of the End</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Action, Thriller, Vampire, Military</td></tr>
			</table>
			<p>This anime offers one of the best amalgamations of thrill, action and mystery. In a post-apocalyptic world taken over by vampires, the few humans who escaped colonization desperately fight the vampires with the help of demons to revive human civilization. This anime shows us how a boy battles the vampires on the front lines with his friends with a near impossible goal to find his friend who he separated from while escaping the vampires. The dark and dull artwork with an exceptional animation greatly enhances the appeal of this show. The story is well paced, dedicating adequate time for character development and plot buildup. If you like a military theme with thrill, this show is meant for you.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>9</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">HighSchool of the Dead</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Action, Thriller, Horror, Ecchi</td></tr>
			</table>
			<p>A virus outbreak caused the downfall of humanity, zombifying the majority and leaving the survivors in a world filled with chaos and the horror of the undead. With nowhere to go and nothing to rely on, a group of highschoolers kills their way through a world devoid of hope in search for a safe haven, where the undead aren’t their only enemy along the road. This anime offers a fair deal of fanservice, being labeled as an ecchi, so I’d warn you beforehand to avoid this show if you aren’t a man of culture. The animation and artwork is great, which becomes even better at the most senseless of moments. If you like action, gore and dark themes, this anime will keep you gripped to your seats until the very end.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>8.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Code Geass</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Action, Thriller, Psychological, Mecha</td></tr>
			</table>
			<p>A genius of strategy embarks on a path of revenge after chancing upon the power of kings, called geass. Becoming a significant leader as the masked Zero in the Japanese revolt against their oppressor, the Empire of Britannia, Lelouch employs his genius battle tactics to force his enemies to suffer one loss after another, all the while fighting with his own inner demons. The artstyle is not the best but the anime more than makes up for it with its animation quality. The storyline is very interesting with a lot of military action and thrill to offer. Even if you are not good with mecha anime, this anime is still worth giving a try. To those who enjoy strategy and mind games, this is a must watch.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>8.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Gleipnir</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Action, Thriller, Mystery, Supernatural</td></tr>
			</table>
			<p>Finding himself with the ability to transform into a monster, Shuuichi is terrified of his own existence, confused how he came to wield such abilities. His chance encounter with a girl pushes his life into a death game against other people wielding strange supernatural abilities, all the while trying to find the answer to his condition. The truth being more complicated and severe, an adventure beyond anything he could’ve imagined beings where his only options are to accomplish the reason why he came to wield such powers, or die struggling. Good animation with equally good artwork; the story being as gripping as the strangeness of its name, this anime is good for those seeking something thrilling to watch.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>7</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Girlfriend, Girlfriend</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>School, Romance, Comedy, Harem</td></tr>
			</table>
			<p>Two words are enough to describe this anime: absolute cringe. With a stupid, dense yet dedicated protagonist, we get to see his ventures as he openly two-times with his girlfriend while the three hides their peculiar relationship from their peers and try their hardest to progress in their romactic endeavours. The protagonist is so gallantly stupid that you'll feel like digging a hole to hide yourself in it on watching this anime even if you are alone. It's so purely cringy that it's hilarious.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>5.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Death Note</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Mystery, Psychological, Thriller, Suspense</td></tr>
			</table>
			<p>Stumbling upon the death note, for a means of time pass of a death god, Light embarks on a mission to cleanse the world of all the criminals by directly sentencing them to death, taking the laws in his hand. We follow this anti-hero through his quest to make the world a better place, where he uses the death note without restraint all the while trying his best to avoid being caught as the mastermind behind all the mysterious deaths caused by the death note. With dark artwork and music that splendidly compliment the theme of this anime, adding to its thrill and mystery, this anime delivers to you one of the best battles of wits as well as unending suspense until the very last minute of this anime.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>8</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">One Outs</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Psychological, Sports, Gambling, Thriller</td></tr>
			</table>
			<p>Toua Tokuichi, a  pitcher, accepts to join a national team upon losing a bet of ‘one outs’ to the star slugger of that team with the latter’s hope that Toua could lead them to the championship title. With his actual pitching skills being subpar to the standard of competition, he uses his ruthless genius to thoroughly decimate his opponents. Deeming him to be a threat to his income, the owner of the team decides to drop him, when the latter proposes a bet that for each out, he gets 5 million yen, while for each run he expends, he pays 50 million yen. With such high stakes on the line, will Toua still be able to continue his streak as the ace of his team while everyone around him tries everything to make him lose? Even though the animation and artwork is subpar, this anime is sure to give you a lot of kicks in each episode, keeping you thoroughly entertained.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>8.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Mirai Nikki</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Action, Mystery, Psychological, Suspense</td></tr>
			</table>
			<p>Forced into a battle royale with 11 other people, with a future diary being the only thing to rely on, Yukiteru Amano must find and kill the other 11 participants to survive, with the reward being the designation of the new god of time and space. With unexpected twists and turns, where the knowledge of the future is everyone’s greatest weapon as well as their greatest weakness, this anime delivers you a blend of suspense, thrill and action. The characters, their methods and actions and the circumstances will send chills crawling up your spine. It’s kill or be killed. With dark themed artwork and music, this show offers some great suspense and thrill, keeping you engrossed throughout the show.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>7</td></tr>
			</table>
			<div class="article-end"></div>
		</div>
	</div>
</div>
