
<div class="page">
	<div class="article-full">
		<h2>Review: Boku Dake ga Inai Machi/Erased (Review)</h2>
		<br/>
		<div class="article-author">By: Vidhu Vikas Singh</div>
		<table class="anime-info">
			<tr><td>Episodes</td><td>12</td></tr>
			<tr><td>Genres</td><td>Mystery, Supernatural, Thriller</td></tr>
		</table>
		<div class="article-content">
			<p>Erased is a 12-episode anime which features 29-year old manga artist Satoru Fujinuma as the protagonist with a mysterious time travel power. This power/phenomenon is invoked whenever there is some sort of death that he can prevent. To do so, Satoru is sent a few minutes back where he figures out what he needs to do and prevents the unfortunate incident. However, when someone close to him gets murdered and he is falsely accused to be the murderer, the phenomenon is invoked and he is sent back 18 years in time. He figures that the murder must be related to the abduction and murder of one of his classmates during that time. Watch as he tries to uncover the truth behind these heinous crimes.</p>
			<p>Erased is a suspense-thriller whose plot is intriguing and which will keep you at the edge of your seat at all times. This anime was released in 2016 and quickly rose up in popularity and is even called one of the best anime of the decade. There is not much character development as much as there is character building, since the main characters are elementary schoolers. While the anime focuses on mainly the thriller part, a lot of warm and heart touching moments also show up. There are people who have heavily criticized it for a certain part(which I won't be telling here), but this anime is definitely worth a try. Since, the entire story completes in 12 episodes, saying anything more just might spoil the enjoyment, so I recommend you watch it yourself.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>