{# Top 10 Popular Manhwa List: done #}
<div class="page">
	<div class="article-full">
		<h2>Isekai Recommendations</h2>
		<br/>
		<div class="article-author">By: Divyansh Tripathi</div>
		{# <div class="article-end"></div> #}
		<div class="article-content">
			{# <div class="article-end"></div> #}
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4.5/5</td></tr>
			</table>
			<h3 style="text-align:left">Re:Zero - Beginning Life in Another World</h3>
			<p>Subaru is taken to a fantastical realm where he learns that he has the power to go back in time after passing away.</p>
			
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4.5/5</td></tr>
			</table>
            <h3 style="text-align:left">Sword Art Online</h3>
			<p>To escape a virtual reality game where they have been imprisoned, players must conquer all 100 floors.</p>
			
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4.5/5</td></tr>
			</table>
			<h3 style="text-align:left">That Time I Got Reincarnated as a Slime</h3>
			<p>Upon his death, a guy gets reincarnated as a slime in a fantastical realm and acquires a special set of skills.</p>
			
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
			<h3 style="text-align:left">Overlord</h3>
			<p>A man is transported to a virtual reality game where he becomes a powerful undead ruler of a kingdom.</p>
			
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
			<h3 style="text-align:left">The Rising of the Shield Hero</h3>
			<p>Four heroes are summoned to save a fantasy world, but the shield hero is betrayed and must fight alone.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Log Horizon</h3>
			<p>Players of a popular MMORPG are transported to the game's world and must find a way to survive.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Konosuba</h3>
			<p>"Subaru is taken to a fantastical realm where he learns that he has the power to go back in time after passing away.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
            
			<h3 style="text-align:left">No Game No Life</h3>
			<p>Siblings are transported to a world where everything is decided by games, and they must become the ultimate gamers.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
            
			<h3 style="text-align:left">The Saga of Tanya the Evil</h3>
			<p>A ruthless salaryman is reborn as a young girl in a world at war, and becomes a powerful soldier.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>4/5</td></tr>
			</table>
            
			<h3 style="text-align:left">That Time I Got Reincarnated as a Slime Season 2</h3>
			<p>The continuation of the first season, with Rimuru continuing to build his nation of monsters.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3.5/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Drifters</h3>
			<p>Historical figures are transported to a fantasy world to fight in a war between humans and other races.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3.5/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Grimgar of Fantasy and Ash</h3>
			<p>A group of strangers are transported to a fantasy world and must learn to survive and fight together.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3.5/5</td></tr>
			</table>
            
			<h3 style="text-align:left">In Another World with My Smartphone</h3>
			<p>A man is transported to a fantasy world with his smartphone, and gains a variety of unique powers.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3.5/5</td></tr>
			</table>
            
			<h3 style="text-align:left">The 8th Son? Are You Kidding Me?</h3>
			<p>A 25-year-old office worker is reincarnated as the eighth son of a noble family, and must navigate politics and magic.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3.5/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Knights & Magic</h3>
			<p>A mecha otaku is reincarnated in a fantasy world and uses his knowledge to build giant robots.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Death March to the Parallel World Rhapsody</h3>
			<p>A programmer is transported to a fantasy world and gains the ability to level up quickly.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Isekai Cheat Magician</h3>
			<p>Two high school students are transported to a fantasy world and discover they have powerful magic abilities.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Arifureta</h3>
			<p>From Commonplace to World's Strongest: A high school student is transported to a fantasy world and must fight to survive and become stronger.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3/5</td></tr>
			</table>
            
			<h3 style="text-align:left">How Not to Summon a Demon Lord</h3>
			<p>A gamer is summoned to a fantasy world and becomes the demon lord he played as in his favourite game.</p>
			<table class="anime-info" style = "float:right;">
				<tr><th>Score</th><td>3/5</td></tr>
			</table>
            
			<h3 style="text-align:left">Wise Man's Grandchild</h3>
			<p>A salaryman is Reincarnated as a child, Shin Walford trains under Merlin and becomes a powerful wizard, using his knowledge to protect his world.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>

{% block customcss %}
	<style>
		.article-author{
			padding: 0px 0px 15px 0px;
		}
	</style>
{% endblock %}