<div class="page">
	<div class="article-full">
		<h2>Review / Recommendation: Berserk (1997)</h2>
		<br/>
		<div class="article-author">By: Ankit Chowdhury</div>
		<table class="anime-info">
			<tr><td>Anime</td><td>Berserk</td></tr>
			<tr><td>Episodes</td><td>25</td></tr>
			<tr><td>Genres</td><td>Action, Adventure, Horror, Supernatural, Fantasy</td></tr>
		</table>
		<div class="article-content">
			<p>The 1997 Berserk anime series is based on the manga series of the same name by Kentaro Miura. The episodes are directed by Naohito Takahashi and animated by Oriental Light and Magic. The first thirteen volumes of the manga are covered. The series' twenty-five episodes aired between October 8, 1997 and April 1, 1998.</p>
			<p>The series focuses on the life of Guts, an orphaned mercenary warrior who calls himself "The Black Swordsman", as he looks upon his days serving as a member of a group of mercenaries, the Band of the Hawk. Led by an ambitious, ruthless, yet intelligent and graceful man named Griffith, together they battle their way into the royal court, and are forced into a fate that may change their entire lives.</p>
			<h3>Story</h3>
			<p>Berserk is an amazing anime. This anime depicts the battle of human suffering in the wake of divine fate and the ambition of one's fellow man. Set in a medieval world of strife, vast green lands and blue skies obscure the supernatural demonic powers lurking in unseen shadows. It is a story about a world full of evil and brutality, of dreams and despair, where people struggle to find themselves in the midst of it all and define the meaning of their existence. Friendship and love are slow to come, but when it's there it'll bring tears to your eyes, for the relationships forged in Berserk are more meaningful than almost any you'll find in anime. All in all, this anime has everything I wanted. Friendship, love, betrayal, and a lot of blood and gore to set the pace. All set in a very adult, and mature tone. The best part is it's all done correctly.</p>
			<h3>Characters</h3>
			<p>The characters in Berserk are quite memorable. Most of the characters' past development is heavily focused on Guts, while the other main characters get only a few spotlights on their history. However, the feel that Berserk provides with all of the characters during their present life as mercenaries is very amazing. Facial expressions, past experiences you see from watching it, and monologues mix well together to give you a true insight into everyone's mind, and current thoughts.</p>
			<h3>Animation</h3>
			<p>Animation is not the highest-selling point here (and not because it is over a decade and some years old, since sometimes vintage anime can be pleasurable to view) but most of the scenes just feel like manga art but coloured and more detailed. It does have the speed lines whenever action is happening instead of actually animating it, but then again, this is the work of Oriental Light & Magic (the same production company that made the Pokémon anime series, so I can see why they might have to cut corners).</p>
			<h3>Music</h3>
			<p>The music is an odd blend of pounding medieval instruments and passionate folk singing that really serves the series well and sounds downright amazing. The music is downright beautiful, while the opening and ending themes are fairly good songs but the pieces that truly stand out are the background music like, “Forces”, and “GUTS’ theme” both done by Susumu Hirasawa, famously known for doing the haunting theme for Paranoia Agent. The score does have a slew of instruments (such as piano, bagpipes, violin, harp, flute, classic guitar, electric guitar, drums, harpsichord, synthesizer, and Amiga as well as voices) for its diverse range and its fluent state.</p>
			<h3>Enjoyment</h3>
			<p>This is definitely not a light-hearted anime. It can be embraced to the extreme of obsession because of the interesting, deep perspectives that operate in the story. The good development quality only makes it further enjoyable. But this anime is truly for a certain crowd because of its extremely deep nature and depictions of extreme brutality. This is going to be a 'hate it or love it' sort of anime.</p>
			<table class="anime-ratings">
				<tr><td>Story: </td><td>10/10</td></tr>
				<tr><td>Character: </td><td>9/10</td></tr>
				<tr><td>Animation: </td><td>6/10</td></tr>
				<tr><td>Music: </td><td>8/10</td></tr>
				<tr><td>Enjoyment: </td><td>9/10</td></tr>
				<tr><td>Overall: </td><td>8/10</td></tr>
			</table>
			<div class="article-end"></div>
		</div>
	</div>
</div>