<div class="page">
    <div class="article-full">
        <h2>Recommendation: Tower of God</h2>
        <br/>
        <div class="article-author">By: Sarthak Vijaywat</div>
        <table class="anime-info">
            <tr><td>Anime</td><td>Tower of God (Kami no Tou)</td></tr>
            <tr><td>Episodes</td><td>13</td></tr>
            <tr><td>Genres</td><td>Action, Dark Fantasy</td></tr>
        </table>
        <div class="article-content">
            <p>Tower of God is a Korean anime which is the adaptation of a very popular webtoon/manhwa by the same name. It follows the story of a kid named “Twenty-Fifth Bam”, who follows a girl named Rachel, even after she abandons him to enter the Tower of God.</p>
            <p>Surprisingly enough, that single line explains the story quite efficiently! ;) The backstory of the protagonist (whose name is shortened to ‘Bam’) is not very clear, but he is alone in a dark place for a long time before a girl named Rachel frees him. She teaches him a lot about the outside world and slowly becomes the world to him. But one day she abandons him to enter the “Tower of God” - a place where any wishes you have are fulfilled if you reach the top . The devastated Bam decides to follow her and begins his own journey through the Tower, starting an adventure full of determination, betrayal, and treachery.</p>
            <img src="/assets/releases/2021-08-1/1.webp" alt="Tower of God" style="width: 60%;margin:10px auto;display:block"/>
            <p>The animation isn’t mind-blowing since they tried to depict the characters the way they’re shown in the initial chapters of the manhwa, but if they announce the season 2 of this anime then the audience is in for a pleasant surprise as the artwork improves a lot after this story arc. Apart from animation, its music stands out and is appreciated around the world. The pacing of the story, on the other hand, is rather fast, and sometimes fast enough to make it hard to follow the story.</p>
            <p>If you’re looking for a one-season action flick then I’d definitely recommend Tower of God. It is dubbed in English and Japanese in addition to its original Korean language, and is available on Crunchyroll and Netflix in a couple countries.</p>
            <div class="article-end"></div>
        </div>
    </div>
</div>