<div class="page">
	<div class="article-full">
		<h2>Review / Recommendation: Chivalry of a Failed Knight</h2>
		<br/>
		<div class="article-author">By: Abhibhu Prakash</div>
		<table class="anime-info">
			<tr><td>Anime</td><td>Chivalry of a Failed Knight (Rakudai Kishi no Cavalry)</td></tr>
			<tr><td>Episodes</td><td>12</td></tr>
			<tr><td>Genres</td><td>Action, Romance, Fantasy</td></tr>
		</table>
		<div class="article-content">
			<img src="/assets/releases/2021-08-1/2.webp" alt="Chivalry of a Failed Knight" style="float:right;margin:10px 0 5px 20px;width:42%;min-width:100px;max-width:300px"/>
			<p>Most of you probably haven’t heard of this anime. It suffered a major setback due to lack of proper marketing and has remained a rather unknown masterpiece. Unlike many other action anime, it is rather well-rounded, with its fair share of comedy, romance, and thrill - which perfectly complement, which is honestly somewhat rare.</p>
			<p>Released in 2015, Chivalry of a Failed Knight shows an uncanny resemblance to "The Asterisk War", another anime released in the same season and on the same date.</p>
			<p>It is set in a world where certain humans exist who wield the ability to materialize their soul into devices that greatly enhance their combat abilities, by allowing them to use magic. These humans are called blazers.</p>
			<p>This anime follows the story of a high school blazer, Ikki Kurogane, an outcast of the most prestigious and noble blazer clan of Japan, who always suffered mistreatment from his own clan due to his astonishingly low magic potential as a blazer. Considered to be the weakest student in his grade based on the gauged physical and magical abilities, he is further bullied and looked down in his school by his peers and is given the nickname 'The Worst One'.</p>
			<p>This is the story of how a guy as weak as him fights to become the champion of the upcoming national high school blazers tournament and redeem himself in the eyes of his peers and family.</p>
			<p>This anime has exceptional character development, portraying the ups and downs, sorrow and joy, and hopes and despair of the characters to its best - though at instances when some of the character development seems rather rushed and confusing. The protagonist isn’t the stupid and dense type (as seen in most shonen) and does not overcome impossible situations with mere determination (again, as seen in most shonen), which earned this anime some brownie points. It has emotional moments, too, that canmake your heart throb in pain or flutter in joy. If you like high school romance, I’d definitely recommend this.</p>
			<p>Plot aside, this anime offers one of the best animations that you can find in 2015 with fabulous artwork and satisfying fights. A well matched OST hypes the fights very well, and the opening theme is also great. Even if you usually skip the opening theme, I’d still recommend giving this one a listen.</p>
			<p>As good as it is, considering it is one of my top 20 picks in my completed list of over 240 series, this anime legitimately failed to become one of the most popular shows of the season as it suffered more than its share of setbacks. Horrendously poor merchandise marketing and an equally bad promotion and advertisement of the show kept it from receiving the light and popularity that it deserved. If you feel like reading the manga, you won't have much luck there either because the manga was discontinued after the unfortunate death of the artist. The only option left for fans is the light novel. Such unfavorable factors made this a rather underrated and unknown anime.</p>
			<span style="display:inline-block;min-width:40%"></span>Ratings:<br/><br/>
			<table class="anime-ratings">
				<tr><td>Plot:</td><td>10</td></tr>
				<tr><td>Character development:</td><td>8</td></tr>
				<tr><td>animation and art:</td><td>9</td></tr>
				<tr><td>Music/OST:</td><td>9</td></tr>
				<tr><td>Overall:</td><td>9</td></tr>
			</table>
			<p>Thanks for reading my recommendation; I hope you find it interesting and give it a watch!</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
