<div class="page">
	<div class="article-full">
		<h2>Review: Dororo</h2>
		<br/>
		<div class="article-author">By: Vidhu Vikas Singh</div>
		<table class="anime-info">
			<tr><td>Anime</td><td>Dororo</td></tr>
			<tr><td>Episodes</td><td>24</td></tr>
			<tr><td>Genres</td><td>Action, Adventure, Historical, Shounen, Supernatural</td></tr>
		</table>
		<div class="article-content">
			<p>Dororo is a remastered version of the anime “Dororo To Hyakkimaru”(1969).</p>
			<p>Summary of Dororo from Anilist:</p>
			<p><i>“Dororo, a young orphan thief, meets Hyakkimaru, a powerful ronin. Hyakkimaru's father, a greedy feudal lord, had made a pact with 12 demons, offering his yet-unborn son's body parts in exchange for great power. Thus, Hyakkimaru - who was born without arms, legs, eyes, ears, a nose or a mouth - was abandoned in a river as a baby. Rescued and raised by Dr. Honma, who equips him with artificial limbs and teaches him sword-fighting techniques, Hyakkimaru discovers that each time he slays a demon, a piece of his body is restored. Now, he roams the war-torn countryside in search of demons.”</i></p>
			<p>MAPPA studios show off their art and animation skills with amazing action scenes and beautiful scenery. Dororo presents and deals with various emotions from hardship, sadness, despair, and helplessness to accomplishments and happiness in those small moments.</p>
			<p> It is the story of how a boy who was stripped of everything right at birth does not give up at any point and keeps going through harsh paths to rightfully take back what was his, and an orphan who accompanies him and gets a journey of his own. Dororo and especially Hyakkimaru undergo huge character development in these 24 episodes, and we watch how Hyakkimaru, who had basically no emotions, learns of grief and joy. </p>
			<p>The action scenes are smooth and fantastic while emotional scenes are moving/heartbreaking. Various other characters like Hyakkimaru’s actual family, the doctor who took in and raised Hyakkimaru and the people our duo met on their journey have their own depth and tales. </p>
			<p>Set in the Sengoku period, when war and religiosity ran rampant in Japan, the first OP gives the chills and sets up the atmosphere, while the second OP is calmer yet amazing in its own right; both the EDs work similar to the OPs. In my opinion, this anime is an underrated masterpiece.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
