<div class="page">
	<div class="article-full spoiler">
		<h2>The Philosophy of Attack on Titan</h2>
		<br/>
		<div class="article-author">By: Anmol Kumar</div>
		<div class="article-content">
			<p>Created by Hajime Isayama, the story of Shingeki no Kyojin ( Japanese: <span style="font-size:0.8em">進撃の巨人</span>) is well beyond the plot that gets played out throughout the timeline. The series revolves around a world which is surrounded by massive walls with the entirety of humanity inside it, as outside the walls there roam giant human-devouring titans which nearly wiped out the human population a hundred years ago.</p>
			<p>From just the beginning of the story, we sense a feeling of wanting to have freedom - freedom from those titans and wanting to live a life outside the confining walls. Another theme which is instilled into the minds of the readers is fear. Fear plays a vital role throughout the convoluting plot as the titan fighting soldiers and even the civilians have a constant feeling of fear, that they don’t end up getting eaten by those titans. Several important characters like Eren, Reiner and Zeke come into the picture gradually and their character development is also beautifully portrayed. As the story continues and we get to know about the Marleyans and Eldians and the strife between the two races and the long gruesome history behind it, the actual theme of AoT shines out.</p>
			<p>We come to know about how Reiner and his comrades, along with the entire Eldian population living in Marley, were indoctrinated against their own race. They were made to think of their whole existence as pathetic and spiteful, and that the only way to repent for their sin of being born was to kill their own kind, who lived on an island. The hatred towards the Eldians was so appalling that they called the island the Demon Island. The concept of indoctrination of children to raise them as potential war weapons isn’t new, but the characters of Reiner, Bertholdt and Annie are what makes the cruel ploy even more depressing. They manage to befriend their main target, Eren, but get carried away faking their friendliness.</p>
			<p>Four years later when Eren pays Reiner a visit in Marley, the shocked Reiner immediately realizes that Eren must’ve been there to take revenge for his mother. Eren tells him that he is just like Reiner but every word said by Eren comes as a bullet for Reiner. He now completely sees himself in the position Eren was nine years ago. But Eren didn’t have answers for what had happened back then, nor did he see it coming. Unfortunately enough, this made the situation even more miserable for Reiner and he breaks down into tears. Eren however has witnessed suffering in his own path and isn’t deterred from his goal.</p>
			<p>One of the other main elements in the later half of the story is about defining correctness in one’s actions and behavior. The infamous scene where Eren obliterated Armin, his own childhood friend, and drove Mikasa to the point of crying in despair, defined his whole new character. Eren now believed in his own definition of freedom, which according to him, Mikasa and Armin never possessed. While people began to doubt Eren’s intentions when he killed thousands of unarmed men during the eve of the Declaration of War, this scene had particularly made it clear that Eren had his own plans. The ending arcs had made it clear that Eren had developed into a completely different man, with his own philosophy and outlook towards people and his friends, as compared to what he was in his childhood.</p>
			<p>The beauty of AoT lies in the fact that the underlying themes keep the plot on the surface carefully tied up and flowing. The philosophical concepts of defining one’s own interpretation of things based on their experience, is very crucial in understanding the true meaning of the story. We can surely say that Isayama successfully manages to blend in together some very realistic themes in this fictional story and it manages to provide for a complete package combined with the gripping plot.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>