{% extends '_newsletter.njk' %}

{% set pagetitle = 'August - Issue 1' %}
{% set pagedesc = 'Get ready for MASK’s action-packed newsletter in the thrilling first August edition, filled with exciting reviews and brain-teasing puzzles to challenge your strategic skills.' %}

{# {% set pages = ['01','02','03','04','05','06','wordsearch','crossword'] %} #}

{% block prescript %}
	<script>
		'use strict';
		const crossMatrix = [['-','-','-',' ','-','-','-',' ','-','-','-','-','-','-','-'],[' ',' ',' ',' ','-','-','-',' ','-',' ',' ',' ',' ',' ',' '],['-','-','-',' ',' ',' ',' ',' ','-','-','-','-',' ','-','-'],['-','-','-',' ','-','-','-',' ','-','-',' ','-',' ','-','-'],['-','-','-',' ','-','-','-',' ',' ',' ',' ',' ',' ','-','-'],['-','-','-','-','-','-','-','-','-','-',' ','-',' ','-','-'],['-','-','-','-','-','-','-','-','-','-',' ','-','-','-','-'],['-','-','-','-','-','-','-',' ','-','-',' ','-','-','-','-'],['-','-','-','-',' ',' ',' ',' ',' ',' ',' ','-','-','-','-'],['-','-','-','-',' ','-','-',' ','-','-','-','-','-','-','-'],['-','-','-','-',' ','-','-',' ','-','-','-','-','-','-','-'],['-','-','-','-',' ','-','-',' ','-','-','-','-','-','-','-'],['-','-','-','-',' ','-','-','-','-','-','-','-','-','-','-'],['-','-','-','-',' ','-','-','-','-','-','-','-','-','-','-'],['-','-','-','-',' ','-','-','-','-','-','-','-','-','-','-']];

		const wordMatrix = `M X A R O K R I M T X O K N K G S Q R Y Y N T
		H W K D Q M L Y P W C O A S U R B F J L R H M
		T I U A Z D I D F E S Q L S R P B R R P G F T
		L V M I D N I G H T N Y L O O X P E S R M S H
		J T A H Y R D F Q V B Y F T G Q B M E E H K G
		X R M J H A L Y H H J L O N I G C H G S F W I
		I Z V L F O C M O Z Q R R E R U P D I E U A M
		B E S T J E A N I S T N O M I P B S D N R H L
		B F R O R O G E K B N H N E U C F Y V T C N L
		N O I T T M E R I B N Z E C W G E W H M O N A
		V Z K A Z Q B I M R C O M P R E S S U I N K O
		B G N I K A R A G I H S A R U M O T Q C D F G
		D A B I V C Q S W A W U V F Y I H H I T U H F
		I B N M W R W K E S D S M R O V A E D N E B R
		I W D A E H R E S A R E Q N U O H U D A Z M S
		L I R Y U K Y U P Z D K Q L U X R J U X A B U`.replace(/\t/g, '').split("\n").map(line => line.split(" "));

		const letterSpaces = [];
		const tempWords = `ALL FOR ONE\nALL MIGHT\nBEST JEANIST\nCEMENTOSS\nDABI\nENDEAVOR\nERASER HEAD\nHAWKS\nKUROGIRI\nMIDNIGHT\nMIRKO\nMR COMPRESS\nPRESENT MIC\nRYUKYU\nTOMURA SHIGARAKI`.split("\n").map(word => word.replace(/\t/g, '')), words = tempWords.map(word => word.replace(/[ ]/g, '').toUpperCase());
		(() => {
			const maxDimension = Math.max(crossMatrix.length, crossMatrix[0].length);
			const root = document.querySelector(':root');
			root.style.setProperty('--crossword-cell-size', (40 * 10 / maxDimension - 4) + 'px');
			root.style.setProperty('--crossword-font-size', (10 / maxDimension) ** (1 / 2) + 'em');
			crossMatrix.forEach((row, i) => {
				row.forEach((char, j) => {
					if (char === ' ') letterSpaces.push([i, j]);
				});
			});
			root.style.setProperty('--wordsearch-padding', (100 * wordMatrix.length / wordMatrix[0].length) + '%');
			root.style.setProperty('--wordsearch-cell-height', (100 / wordMatrix.length) + '%');
			root.style.setProperty('--wordsearch-cell-width', (100 / wordMatrix[0].length) + '%');
		})();


	</script>
{% endblock %}

{% block cluejs %}
	<script>
		function startClues() {
			new IntersectionObserver(([crossword]) => {
				if (crossword.isIntersecting && crossword.intersectionRatio > 0.8) {
					crosswordVis = true;
				} else {
					crosswordVis = false;
				}
			}, { threshold: [0.99] }).observe(document.getElementById('crossword-table'));

			const clues = [];
			clues.push(`3. No. of siblings that Tanjiro has
			4. Name of stone Hashira (Pillar)
			6. Name of Upper Moon Three
			8. Current leader of Demon Slayer Corps
			10. Former water Hashira (Pillar)`.replace(/\t/g, '').split('\n').map(line => line.split(/\. (.*)/)));
			clues.push(`1. Breathing style that Inosuke uses
			2. Colour of Tanjiro's nichirin blade
			5. First demon ever
			7. Hashira with green nichirin blade
			9. Last name of Shinobu
			10. Type of bird that Zenitsu has`.replace(/\t/g, '').split('\n').map(line => line.split(/\. (.*)/)));

			document.getElementById('crossword-left').innerHTML = `<h3>Across</h3><br/><table class="cross-words">${clues[0].map(clue => `<tr><td>${clue[0]}</td><td>${clue[1]}</td></tr>`).join('')}</table>`;
			document.getElementById('crossword-right').innerHTML = `<h3>Down</h3><br/><table class="cross-words">${clues[1].map(clue => `<tr><td>${clue[0]}</td><td>${clue[1]}</td></tr>`).join('')}</table>`;
		}
	</script>
	<script>
		window.onload = () => {
			startWord();
			startCross();
			startClues();
		}
	</script>
{% endblock %}

{% block lettercss %}
	<style>
		:root {
			--navy        : #0e1b45;
			--deep-purple : #392352;
			--wine        : #f73f75;
			--violet      : #7c2f64;
			--pink        : #f04dc8;
			--purple      : #c03ebb;
		}
		.page {
			color: var(--deep-purple);
		}
		#cover-page {
			background-image: url(/assets/releases/2021-08-1/cover.webp);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: rgba(0, 0, 0, 0) !important;
		}
		.article-full, .article-half, #crossword-left, #crossword-right {
			scrollbar-color: var(--purple) var(--off-white) !important;
		}
		.article-full > h2, .article-half > h2, .article-header {
			text-shadow: 0 0 2px var(--wine) !important;
		}
		{# .article-end {
			background-color: var(--purple);
		} #}
		.wordsearchCellS {
			background-color: var(--wine) !important;
		}
		.found-word {
			color: var(--wine) !important;
		}
		.wordsearch-complete, .crossword-complete {
			color: var(--wine) !important;
		}
		.spoiler:before {
			color: var(--wine);
			background: var(--light-pink);
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/assets/styles/wordsearch.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/styles/crossword.css"/>
{% endblock %}
