{# Nikith - My Clueless First Friend#}
<div class="page">
	<div class="article-full">
		<h2>Anime Review: My Clueless First Friend</h2>
		<br/>
		<div class="article-author">By: Nikhith Mathai Manoj</div>
		<table class="anime-info">
			<tr><th>Episodes: </th><td>3</td></tr>
			<tr><th>status: </th><td>ongoing</td></tr>
			<tr><th>Genres: </th><td>Comedy, Slice of Life</td></tr>
		</table>
		<div class="article-content">

			<br/><center><img src="/assets/releases/2023-04-1/1.webp" style="max-width: 65%; display: block;"></center><br/>

			<h3>Synopsis:</h3><br/>
			<p>My Clueless First Friend (Jijō o Shiranai Tenkōsei ga Guigui Kuru) is a Spring 2023 anime based on a manga series with 140+ chapters. It follows the school life of Akane Nishimura, an elementary school student, who is avoided in class and treated as a &lsquo;Grim Reaper&rsquo; because of her gloomy appearance.</p>
            <p>However, the new transfer student, Taiyo Takada, thinks that Grim Reapers are really cool and befriends her. He wants her to curse him, so that he can be known as the Grim Reaper&rsquo;s aide, again, because it sounds cool (do bear in mind that they&rsquo;re elementary students).  He is also very straightforward, and says what is on his mind, which often gets Nishimura flustered (in a good way, of course).</p>

			<h3>Pacing:</h3><br/>
			<p>The show is pretty decently paced, given that it&rsquo;s a slice-of-life anime. Then again, at the time of writing this review, only 4 episodes have been released, so this could very well change.</p>
            
            <h3>Animation:</h3><br/>
			<p>The animation is quite good, and pretty smooth. Since it is not an action anime, the animation doesn&rsquo;t have to be flashy or extreme, but it does its job well, for a slice of life anime.</p>

            <h3>Artstyle:</h3><br/>
			<p>The character design is very unique, and at first, it took me aback, being very different from the artstyle you&rsquo;d expect in an anime. It does, however, grow on you, and you&rsquo;ll come to appreciate (and maybe even love) the distinct artstyle, as I have. 10/10 artstyle, very nice.</p>

            <h3>Music/Sound Effects:</h3><br/>
			<p>The music is great, it suits the themes of the storyline at different stages perfectly. The same can be said about the sound effects, they are adjusted properly to hear the voices, and don&rsquo;t drown them out. The opening and ending theme songs are great too. While not at the same level as the very best anime openings, it is still worth listening to.</p>

            <h3>Enjoyment:</h3><br/>
			<p>Overall, I&rsquo;d say this is a very wholesome anime to watch, and you should definitely check it out if you&rsquo;re a slice-of-life enthusiast. 10/10 best slice-of-life of all time (totally not biased).</p>
            <p>Seriously, it is amazing, though.</p>

            <h3>Ratings:</h3><br/>
            <table class="ratings">
                <tr><th>Pacing:</th><td> 8</td></tr>
                <tr><th>Animation:</th><td> 8</td></tr>
                <tr><th>Artstyle:</th><td> 10</td></tr>
                <tr><th>Music and SFX:</th><td> 8</td></tr>
                <tr><th>Plot:</th><td> 9</td></tr>
                <tr><th>Enjoyment:</th><td> 10</td></tr>
            </table>

			<div class="article-end"></div>
		</div>
	</div>
</div>
