{# Nishkal - Danshi Koukousei no Nichijou#}
<div class="page">
	<div class="article-full">
		<h2>Anime Review: Daily Lives of High School Boys</h2>
		<br/>
		<div class="article-author">By: Nishkal Prakash</div>
		<table class="anime-info">
			<tr><th>Japanese Name</th><td>Danshi Koukousei no Nichijou</td></tr>
			<tr><th>Seasons:</th><td> 1</td></tr>
			<tr><th>Episodes:</th><td> 12</td></tr>
			<tr><th>Genres</th><td>Comedy, Slice of Life</td></tr>
		</table>
        
        <br/><center><img src="/assets/releases/2023-04-1/2.webp" style="height: 43vh;"><img src="/assets/releases/2023-04-1/3.gif" style="height:43vh"></center><br/>

		<div class="article-content">

			<h3>Summary:</h3><br/>
			<p>"Daily Lives of High School Boys" is an anime series that revolves around the daily lives of three high school boys, Tadakuni, Yoshitake, and Hidenori. This slice-of-life comedy series takes a humorous approach to the everyday experiences of high school boys, from mundane activities like going to class to more adventurous endeavours like going on a school trip.</p>

			<br/><center><img src="/assets/releases/2023-04-1/4.gif" style="max-height: 43vh; max-width: 90%; display: block;"></center><br/>
            {# <p>The anime is pure gold. </p>
			<br/><center><img src="/assets/releases/2023-04-1/5.gif" style="max-height: 35vh; max-width: 70%; display: block;"></center><br/>
			<br/><center><img src="/assets/releases/2023-04-1/6.gif" style="max-height: 35vh; max-width: 70%; display: block;"></center><br/> #}

			<h3>The Main Characters:</h3><br/>
            <ul>
			<p>Each character in "Daily Life of High School Boys" brings something unique to the show, and their different personalities and quirks help to create a well-rounded and entertaining cast of characters.</p>
			<br/><center><img src="/assets/releases/2023-04-1/7.gif" style="max-height: 43vh; max-width: 70%;">
			<img src="/assets/releases/2023-04-1/8.gif" style="max-height: 43vh; max-width: 70%;">
			<img src="/assets/releases/2023-04-1/9.gif" style="max-height: 43vh; max-width: 70%;">

			</center><br/>
			<li><h4>Hidenori Tabata</h4>
            <p>The trio's leader is often the most level-headed and rational of the group. He is also highly imaginative and prone to daydreaming.</p><br/>
			</li>
            <li>
            <h4>Yoshitake Tanaka</h4>
			{# <br/><center></center><br/> #}
            <p>The goofball of the group, and often acts on impulse without thinking things through. He is also highly energetic and has a great sense of humour.</p><br/>
            </li>
            <li>
			<h4>Tadakuni</h4>
			{# <br/><center></center><br/> #}
            <p>The actual main character, but there are a few episodes where Tadakuni isn't even mentioned. The most reserved of the trio, and often serves as the voice of reason. He is also highly introspective and thoughtful.</p><br/>
            </li>
            
            <br/>
            <h3>Why even bother watching this?</h3><br/>
			<p>The humour in the show is top-notch, relying heavily on witty banter, pop culture references, and hilarious visual gags. The writing is clever and keeps the jokes fresh and unpredictable, making it a joy to watch from start to finish.</p>
            <p>What sets this series apart from other high school comedies is its ability to tackle serious topics in a lighthearted way. The show addresses issues such as bullying, peer pressure, and social anxiety, but never loses its comedic edge.</p>
            </br>
            <h3>Animation:</h3><br/>
			<p>The animation style is simple yet effective, with a colorful and vibrant color palette that adds to the overall cheerful tone of the series. The music is also catchy and memorable, perfectly complementing the upbeat and energetic vibe of the show.</p>
			<br/><center><img src="/assets/releases/2023-04-1/10.gif" style="max-height: 43vh; max-width: 90%; display: block;"></center><br/>           
            </br>
            <h3>Conclusion: </h3><br/>
            <p>Overall, "Daily Lives of High School Boys" is a must-watch for fans of slice-of-life comedies. Its witty writing, lovable characters, and clever humour make it a standout in the genre and a truly enjoyable viewing experience. It will remind you of friends from your high school days, and make you reminisce of the times you spent with them.</p>
			<p>
				It made me realize how much I miss my friends from high school and how precious those memories are. 
				All aboard the feels train. 
				(┬┬﹏┬┬)  
			</p>
			<p>
				Honestly the greatest comedy I've ever watched, I always find myself coming back to this anime whenever I'm feeling down, and it never fails to cheer me up.
			</p>
			<p>10/10 in all aspects from me.</p>
			<br/><center><img src="/assets/releases/2023-04-1/11.webp" style="max-height: 43vh; max-width: 90%; display: block;"></center><br/>           
			<div class="article-end"></div>
		</div>
	</div>
</div>
