{# Nishkal - Danshi Koukousei no Nichijou#}
<div class="page">
	<div class="article-full">
		<h2>Anime Review: School Babysitters</h2>
		<br/>
		<div class="article-author">By: Aman Tater</div>
		<table class="anime-info">
			<tr><th>Genre</th><td>Slice of Life</td></tr>
			<tr><th>Theme</th><td> School</td></tr>
			<tr><th>Episodes</th><td>12 + 1 (Special)</td></tr>
            <tr><th>Overall Rating</th><td>8/10</td></tr>
		</table>

		<div class="article-content">

			<p>To all my seniors, let me recommend an anime filled with cuteness to watch after your exams. Since it&rsquo;s just 13 episodes, you can recover within one night. And to all my peers, let&rsquo;s count this in our regular dose. Anime is about students babysitting while maintaining their personal and school lives.</p>
			<br/><center><img src="/assets/releases/2023-04-1/12.gif" style="height: 43vh;max-height: 35vh; max-width: 70%;"></center><br/>

			<h3>Story (7/10):</h3><br/>
			<p>Even though the storyline isn&rsquo;t magnificent, it&rsquo;s enough to keep you attached. You would find a few cliques, but it has enough humour to cover that up</p>

			<h3>Characters (8/10):</h3><br/>
			<p>You will find a variety of well-written characters here; some are pretty unique and interesting. There is a fair amount of character development throughout the series as well.</p>

			<h3>Cuteness (ITS OVER 9000):</h3><br/>
			<p>The interaction between the kids is lovely and wholesome, and you wouldn&rsquo;t get tired of it.</p>

			<h3>Overview:</h3><br/>
			<p>The story concerns a middle school student Ryuuichi and his baby brother Kotaro who lost their parents in a plane crash. After the incident, an old lady who had lost her son and daughter-in-law in the same plane crash took them in. The old lady owns a school and wants Ryuuichi to take care of the teacher&rsquo;s kids during school hours as repayment. The Anime is about how their life continues and their interaction with others. </p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
