:root {
	--abyss       : #060606;
	--shadow-gray : #1f1f1f;
	--darker-gray : #252525;
	--dark-gray   : #373737;
	--medium-gray : #555555;
	--middle-gray : #606060;
	--gray        : #6d6d6d;
	--ghost-gray  : #777777;
	--light-gray  : #a9a9a9;
	--off-white   : #c0c0c0;
	--white       : #ffffff;

	--dark-red    : #8b0000;
	--red         : #bd0a0a;
	--light-pink  : #f1adad;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--dark-gray);
	text-align: center;
	color: var(--light-gray);
	font-family: ubuntu;
}

div#page-container {
	position: relative;
	top: 0px;
	min-height: 100vh;
}

div#content-wrap {
	padding-bottom: 70px;
}

h1 {
	color: var(--white);
	padding: 10px;
	margin: 30px;
}

hr {
	border-top: 1px var(--off-white);
}

footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: var(--shadow-gray);
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

img.social-icon {
	margin: 17px 10px;
	vertical-align: middle;
	border-radius: 10px;
	width: 36px;
	filter: grayscale(40%);
	transition: transform .2s;
	display: inline-flex;
}

img.social-icon:hover {
	transform: scale(1.2);
}

img#gmail {
	margin-top: 22px;
	border-radius: 0px;
	margin-right: 30px;
}

div#contact-us {
	text-align: center;
	color: var(--light-gray);
	height: 70px;
	display: inline-flex;
	align-items: center;
	margin-right: 40px;
}

@media (max-width: 370px) {
	footer {
		justify-content: space-around;
	}
	div#contact-us {
		display: none;
	}
}

span.float-middle {
	vertical-align: middle;
	display: inline-flex;
}

.navbar-full {
	margin-bottom: 30px;
}

.navbar-full ul {
	list-style-type: none;
	background-color: var(--shadow-gray);
	overflow: hidden;
	display: flex;
	width: 100%;
	align-items: center;
}

.navbar-full .navbar-container {
	display: inline-flex;
	flex: 1;
}

.navbar-full li {
	float: left;
}

.navbar-full li a, .dropbtn {
	display: block;
	padding: 14px 16px;
	text-align: center;
	color: var(--off-white);
	text-decoration: none;
	vertical-align: middle;
	font-weight: 500;
}

.navbar-full li a:hover:not(.active-page, .nohover), #dropdown:hover .dropbtn {
	background-color: var(--abyss);
}

.navbar-full li #dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0px;
	background-color: var(--darker-gray);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px var(--abyss);
	z-index: 1;
}

.dropdown-content a {
	color: var(--white);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: 500;
}

.dropdown-content a:hover:not(.active-page) {
	background-color: var(--abyss);
}

#dropdown:hover .dropdown-content {
	display: block;
}

.active-page {
	background-color: var(--dark-red);
}

img#navbar-logo {
	height: 40px;
	width: 40px;
	vertical-align: middle;
	border-radius: 40%;
	transition: all 0.2s linear;
}

img#navbar-logo:hover {
	opacity: 0.7;
}

span.navbar-line {
	height: 40px;
	border-right: 1px solid var(--gray);
	display: block;
	float: left;
	margin: 0px 10px;
}

.navbar-hamburger {
	display: none;
}


@media (max-width: 600px) {
	.navbar-full {
		display: none;
	}
	.navbar-hamburger {
		display: block;
	}
}

.text {
	color: var(--light-gray);
	background-color: rgba(255, 255, 255, 0.07);
	padding: 30px;
	border-radius: 20px;
	margin: 20px 10%;
}

.faded {
	color: var(--gray);
	background-color: rgba(255, 255, 255, 0.07);
	padding: 30px;
	border-radius: 20px;
	margin: 20px 10%;
}