:root {
	--abyss       : #060606;
	--shadow-gray : #1f1f1f;
	--darker-gray : #252525;
	--dark-gray   : #373737;
	--tinted-gray : #444444;
	--medium-gray : #555555;
	--middle-gray : #606060;
	--gray        : #6d6d6d;
	--ghost-gray  : #777777;
	--light-gray  : #a9a9a9;
	--off-white   : #c0c0c0;
	--white       : #ffffff;

	--dark-red    : #8b0000;
	--red         : #d61f35;
	--error-red   : #e84e4f;
	--light-pink  : #f1adad;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: var(--dark-gray);
	text-align: center;
	color: var(--light-gray);
	font-family: ubuntu, roboto, open sans;
}

div#page-container {
	position: relative;
	top: 0px;
	min-height: 100vh;
}

div#content-wrap {
	padding-bottom: 70px;
}

h1 {
	color: var(--white);
	padding: 10px;
	margin: 30px;
}

.text {
	color: var(--light-gray);
	background-color: rgba(255, 255, 255, 0.07);
	padding: 30px 60px;
	border-radius: 20px;
	margin: 20px 10%;
}

.faded {
	color: var(--gray);
	background-color: rgba(255, 255, 255, 0.07);
	padding: 30px;
	border-radius: 20px;
	margin: 20px 10%;
}

/********************************************************/

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--shadow-gray);
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

img.social-icon {
	margin: 17px 10px;
	vertical-align: middle;
	border-radius: 10px;
	width: 36px;
	filter: grayscale(40%);
	transition: transform .2s;
	display: inline-flex;
}

img.social-icon:hover {
	transform: scale(1.2);
}

img#gmail {
	margin-top: 22px;
	border-radius: 0px;
	margin-right: 30px;
}

div#contact-us {
	text-align: center;
	color: var(--light-gray);
	height: 70px;
	display: inline-flex;
	align-items: center;
	margin-right: 40px;
}

@media (max-width: 370px) {
	footer {
		justify-content: space-evenly;
	}
	img#gmail {
		margin-right: 10px;
	}
	div#contact-us {
		display: none;
	}
}

span.float-middle {
	vertical-align: middle;
	display: inline-flex;
}

/********************************************************/

.navbar-full {
	margin-bottom: 30px;
}

.navbar-full ul {
	list-style-type: none;
	background-color: var(--shadow-gray);
	overflow: hidden;
	display: flex;
	width: 100%;
	align-items: center;
}

.navbar-container {
	display: inline-flex;
	flex: 1;
}

.navbar-full li {
	float: left;
}

.navbar-full li a, .dropbtn {
	display: block;
	padding: 14px 16px;
	text-align: center;
	color: var(--off-white);
	text-decoration: none;
	vertical-align: middle;
	font-weight: 500;
	transition: 0.5s;
}

.navbar-full li a:hover:not(.active-page, .nohover), #dropdown:hover .dropbtn {
	background-color: var(--abyss);
}

.navbar-full li #dropdown {
	display: inline-block;
}

hr.in-navbar {
	border-top: 1px var(--off-white);
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0px;
	background-color: var(--darker-gray);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px var(--abyss);
	z-index: 1;
}

.dropdown-content a {
	color: var(--white);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-weight: 500;
	transition: 0.5s;
}

.dropdown-content a:hover:not(.active-page) {
	background-color: var(--abyss);
}

#dropdown:hover .dropdown-content {
	display: block;
}

.active-page {
	background-color: var(--dark-red);
}

img#navbar-logo {
	height: 40px;
	width: 40px;
	vertical-align: middle;
	border-radius: 40%;
	transition: all 0.5s linear;
}

img#navbar-logo:hover {
	opacity: 0.7;
}

span.navbar-line {
	height: 40px;
	border-right: 1px solid var(--gray);
	display: block;
	float: left;
	margin: 0px 10px;
}

/********************************************************/

.hamburger-menu, .plate {
	display: none;
}

.plate {
	position: sticky;
	top: 0;
	z-index: 30;
	height: 80px;
	width: 100%;
	background-color: var(--darker-gray);
	border-bottom: 1px solid var(--light-gray);
	margin-bottom: 40px;
}

.burger-home {
	padding: 10px;
}

#burger-logo {
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin: 10px;
	float: left;
	left: 10px;
	z-index: 32;
	position: absolute;
	transition: all 0.5s linear;;
}

#burger-logo:hover {
	opacity: 0.7;
}

.burger {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 31;
	text-align: left;
	padding: 5px 0 5px 10px;
	border-radius: 5px;
	transition: 0.5s;
}

.burger:hover {
	background-color: var(--tinted-gray);
}

.patty {
	position: relative;
	width: 30px;
	height: 3px;
	background: var(--off-white);
	top: 50%;
	transition: all .2s ease-in-out;
	transform: translateY(-50%);
}

.patty:before,
.patty:after {
	position: absolute;
	content: '';
	width: 30px;
	height: 3px;
	transition: all .3s ease-in-out;
	background: var(--off-white);
}

.patty:before {
	top: -10px;
}

.patty:after {
	top: 10px;
}

.burger.open .patty {
	background: transparent;
}

.burger.open .patty:before {
	transform: rotate(-45deg);
	top: 0;
	width: 30px;
}

.burger.open .patty:after {
	transform: rotate(45deg);
	top: 0;
	width: 30px;
}

.hamburger-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: #222;
	transition: all .3s ease-in-out;
	transform: translateX(100%);
	text-align: left;
}

.slide {
	transform: translateX(0);
}

.hamburger-menu a {
	color: var(--off-white);
	text-decoration: none;
	transition: 0.6s;
}

.hamburger-menu a:hover:not(.active-page) {
	background-color: var(--abyss);
}

.hamburger-menu a div:hover {
	color: var(--white);
}

.hamburger-menu a div {
	padding: 10px;
	padding-left: 25px;
}

.hamburger-menu hr:not(.border-bottom) {
	margin: auto;
}

#top-line {
	width: 90%;
}

.hamburger-menu hr.minor {
	color: var(--tinted-gray);
	margin-left: 7%;
	margin-right: 10%;
}

.hamburger-menu #most-bottom {
	position: absolute;
	bottom: 70px;
}

.hamburger-menu #almost-bottom {
	position: absolute;
	bottom: 110px;
}

.border-bottom {
	position: absolute;
	bottom: 70px;
	margin-left: 5%;
	margin-right: 7%;
	width: 88%;
}

#lower-border {
	position: absolute;
	bottom: 110px;
	margin-left: 7%;
	margin-right: 10%;
	width: 83%;
}

.lettuce {
	width: 100%;
}

/********************************************************/

@media (max-width: 600px) {
	.navbar-full {
		display: none;
	}
	.hamburger-menu, .plate {
		display: block;
	}
	.burger-open>div:not(.plate, .hamburger-menu) {
		display: none;
	}
}