#wordsearch {
	cursor: default;
}
#wordsearch-table {
	margin: 0px auto 20px;
	text-align: center;
	background-color: var(--white);
	border-radius: 5px;
}
.wordsearchCellH {
	background-color: var(--light-gray);
}
.wordsearchCellS {
	background-color: var(--light-pink);
}
.wordsearch-cell {
	min-width: 40px;
	height: 40px;
	border-radius: 2px;
}
#wordsearch-words {
	width: 100%;
	columns: 80px 2;
	margin-bottom: 1.3em;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
.wordsearch-word-col {
	line-height: 90%;
}
.wordsearch-word {
	margin: 10px auto;
}
.found-word{
	color: var(--error-red);
	text-decoration: line-through;
}
.wordsearch-complete {
	animation: fadeIn 3s;
	margin: 30% auto 0;
	font-size: 2.5em;
	font-weight: bold;
	color: var(--dark-red);
	width: 55%;
}
#table-complete{
	margin: 0px auto 20px;
	text-align: center;
	background-color: var(--white);
	border-radius: 5px;
	opacity: 0.1;
	animation: fadeOut 1.5s;
}