{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Why Everyone Should Read Oyasumi Punpun </h2>
		
		<br/>
		<div class="article-author">By: halfrin</div>
		<br>
		<div class="article-content">

			<p>Oyasumi Punpun is a manga everyone has heard of, but not that many people have actually read. It is quite infamous for being very dark and for having extremely heavy subject material. It is a bit controversial. But everyone who has read it, does consider it to be an incredible work of art.</p>

			<p>In this article I want to convince you to give this manga a try.</p>

			<center><img src="/assets/releases/2024-12-1/2-1.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p>Oyasumi Punpun or Good Night Punpun is a slice-of-life manga that follows the life of Punpun Onodera. The story starts off with Punpun as a kid and we follow his life through the years and see him grow up. Over the course of 13 volumes, we follow the ups and downs of his life. It is a deeply personal story that feels very emotionally raw, almost as if all of his bare emotions have been laid in front of the reader. It follows Punpun’s loss of innocence and shows the difficulties of transitioning from a naive boyhood to a convoluted adulthood. As he grows up, he comes face to face with the dark realities of the world, and he sees how messed up society is. He is forced to confront all the ugly and uncomfortable truths about his own self and about the world around him. It’s a story about loss and about grief and about human relationships and how fickle they are and about how people we look upto are not as impressive as we might have thought them to be. </p>

			<p>In telling this story, the author, Inio Asano, uses some techniques that elevate this manga to a different level.</p>

			<center><img src="/assets/releases/2024-12-1/2-2.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p>The artwork in this manga is incredible. Asano utilized photography and computer graphics for the backgrounds of the manga. Most of the characters are drawn in a semi-realistic way, except for Punpun himself. He is drawn in a very cartoonish way, almost like a doodle made by a 5-year-old. This juxtaposition of ultra-realism and a doodle-esque artsytle creates this incredibly surreal effect. The manga is full of absurd, surreal imagery, and it is used very effectively to generate a wide variety of emotional responses from the readers, ranging from confused to straight-up horrified.</p>

			<center><img src="/assets/releases/2024-12-1/2-3.webp" alt="." style="width: calc(min(400px, 40vw))"></center><br/>

			<p>What is also very interesting is that we never get to see Punpun’s face throughout the entire manga. The reason he’s drawn like a bird is so that the readers don’t end up creating any assumptions about his personality on the basis of his appearance. He is like an empty canvas on which the readers can project themselves. It is because of this very reason that the story resonates so deeply with so many people. Because it is as if when Punpun ends up becoming a horrible person, it is the readers themselves who feel their own selves to have been reduced to a hollow shell of a human being </p>

			<p>In all the different forms that Punpun is depicted throughout the manga, we never even get to see him talk in a panel. Nowhere in the manga is Punpun drawn with a traditional text bubble. Every other character’s dialogue appears in text bubbles, but Punpun’s dialogue appears as a separate panel that is entirely black with white text. This also makes the readers feel like they themselves are speaking his words, heightening their emotional engagement.</p>

			<p>On rare occasions, Asano breaks this rule, integrating Punpun’s dialogue directly into the artwork. These moments are visually striking and often deeply unsettling, leaving a lasting impression on the reader(I won’t spoil this for you, but you’ll know exactly what I’m talking about once you get to that part in the manga).</p>

			<center><img src="/assets/releases/2024-12-1/2-4.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p>The supporting characters in Oyasumi Punpun are equally compelling. They are flawed, deeply human, and painfully real. Every interaction feels authentic, capturing the messiness of human relationships. Not every character gets a perfect resolution, and not everyone’s dreams come true—a reflection of life’s harsh realities.</p>

			<center><img src="/assets/releases/2024-12-1/2-5.webp" alt="." style="width: calc(min(400px, 40vw))"></center><br/>

			<p>Moreover, the plot is incredible. Asano is a genius in the way he tells this story. You don’t realise how carefully he has planned everything until the very end. Asano meticulously stacks all the narrative layers on top of each other, and when we finally end up realising it, it’s already too late as he knocks it all down, and they come crashing down in this emotionally powerful and haunting experience that will make you feel sick.<br/> When characters go back and visit places that we have already seen early on in the manga, there’s a sense of deep sadness and pain. You feel hurt for all the dreams that were shattered and all the promises that could not be kept. A place that once gave Punpun and his friends their most magical memory ends up becoming where Punpun experiences the lowest point of his life. The innocence of a promise made in their childhood ends up becoming corrupted and becoming this ugly, toxic thing in their adulthood. </p>

			<p>This story makes you feel hurt, but you cannot stop reading it. </p>

			<center><img src="/assets/releases/2024-12-1/2-6.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p>Another thing I love about this manga is its ending, It could have very easily been considered to be a romantic tragedy, but Asano goes above and beyond to remind us that there was nothing beautiful about it. We often end up romanticizing suffering (especially when it’s in a romantic context), but Asano reminds us of the bitter reality of it all. And we are forced to sit in silence and contemplate all of its ugliness.</p>

			<center><img src="/assets/releases/2024-12-1/2-7.webp" alt="." style="width: calc(min(400px, 40vw))"></center><br/>

			<p>Oyasumi Punpun is like this beautiful Renaissance painting, but it is as if someone has splashed black ink all over it. And because of that, it sticks out and becomes unforgettable because of its imperfections.</p>

			<p>It is a work of art that could only work in the medium of manga. Giving these panels color or giving Punpun a voice would take away a large part of the atmosphere of this story and its personal and intimate nature.<br/> If there's any work that can highlight how special manga is as an art form, then it is Oyasumi Punpun.</p>

			<p>It has a lot of things to say about life, the world, and the human condition and I think it is a story that everyone should experience at least once in their lives. So, with a fair warning about some very heavy and depressing things (self harm, abuse, depression,sexual assault and the like), if you feel that you are in the right headspace for it, I would definitely recommend reading Oyasumi Punpun.</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
