{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Attack on Titan and its shortcomings </h2>
		<br/>
		<div class="article-author">By: Truck-kun</div>
		<br>
		<div class="article-content">

			<h3>The reason AOT is critically acclaimed</h3>

			<p>Many people I know will be shocked to see this title, as they know me as the AOT glazer, and I genuinely am one. Attack on Titan (<i>Shingeki no Kyoujin</i>) is one of the most influential and popular anime of modern times. But I am not one to ignore faults in things I love.</p>

			<p>Let us make a ven diagram to differentiate between popular and good anime. :)</p>

			<center><img src="/assets/releases/2024-12-1/3-1.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p>I will not talk much about why I think Attack on Titan is one of the best anime ever created; this article is about criticizing the show, not praising it.</p>

			<p>Many people don't like the ending of this show, understandably, in my humble but superior opinion as I am one of them. Even though the ending could have been much better, I do not personally discount a masterpiece due to the last 3 or 4 chapters.To the people who have watched the show only once, I encourage you to rewatch it and marvel at the masterpiece created by Hajime Isayama. You will gain much more from rewatching this show than you could imagine.</p>

			<p>From this point forward, I'll dive deep into the details, and major spoilers will be present. Proceed at your own risk.</p>

			<h4>Foreshadowing</h4>

			<p>Fun fact: Do you remember when kid Eren wakes up under a tree at the start of the series?In the manga, the dream he was having and the last moments of his life were the same. (unfortunately, the anime creators decided to change that part)<br/>Attack on Titan excels in its masterful foreshadowing, weaving intricate hints throughout the story that pay off in astonishing and meaningful ways</p>

			<center><img src="/assets/releases/2024-12-1/3-2.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p>This symbolizes a loop, as the first time and the last time we see in the manga are connected by the same panel. Remember this panel because I will refer to it later in this article.The first chapter is named “To You, 2,000 Years from Now,” foreshadowing the two-thousand-year loop of induced suffering in which the world is trapped.Chapter 122 is also named “From You, 2,000 Years Ago,” indicating the start of the latter part of this endless loop of suffering.</p>

			<center><img src="/assets/releases/2024-12-1/3-3.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>
			<center><p>No explanation is needed—just a masterpiece doing what masterpieces do.<br/></p></center>

			<h4>Brief history</h4>

			<p>Let's discuss the different seasons and how the audience received them. Season 1, released in 2014, was received well by the newly created fandom. Most liked it but perceived it as an above-average show with a somewhat unique and creepy concept.Season 2 took another 4 years, and many previous fans started caring less and less about the show. But it was season 2 when the real AOT experience started. The mind-bending plot began to reveal itself little by little, which enthralled the fans and solidified the fandom. By the time season 3 part 2 hit the world, it had already cemented itself as a modern masterpiece.</p>

			<h3>The Downfall</h3><br/>

			<h4>Change of  studio</h4>

			<p>It was season 4 when many problems started to surface. First of all, the beloved Wit Studio, which handled the show until that point, had decided to pass on the baton to MAPPA for the 4th season, which, understandably, led to quite the panic in the fanbase. Many were worried that the continuity and vibe of the show would change, and many feared a downgrade in the quality of the animation.</p>

			<p>By the time the first episode was out, it was clear that some of the fans would not like how MAPPA had handled the show. The show had a different art style, which was expected, but due to the time pressure, the show experienced visible animation inconsistencies.</p>

			<p>MAPPA's use of CGI for the Titans was a cost-saving measure to meet tight schedules and a topic of discussion. The usage of CGI in anime is usually frowned upon as it makes the movement look clunky or janky. At this point, though, in my opinion, CGI has an undeserved bad reputation and can work if done right. Many anime fans hate CGI for the sake of it and are unaware or ignore that CGI can also look good.</p>

			<p>While some people didn't like the CGI Titans, many were impressed by the way CGI was used for the Titans. </p>

			<p>Many were also annoyed by the decision to split the final season into multiple parts. The long breaks between parts created a sense of disconnection, and the pacing of the narrative was affected by the wait. Fans following the series for years were left with a fragmented story, sometimes diminishing key moments' emotional weight. Season 4 was titled the final season, which needed to be more accurate because many expected that the conclusion would be reached in the same year as when season 4 started airing.</p>

			<h4>Controversion plot points</h4>

			<p>Now, let's talk about some plot points that many were iffy about</p>

			<i><u>Historia’s child</u></i>

			<p>Historia’s pregnancy felt abrupt and underexplored. The anime revealed little about her motivations, the identity of the father, or how this tied into the larger narrative.</p>

			<p>Many, including me, believed the child was Eren’s; it seemed the only plausible explanation. Mind you, Historia is a very important character, so her having a child is no small matter. The disappointing reveal of the child’s father was surprising. It was the random farmer who had no objective relation to the zoomed-out plot of the story. What? Why would Isayama do this?</p>

			<p>An interesting theory I found explores the idea of Eren re-activating the Rumbling by touching Historia's newly-born baby, as it will probably inherit the Beast Titan, considering that Zeke died without being eaten. If this turns out to be correct, Isayama had no choice but to conceal the details of Historia’s pregnancy from a narrative standpoint. </p>

			<p>This theory was formulated before the series’ conclusion, rendering this and other theories useless.</p>

			<p>Historia doesn't even marry the farmer, which is inconsistent with her character if we assume he is the real father. After all, she knows very well the hardships an illegitimate child goes through.<br/> To many, this feels like a missed opportunity, a failed attempt at a different ending. It almost feels like Iseyama had no room to use the child in the story's plot, even though he intended to earlier. It's as if…. He was forced.</p>

			<p>Now, let us get to the central part, the show's ending. This is the most controversial ending to an anime that I have witnessed. The ending opened a whole new can of worms, which would be impossible to cover in this article, but I will cover all the main parts.</p>

			<i><u>Character shift</u></i>

			<p>The most surprising for many was the change in Eren’s character. Eren’s shift from seeking freedom to orchestrating his death for his friends felt inconsistent with his character development throughout the series to many. </p>

			<center><img src="/assets/releases/2024-12-1/3-4.webp" alt="." style="width: calc(min(500px, 45vw))"></center><br/>

			<p><i>EREN’S CHARACTER QUICKLY SHIFTED FROM A FREEDOM SEEKER TO A MARTYR.</i></p>

			<p>His infamous line about not wanting Mikasa to move on ("I don’t want her to love another man!") felt immature and out of character for someone who had supposedly matured.</p>

			<p>Many fans even embraced him as an anti-hero when he started the rumbling and were devastated seeing him in such a light. They felt betrayed; somehow, Eren did a 180 turn, and all the character development was moot. However, this is not a clear-cut flaw, as it can be argued that it displays human nature. This portrayal could reflect that even the most determined individuals are flawed and driven by emotions they can’t fully control. I personally don't find such radical change feasible, though I can see the other side. Many people were also simply pissed seeing him turn from a guy who gives no fucks to a “crybaby.” </p>

			<p>People also believe that he underutilized the power he possessed. Fans expected Eren to use the Founding Titan’s full potential to secure Paradis's freedom and that of himself. Instead, his passive acceptance of predetermined events undermines his previously proactive and headstrong nature. However, Eren’s decision to accept the future he saw as predetermined events is one of the many variations of the <a href="https://en.wikipedia.org/wiki/Temporal_paradox">Temporal Paradox</a>.</p>

			<p>Even when Eren died, Eren’s passive acceptance of his death felt out of character, making the scene less impactful. He didn’t resist or even seem to defend his actions, which some fans found anticlimactic.</p>

			<p>To me, everything after the rumbling started felt Forced. It felt rigid.<br/>
			<i>It was like Iseyama had driven himself into a corner.</i></p>

			<p>Why had he confined himself to such a rigid way of storytelling?</p>

			<h3>How Iseyama messed up</h3>

			<p>Yes, the heavy reliance on foreshadowing in the show was a significant factor. While foreshadowing can enhance a story when used effectively, it created challenges for the ending in AOT. The previous foreshadowing became a double-edged sword.</p>

			<p>The show contained many intricate foreshadows, tying future events to past moments. While this added to the show's WOW factor, Iseyama now had to find an ending consistent with the foreshadowings. Some of these are-<br/>
			1) Eren seeing the future through the Paths in Chapter 1.<br/>
			2) Grisha’s cryptic remarks about Eren’s future actions.<br/>
			3) The cyclical nature of violence and oppression is repeatedly emphasized in the story.<br/>
			This limited his creative flexibility and made deviations feel inconsistent. Any attempt to break from the foreshadowed path risked undermining the story’s internal logic.
			</p>
			
			<p><b>Overwhelming expectations</b> were also a significant factor in the disappointment faced by the end of this show. By Season 4, <i>Attack on Titan</i> had evolved from a straightforward survival story into a dense narrative exploring themes of freedom, morality, war, and fate. The fanbase expected a conclusion to tie all these elements together while remaining consistent with the story’s tone and character arcs. Balancing these complex themes with a satisfying resolution for all characters was almost impossible. Any ending would inevitably alienate part of the fanbase.</p>

			<p>This is not to say that Iseyama's ending was the best he could do with his working situation. Many believe that alternate endings created by the fan base, like “AoT no Requiem,” had the potential to surpass the original ending. The final straw was <b>the decision to rush the series</b> prematurely. While we do not know who decided to cut the series short, be it Iseyama or someone else, it no doubt contributed to the lack of quality of the ending.</p>


			<div class="article-end"></div>
		</div>
	</div>
</div>
