{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> The Isolation of Re:Zero </h2>
		
		<br/>
		<div class="article-author">By: Illunos</div>
		<br>
		<div class="article-content">
			<h3>Introduction</h3>

			<p>Hello once again! I am back here with another masterpiece. This time, we will be taking up the epitome of isekai, “Re:Zero-Starting life in another world”, specifically we will be taking up a fascinating psychological aspect, i.e., a separation and deep isolation from the world and the people around you, the true depth of which most fans are unable to realize in their first few runs of the show.</p>

			<p>As expected, I am once again typing this just a few hours before the deadline. So let’s just get into it without further ado!</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-1.webp" alt="." style="width: calc(min(300px, 30vw))"></center><br/>

			<h3>The Lonely Horror of Re:Zero</h3>

			<p>Alright then, first let us talk about horror in general. Broadly dividing there may be two ways of serving horror: firstly, the physical horror- The gore, blood, cutting, and smushing of bodies piling up on one another, the intestines flowing from one another, the scenes difficult to sit-through and not for the weak hearts, that is what physical horror suggest.</p>

			<p>You may argue that yes, Re:Zero does, in fact, depict some mild physical gore and horror. However, it’s not worth much of an appreciation. But believe me when I say it, that your sanity is at the mercy of the animators and their guidelines. The body horrors, as written in the Light Novel of Re:Zero are something far more graphic and harder to read through, as compared to their visual depiction in the anime. I’ll attach some of them as well to satisfy your curiosity.</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-2.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>The rabbit death scene</p><br/></center>


			<h4>Light Novel Reference 1</h4>

			<p>“He screamed. He rolled onto his back, sending his voice toward the heavens. That very moment, he sensed something furry enter his mouth, ripping out his tongue. His throat was violated, opening a path from his windpipe to his stomach, from which his viscera could be voraciously eaten. He was being chewed away.</p>

			<p>Fangs invaded from his anus, crashing inside his body against those that had entered from the mouth. As if in a contest, they raced left and right to consume his inner organs, making mincemeat out of Subaru Natsuki. He was alive. He was being eaten alive. He could feel his flesh being torn into fragments.</p>

			<p>He wasn't afraid. He couldn't feel pain anymore. He didn't even know where his mind was.
			He was being eaten. He was being consumed. His left eye was eaten. His ears were gone. His inner organs had been torn away, and just then, the skin of his face was ripped off. A hole was opened in his skull, and fangs thrust into his brain-”</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-3.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>Regulus kicks a stone through Subaru’s leg</p><br/></center>

			<h4>Light Novel Reference 2</h4>

			<p>“As he spoke, Regulus lightly tapped a paving stone with the tip of his toe.With a gesture that made it seem like he was only adjusting the fit of his shoe, he shaved the top of the paving stone right off. The resulting debris flew toward Subaru’s legs—instantly causing his right leg to explode.“—Eh?”</p>

			<p>A horrid cross section was revealed as if he’d been gouged by a massive beast’s claw, neatly exposing Subaru’s white bone, pink flesh, yellowish fat, and gray-colored blood vessels, which had been savagely severed.</p>

			<p>Incomprehension. Comprehension. A moment later, the pain reached his brain.“?!! Daaagh! Agaaaagh?!”</p>

			<p>His vision went pure white as terrible pain shot through him. It was as if a number of sharp needles had been stabbed into the crown of his head.</p>

			<p>Screaming, Subaru failed to break his fall as he tumbled to the ground. He then tried to stanch the leg injury with his hands. It was no use. The wound was too big. Subaru’s hands alone could not plug it.”</p>

			<p><i>Reference 2 Ends</i></p>

			<p>Secondly, the “not so apparent” or, more aptly, the invisible form of suffering the many fail even to notice the presence of. A deceptively fast undercurrent of unease running and eagerly waiting to drag us down into the vast unending abyss of despair. The true master of Re:Zero’s writing is in its psychological depth, which digs deep into the bedrock of aspects such as anxiety, depression, escapism, insecurities, and much more. This psychological horror of Re:Zero targets the otaku audience, specifically the Hikkikomoris (as one myself), and it knows the workings of the subconscious SCARILY WELL. In fact, it is not an understatement to say that better than we ourselves do.</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-4.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>Subaru falling into despair after multiple RBDs in arc 2</p><br/></center>

			<p><b><i>Spoiler Alert for Anime</i></b></p>

			<h3>Personal and Romantic Loneliness</h3>

			<p>The first season of the series well encompasses this aspect of loneliness. At the beginning of the series, we know that our protagonist is left helpless in this unknown and strange world, oblivious to everything, with no one to rely upon and trust and no one who would rely upon and trust him.</p> 

			<p>Throughout the second arc, we see him getting killed again and again by Rem as a result of “Witch’s miasma” engulfing him, a symbol of distrust for the girl who has a tragic history with the Witch Cult. His every move down to the pause between his sentences was being monitored by the two faithful and cautious twin maids</p>

			<p>To win the twins trust and not get murdered, he tires himself out both physically and mentally. This is where the second instance of his loneliness is depicted. The boy, traumatised by the betrayal of his expectations as his murderer turns out to be Rem of all people, develops PTSD(Post Traumatic Stress Disorder). </p>

			<p>He is forced into isolation, unable to trust even Emilia, and has to do everything by himself, knowing that even his slightest mistake will result in him being brutally disposed of. In my personal opinion, the psychological workings and writing of this arc have gone way underappreciated as compared to its successor arcs of the story.</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-5.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>Rem coldly suspecting Subaru</p><br/></center>

			<p>Onto the romantic aspect, which is a bit harder to identify and separate from the crushing loneliness caused by Return By Death that fell upon Subaru during the 3rd arc of the series. In this arc as well, it is the separation from his beloved half-elf who had SEEN a very deep part of his core and had rejected it because she didn’t like what she saw.</p>

			<p>It is a direct invalidation of his heart and his feelings, and he is cut off from the only thing he was striving for throughout his excruciating ordeal in this world. Yet he is forced to live on. He is forced to overcome his inadequacies, those which people like us would rather DIE on. </p>

			<p>In looking inside the otaku personality’s innate, pride-borne resistance to self-reflection and growth and highlighting how it leaves its victim isolated, the series manages to tap into this rich vein of Psychological horror. Since dying is not even an option for Subaru, he has no choice but to painfully overcome all of these inadequacies, conquer his personal demons, and in the end, meliorate himself to be loved by his beloved half-elf</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-6.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>A Subaru with a shattered ego</p><br/></center>

			<h3>The Loneliness of an inexplicable and irreversible loss</h3>

			<p>Who is Rem?”<br/>
			The true horror of these words had not set into both us and Subaru until we knew that even the only power he had in his hands had refused to allow him to go back and save one of his utmost loved ones. Despite being Subaru’s nightmare in the second arc of the story, Rem’s unconditional trust and love were something he won through his diligent heroism. She was someone who got to know Subaru in and out and, in his eyes, saved him from the most bottomless pits of despair. Upon realising that no matter what he does, Rem has been permanently lost, was something that truly broke him inside out.</p>

			<p>The icing on the cake was that no one was even there in the first place to acknowledge that loss. It was as if she, who was so dear to him, never existed in this world. He was once again left alone with no one who had actually understood his pain and suffering, even if it was to only a small extent. As the LN indicated, Subaru had gone suicidal as a result of this loss, almost wanting to leave everything behind and escape from this reality. Had it not been for Emilia's thoughtfulness, he may have tried to do the impossible once again.</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-7.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>Rem after her memory and identity were stolen by gluttony</p><br/></center>

			<h3>The loneliness of “Return By Death”- An unfathomable planar Isolation</h3>

			<p>While we talk about the different aspects of loneliness, there is something that can never be noticed by the ones that Subaru loves, something that can never be truly comprehended by them, that “something” that goes behind the scenes when all of Subaru’s brilliant plans are wonderfully working in order to counter any situation.</p>

			<p>The loneliness and isolation that haunts him due to his fate bound by “Return By Death” are something that surpasses our normal comprehension. One can only Imagine the state of mind of Subaru after all those excruciating deaths and mental agony that he goes through all alone, seeing his loved ones die in horrific ways again and again and again, but never getting to tell anyone or getting acknowledgment for it. Subaru must and has to use the knowledge gained by “Return by Death” all by himself. Satella does not allow him to share even the slightest hint of his power with anyone, threatening to crush his heart or kill his loved ones in the process.</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-8.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>Subaru after some REAL hell</p><br/></center>
			
			<p>The Raw emotional breakdown of Subaru to Echidna, while he was finally able to blurt all of those emotions for “Return By Death” he enclosed deep within his heart, was of great therapeutic relief. However, the problem is that the one who is aware of his deepest pains and suffering is just someone who wants to use Subaru to sate her own greedy curiosity and does not care about anything else.</p>

			<br/><center><img src="/assets/releases/2024-12-1/5-9.webp" alt="." style="width: calc(min(500px, 45vw))"></center>
			<center><p>Echidna comforting Subaru</p><br/></center>

			<p>A bit of trivia.<br/>
			<b><i>Spoiler Alert for light novel Arc 6</i></b><br/>
			In a part of the light novel, due to circumstantial reasons, Subaru’s hands are badly scratched by nails. Upon seeing them, Beatrice asks him why he did that “again”?, indicating Subaru does the same too habitually. That indirectly suggested that a part of Subaru’s mind had gone permanently insane after arc 4.</p>

			<h3>Conclusion</h3>

			<p>Well then, after cutting a few corners here and there, I have managed to put up this article barely before the deadline(Yay !). But to conclude, I hope that I have given you a taste of the true depth lying behind the story of Re:Zero. The Psychological aspects and the depth behind each element of Re:Zero is something impossible to give justice to, in a single or a few articles. However, I hope this gave you a good insight into what put this show on a plane of its own from the rest of the genre. Anyway, now I am going back to wasting my holidays again. Adios!</p>

		    <div class="article-end"></div>
		</div>
	</div>
</div>
