.crossword-table {
	margin: 0px auto 20px;
	text-align: center;
	border-radius: 5px;
	counter-reset: crossword;
	padding: 5px;
	background-color: var(--dark-gray);
}
.crossword-table > tr >td.crossword-cell-blank {
	background-color: var(--dark-gray);
}
.crossword-table > tr > td {
	width: var(--crossword-cell-size);
	min-width: var(--crossword-cell-size);
	height: var(--crossword-cell-size);
	max-height: var(--crossword-cell-size);
	font-size: var(--crossword-font-size);
	background-color: var(--white);
}
.crossword-table > tr > td.crosswordCellH {
	background-color: var(--error-red);
}
.crossword-cell {
	min-width: 38px;
	height: 38px;
	border: 1px solid var(--abyss);
}
.crossword-count {
	position: relative;
	counter-increment: crossword;
}
.crossword-count:after {
	padding: 0px;
	font-size: 8px;
	top: 1px;
	left: 1px;
	content: counter(crossword);
	position: absolute;
}
#crossword-words {
	width: 100%;
	margin-bottom: 1.3em;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}
#crossword-left, #crossword-right {
	height: 120px;
	margin: auto;
	width: 45%;
	overflow-y: scroll;
	display: inline-block;
	background-color: var(--off-white);
	border-radius: 5px;
	font-size: 0.7em;
	scrollbar-color: var(--red) var(--off-white);
}
#crossword-left > h3, #crossword-right > h3 {
	margin-top: 10px;
}
.crossword-complete {
	animation: fadeIn 3s;
	margin: 30% auto 0;
	font-size: 2.5em;
	font-weight: bold;
	color: var(--dark-red);
	width: 55%;
}
.cross-words {
	margin: 10px auto;
}
.table-complete-cross {
	opacity: 0.1;
	animation: fadeOut 2.5s;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		display: none;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}