{# Nikhith - In Another World With My Smartphone #}
<div class="page">
	<div class="article-full">
		<h2>Manga Review: In Another World With My Smartphone</h2>
		<br/>
		<div class="article-author">By: Nikhith Mathai Manoj</div>
		<table class="anime-info">
			<tr><th>Chapters:</th><td> 70</td></tr>
			<tr><th>Status:</th><td> ongoing</td></tr>
			<tr><th>Genres</th><td>Isekai, Fantasy, Harem</td></tr>
		</table>
		<br/><center><img src="/assets/releases/2023-03-1/8.webp" style="max-width: 75%; display: block;"></center><br/>
		<div class="article-content">
			<h3>Synopsis:</h3><br/>
			<p>One fine day when the Creator accidentally dropped holy thunder into the living realms, Mochizuka Touya happened to be right where it fell. Since it was a mistake on the Creator&rsquo;s part, he offered to compensate Touya by reincarnating him in another world… you guessed it… with his smartphone (and also with abilities far above that of normal humans).</p>
			<h3>Art:</h3><br/>
			<p>The art style is quite simple and basic. The character designs are not very detailed (except, maybe, when it comes to the female characters), but it is perfectly readable, and the art doesn&rsquo;t provide a negative reading experience in any way.</p>
			<h3>Story:</h3><br/>
			<p>The story is set up in a location quite similar to medieval Europe. It is a  slightly slow-paced story, as the author introduces new characters, locations and/or combat techniques at every stage. A few of the jokes get a bit repetitive at times, but for much of the series the comedic timing in the series is on point.</p>
			<h3>Characters:</h3><br/>
			<p>Touka, the main character, is a kind-hearted character, and is a bit of a pushover when it comes to requests made by people he doesn&rsquo;t have a strong dislike for. The other characters are also quite generic ones, an outgoing girl with a shy sister, an airhead with physical strength, and &ldquo;gap moe&rdquo; characters, among many others. Since the story frequently introduces new characters and plot points, there is no room for character development.</p>
			<h3>Epilogue:</h3><br/>
			<p>Overall, I&rsquo;d say this is a good read if you have time to spare, and it&rsquo;s very creative with some of the attack combinations. It&rsquo;s safe to say that many other readers have also enjoyed this manga, since it was popular enough to get its own television series adaptation, and is even going to have a second season.</p>
		<div class="article-end"></div>
		</div>
	</div>
</div>
