{% extends "_newsletter.njk" %}

{% set pagetitle = 'August - Issue 1' %}

{% block article %}
	<div class="page" id="crossword">
		<table id="crossword-table" cellspacing="0"></table>
		<div id="crossword-words"></div>
	</div>
{% endblock %}

{% block customcss %}
	<style>
		.page {
			background-color: var(--off-white);
			margin: 20px auto;
			padding: 20px;
			width: 420px;
			height: 594px;
			border-radius: 5px;
			color: var(--abyss);
		}
		#crossword-table {
			margin: 0px auto 20px;
			text-align: center;
			background-color: var(--white);
			border-radius: 5px;
		}
		.crosswordCellH {
			background-color: var(--light-gray);
		}
		.crosswordCellS {
			background-color: var(--light-pink);
		}
		.crossword-cell-blank {
			min-width: 40px;
			height: 40px;
			background-color: var(--dark-gray);
		}
		.crossword-cell {
			min-width: 38px;
			height: 38px;
			border: 1px solid var(--abyss);
		}
		#crossword-words {
			width: 100%;
			columns: 80px 2;
			padding: 1em;
			margin-bottom: 1.3em;
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid;
		}
		.crossword-word-col {
			line-height: 90%;
		}
		.found-word {
			color: var(--error-red);
			text-decoration: line-through;
		}
		.crossword-complete {
			animation: fadeIn 3s;
			margin: 30% auto 0;
			font-size: 2.5em;
			font-weight: bold;
			color: var(--dark-red);
			position: absolute;
			width: 55%;
		}
		#table-complete{
			margin: 0px auto 20px;
			text-align: center;
			background-color: var(--white);
			border-radius: 5px;
			opacity: 0.1;
			animation: fadeOut 2.5s;
		}
		@keyframes fadeIn{
			from{
				opacity: 0;
			}
			to{
				opacity: 1;
				display: none;
			}
		}
		@keyframes fadeOut{
			0% {
				opacity: 1;
			}
			100% {
				opacity: 0.1;
			}
		}
		td input {
			background-color: var(--white);
			width: 75%;
			border-radius: 0px;
		}
	</style>
{% endblock %}

{% block customjs %}
<script type="text/javascript">
"use strict";

let matrix = [
	['-', '-', '-', 'B', '-', '-', '-', 'B', '-', '-', '-', '-', '-', '-', '-'],
	['F', 'I', 'V', 'E', '-', '-', '-', 'L', '-', 'G', 'Y', 'O', 'M', 'E', 'I'],
	['-', '-', '-', 'A', 'K', 'A', 'Z', 'A', '-', '-', '-', '-', 'U', '-', '-'],
	['-', '-', '-', 'S', '-', '-', '-', 'C', '-', '-', 'S', '-', 'Z', '-', '-'],
	['-', '-', '-', 'T', '-', '-', '-', 'K', 'A', 'G', 'A', 'Y', 'A', '-', '-'],
	['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'N', '-', 'N', '-', '-'],
	['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', 'E', '-', '-', '-', '-'],
	['-', '-', '-', '-', '-', '-', '-', 'K', '-', '-', 'M', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'S', 'A', 'K', 'O', 'N', 'J', 'I', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'P', '-', '-', 'C', '-', '-', '-', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'A', '-', '-', 'H', '-', '-', '-', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'R', '-', '-', 'O', '-', '-', '-', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'R', '-', '-', 'U', '-', '-', '-', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'O', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
	['-', '-', '-', '-', 'W', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-'],
];

const rows = matrix.length;
const cols = matrix[0].length;

let found = [];
for (let i = 0; i < rows; i++) {
	let tempRow = [];
	for (let j = 0; j < cols; j++) tempRow.push("-");
	found.push(tempRow);
}

let click = false;
let keypressed = false;

function start() {
	let max = Math.max(rows, cols);
	let size = (40 * 10 / max - 2) + "px";
	let fontsize = (10 / max) ** (1 / 2) + "em";
	let mytablebody = document.getElementById("crossword-table");

	for (let i = 0; i < rows; i++) {
		let mycurrent_row = document.createElement("tr");

		for (let j = 0; j < cols; j++) {
			let mycurrent_cell = document.createElement("td");
			if (matrix[i][j] === "-") {
				mycurrent_cell.classList.add("crossword-cell-blank");
				mycurrent_cell.setAttribute("Blank", "");
			}
			else {
				mycurrent_cell.classList.add("crossword-cell");
				mycurrent_cell.setAttribute("Blank", "1");
			}
			mycurrent_cell.setAttribute("id", `crossword-cell-${i}-${j}`);
			mycurrent_cell.setAttribute("data-posI", i);
			mycurrent_cell.setAttribute("data-posJ", j);
			mycurrent_cell.style.width = size;
			mycurrent_cell.style.minWidth = size;
			mycurrent_cell.style.height = size;
			mycurrent_cell.style.maxHeight = size;
			mycurrent_cell.style.fontSize = fontsize;
			mycurrent_cell.addEventListener("click", function (event) {
				for (let i = 0; i < rows; i++) {
					for (let j = 0; j < cols; j++) {
						let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
						tempCell.classList.remove("crosswordCellH");
						tempCell.classList.remove("crosswordCellS");
					}
				}
				click = [~~this.getAttribute("data-posI"), ~~this.getAttribute("data-posJ")];
				if (matrix[click[0]][click[1]] === "-") {
					click = false;
				}
				else {
					event.target.classList.add("crosswordCellH");
				}
			}, false);
			document.addEventListener('keydown', function (e) {
				if (keypressed)return;
				keypressed = true;
				if (click) {
					if (e.keyCode >= 65 && e.keyCode <= 90) {
						let tempCell = document.getElementById(`crossword-cell-${click[0]}-${click[1]}`);
						let currenttext = (String.fromCharCode(e.keyCode));
						tempCell.innerHTML = currenttext;
						found[click[0]][click[1]] = currenttext;
						axios.post(`checker/date/puzzle_type`, found).then(res => {
							if (res.data) {
								mytablebody.id = "table-complete";
								setTimeout(function () {
									document.getElementById(`crossword`).innerHTML = `<div class="crossword-complete">Completed!</div>`;
								}, 3000);
							}
						});
						let next = document.getElementById(`crossword-cell-${click[0]+1}-${click[1]}`);
						if (next && next.getAttribute("Blank")) {
							click[0] += 1;
							for (let i = 0; i < rows; i++) {
								for (let j = 0; j < cols; j++) {
									let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
									tempCell.classList.remove("crosswordCellH");
									tempCell.classList.remove("crosswordCellS");
								}
							}
							next.classList.add("crosswordCellH");
							return;
						}
						next = document.getElementById(`crossword-cell-${click[0]}-${click[1]+1}`);
						if (next && next.getAttribute("Blank")) {
							click[1] += 1;
							for (let i = 0; i < rows; i++) {
								for (let j = 0; j < cols; j++) {
									let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
									tempCell.classList.remove("crosswordCellH");
									tempCell.classList.remove("crosswordCellS");
								}
							}
							next.classList.add("crosswordCellH");
							return;
						}
					}
					if (e.keyCode >= 37 && e.keyCode <= 40) {
						e.preventDefault();
						if (e.keyCode === 37) {
							let next = document.getElementById(`crossword-cell-${click[0]}-${click[1]-1}`);
							if (next && next.getAttribute("Blank")) {
								click[1] -= 1;
								for (let i = 0; i < rows; i++) {
									for (let j = 0; j < cols; j++) {
										let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
										tempCell.classList.remove("crosswordCellH");
										tempCell.classList.remove("crosswordCellS");
									}
								}
								next.classList.add("crosswordCellH");
								return;
							}
						}
						else if (e.keyCode === 38) {
							let next = document.getElementById(`crossword-cell-${click[0]-1}-${click[1]}`);
							if (next && next.getAttribute("Blank")) {
								click[0] -= 1;
								for (let i = 0; i < rows; i++) {
									for (let j = 0; j < cols; j++) {
										let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
										tempCell.classList.remove("crosswordCellH");
										tempCell.classList.remove("crosswordCellS");
									}
								}
								next.classList.add("crosswordCellH");
								return;
							}
						}
						else if (e.keyCode === 39) {
							let next = document.getElementById(`crossword-cell-${click[0]}-${click[1] + 1}`);
							if (next && next.getAttribute("Blank")) {
								click[1] += 1;
								for (let i = 0; i < rows; i++) {
									for (let j = 0; j < cols; j++) {
										let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
										tempCell.classList.remove("crosswordCellH");
										tempCell.classList.remove("crosswordCellS");
									}
								}
								next.classList.add("crosswordCellH");
								return;
							}
						}
						else {
							let next = document.getElementById(`crossword-cell-${click[0] + 1}-${click[1]}`);
							if (next && next.getAttribute("Blank")) {
								click[0] += 1;
								for (let i = 0; i < rows; i++) {
									for (let j = 0; j < cols; j++) {
										let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
										tempCell.classList.remove("crosswordCellH");
										tempCell.classList.remove("crosswordCellS");
									}
								}
								next.classList.add("crosswordCellH");
								return;
							}
						}
					}
				}
			});
			document.addEventListener("keyup", () => keypressed = false, false);
			mycurrent_row.appendChild(mycurrent_cell);
		}
		mytablebody.appendChild(mycurrent_row);
	}

	function arraysAreIdentical(arr1, arr2) {
		for (let i = 0; i < arr1.length; i++) {
			for (let j = 0; j < arr1[0].length; j++) {
				if (arr1[i][j] !== arr2[i][j]) return false;
			}
		}
		return true;
	}

}

window.onload = start;
</script>
{%endblock%}
