{% extends "_newsletter.njk" %}

{% set pagetitle = 'October - Issue 1' %}

{% set pagecount = 7 %}

<!--{ % set pdf = '2021-09-1/issue.pdf' %}-->

{% block article %}
	<div class="page">
		<div class="article-full">
			<h2>Monster Review</h2>
			<br/>
			<div class="article-author">By: Anmol Kumar</div>
			<div class="article-content">
				<img src="/assets/releases/2021-10-1/3.webp" alt="Monster" style="float:left;margin:10px 20px 5px 0;height:40vh;min-width:100px;max-width:400px;max-width:80%"/>
				<p>Monster, created by Naoki Urasawa, was originally a manga consisting of 18 volumes which was later adapted into a 74-episode long anime series by Madhouse. Inspired by the 1960s American TV Series ‘The Fugitive’, Urasawa said that his editor was sure that the series would not be received well and even tried to stop him from working on it.</p>
				<p>The plot begins by introducing us to a young Japanese doctor Kenzo Temna, who is a highly gifted neurosurgeon and works in a hospital in Düsseldorf, Germany. Temna is shown to be in a very good relationship with the Hospital Chief’s daughter, Eva Heinemann. In a chain of events, where a poor Turkish man who had been brought to the hospital earlier, was declined treatment in order to prioritize a politician’s treatment, Temna starts questioning his orders and begins to build a hint of dissatisfaction within himself. We then witness the iconic dialogue by Eva, who upon being asked by Temna if that politician’s life was more important than that Turkish guy, replies saying, “Not all people’s lives are created equal.”</p>
				<p>This is one of those several instances in the story, where the viewer is left to wonder about the choices a character has to make. Temna faces many such situations throughout the plot. Urasawa has been appreciated for creating a carefully woven complex plot, where every character has their presence felt in the minds of the viewer. In addition to this, the storyline progresses in a linear fashion, but we learn more about the characters and their lives in a non linear way. A lot of characters and subplots are introduced throughout the show, but Urasawa has been careful enough to keep all of them connected together. It can be definitely said that proper character development has been implemented, be it Temna, Eva or any other characters who are introduced later.</p>
				<p>Monster has been praised for its realistic and humane approach to add progress into the character developments. Most of the characters have an inner conflict within their minds, which affects their actions and behaviors towards people and events. Urasawa has been careful enough to talk about the events in their lives, their past and history which made them what they are now. In order to add more realism into the story, the manga art has been kept close to actual anatomical proportions. The anime adaptation has followed the manga closely, and has combined the marvellous storytelling by Urasawa with some very apt background scores and themes. The themes are slow and hollow by themselves, but allow the listener to amass their own interpretations and produce their own meanings underlying the seemingly flat imagery. Overall, Monster is a great combination of mature characters, interesting storyline, and engaging background scores if you are watching the anime.</p>
				<div class="article-end"></div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="article-full">
			<h2>Made in Abyss - Anime/Manga Review</h2>
			<br/>
			<div class="article-author">By: Parth Mane</div>
			<table class="anime-info">
				<tr><td>Volumes</td><td>9</td></tr>
				<tr><td>Chapters</td><td>60</td></tr>
			</table>
			<table class="anime-info">
				<tr><td>Seasons</td><td>1</td></tr>
				<tr><td>Episodes</td><td>13</td></tr>
				<tr><td>Movies</td><td>3</td></tr>
			</table>
			<div class="article-content">
				<img src="/assets/releases/2021-10-1/2.webp" alt="Abyss" style="float:left;margin:10px 20px 5px 0;height:40vh;min-width:100px;max-width:400px;max-width:80%"/>
				<p>Made in Abyss is a manga series by Akihito Tsukushi that’s been serialized since 2012 in Web Comic Gamma. It also has a popular anime adaptation which aired in 2017. The story follows Riko, an orphaned girl, as she tries to follow her mother (who was presumed dead) to the bottom of the Abyss.</p>
				<p>The Abyss is a massive, mysterious pit that extends deep into the Earth, with no one ever having seen the bottom. In the Abyss lie countless ruins of civilizations of times gone by, and artifacts with powers ranging from useless to legendary. In all this, though, there also lurk countless dangers of the Abyss, all of which are lethal.</p>
				<p>In this world, there exist Delvers who undertake the dangerous task of climbing through the depths of the Abyss to bring back coveted relics. What stops many people from entering, though, is the Curse of the Abyss - a malady that attacks anyone who climbs back up the Abyss. Past a certain layer, this malady results in certain death.</p>
				<p>Riko’s mother Lyra is a White Whistle - one of the most skilled Delvers in the world - who is presumed dead after she undertakes her Last Dive - where she goes so deep into the Abyss that returning can only result in death from the Curse of the Abyss. However, among the belongings she leaves behind, is a note telling her daughter that she’s waiting for her at the bottom of the Abyss.</p>
				<p>Riko, together with Reg (a humanoid robot she found in the Abyss), thus sets off on a journey to reach the bottom of the Abyss.</p>
				<p>The plot from here unfolds rather well. Each layer, each new place they visit, each new scene brings with it new mysteries, keeping the viewers hooked as they slowly begin to unravel the mysteries of the Abyss. But don’t let the adorable and innocent chibi art style fool you - the series is also very harsh and unforgiving, with large doses of terror, pain, loss, sacrifices, and sorrow. And while some truths that Riko stumbles upon may be revolting, she continues pressing onwards.</p>
				<img src="/assets/releases/2021-10-1/1.webp" alt="Reg" style="height: 46vh;margin:10px auto;display:block;float:right;margin:10px 5px 0 20px;"/>
				<p>The anime pulls off a smooth animated look, with characters that wouldn’t look out of place in a children’s movie - until the horror sets in with squelching coldness. There is something macabre about watching so much pain and death in this artstyle, and it’s part of what makes the show a memorable watch. The manga also pulls off the artstyle fairly well, with art and design that won’t leave you disappointed.</p>
				<p>The characters in the series are fairly unique. Unlike many renowned series, many of the characters in Made of Abyss are as far as you can get from cookie-cutter. And while you may question Riko’s willpower, you will root for her to finally meet her mother.</p>
				<p>The anime also has a fairly good soundtrack, which while not significantly remarkable, sets the mood very well. The show also doesn’t have any scenes that feel stretched or rushed, and seems to progress at just the right pace - though of course it’s always painfully slow for those wondering about the truth behind the Abyss.</p>
				<p>One issue with the series that many people have is the grief in the series, which many may be averse to. Personally, I feel the grief does have its place - but that doesn’t diminish the pain.</p>
				<p>Currently, the anime has one season (with two movies covering these events) as well as an additional movie (Dawn of the Deep Soul) which further explores events not yet shown in the anime series. The manga is many chapters ahead, and is serialized on an infrequent basis.</p>
				<p>Made in Abyss is a remarkable series in the way it spellbindingly sketches grief and horror into a fantasy. It may not be everyone’s cup of tea, but it definitely deserves a watch / read. Fair warning, though - the horror may keep you up some nights.</p>
				<table class="anime-ratings">
					<tr><td>Plot: </td><td>8/10</td></tr>
					<tr><td>Characters: </td><td>8/10</td></tr>
					<tr><td>Art: </td><td>9/10</td></tr>
					<tr><td>Music: </td><td>7/10</td></tr>
					<tr><td>Enjoyment: </td><td>9/10</td></tr>
					<tr><td>Overall: </td><td>8/10</td></tr>
				</table>
				<div class="article-end"></div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="article-full">
			<h2>Parasyte: The Maxim - Review</h2>
			<br/>
			<div class="article-author">By: Anshul Bankar</div>
			<table class="anime-info">
				<tr><td>Seasons</td><td>1</td></tr>
				<tr><td>Episodes</td><td>24</td></tr>
			</table>
			<div class="article-content">
				<p>The narrative is set in a realistic world where an unknown organism has invaded Earth and taken over human bodies. One of these organisms is inadvertently trying to enter a sleeping youngster called Shinichi Izumi's body, but the monster can only take over Shinichi's hand. Shinichi's right hand eventually becomes home to a strange monster formed by the tragedy. Meanwhile, other creatures that have successfully taken over the bodies of humans and animals have begun to assault and consume the civilians in stealth. As a result of this knowledge, Shinichi resolved to use his new right hand, Migi's assistance in fighting more violent parasites. The story isn't overly complicated, and the premise is simple to grasp and retain.</p>
				<p>The animation is very ordinary. The character design is ample. The parasite design is adorable. It is well-illustrated and memorable. It succeeds in conveying a bleak and frightening atmosphere to the screen. Every beat in the background music just makes the plot even more exciting.</p>
				<p>Our primary characters are Izumi Shinichi and Migi, the extra-terrestrial that lives in his right arm. Izumi Shinichi's character development is concentrated on him; from the beginning to the end, Shinichi's attitude and looks change. He develops into a more mature and dependable guy from a sniffing and cowardly child. The progression is nicely described. While Migi, the parasite that lives in Shinichi's hand, plays an important role in the story, the two develop a relationship as the plot progresses. While many villains with diverse motives also performed admirably in their parts, the other supporting characters also did a good job in their role.</p>
				<p>At the end of the day Parasyte is just another great anime to binge watch.</p>
				<table class="anime-ratings">
					<tr><td>Story: </td><td>8/10</td></tr>
					<tr><td>Art: </td><td>7/10</td></tr>
					<tr><td>Sound: </td><td>6/10</td></tr>
					<tr><td>Character: </td><td>7/10</td></tr>
					<tr><td>Enjoyment: </td><td>10/10</td></tr>
					<tr><td>Overall: </td><td>8/10</td></tr>
				</table>
				<div class="article-end"></div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="article-full">
			<h2>Psycho Pass - Review</h2>
			<br/>
			<div class="article-author">By: Aditya Sarode</div>
			<table class="anime-info">
				<tr><td>Director</td><td>Naoyoshi Shiotani</td></tr>
				<tr><td>Seasons</td><td>3</td></tr>
				<tr><td>Episodes</td><td>41</td></tr>
				<tr><td>Movies</td><td>3</td></tr>
			</table>
			<div class="article-content">
				<p>Psycho Pass is quite rare, both in concept and individuality of its genre. Being highly underrated, this anime by I.G Production is a great watch. In this era of monopoly by isekais and shounens, being able to grab a spot on the Top 2000 on MAL is an extraordinary feat in itself and it also speaks for the content people aspire to witness in any anime.</p>
				<p>The plot revolves around two detectives, Tsunemori Akane and Kougami Shinya trying to understand the working of a nationwide program called 'The Sybill system'. Akane, having recently joined the Public Safety Bureau, gains insight into the hitherto unknown mishaps of the society and tries to uncover the truth behind all incidents involving her senior officers. Losing your loved ones, forging relationships and maintaining those connections are just some of the few focal points in this series. It has a concrete storyline with a debonaire protagonist which helps it unfold with the weather and further blooms into a masterpiece of brain games and action. </p>
				<p>Having a consistent pathway, Psycho-Pass follows it till the end with an explosive ending which is a rare sight considering other generic anime, and quite a welcome one at that. Despite that, there are no constraints on the emotional and animation platform  thus serving you the entertainment you desire.</p>
				<p>Thus I'd like to end this review whilst giving a rating of 8.5 out of 10 for the plot and a solid 8 out of 10 for the characterization and animation, taking into account the several reviews from occasional watchers. It's definitely worth the watch.</p>
				<div class="article-end"></div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="article-full">
			<h2>Darwin's Game - Review</h2>
			<br/>
			<div class="article-author">By: Srijan Srivastava</div>
			<div class="article-content">
				<p>Upon receiving an invitation from a friend to play Darwin’s Game, Sudou Kaname is thrown headfirst into a deathmatch with a man in a panda costume.</p>
				<p>After barely winning, Kaname discovers the truth about Darwin's Game.</p>
				<p>Darwin’s Game is a battle royale in which every participant is pitted against each other. Full of bloody battles, it’s a brutal fight for survival.</p>
				<h3 style="text-align:center">It's either kill or be killed.</h3><br/>
				<p>Or so it could have been. Somehow, even when every person is a potential threat to his life, the protagonist doesn’t kill anyone for the majority of the show, and the opponents he faces never kill him either - despite having multiple chances to do so and gaining nothing out of it. Darwin’s Game is an even worse offender of the “power of friendship” trope than Fairy Tail.</p>
				<p>Even after ignoring what it could have been, this anime has nothing to write home about. The animation is, at times, stiffer than One Punch Man season 2, while the sound effects are nothing special and the characters are incredibly one-dimensional and cookie cutter.</p>
				<p>The plot progression is incredibly slow and the show spends the entire first half of its short 12 episode run only assembling a crew.My final review is as follows:</p>
				<table class="anime-ratings">
					<tr><td>Story: </td><td>1/10</td></tr>
					<tr><td>Animation: </td><td>6/10</td></tr>
					<tr><td>Music: </td><td>5/10</td></tr>
					<tr><td>Characters: </td><td>2/10</td></tr>
					<tr><td>Overall: </td><td>1/10</td></tr>
				</table>
				<div class="article-end"></div>
			</div>
		</div>
	</div>
	<div class="page" id="wordsearch">
		<span class="article-header">Re:Zero Wordsearch</span><span style="display:inline-block;min-width:50px"></span><span class="article-author">By: Sarthak Vijaywat</span>
		<br/><br/>
		<div class="word-wrapper"><table id="wordsearch-table" cellspacing="0"></table></div>
		<hr style="width:80%;margin:20px auto"/>
		<div id="wordsearch-words"></div>
	</div>
	<div class="page" id="crossword">
		<div id="cross-wrapper">
			<span class="article-header">Death Note Crossword</span><span style="display:inline-block;min-width:50px"></span><span class="article-author">By: Parth Mane</span><br/><br/>
			<table class="crossword-table" id="crossword-table" cellspacing="0"></table>
			<div id="crossword-words">
				<div id="crossword-left"></div>
				<div id="crossword-right"></div>
			</div>
		</div>
		<div id="cross-alt">Your device is too thin to view this content; please rotate your screen or use a larger device!</div>
	</div>
{% endblock %}

{% block prescript %}
	<script>
		"use strict";
		const crossMatrix = [[" "," "," "," "," "," "," "," "," "," "," ","-","-","-"],[" ","-"," ","-","-","-","-","-","-","-","-","-","-","-"],[" ","-"," ","-","-"," ","-","-","-","-","-"," ","-","-"],[" ","-"," ","-","-"," ","-","-"," "," "," "," "," ","-"],["-","-"," ","-","-"," ","-","-","-","-","-"," ","-","-"],["-"," "," "," "," "," "," "," "," "," "," "," ","-","-"],["-","-"," ","-","-"," ","-","-","-","-","-"," ","-","-"],[" "," "," "," "," "," "," "," "," "," "," "," ","-","-"],[" ","-"," ","-","-"," ","-","-","-"," ","-"," ","-"," "],[" ","-","-","-","-"," ","-","-","-"," ","-","-","-"," "],[" ","-"," "," "," "," ","-"," ","-"," "," "," "," "," "],["-","-","-","-","-"," "," "," "," ","-","-","-","-"," "],["-","-","-","-","-","-","-","-","-","-","-","-","-"," "]];
		const wordMatrix = `P E T E L G E U S E O U L V A R
			R F R B M T W U O T P K L M C G
			I E U A E K R Z S K U M A I H A
			S L L Z M A Q A K E C H W C K R
			C I M E B R T C O V K E S V O F
			I X W U I E L R S I Z U O R B I
			L A S C L T E U I X R V R O Y E
			L H K L E M F S A C P O L M A L
			A S A M K A I L I M E K B I Y S`.replace(/\t/g, '').split("\n").map(line => line.split(" "));
		const letterSpaces = [];
		(() => {
			const maxDimension = Math.max(crossMatrix.length, crossMatrix[0].length);
			const root = document.querySelector(':root');
			root.style.setProperty('--crossword-cell-size', (40 * 10 / maxDimension - 4) + "px");
			root.style.setProperty('--crossword-font-size', (10 / maxDimension) ** (1 / 2) + "em");
			crossMatrix.forEach((row, i) => {
				row.forEach((char, j) => {
					if (char === ' ') letterSpaces.push([i, j]);
				});
			});
			root.style.setProperty('--wordsearch-padding', (100 * wordMatrix.length / wordMatrix[0].length) + '%');
			root.style.setProperty('--wordsearch-cell-height', (100 / wordMatrix.length) + '%');
			root.style.setProperty('--wordsearch-cell-width', (100 / wordMatrix[0].length) + '%');
		})();
	</script>
{% endblock %}

{% block letterjs %}
	<script type="text/javascript">
		const tempWords = `BEATRICE\nCRUSCH\nEMILIA\nFELIX\nFELT\nGARFIEL\nPETELGEUSE\nPRISCILLA\nPUCK\nRAM\nREM\nROM\nROSWALL\nSATELLA\nSUBARU`.split("\n").map(word => word.replace(/\t/g, '')), words = tempWords.map(word => word.replace(/[ ]/g, '').toUpperCase());
		const wordRows = wordMatrix.length;
		const wordCols = wordMatrix[0].length;
		let wordFound = [];
		let wordClick = false;
		function startWord () {
			let max = Math.max(wordRows, wordCols);
			let size = 40 * 10 / max - 3 + "px";
			let fontsize = (10 / max) ** (1 / 2) + "em";
			let mytablebody = document.getElementById("wordsearch-table");
			for (let i = 0; i < wordRows; i++) {
				let mycurrent_row = document.createElement("tr");
				for (let j = 0; j < wordCols; j++) {
					let mycurrent_cell = document.createElement("td");
					mycurrent_cell.classList.add("wordsearch-cell");
					mycurrent_cell.setAttribute("id", `wordsearch-cell-${i}-${j}`);
					mycurrent_cell.setAttribute("data-posI", i);
					mycurrent_cell.setAttribute("data-posJ", j);
					/*mycurrent_cell.style.width = size;
					mycurrent_cell.style.minWidth = size;
					mycurrent_cell.style.height = size;
					mycurrent_cell.style.maxHeight = size;
					mycurrent_cell.style.fontSize = fontsize;*/
					let currenttext = document.createTextNode(wordMatrix[i][j]);
					mycurrent_cell.addEventListener("click", function (event) {
						if (wordClick) {
							const start = wordClick;
							const final = [~~this.getAttribute("data-posI"), ~~this.getAttribute("data-posJ")];
							wordClick = false;
							if (start[0] === final[0] && start[1] === final[1]) return; //same position
							if (start[0] === final[0] || start[1] === final[1] || (Math.abs(start[0] - final[0]) === Math.abs(start[1] - final[1]))) {
								let word = "";
								let offsets = [Math.sign(final[0] - start[0]), Math.sign(final[1] - start[1])];
								for (let [i, j] = start; (i !== final[0] || j !== final[1]); [i += offsets[0], j += offsets[1]]) word += wordMatrix[i][j];
								word += wordMatrix[final[0]][final[1]];
								console.log(word);
								if (words.includes(word) && !wordFound.includes(word)) {
									wordFound.push(word);
									document.getElementById(`wordsearch-word-${word.toLowerCase()}`).classList.add("found-word");
									if (words.length === wordFound.length) {
										mytablebody.id = "table-complete";
										const wordsList = document.getElementById('wordsearch-words');
										wordsList.style.animation = "fadeOut 1.5s";
										wordsList.style.opacity = 0.1;
										setTimeout(function () {
											document.getElementById(`wordsearch`).innerHTML = `<div class="wordsearch-complete">Completed!</div>`;
										}, 1500);
									}
								}
							}
							return; // invalid
						}
						else {
							wordClick = [~~this.getAttribute("data-posI"), ~~this.getAttribute("data-posJ")];
						}
					}, false);
					mycurrent_cell.addEventListener("mouseover", function (event) {
						if (wordClick) {
							const start = wordClick;
							const final = [~~this.getAttribute("data-posI"), ~~this.getAttribute("data-posJ")];
							if (start[0] === final[0] && start[1] === final[1]) return; //same position
							if (start[0] === final[0] || start[1] === final[1] || (Math.abs(start[0] - final[0]) === Math.abs(start[1] - final[1]))) {
								let offsets = [Math.sign(final[0] - start[0]), Math.sign(final[1] - start[1])];
								for (let [i, j] = start; (i !== final[0] + offsets[0] || j !== final[1] + offsets[1]); [i += offsets[0], j += offsets[1]]) {
									let tempCell = document.getElementById(`wordsearch-cell-${i}-${j}`);
									tempCell.classList.add("wordsearchCellS");
								}
							}
						}
						event.target.classList.add("wordsearchCellH");
					}, false);
					mycurrent_cell.addEventListener("mouseleave", function (event) {
						for (let i = 0; i < wordRows; i++) {
							for (let j = 0; j < wordCols; j++) {
								let tempCell = document.getElementById(`wordsearch-cell-${i}-${j}`);
								tempCell.classList.remove("wordsearchCellH");
								tempCell.classList.remove("wordsearchCellS");
							}
						}
					}, false);
					mycurrent_cell.appendChild(currenttext);
					mycurrent_row.appendChild(mycurrent_cell);
				}
				mytablebody.appendChild(mycurrent_row);
			}
			let colnum = Math.ceil(words.length / 5);
			let wordArea = document.getElementById("wordsearch-words");
			wordArea.innerHTML = tempWords.map(word => `<div id="wordsearch-word-${word.replace(/[ \t]/g, '').toLowerCase()}" class="wordsearch-word">${word}</div>`).join("");
		}
	</script>
	<script>
		"use strict";
		const crossRows = crossMatrix.length;
		const crossCols = crossMatrix[0].length;
		const crossFound = crossMatrix.map(row => row.map(() => '-'));
		let crossClick = false;
		let crossDir = false; // 1234 NESW
		let crosswordVis = false;
		function startCross () {
			let mytablebody = document.getElementById("crossword-table");
			for (let i = 0; i < crossRows; i++) {
				let mycurrent_row = document.createElement("tr");
				for (let j = 0; j < crossCols; j++) {
					let mycurrent_cell = document.createElement("td");
					if (crossMatrix[i][j] === "-") {
						mycurrent_cell.classList.add("crossword-cell-blank");
						mycurrent_cell.setAttribute("data-cell", "");
					} else {
						mycurrent_cell.classList.add("crossword-cell");
						mycurrent_cell.setAttribute("data-cell", "1");
						if (((!i || crossMatrix[i - 1][j] === '-') && crossMatrix[i + 1] && crossMatrix[i + 1][j] === ' ') || ((!j || crossMatrix[i][j - 1] === '-') && crossMatrix[i][j + 1] === ' ')) {
							mycurrent_cell.classList.add('crossword-count');
						}
					}
					mycurrent_cell.setAttribute("id", `crossword-cell-${i}-${j}`);
					mycurrent_cell.setAttribute("data-posI", i);
					mycurrent_cell.setAttribute("data-posJ", j);
					mycurrent_cell.addEventListener("click", function (event) {
						for (let i = 0; i < crossRows; i++) {
							for (let j = 0; j < crossCols; j++) {
								let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
								tempCell.classList.remove("crosswordCellH");
								tempCell.classList.remove("crosswordCellS");
							}
						}
						crossClick = [~~this.getAttribute("data-posI"), ~~this.getAttribute("data-posJ")];
						if (crossMatrix[crossClick[0]][crossClick[1]] === "-") crossClick = false;
						else event.target.classList.add("crosswordCellH");
					}, false);
					mycurrent_row.appendChild(mycurrent_cell);
				}
				mytablebody.appendChild(mycurrent_row);
			}
			document.addEventListener('keydown', function (e) {
				if (!crosswordVis) return;
				if (crossClick) {
					if ((e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 97 && e.keyCode <= 122)) {
						let tempCell = document.getElementById(`crossword-cell-${crossClick[0]}-${crossClick[1]}`);
						let currenttext = String.fromCharCode(e.keyCode).toUpperCase();
						tempCell.innerHTML = currenttext;
						crossFound[crossClick[0]][crossClick[1]] = currenttext;
						// check if crossword is completed
						if (!letterSpaces.find(([i, j]) => crossFound[i][j] === '-')) {
							axios.post(`/checker/2021-10-1/crossword`, crossFound).then(res => {
								if (res.data) {
									mytablebody.classList.add("table-complete-cross");
									setTimeout(function () {
										document.getElementById(`crossword`).innerHTML = `<div class="crossword-complete">Completed!</div>`;
									}, 1600);
								}
							}).catch(err => console.log(err));
						}
						const nexts = [];
						(() => {
							const a = crossClick;
							nexts.push({ c: [a[0] + 1, a[1]], d: 3 });
							nexts.push({ c: [a[0], a[1] + 1], d: 2 });
							if (crossDir) {
								const o = [null, [-1, 0], [0, 1], [1, 0], [0, -1]][crossDir];
								nexts.unshift({ c: [a[0] + o[0], a[1] + o[1]], d: crossDir });
							}
						})();
						return nexts.find(coords => {
							const cell = document.getElementById(`crossword-cell-${coords.c[0]}-${coords.c[1]}`);
							if (cell && cell.getAttribute("data-cell")) {
								crossClick = coords.c;
								crossDir = coords.d;
								for (let i = 0; i < crossRows; i++) {
									for (let j = 0; j < crossCols; j++) {
										let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
										tempCell.classList.remove("crosswordCellH");
										tempCell.classList.remove("crosswordCellS");
									}
								}
								cell.classList.add('crosswordCellH');
								return true;
							}
						});
					}
					if (e.keyCode >= 37 && e.keyCode <= 40) {
						const offsets = {
							'37': [0, -1],
							'38': [-1, 0],
							'39': [0, +1],
							'40': [+1, 0]
						}, keyDir = {
							'37': 4,
							'38': 1,
							'39': 2,
							'40': 3
						};
						e.preventDefault();
						const next = document.getElementById(`crossword-cell-${crossClick[0] + offsets[e.keyCode][0]}-${crossClick[1] + offsets[e.keyCode][1]}`);
						if (next && next.getAttribute("data-cell")) {
							crossClick[0] += offsets[e.keyCode][0];
							crossClick[1] += offsets[e.keyCode][1];
							for (let i = 0; i < crossRows; i++) {
								for (let j = 0; j < crossCols; j++) {
									let tempCell = document.getElementById(`crossword-cell-${i}-${j}`);
									tempCell.classList.remove("crosswordCellH");
									tempCell.classList.remove("crosswordCellS");
								}
							}
							next.classList.add("crosswordCellH");
							crossDir = keyDir[e.keyCode];
							return;
						}
					}
					if ([8, 46].includes(e.keyCode)) {
						document.getElementById(`crossword-cell-${crossClick[0]}-${crossClick[1]}`).innerHTML = '';
						crossFound[crossClick[0]][crossClick[1]] = '-';
					}
				}
			});
			new IntersectionObserver(([crossword]) => {
				if (crossword.isIntersecting && crossword.intersectionRatio > 0.8) {
					crosswordVis = true;
				} else {
					crosswordVis = false;
				}
			}, { threshold: [0.99] }).observe(document.getElementById('crossword-table'));
			const clues = [];
			clues.push(`1. Ruler of the Shinigami (4, 2, 5)
			5. Shinigami who sacrificed himself for a human girl (5)
			6. Second-smartest at Wammy’s House, full name (6, 5)
			7. A second Death Note cost Midora an apple and ______ ______ (6, 6)
			10. Blissfully unaware younger sister (4)
			12. US President in the manga, first name (5)
			13. Shinigami who stole a Death Note (4)`.replace(/\t/g, '').split('\n').map(line => line.split(/\. (.*)/)));
			clues.push(`1. Main character’s persona (4)
			2. N’s full name (4, 5)
			3. FBI agent in a jacked bus, full name (4, 6)
			4. Watari’s real first name (7)
			7. X-Kira’s first name (4)
			8. Criminal/Tailor masqueraded as L, first name (4)
			9. Shinigami whose Death Note was stolen (5)
			11. Where all humans end up (2)`.replace(/\t/g, '').split('\n').map(line => line.split(/\. (.*)/)));
			document.getElementById('crossword-left').innerHTML = `<h3>Across</h3><br/><table class="cross-words">${clues[0].map(clue => `<tr><td>${clue[0]}</td><td>${clue[1]}</td></tr>`).join('')}</table>`;
			document.getElementById('crossword-right').innerHTML = `<h3>Down</h3><br/><table class="cross-words">${clues[1].map(clue => `<tr><td>${clue[0]}</td><td>${clue[1]}</td></tr>`).join('')}</table>`;
		}
	</script>
	<script>
		window.onload = () => {
			startWord();
			startCross();
		}
	</script>
{% endblock %}

{% block lettercss %}
	<style>
		:root {
			--black-blue   : #121920;
			--dark-blue    : #112f3f;
			--teal         : #006280;
			--dirty-green  : #4d5843;
			--dirty-yellow : #a98135;
		}
		.page {
			color: var(--dark-blue);
		}
		/*#cover-page {
			background-image: url(/assets/releases/2021-09-1/cover.webp);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			background-color: rgba(0, 0, 0, 0) !important;
		}*/
		.article-full, .article-half, #crossword-left, #crossword-right {
			scrollbar-color: var(--teal) var(--off-white) !important;
		}
		.article-full > h2, .article-half > h2, .article-header {
			text-shadow: 0 0 2px var(--teal) !important;
		}
		{# .article-end {
			background-color: var(--dirty-green);
		} #}
		.wordsearchCellS {
			background-color: var(--dirty-yellow) !important;
		}
		.found-word {
			color: var(--teal) !important;
		}
		.wordsearch-complete, .crossword-complete {
			color: var(--teal) !important;
		}
		.spoiler:before {
			color: var(--teal);
			background: var(--dirty-yellow);
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/assets/styles/wordsearch.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/styles/crossword.css"/>
{% endblock %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}