{% extends "_newsletter.njk" %}

{% set pagetitle = 'August - Issue 1' %}

{% set pagecount = 2 %}

{% block article %}
	<div class="page">
		Releasing on 28th August, 2021.
	</div>
	<div class="page">Page 2</div>
{% endblock %}

{% block lettercss %}
	<style>
	</style>
{% endblock %}