{% extends '_event.njk' %}

{% set pagetitle = 'Bidoof Day Art Competition' %}
{% set pagedesc = 'The Intra-Society Anime Quiz was an EPIC showdown, and the results? Mind-blowing!\n From jaw-dropping trivia to intense battles of otaku knowledge, we witnessed friendships forged and rivalries born!' %}

{% block eventContent %}
	<div class="event-info">
		<span class="heading">Date:</span> June 20, 2024 <br>
		<span class="heading">Location:</span> Online <br>
		<span class="heading">Author:</span> Markio <br>
	</div>
	<h2> Declaration </h2>
	<p>
		During the summer vacation of 2024, MASK conducted its first online art competition;
        you can probably guess the theme. Yes, it was <b>Bidoof</b>!
        In celebration of Bidoof Day, which was on 1st July, we organized an art competition celebrating Bidoof.
        <br>
        The competition was divided into two sections, Traditional Art and Digital Art, and registration started on the 20th of May.
        The competition Deadline was 20th June, and by the end, we had received many submissions.
        After a long and rigorous grading process, the results were finally declared on 1st July, Bidoof Day.
	</p>
	<h2> Results </h2>
		<div class="image-container">
			<img src="/assets/events/bidoof-art/traditional_winner.jpg" alt="">
			<p>The winner of Traditional Art was <b>Suranjan Karmakar</b></p>
	</div>
	<br>
		<div class="image-container">
			<img src="/assets/events/bidoof-art/digital_winner.webp" alt="">
			<p>The winner of Digital Art was <b>Viswasarathi NM</b></p>
	</div>

{% endblock %}
