{% extends '_event.njk' %}

{% set pagetitle = 'Intra-Soc Anime Quiz Extravaganza' %}
{% set pagedesc = 'The Intra-Society Anime Quiz was an EPIC showdown, and the results? Mind-blowing!\n From jaw-dropping trivia to intense battles of otaku knowledge, we witnessed friendships forged and rivalries born!' %}

{% block eventContent %}
	<div class="event-info">
		<span class="heading">Date:</span> April 28, 2023 <br>
		<span class="heading">Location:</span> Classified <br>
		<span class="heading">Report By:</span> Gargi Raj <br>
	</div>
	<p>
		Senior year exams ended, and we kicked off the ultimate bonding experience with an exciting Intra-MASK Anime Quiz.
		The stage was set for teams to compete: Akatsuki, led by Nishkal; Straw Hats, led by Vidhu; Edgerunners, led by Abhibhu; and Rent-a-Weeb, led by Arghadeep.
		Teams battled it out in a thrilling round robin quiz, selecting questions from Easy, Medium, and Hard categories,
		each with different points and penalties, and 3 wildcards available:
	</p>
	<div class="image-container">
		<img src="/assets/events/intrasoc/1.webp" alt="">
		<p> Image of the three wildcards </p>
	</div>
	<p>
		Strategies emerged as teams devised prioritising Easy questions to rack up points and establish dominance.
		Akatsuki took an early lead, but stumbled when they played the 7:3 Strike wildcard, allowing Rent-a-Weeb to surge ahead and climb the points ladder.
		Surprises unfolded with some googly questions. Edgerunners faced utter misfortune, while Straw Hats played it safe, missing out on advantageous risks taken by Rent-a-Weeb.
		Throughout the 12 exciting rounds, teams cheered and taunted one another, creating a lively atmosphere.
	</p>
	<div class="image-container">
		<img src="/assets/events/intrasoc/2.webp" alt="">
		<p>"Apologies for the blurry photo. As the MN Team, we had to go incognito with the no-phone-policy!"</p>
	</div>
	<p>
		In the end, Rent-a-Weeb emerged victorious, with Akatsuki, Edgerunners, and Straw Hats following closely. The event captivated both anime connoisseurs and newcomers alike, smoothly executed with the clever use of a PowerPoint and spreadsheet.
	</p>
	<p>
		Sahil from the DNA team had handled design and drafting. Shifting between static and dynamic PowerPoint design, he recalls enjoying the backstage effort that went into dynamic drafting, done over a spaced 10 hour work week. Dishant, Vipin, and Aman from the Quiz Team were the brains behind the creative questions. Kudos team!
	</p>
{% endblock %}
