{% extends '_event.njk' %}

{% set pagetitle = 'Intra-Soc Anime Quiz 2024' %}
{% set pagedesc = 'A quiz event held by the Fresher Quiz members, exclusively for the members of MASK, held at an undisclosed location' %}

{% block eventContent %}
	<div class="event-info">
		<span class="heading">Date:</span> January 13, 2024 <br>
		<span class="heading">Location:</span> Somewhere in Za Warudo <br>
		<span class="heading">Author:</span> Markio <br>
	</div>
	<p>Here I thought that I would be free after the taxing task of preparing the Intra-soc Quiz, but I have been ambushed with an after-event report as well. The struggles of life are oftentimes cruel and unfair…and so, I will be presenting my extremely biased retelling of the events.</p>
	<p>Preparations for the event started in mid-December when we were tasked with making the quiz questions. Each member had to come up with 20 questions on average, making a grand total of 200 questions. These 200 questions were strongly scrutinized by the seniors, and only 48 questions finally made it to the quiz.</p>
	<p>Work on the presentation started in the first week of January, but due to style issues and background design, the whole idea had to be scrapped, and we started working on a completely new design on the 5th. Many late-nighters had to be pulled, but the quiz was completed and presentable on the morning of 13th January, and just in time too, since the event was on the evening of the 13th.</p>
	<h2> Event Day </h2>
	<p> The event kicked off on 13th January at 6 pm. The protagonists of this event are our four teams, <b>Domain-expansion</b>, led by Vidhu, <b>Shadow Garden</b>, led by Abhibhu, <b>Dark Gallery</b>, led by Nishkal, and <b>Thala</b>, led by Nikhith. </p>
	<div class="image-container">
		<img src="/assets/events/intrasoc-2024/image5.jpg" alt="">
	</div>
	<p>Despite being enthusiastic and excited for the quiz, no one had the faintest idea about the kind of hell they would be going through.</p>
	<div class="image-container">
		<img src="/assets/events/intrasoc-2024/image1.jpg" alt="">
	</div>
	<p>The quiz was divided into four sections: Easy, Medium, Hard, and Insane, making for a grand total of 60 questions. Twelve landmine questions had been hidden among these sixty, in which teams were given a wide range of tasks, ranging from guessing the MASK member, to acting out a scene from an anime, some of them being very <i>embarrassing</i> (to get the hidden footage, you will have to join MASK).<p>
	<p>It was a hard-fought battle between the teams, and they tried their hardest till the very end. The initial difficulty of the questions took them by surprise, and the points of all four teams were running into the negatives. But, after a while, they got the hang of the questions and quickly started stacking up points.</p>
	<div class="image-container">
		<img src="/assets/events/intrasoc-2024/image3.jpg" alt="">
	</div>
	<h2> Results </h2>
	<p>After three long hours of competitive quizzing, the event finally ended with Team Dark Gallery on top with a <b>whopping 205 points</b>. But the real MVPs of this event were Team Thala, who, despite going to the <i>depths of the negative 200s</i> and being in the negatives throughout the event, managed to come out at the end with positive points.<p>
	<p>After the end of the event, the prize distribution started, and a skirmish started at the prize table to get their hands on the best posters.</p>
	<div class="image-container">
		<img src="/assets/events/intrasoc-2024/image4.jpg" alt="">
	</div>
	<p>The event ended with positive feedback from the attendees, so I suppose all’s well that ends well. Congrats to the Quiz Team for a wonderful job (despite being a part of it myself).</p>

{% endblock %}
