{% extends '_event.njk' %}

{% set pagetitle = 'Open Campus Anime Quiz 2024' %}
{% set pagedesc = "MASK's Open Campus Anime Quiz was back, and it did not disappoint! The atmosphere crackled with energy as questions flew back and forth, with each answer met by cheers and groans." %}

{% block eventContent %}
	<div class="event-info">
		<span class="heading">Date:</span> August 18, 2024 <br>
		<span class="heading">Location:</span> V-3, Vikranshila <br>
		<span class="heading">Author:</span> Rishabh Dehariya <br>
	</div>

	<p> During the start of the semester, the Manga and Anime Society Kharagpur organised an Open Campus Anime Quiz, which sparked excitement and joy among the students. Thoughtful preparation and a high level of participation created a lively and passionate atmosphere. This event made a lasting impression, leaving everyone energised and filled with excitement! </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2024/1.png" alt="Crowd at Raman Auditorium">
	</div>

	<h2> Motivation for the event: </h2>
	<p> Following the resounding success of MASK's Open Campus Anime Quiz in the past couple of years, our team wasted no time gearing up for this year’s edition. At the start of the semester, we enthusiastically dived into creating engaging quiz questions and planning captivating performances. </p>

	<h2> Conduction: </h2>
	<p> On August 18th, 2024, the highly anticipated day arrived, and V-3 Vikramshila became the venue for our lively event. Students came in high spirits, and the air was filled with anticipation. Our hosts, Nayandeep (Markio) and Anamika, kicked things off with great energy, setting the tone for the evening and giving some insights about MASK. </p>

	<p> Meanwhile, quizmasters Binaya (BNY) and Rishabh (HRD) started Round 1 with easy questions to help everyone understand OCAQ. The questions covered various topics, from general knowledge to pop culture, engaging the participants immediately. Later, Round 2 featured a video round, allowing the audience to relive the nostalgia of popular anime and engaging them with fascinating questions. The videos were carefully selected to provide entertainment and challenge, keeping the audience on the edge. Their humorous banter made the first few rounds a hit, creating a lively and engaging atmosphere. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2024/2.png" alt="Duet">
	</div>

	<p> Soon after, Shehryaar and Rishith took over, guiding participants through the 3rd round, which was image-based, showcasing cool and weird character images. The round tested the participants' knowledge and sparked discussions and excitement as they tried to identify the characters and their significance. Then, Round 4 began with a theme of audio-based questions, capturing everyone's attention with a mix of sound clips and music excerpts. The round challenged the participants' auditory skills and added an interactive element to the event. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2024/3.png" alt="Guess the anime">
	</div>

	<p> Following this, Nayandeep and Anamika returned to the stage to spice things up with a bonus round featuring questions that were twice as difficult and offered double the points. The bonus round added excitement and competition, keeping the audience engaged and eager to showcase their knowledge and skills. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2024/4.png" alt="Guitar Performance">
	</div>

	<p> But the night was not all about the questions. The night was filled with some musical performances after Round 2, where Arhana played the Ukulele, which made everyone move from their seats to get the vibe. Nikhith Performed a banger with Guitar and then with Drums, which made it look electrifying to the audience. </p>

	<div class="image-container">
		<div class="slideshow-container">
			{{ slide('ocaq-2024', '5.png') }}
			{{ slide('ocaq-2024', '6.png') }}
			{{ slide('ocaq-2024', '7.png') }}
		</div>
		<p> The winners with their prizes. </p>

	</div>

	<p> After the event, we unveiled the long-awaited results, followed by the much-anticipated prize distribution ceremony. The atmosphere was filled with excitement as we celebrated the winners and witnessed their joy upon receiving their well-deserved prizes, with some opting for waifu posters and others choosing posters featuring epic fight scenes. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2024/8.png" alt="Group Photo">
		<p> Yo MASK </p>
	</div>
{% endblock %}
