{% extends '_event.njk' %}

{% set pagetitle = 'Open Campus Anime Quiz 2023' %}
{% set pagedesc = "MASK's Open Campus Anime Quiz was back, and it did not disappoint! The atmosphere crackled with energy as questions flew back and forth, with each answer met by cheers and groans." %}

{% block eventContent %}
	<div class="event-info">
		<span class="heading">Date:</span> September 03, 2023 <br>
		<span class="heading">Location:</span> Raman Auditorium, Main Building <br>
		<span class="heading">Author:</span> NPC <br>
	</div>

	<p> In the middle of a hectic semester, our Open Campus Anime Quiz was a welcome change of pace, injecting fun and excitement into the lives of students. Careful planning met with enthusiastic participation, creating an atmosphere filled with energy and passion. It became an unforgettable event that left everyone buzzing with excitement! </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2023/5.webp" alt="Crowd at Raman Auditorium">
	</div>

	<h2> Motivation for the event: </h2>
	<p> The success of the first offline event of MASK, Open Campus Anime Quiz 2022-23, led to the early planning of this event. We began working on questions and performances even before the semester began. </p>

	<h2> Conduction: </h2>
	<p> On the eagerly anticipated day of September 3rd, 2023, our journey at Raman Auditorium began, and so did the arrival of our enthusiastic audience. The vibrant event kicked off with our dynamic hosts, Sahil and Soumil, setting the stage, while Aman and Hardik took charge of the quiz, peppering the atmosphere with intriguing trivia questions. The audience's energy was contagious, making the first round a delightful experience. And just like that, the second round arrived, masterfully hosted by Dishant and Vipin, where anime characters were unveiled through clever hints, adding an exciting twist to the evening. </p>

	<p> But the excitement didn't stop there! In between the rounds, we treated our audience to a mesmerising break filled with sensational performances, featuring iconic tracks from the anime universe. Arhana and Shreya enchanted us with the soul-stirring melody of <a href= "https://kimetsu-no-yaiba.fandom.com/wiki/Gurenge">"Gurenge"</a> from Demon Slayer, followed by Ashish's rendition of <a href="https://jojo.fandom.com/wiki/The_World">"The World"</a> from Death Note. Arhana then captivated hearts with <a href="https://onepiece.fandom.com/wiki/Binks%27_Sake">"Binks no Sake"</a> from One Piece, and the crowd was transported to the world of Naruto with the enchanting <a href="https://naruto.fandom.com/wiki/Blue_Bird">"Blue Bird"</a> performance. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2023/3.webp" alt="Duet">
	</div>

	<p> After the break, the microphone was passed to Nishkal and Saroja, leading us into the thrilling "Guess the anime" phase. The anticipation only grew as our anchors unveiled the upcoming rounds: challenging scenes, memory quizzes, and music-based questions that promised to keep everyone on their toes. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2023/2.webp" alt="Guess the anime">
		<p> Can you guess the anime from the image? </p>
		<!-- <p> Answer: SAO </p> -->x
	</div>

	<p> Oh, and let's not forget the second break! It brought us unforgettable musical moments, with Shreya's soulful rendition of <a href="https://aobuta.fandom.com/wiki/Fukashigi_no_Karte">"Fukashigi no Karte"</a>, Bhavesh's electrifying performance of <a href="https://weatheringwithyou.fandom.com/wiki/Is_There_Still_Anything_That_Love_Can_Do%3F">"Is there still anything that love can do?"</a>, Suvojit's mesmerising take on <a href="https://kiminonawa.fandom.com/wiki/Sparkle">"Sparkle"</a>, and the showstopper of the night, Jai, who left the audience in awe with a powerful performance of <a href="https://studio-bolt.fandom.com/wiki/Shinzou_wo_Sasageyo">"Shinzou wo Sasageyo"</a>. The room pulsated with energy, as the crowd joined in, dedicating their hearts just like the brave soldiers on screen. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2023/1.webp" alt="Guitar Performance">
	</div>

	<p> At the end of the event, we announced the highly anticipated results, and then came the fun part: the prize distribution ceremony! Everyone was excited to see who had won, and the winners were thrilled to receive their prizes. Some people chose waifu posters, while others preferred posters with epic fight scenes. </p>

	<div class="image-container">
		<img src="/assets/events/ocaq-2023/6.webp" alt="Prizes for the winners">
		<p> The winners with their prizes. </p>
	</div>
	<div class="image-container">
		<img src="/assets/events/ocaq-2023/4.webp" alt="Group Photo">
		<p> Yo MASK </p>
	</div>
{% endblock %}
