{% extends "_base.njk" %}

{% set thispage = 'prev_events' %}
{% set pagetitle = 'Previous Events' %}

{% block pagecontent %}
<h1>Previous Events</h1>
<div class="TransparentBox">
		<h2>OPEN ANIME CAMPUS QUIZ</h2>
		<br>
		<h3>Date: November 11,2022</h3>
		<h3>Venue: V3 Vikramshila</h3>
		<br>
		<p> The first open campus event conducted by MASK, the Open Anime Campus Quiz was conducted a few days after the arrival of the freshers, serving as an introductory event to MASK.
			 With an attendance of over 150 people, the first event was a grand success which made MASK known for its events.
		</p>
		<br>
		<div class="Images">
			<img src="assets/PreviousEvents/MaskEvent1_2.jpg" alt="">
		</div>
</div>

<div class="TransparentBox">
		<h2>QUAD ANIME TRIVIA QUIZ</h2>
		<br>
		<h3>Date: March 12,2023</h3>
		<h3>Venue: V3 Vikramshila</h3>
		<br>
		<p> 
			Event Triumphs Despite Last-Minute Challenges. <a href= "/py-events/qatq">Read More...</a>
		</p>
		<br>
		<div class="Images">
			<img src="assets/PreviousEvents/Qatq.jpg" alt="">
		</div>
</div>

<div class="TransparentBox">
		<h2>23' COSPLAY EVENT COVERAGE</h2>
		<br>
		<h3>Date: April 28,2023</h3>
		<h3>Venue: In front of Main Academic Building, IIT Kharagpur</h3>
		<br>
		<p> 
			The memories of college life condensed over long years, come to an explosive close, with the graduating batch cosplaying as their favourite characters. 
			<a href= "/py-events/cosplay23">Read More...</a>
		</p>
		<br>
		<div class="Images">
			<img src="assets/PreviousEvents/Cosplay1.jpg" alt="">
		</div>
</div>

<div class="TransparentBox">
		<h2>INTRA-SOC ANIME QUIZ EXTRAVAGANZA</h2>
		<br>
		<h3>Date: April 28,2023</h3>
		<h3>Venue: Seminar Room, Takshashila</h3>
		<br>
		<p> 
			The Intra-Society Anime Quiz was an EPIC showdown, and the results? 
			Mind-blowing! From jaw-dropping trivia to intense battles of otaku knowledge, we witnessed friendships forged and rivalries born! 
			<a href= "/py-events/intrasoc">Read More...</a>
		</p>
		<br>
		<div class="Images">
			<img src="assets/PreviousEvents/Intrasoc1.jpg" alt="">
		</div>
</div>

<div class="TransparentBox">
		<h2>SUZUME NO TOJIMARI TRIP</h2>
		<br>
		<h3>Date: April 30,2023</h3>
		<h3>Venue: South City Mall, Kolkata</h3>
		<br>
		<p> 
			How far would you go to watch a movie with the gang? Answer: At least Kolkata.
			<br>
			To watch the new Makoto Shinkai movie, Suzume no Tojimari, we went to South City Mall. From toto races, early Sunday morning trains, 
			bus rides full of jokes, and a wonderful cinematic experience, this trip was our last big thing for this semester.
			<a href= "/py-events/suzume">Read More...</a>
		</p>
		<br>
		<div class="Images">
			<img src="assets/PreviousEvents/Suzume2.jpg" alt="">
		</div>
</div>
{% endblock %}

{% block customcss %}
<style>
	.TransparentBox {
		color: var(--light-gray);
    	background-color: rgba(255,255,255,.2);
    	padding: 30px 60px;
    	border-radius: 20px;
    	margin: 20px 10%;
	}

	.Images > img {
		border-radius: 16px;
		margin: 20px;
		aspect-ratio: 3 / 2;
		width: 90%;
		max-width: 550px; 
	}
</style>

{% endblock %}

