{% extends "_base.njk" %}

{% set thispage = 'events' %}
{% set pagetitle = 'Previous Events' %}

{% macro event(_title, _date, _venue, _desc, _link) %}
	<div class="event-container">
		<img src="/assets/PreviousEvents/{{ _link }}.jpg" alt="{{ _title }}">
		<div class="details">
			<h2> {{ _title }} </h2>
			<p> 
				<span> Date: </span> {{ _date }} <br>
				<span> Venue: </span> {{ _venue }} 
			</p> 
			<p> {{ _desc | safe }} </p>
			<br>
			<a href="/py-events/{{ _link }}" title="{{ _title }}"> Read More... </a>
		</div>
	</div>
{% endmacro %}

{% block pagecontent %}
	<h1>Previous Events</h1>
	<div id="events">
		{{ event (
			"Quad Anime Trivia Quiz",
			"March 12, 2023",
			"V3, Vikramshila",
			"Event triumphs despite last-minute challenges",
			"qatq"
		) }}
		{{ event (
			"Cosplay 2023 Coverage",
			"March 28, 2023",
			"In front of Main Building",
			"The memories of college life condensed over long years, come to an explosive close, with the graduating batch cosplaying as their favourite characters.",
			"cosplay23"
		) }}
		{{ event (
			"Intra-Soc Anime Quiz Extravaganza",
			"March 28, 2023",
			"Classified",
			"The Intra-Society Anime Quiz was an EPIC showdown, and the results? Mind-blowing!<br> From jaw-dropping trivia to intense battles of otaku knowledge, we witnessed friendships forged and rivalries born!",
			"intrasoc"
		) }}
		{{ event (
			"Suzume no Tojimari Trip",
			"March 30, 2023",
			"South City Mall, Kolkata",
			"How far would you go to watch a movie with the gang? Answer: At least Kolkata.<br> To watch the new Makoto Shinkai movie, Suzume no Tojimari, we went to South City Mall. From toto races, early Sunday morning trains, bus rides full of jokes, and a wonderful cinematic experience, this trip was our last big thing for this semester.",
			"suzume"
		) }}
	</div>
{% endblock %}

{% block customjs %}
	<script>
		window.onload = () => {
			[...document.querySelector('#events').children].filter((_, i) => i%2).forEach(eventContainer => {
				eventContainer.style.setProperty('flex-direction', 'row-reverse');
			});
		}
	</script>
{% endblock %}

{% block customcss %}
<style>
	.event-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		
		margin: 20px 3vw;
		border-radius: 20px;
		padding: 30px calc(10px + 4vw);
		
		background-color: rgba(255,255,255,.2);
		color: var(--light-gray);
		text-align: left;
	}
	
	.event-container > img {
		margin: 10px;
		display: block;
		max-width: 40vw;
		max-height: 42vh;
	}

	.event-container > .details {
		margin: 10px;
		width: 50vw;

		{# display: flex;
		flex-direction: column;
		justify-content: space-between; #}

		font-size: 1.04em;
	}

	.details > h2 {
		margin-block-end: 0.8em;
		text-align: center;
	}

	.details > p {
		margin-bottom: 15px;
	}

	.details a {
		color: var(--off-white);
		transition: color 0.3s;
	}

	.details span, .details h2, .details a:hover {
		color: var(--error-red);
	}

	@media (max-width: 750px) {
		.event-container {
			flex-direction: column !important;
		}

		.event-container > * {
			max-height: 100% !important;
			width: 100% !important;
			max-width: 100% !important;
		}
	}
</style>

{% endblock %}

