{% extends "_base.njk" %}

{% set thispage = 'quad_anime_trivia_quiz' %}
{% set pagetitle = 'Quad Anime Trivia Quiz' %}

{% block pagecontent %}
<h1>QUAD ANIME TRIVIA QUIZ</h1>
<div class="TransparentBox">
    <p>
        After the end of meticulous mid-semester exams for the seniors and the first semester of their college lives for the freshmen, 
        our society decided to start things off in the spring semester with a quiz event in March bringing fans from four different fandoms together- namely 
        the power-packed One Punch Man, the heroic My Hero Academia, the epic Naruto, and the thrilling Attack on Titan. 
        Participants eagerly engaged their minds, furiously tapping on their devices in pursuit of the ultimate reward: coveted merch t-shirts adorned with the 
        emblems of their favorite anime, accompanied by a treasure trove of enticing goodies. In a comical twist of fate, the first prize winners 
        turned out to be students from different academic years.
    </p>
    <br>
    <div class="Images">
        <img src="/assets/PreviousEvents/Qatq1.jpg" alt="">
        <img src="/assets/PreviousEvents/Qatq3.jpg" alt="">
        <img src="/assets/PreviousEvents/Qatq2.jpg" alt="">
    </div>
    <br>
    <p>
        Despite the last-minute venue changes and technical challenges, the organizers embraced their inner anime heroes, overcoming obstacles with unwavering enthusiasm. 
        The event buzzed with a vibrant atmosphere as participants showcased their knowledge of beloved anime worlds. This experience has taught us valuable lessons, 
        and we are committed to improving future events for everyone's enjoyment. Together, let's continue to celebrate the magic of anime and look forward 
        to the next chapter of our shared journey.
    </p>
</div>
{% endblock pagecontent %}

{% block customcss %}
<style>
	.TransparentBox {
		color: var(--light-gray);
    	background-color: rgba(255,255,255,.2);
    	padding: 30px 60px;
    	border-radius: 20px;
    	margin: 20px 10%;
		text-align: left;
	}
    .Images > img{
        border-radius: 8px;
        margin:20px;
        aspect-ratio: 3/2;
		width: 300px;
        max-width: 90%;
    }
</style>

{% endblock %}