{% extends "_base.njk" %}

{% set thispage = 'suzume_trip' %}
{% set pagetitle = 'Suzume no Tojimari Trip' %}

{% block pagecontent %}
<h1>SUZUME NO TOJIMARI TRIP</h1>
<div class="TransparentBox">
	<p>
		After working on events and the intro video shoot for the whole month of March, we felt it was finally time to just relax and enjoy ourselves instead of working on something. 
		Thanks to Makoto Shinkai sensei, we had the perfect thing to spend a weekend on—an anime movie in the theatre and not just on a computer screen. 
		However, due to the endsems, the plan was pushed back to the end of the month T-T.<br>
		<i>Meanwhile, in the examination rooms</i>
	</p>
	<div class = "highlight"> 
	<p>
		<i>The first question we read in each paper: <b>Omae wa mo shindeiru</b></i>
	<br>
	</p>
	</div>
	<p>
		After the exams ended, after spending the evening [interviewing cosplayers](<a href= "/py-events/cosplay23">23' Cosplay Event Coverage</a>), 
		participating in an [intra soc quiz](<a href= "/py-events/intrasoc">Intrasoc Anime Quiz Extravaganza</a>) and resting for a day, we finally left for Kolkata at 7 in the morning. 
		Taking the Steel Express at 8, we spent the next few hours in the train either napping (I mean, who wakes at 7 in the morning on a Sunday of all days?) 
		or playing dumb charades, which turned out to be a goldmine for inside jokes.
	</p>
	<br>
	<img class="Images" src="/assets/PreviousEvents/Suzume1.jpg" alt="">
	<br>
	<p>
		After reaching Howrah, we took a bus and joined a few guys who chose to meet us directly at South City Mall. (Why didn't you come with us? T-T... <i>ahem</i>) 
		After having lunch (or rather, brunch for quite a few of us), it was time to watch Suzume. Air-conditioned room, comfy seats, and a cup of cold drink-what's 
		a better way to watch a movie in a scorching summer?
	</p>
		<br>
			<img class="Images" src="/assets/PreviousEvents/Suzume3.jpg" alt="">
		<br>
	<p>
		After the movie, we spent an hour looking at the mangas in the book store at the mall (,even purchasing them) and we slowly parted ways, 
		be it back to the campus, home in Kolkata, or directly back to hometown. All in all, it was a rather unforgettable experience filled with inside jokes, 
		dumb ways to make dumb charades dumber, WhatsApp sticker content, and a story we will remember for the rest of our lives. 
		<br>
			<i>
				I wonder if we can make an anime movie or a short series on this...
			</i>
		<br>
	</p>
	<div class="highlight">
	<p>
		 <i>Bonus content: Those who chose to go back to the campus had their own adventure, but that's a story just for us (maybe you'll find out if you join MASK)</i>
	</p>
	</div>
		<br>
		<img class="Images" src="/assets/PreviousEvents/Suzume4.jpg" alt="">
</div>
{% endblock pagecontent %}

{% block customcss %}
<style>
	.TransparentBox {
		color: var(--light-gray);
		background-color: rgba(255,255,255,.2);
		padding: 30px 60px;
		border-radius: 20px;
		margin: 20px 10%;
		text-align: left;
	}
	.Images{
		border-radius: 15px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		aspect-ratio:5/3;
		width: 90%;
		max-width: 550px;
	}
	.highlight{
		background-color: rgba(255,235,235,.1);
		border-radius: 2px;
		border-size-left: VAR(--red);
		margin-bottom: 5px;
	}
</style>

{% endblock %}