{% extends '_event.njk' %}

{% set pagetitle = "The Anime Seekers' Quest 2024" %}
{% set pagedesc = "A thrilling treasure hunt blending anime knowledge, teamwork, and adventurous spirits in the heart of KGP campus!" %}

{% block eventContent %}
<div class="event-info">
    <span class="heading">Date:</span> March 17th, 2024 <br>
    <span class="heading">Location:</span> Gymkhana Premises and 2.2 Road <br>
    <span class="heading">Author:</span> Dalli Manideep <br>
</div>

<div class="highlight">
    <p>
        The Anime Seekers’ Quest was a treasure hunt like no other, combining anime fandom and the thrill of adventure. Participants from all years joined forces, solved riddles, and unlocked locations in a race to claim the ultimate treasure of anime-themed prizes.
    </p>
</div>

<p>
    An anime treasure hunt event called “The Anime Seekers’ Quest” was conducted by the Manga and Anime Society Kharagpur (MASK) on 17th March 2024. The event was scheduled to begin at 3 PM at the premises of the Gymkhana building. Participants began to gather in front of the Gymkhana building at 03:04 PM and reached an equilibrium at 03:15 PM. We were quite delighted after seeing shinobi from all ninja villages among the participants (for non-chuunibyou readers, it means students of all years). At 03:20 PM, the participants were given instructions by Vidunram. Various other members, including the governors, team heads, and the subheads of WebD and Quiz, were on site to monitor the event, which speaks volumes about the event's importance to us. The event began around 03:30 PM.

</p>

<p>
    This treasure hunt, like all treasure hunts, was a team activity. Each team comprised 2-4 members, and solo participants were paired each other on the spot by MASK members before the event started. Each team received two types of questions: location-based questions that asked anime-related riddles with answers corresponding to places in KGP and general anime questions that needed to be answered to unlock the location-based questions.  For convenience and clarity, the teams were to search for their clues only in areas surrounding the 2.2 Road. I hope there were no “Zoro”s among the participants. At each spot, hunters were greeted by a team of one associate and one fresher, who provided the verification code for the location in the web app. 

</p> 
<div class="image-container">
    <div class="slideshow-container">
        {{ slide('treasure-hunt', '1.webp') }}
        {{ slide('treasure-hunt', '2.webp') }}
        {{ slide('treasure-hunt', '3.webp') }}
    </div>
    <p><i><b> Event proceedings </b></i></p>
</div>

<p>
    The WebD team of MASK worked through sleepless nights to produce a web app for this event at lightning speed. Their commendable dedication turned a once tedious task into a smooth and simple process. They rigorously tested the app and even rallied many of our members to stress-test the server. However, they couldn’t avoid pulling another all-nighter before the event. (inspiration was <b><s> not </s></b> taken from MAPPA)
</p>

<p>There was a fun bonus part of the event in which an “NPC” would roam around, escaping the clutches of participants trying to catch him. The first few teams catching the bonus guy would get additional prizes! Surprisingly to many, even within MASK, an imposter was also roaming around to confuse the teams! Haha, there is no need to worry too much because the imposter would give tips regarding the questions, indirectly helping the team in exchange for their time. No prizes for the imposter tho (: As for the NPC, although he was spotted by a lot of teams in the beginning, later he somehow vanished into thin air. The participants thought they were unable to find him anymore. But in reality, this guy got over all of this and performed the scam of the year!
</p>

<p>The first team completed the hunt in an impressive 34 minutes, surprising the team at the prize counter. The surprise only grew when the second team finished just 4 minutes later. The third and fourth teams arrived soon after, but not as close as the first two. From the fifth place onwards, each team finished with significant time gaps.
</p>

<p>The team that waited for the winners consisted of the governors, heads, the WebD team, the subhead of the quiz team, and a few others. The top 10 teams to finish, union, and, teams who caught the bonus guy were given prizes. The prizes included some amazing coloured posters that made for banger wallpapers, like the #1 team’s wallpaper, which is just PEAK (like Himmel), and some memorable Manga panels. The winners chose their own prizes, and our governors seemed to have fun picking the prizes with the winners, lol. While at it, we helped ourselves with some pictures of the winning teams and their prizes with MASK members in the picture lmao. We had a lot of fun with the participants, hontoni!
</p>

<p>The participants realizedrealised that they had gained a bigger treasure that day.
</p>
<div class="image-container">
    <div class="slideshow-container">
        {{ slide('treasure-hunt', '4.webp') }}
        {{ slide('treasure-hunt', '5.webp') }}
        {{ slide('treasure-hunt', '6.webp') }}
    </div>
    <p><i><b> As a wise man once said, "The real treasure was the friends they made along the way" </b></i></p>
</div>


<p>
    MASK extends its gratitude to everyone who made this event a success. Special thanks to:
    <ul style="padding: 5px calc(min(7vw, 60px));">
        <li>The participants who made the event lively and competitive</li>
        <li>Event organizers Soumil Maiti and Aman Tater</li>
        <li>Web app developers Vidunram, Ankan, and Sharanya from the WebD team</li>
        <li>Associates and freshers for their support at the treasure spots</li>
    </ul>
    As the sun set on 17th March, the event concluded with smiles, laughter, and memories to cherish. Truly, the real treasure was the friendships forged along the way.
</p>

<div class="image-container">
    <img src="/assets/events/treasure-hunt/7.webp">
    <p>The team behind the event. Kudos to all!</p>
</div>
{% endblock %}

{% block eventCSS %}
<style>
    .highlight {
        margin: 10px;
        font-style: italic;
        color: var(--off-white);
    }
</style>
{% endblock %}
