{% extends '_event.njk' %}

{% set pagetitle = ''Your Name' Screening' %}
{% set description = '' %}

{% block eventContent %}
	<div class="event-info">
		<span class="heading">Date:</span> 12th August, 2024 <br>
		<span class="heading">Location:</span> Netaji Auditorium, Main Building <br>
		<span class="heading">Author:</span> Varun Ponnekanti <br>
	</div>
	
	<h2> Intro: </h2>
	<p> The much anticipated anime movie screening of  <i> Your Name </i> (Kimi no Na Wa) after a very successful One Piece: Gear 5 screening the previous year took place on an unusually enthusiastic Monday night of 12th August, 2024. A housefull Netaji Auditorium witnessed one of the most beloved and visually stunning anime films of all time on a big screen, as the event drew a diverse crowd of students eager to immerse themselves in the film’s emotional and mystical journey.</p>
    <div class="image-container">
		<img src="/assets/events/your-name/1.jpg" alt="">
		<!-- <p> </p> -->
	</div>
	
	<h2> Pre-Screening Excitement: </h2>
	<p> The atmosphere outside Netaji Auditorium was electric as anime fans began gathering well before the event's scheduled start at 8:00 PM. Students formed a lively queue, buzzing with anticipation to witness the beloved masterpiece directed by Makoto Shinkai on the big screen. </p>

    <p> In the lively pre-screening event organised by <b>MASK</b> for <i>Your Name</i>, the team showcased their creativity with a stunning display of anime music videos (AMVs). These AMVs seamlessly combined memorable moments from popular anime, synchronized with emotional music that resonated with the audience. The impressive editing and heartfelt execution demonstrated the talent and dedication of the MASK team, building anticipation for the main event—the screening of <i>Your Name</i>. </p>
    <div class="image-container">
		<img src="/assets/events/your-name/2.jpg" alt="">
		<!-- <p> </p> -->
	</div>
	
	<h2> Screening Experience: </h2>
	<p> As the lights dimmed and the first scene of <i>Your Name</i> appeared on the massive screen,  the audience was instantly transported into the breathtaking world of Taki and Mitsuha, with the vivid animation and detailed landscapes drawing loud shouts from the crowd. </p>

    <p> The audience was swept through a rollercoaster of emotions. Laughter echoed during the lighthearted body-swapping moments, especially when Taki and Mitsuha hilariously adjusted to life in each other’s shoes. But as the narrative deepened, the atmosphere became more intense, and the auditorium grew increasingly silent, the viewers entirely absorbed by the growing mystery and emotional stakes. </p>

    <p> As the film drew to its heartfelt conclusion, the audience broke into applause. The stunning visuals, paired with the deeply emotional storyline, left a lasting impression on all who attended, sparking lively conversations and reactions as the credits began to roll. The screening offered a perfect mix of wonder, emotion, and shared experience, with many attendees lingering in their seats, reluctant to part with the captivating world of <i>Your Name</i>. </p>
	<div class="image-container">
		<img src="/assets/events/your-name/3.jpg" alt="">
		<!-- <p></p> -->
	</div>

	<h2> Post-Screening Reflections: </h2>
	<p> Students gathered outside the auditorium, discussing their favorite scenes and the film's emotional depth. Many expressed their gratitude to the organisers for bringing such a beloved anime to life on the big screen. </p>

    <p> The event also fostered meaningful connections within the anime community at IIT Kharagpur, as students shared their thoughts on <i>Your Name</i> and anime in general. Requests were already pouring in for future screenings of films. </p>
	<div class="image-container">
		<img src="/assets/events/your-name/4.jpg" alt="">
		<!-- <p></p> -->
	</div>

	<h2> Conclusion: </h2>
	<p> The screening of <i>Your Name</i> marked yet another milestone for anime culture at IIT Kharagpur. By providing an immersive and memorable experience, MASK once again demonstrated their commitment to fostering a strong anime culture on campus. With this event's success, there’s no doubt that future anime screenings will continue to bring students together, creating lasting memories and deepening their appreciation for the art form. </p>
	<div class="image-container">
		<img src="/assets/events/your-name/5.jpg" alt="">
		<!-- <p></p> -->
	</div>
{% endblock %}


{% block eventCSS %}
	<style>
		.image-container {
			background-color: black;
		}
	</style>
{% endblock %}