{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Music (in) Anime </h2>
		
		<br/>
		<div class="article-author">By: Markio</div>
		<br>
		<div class="article-content">
			<p>I am not quite sure why I am making this into a series (the previous part being the “Action (in) Anime” Article from the March Newsletter), but here we are. Welcome back to the series where I rave about a specific genre of anime and shows that I really like. This time’s contender is pretty niche and a genre most people sleep on, so I assume most of you wouldn’t know the shows I will be discussing. So, here’s to hoping that reading my incoherent ramblings will get you all interested enough to actually watch the shows I mention.
			</p>
			<br/><center><img src="/assets/releases/2024-10-1/1-1.webp" alt="" style="height: calc(min(300px, 25vw));"></center><br>

			<p>In anime, the music genre is definitely one of the more niche genres, which most people tend to sleep on unless the show is extremely popular. (You can guess what the most popular anime in this genre is, and I will get to that one later…) I am also guilty of this offense, and my palette of musical anime was fairly limited until the summer of 2024.</p>

			<p>During my summer holidays, with ample time in my hands and infinite resources for skill-building, I did what any good college student does and wasted it all in playing games and watching anime/movies. Among the plethora of new anime that I watched, there were two genres in particular that I dipped my toes into for the first time (due to the incessant nagging of two of my friends): Mecha and Music anime. The Mecha genre is a whole different beast that I can hopefully write about in the future once I finish the Gundam franchise. But let’s set that aside and look into the Music genre now.</p>

			<p>The shows that I watched were some of the best shows I had ever watched in my 6+ years of watching anime, and now I have a strong urge to write an article about them. So, ya, this will basically be a session of me yapping about some of my favorite anime. Why else do you think there is a “music” article in the Science-fiction edition of our Newsletter?<br>Now that I am done with my excessively long introduction let’s get started.</p>
			<h3>Love-Live</h3>
			<br/><center><img src="/assets/releases/2024-10-1/1-2.webp" alt="" style="height: calc(min(300px, 30vw));"></center><br>
			<p>Love Live is one of the most popular Idol anime, which is evident from the plethora of shows it has under its belt and new seasons or spin-offs that come out every year. It is definitely more popular in Japan compared to the Western anime community, but it still has a decent online presence. I personally have never been a fan of Moe or cutesy shows, so this one never really attracted my attention. I decided to give the show a try since I didn’t have anything better to do. (who needs skill-building, when I can watch high school girls dance and sing idol songs?) And my thoughts on this are pretty much the same as it was before, it was somewhat enjoyable to watch with a friend, but nothing that amazing.</p>

			<h3>Bocchi the Rock	</h3>

			<p>“Hmmm, another Moe cute girl anime…I wonder if I will enjoy it. Well, since so many people have watched it, I should watch it as well.” is the mindset with which I was going into this show. And then I watched the first episode.</p>

			<br/><center><img src="/assets/releases/2024-10-1/1-3.webp" alt="" style="height: calc(min(300px, 20vw));"></center><br>
			<p>Bocchi the Rock has been one of the most entertaining anime that I have watched in 2023, and what I consider the gold standard for the Moe genre. The experimentative nature of the comedy in the show was exceptional, and was a fun ride from start to end. Oh ya, I was supposed to be discussing the music.</p>
			<p>Despite many of its gags and jokes not being derived from the musical aspect of the show, it is the central theme of the show. A goal that brings our characters together and gives objective meaning to the show, other than a slapstick comedy about a high schooler suffering from social anxiety. The music in this show is amazing, with some of the best J-rock music I have heard in any anime, and is a perfect vessel to propel the story forward despite all the goofy shenanigans that take place throughout the show.</p>
			<br/><center><img src="/assets/releases/2024-10-1/1-4.webp" alt="" style="height: calc(min(300px, 30vw));"></center><br>
			<h3>Shoujo☆Kageki Revue Starlight</h3>
			<p>Now, it's time for ‘Niche Underground Anime No #1’. Revue Starlight is the story about…I am not really sure myself (Well, this is a lie, and you will see why later). Girls who go to a theatre school start participating in a competition of sorts where a talking giraffe tells them to out-revue each other while also fighting each other with weapons, all while singing and dancing.</p>

			<p>I doubt any of that made any sense to you, and it probably won’t until you watch the anime. The show's main themes revolve around the different characters overcoming their character faults and shortcomings by laying bare their emotions in the underground revues. It was an interesting and novel concept that interested me, but I came out of the anime feeling somewhat dissatisfied, like I didn’t really get the whole package, and this was just a build-up to something grander.</p>

			<br/><center><img src="/assets/releases/2024-10-1/1-5.webp" alt="" style="height: calc(min(300px, 30vw));"></center><br>
			<p>That is where the movie comes in. The movie is a sequel to the TV series and elevates this show from a nice snack to gourmet cuisine. The movie has the advantage of having characters who are relatively fleshed out right from the start, so it doesn’t waste a moment and gets right into the action. The original series revolves around the themes of sacrifice, and so does this movie. Each character has to find their path to the future, and for each of them, it involves sacrificing something dear to them to achieve it. The movie is a non-stop barrage of music, action, character drama, and resolutions, all building up to a singular grand theme. While I would like to go more in-depth into the movie, it is best experienced blind.</p>

			<h3>Hibike! Euphonium</h3>
			<p>‘Niche Underground Anime No #2’</p>
			<p>
				Well, Hibike might not be as underground as the previous show, but that can solely be attributed to how much of a powerhouse Kyoto Animation is. If some shows got the KyoAni stamp of approval, you know it’s gonna be peak. But Hibike isn’t just another anime in KyoAni’s collection, to me, it stands out as their best work and should be assigned the status of GOAT.
			</p>

			<p>
				Looking at Hibike from the perspectives of animation, direction, story, characters, etc, you can easily see that KyoAni has put their heart and soul into this project, but it also has a very emotionally gripping story, which is a make-or-break moment for many high-production shows. Despite having great animation, if a story is not gripping, I gradually lose interest and start finding it boring. There was never a dull moment in Hibike, despite it being a slice-of-life anime. The character dramas and interactions are some of the most gripping conflicts I have seen in any show, and the struggles of characters start feeling like your own struggles, and you end up getting excited when the cast achieves something and disappointed when they fail.
			</p>

			<br/><center><img src="/assets/releases/2024-10-1/1-6.webp" alt="" style="height: calc(min(350px, 30vw));"></center><br>

			<p>
				The story is focused on the Kitauji Music Club, which is a concert band/wind ensemble club, so the majority of the music is classical in nature. I never really went out of my way to listen to classical music, but the music in this anime is a treat even to my amateur ears. The background music feels fresh and unique and is fun to listen to. And the concerts held by the band are not only exceptionally well-played but also feel like a culmination of all the effort and work the characters had done throughout the show. And the concert being avenues where they could reveal everything they had learned and how far they had grown from the beginning.
			</p>

			<p>Considering how this is a character drama and is completely built on the characters and their dynamics with one another, I think it is only fitting that we discuss the characters a bit. This show excels at making grounded and believable characters, and there are a lot of likable characters, but for me, one of them shines well above the rest.</p>

			<p>Oumae Kumiko is one of the most relatable characters I have seen in any medium, so she holds a soft spot for me among all the other characters in this show. But, despite that, her character growth throughout the 3 seasons of the show has been a treat to watch, and I would highly recommend this show to anyone who enjoys good character dramas. I think it's best that I cut it short here, or else I will never stop talking about how great Hibike is.</p>

			<h3>Senki Zesshou Symphogear
			</h3>
			<p>‘Niche Underground Anime No #3’<br>I am starting to see a pattern among these Music anime hmmm.</p>

				<p>Well, calling Symphogear a music anime is not really an accurate representation of the show, but music is definitely a core theme throughout the show. I will once again try to badly explain the main premise of this show.<br>Symphogear is about a group of girls using the power of music and friendship to transform into power suits called Symphogear and fight against mindless creatures called “Noise” and other villains trying to take over the world.
				</p>

				<p>Well, if that explanation didn’t help much, hopefully this will</p>

				<br/><center><img src="/assets/releases/2024-10-1/1-7.webp" alt="" style="height: calc(min(300px, 35vw));"></center><br>

				<p>Hopefully, with this, you get a bit of a gist as to what kind of show this is. Do you know how I said that Hibike as a show excelled in all departments and gave a well-constructed and beautifully made show? Well, Symphogear is quite the opposite.</p>

				<p>Through its span of five seasons, Symphogear grows from a completely mediocre and forgettable show to one of the most enjoyable shows I have watched. A brief idea of this growth across the seasons can be seen by my scores for the various seasons (for comparison, 85% of my shows have a score above 60)</p>

				<br/><center><img src="/assets/releases/2024-10-1/1-8.webp" alt="" style="height: calc(min(250px, 25vw));"></center><br>

				<p>Symphogear is the story of a series that constantly learns from its mistakes and improves them, and to watch the quality of this series rise from substandard to something exceptional was a unique journey in itself. A similar journey can be seen in the life of the protagonist of this story, Tachibana Hibiki. Hibiki starts off as your average overenthusiastic and overexcited character, but as the series progresses, she goes through many hardships and struggles that harden her and show her many flaws in her personality. The one part that didn’t change from the start is her indomitable spirit and drive to achieve her goals. This, paired with her ever-growing nature, makes her one of the most motivational and, more importantly, badass characters by season 5.</p>

				<p>Despite the other aspects being subpar, one aspect of the show was amazing right from the start: the music. The music in this show ranges from J-pop to J-rock to traditional Japanese, and all of it is a treat for the ears. This was probably what made me stick with the show despite its rocky start. (along with the multiple times a friend recommended this show to me) If you want to get an idea as to the kind of music you can expect from this show, do give a listen to <a href="https://youtu.be/BMjKDaV6nJU?si=d1j4s927jNQlIUNN"target="_blank">this</a>.</p>

				<br/><center><img src="/assets/releases/2024-10-1/1-9.webp" alt="" style="height: calc(min(400px, 35vw));"></center><br>

				<h3>Special Recommendations</h3>

				<p>I would like to give these shows their own sections, but I am running out of space to write (the WebDev Head is looking at me menacingly), I will have a quickfire round of the remaining good shows.<br>
					<br>
					Paripi Koumei<br>
					Vivy: Flourite’s Eye Song<br>
					Yoru no Kurage wa Oyogenai<br>
					Girls Band Cry<br>
					Macross Frontier (not really a music anime, but still falls here)<br>
					K-On (not much music in it, though)<br>
					Well, with that, we can pretty much wrap up this article. My overall experience with this genre has been extremely entertaining, mainly because I only watched the selective shows that my friends recommended, but this experience has opened me up to a different genre of anime, which I would have never explored otherwise.<br>
					Moral of the story: watch more shows
				</p> 
				<p>
					
					PS. Your Lie in April has good music, but the story is mid.
					</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
