{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Higurashi When they Cry : The Untold horrors of Hinamizawa </h2>
		
		<br/>
		<div class="article-author">By: illunos</div>
		<br>
		<div class="article-content">
			<h3>Introduction</h3>

			<p>This article will cover the anime adaptation of the Visual Novel, Higurashi no naku no koro ni.We will go through the complete structuring of the show as well as elements that elevate it to a level above other shows in the horror genre.</p>

			<h4>Introduction to the horror genre</h4>

			<p>The horror genre in the fields of Japanese fiction, mainly in the otaku culture, is an uncharted territory. Even a good amount of veteran watchers may not know more than 2 or 3 works based solely on this genre. Although a plethora of mangas(Junji Ito collection, Mieruko chan) exist in the horror genre, a manga, due to being what it is, falls short of its ability to stimulate the uncanny environment and effects that a visual piece can do wonders in. Most authors rely on creating spooky or violent panels in their work as a substitute for the same. Hence the anime aspect in the horror genre is still underdeveloped. Despite this fact, there are still unspoken masterpieces existing in this genre, one of which will be covered in this article today, i.e., “Higurashi When They Cry,” a TV series based on the Japanese sound novel (a type of visual novel) “Higurashi no naku no koro ni.”</p>

			<h4>A bit of History</h4>

			<p>The series initially was a visual novel, specifically a sound novel and the first work of The 7th Expansion. The direction and scenario writing for the series, along with the character illustrations, were done by Ryukishii07.</p>
			
			<p>The first game of the series was released on the 10th of August, 2002, with the last canon issue being released on the 13th of August 2006. The adaptation's first season was aired from April 4 to September 26, 2006, comprising 26 episodes. The animation was done by Studio Deen and the season covered all four of the question arcs and two of the answer arcs of the story.</p>
			
			<p>A continuation of the series produced by the same core staff and based on one new story arc and the final two original answer arcs of the franchise, aired in Japan between July 6 and December 17, 2007</p>
			
			<h3>Higurashi When They Cry: A classic for the thirst for horror</h3>

            <h4>A gist of the story.</h4>

			<p>Keiichi Maebara moves to the quiet village of Hinamizawa in the summer of 1983 and quickly befriends Rena, Mion, Satoko, and Rika. However, beneath the village's idyllic surface lies a dark history of murders and disappearances connected to the annual festival and the patron god, Oyashiro. When Keiichi seeks answers, his friends become eerily silent, fueling his paranoia. As bizarre events unfold, he grapples with mistrust and madness, questioning the true nature of those closest to him. In this unsettling atmosphere, Keiichi confronts the chilling mysteries of Higurashi no Naku Koro ni, a story revealed through multiple arcs.</p>
			
			<h4>Watch-Order</h4>
            <ul>
				<li><p>&emsp;1. When they cry(2006):  26 episodes</p></li>

				<li><p>&emsp;2. Higurashi When They Cry: Kai(2007): 24 episodes</p></li>

				<li><p>&emsp;3. Higurashi When They Cry: Gou(2020): 24 episodes</p></li>

				<li><p>&emsp;4. Higurashi When They Cry Sotsu(2021): 15 episodes</p></li>
			</ul><br/>

			<p>A thing to note is that the Gou and Sotsu series are entirely original and not related to the original VN in any way. These parts feature a new character named “Featherine Augustus Aurora,” who is originally a part of the Visual Novel Series Umineko When They Cry.</p>

			<p>These parts are optional to watch but are an extended continuation of the original standalone series. Other than these, the OVAs for the series are listed below</p>
			<ul>
				<li><p>&emsp;1. <b>Higurashi When They Cry: Gaiden</b>(2007): 1 episode- The OVA features a single episode arc, <b>“Nekogoroshi-hen.”</b> The episode is a side story in which Rika and her team brainstorm whether they should check a curious haunted quarry. Nekogoroshi-hen was a light novel released in 2006.</p></li>

				<li><p>&emsp;2. <b>When they cry: Rei</b> (2009): 5 episodes- This series is also an optional continuation to the first two parts of the main series. It is divided into three arcs, namely-<b>“Hajisarashi-hen,” “Saikoroshi-hen,”</b> and <b>“Hirukowashi-hen.”</b> An interesting fact is that at the end, the show reveals the real identity of Rika Furude as the Witch of Miracles: Bernkastel(another Umineko character)(actually a canon detail).</p></li>

				<li><p>&emsp;3. <b>Higurashi When They Cry Kira</b> (2011): 4 episodes- A series to depict the slice-of-life aspect of the Hinamizawa village. However, the OVA is mostly fan service. It consists of 4 arcs “Batsukoishi-Hen”, “Ayakashisenshi-hen”,”Musubienshi-hen,” and ”Yumeutsushi-hen.”Batsukoishi-hen was initially released on Higurashi no Naku Koro ni Rei fan disc that was supposed to be Meakashi-hen's epilogue but was dropped for being too silly and irrelevant, while the rest has original stories.</p></li>

				<li><p>&emsp;<b>Movie:-</b></p></li>
				<ul>
					<li><p>&emsp;1. <b>Higurashi When They Cry: Outbreak</b>(2013): (52-minute episode) -A spin-off episode where an unknown virus infests the Hinamizawa village and depicts the struggles of Rika and her friends as they search for a way to counter this catastrophe.</p></li>
				</ul></br>
			</ul><br/>

			<h4>Characters</h4>

			<h3>(Spoiler Alert !!)</h3>
			<ul>

			    <li><p>&emsp;1. <b>Furude Rika</b>Furude Rika is undoubtedly the true protagonist of the story. She is a seemingly ordinary little girl but is always at the heart of the events throughout the story. She is also referred to as the “Queen Carrier.” Rika, being the only heir daughter of the Furude clan, One of the three great clans of the Hinamizawa village, is assumed as the reincarnation of the local deity “Oyashiro-sama.” Due to specific reasons(watch the anime for it), she lives with his best friend Hojo Satoko.</p></li>

				<li><p>&emsp;2. <b>When they cry: Rei</b>Maebara Keiichi is initially depicted as the show's protagonist, at least for the entirety of the starting arcs. Throughout various loops, we see his environment devolve from a playful, carefree time to a murder-fest where multiple characters go psychotic.. He is a transfer student in the only school in Hinamizawa, getting cues about the uncanny history of the village. It is from his eyes that we truly experience the horror of behind-the-scenes going on in the village.</p></li>

				<li><p>&emsp;3. <b>Hojo Satoko</b>Hojo Satoko is Rika’s best friend, and her daily life revolves mainly around her. Satoko’s character is depicted as a playful prankster throughout her school. However, being the only member of one of the three great families of the village, she also happens to have a deep backstory behind her tragic past, which is untwined throughout the arcs of the story</p></li>
			
				<li><p>&emsp;4. <b>Sonozaki Mion</b>Sonozaki Mion is the heir of the Sonozaki family of Hinamizawa. She is also the leader of the Hinamizawa School club, possessing a straightforward and adventurous personality. Throughout the story, we observe her being deeply involved in the insider politics of the village.</p></li>

				<li><p>&emsp;5. <b>Sonozaki Shion</b>Sonozaki Shion is the twin sister of Sonozaki Mion. She possesses a demure personality, living separately from her family in an urban zone and working part-time in a restaurant to earn her living. The reason she lives separately is also of mysterious concern, though throughout the story, we see her relatively less in some arcs. However, she still plays a major role in the murders taking place througout the story.</p></li>

				<li><p>&emsp;6. <b>Ryugu Rena</b>Rena, along with Keiichi, is also a transfer student at the Hinamizawa school, however, unlike him, she has been there for half a year now. Rena’s personality is the most feminine in the show. Her possessiveness to cute things is one of her key features.You may have heard of the famous phrase “omochikaeriii.” Despite all of this, Rena is also a victim of trauma caused due to her parents’ divorce, Which led to her being partially insane and causing a ruckus in her past school. However, she now leads a completely everyday life but isn’t completely free from the tragedy that Hinamizawa has in store for her.</p></li>

			</ul>
				<div class="article-end"></div>
		</div>
	</div>
</div>
