{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> Higurashi When they Cry : The Untold horrors of Hinamizawa </h2>
		
		<br/>
		<div class="article-author">By: illunos</div>
		<br>
		<div class="article-content">
			<h3>Introduction</h3>

			<p>This article will cover the anime adaptation of the Visual Novel, Higurashi no naku no koro ni.We will go through the complete structuring of the show as well as elements that elevate it to a level above other shows in the horror genre.</p>

			<h4>Introduction to the horror genre</h4>

			<p>The horror genre in the fields of Japanese fiction, mainly in the otaku culture, is an uncharted territory. Even a good amount of veteran watchers may not know more than 2 or 3 works based solely on this genre. Although a plethora of mangas(Junji Ito collection, Mieruko chan) exist in the horror genre, a manga, due to being what it is, falls short of its ability to stimulate the uncanny environment and effects that a visual piece can do wonders in. Most authors rely on creating spooky or violent panels in their work as a substitute for the same. Hence the anime aspect in the horror genre is still underdeveloped. Despite this fact, there are still unspoken masterpieces existing in this genre, one of which will be covered in this article today, i.e., “Higurashi When They Cry,” a TV series based on the Japanese sound novel (a type of visual novel) “Higurashi no naku no koro ni.”</p>

			<h4>A bit of History</h4>

			<p>The series initially was a visual novel, specifically a sound novel and the first work of The 7th Expansion. The direction and scenario writing for the series, along with the character illustrations, were done by Ryukishii07.</p>
			
			<p>The first game of the series was released on the 10th of August, 2002, with the last canon issue being released on the 13th of August 2006. The adaptation's first season was aired from April 4 to September 26, 2006, comprising 26 episodes. The animation was done by Studio Deen and the season covered all four of the question arcs and two of the answer arcs of the story.</p>
			
			<p>A continuation of the series produced by the same core staff and based on one new story arc and the final two original answer arcs of the franchise, aired in Japan between July 6 and December 17, 2007</p>
			
			<h3>Higurashi When They Cry: A classic for the thirst for horror</h3>

            <h4>A gist of the story.</h4>

			<p>Keiichi Maebara moves to the quiet village of Hinamizawa in the summer of 1983 and quickly befriends Rena, Mion, Satoko, and Rika. However, beneath the village's idyllic surface lies a dark history of murders and disappearances connected to the annual festival and the patron god, Oyashiro. When Keiichi seeks answers, his friends become eerily silent, fueling his paranoia. As bizarre events unfold, he grapples with mistrust and madness, questioning the true nature of those closest to him. In this unsettling atmosphere, Keiichi confronts the chilling mysteries of Higurashi no Naku Koro ni, a story revealed through multiple arcs.</p>
			
			<h4>Watch-Order</h4>
            <ul>
				<li><p>&emsp;1. When they cry(2006):  26 episodes</p></li>

				<li><p>&emsp;2. Higurashi When They Cry: Kai(2007): 24 episodes</p></li>

				<li><p>&emsp;3. Higurashi When They Cry: Gou(2020): 24 episodes</p></li>

				<li><p>&emsp;4. Higurashi When They Cry Sotsu(2021): 15 episodes</p></li>
			</ul><br/>

			<p>A thing to note is that the Gou and Sotsu series are entirely original and not related to the original VN in any way. These parts feature a new character named “Featherine Augustus Aurora,” who is originally a part of the Visual Novel Series Umineko When They Cry.</p>

			<p>These parts are optional to watch but are an extended continuation of the original standalone series. Other than these, the OVAs for the series are listed below</p>
			<ul>
				<li><p>&emsp;1. <b>Higurashi When They Cry: Gaiden</b>(2007): 1 episode- The OVA features a single episode arc, <b>“Nekogoroshi-hen.”</b> The episode is a side story in which Rika and her team brainstorm whether they should check a curious haunted quarry. Nekogoroshi-hen was a light novel released in 2006.</p></li>

				<li><p>&emsp;2. <b>When they cry: Rei</b> (2009): 5 episodes- This series is also an optional continuation to the first two parts of the main series. It is divided into three arcs, namely-<b>“Hajisarashi-hen,” “Saikoroshi-hen,”</b> and <b>“Hirukowashi-hen.”</b> An interesting fact is that at the end, the show reveals the real identity of Rika Furude as the Witch of Miracles: Bernkastel(another Umineko character)(actually a canon detail).</p></li>

				<li><p>&emsp;3. <b>Higurashi When They Cry Kira</b> (2011): 4 episodes- A series to depict the slice-of-life aspect of the Hinamizawa village. However, the OVA is mostly fan service. It consists of 4 arcs “Batsukoishi-Hen”, “Ayakashisenshi-hen”,”Musubienshi-hen,” and ”Yumeutsushi-hen.”Batsukoishi-hen was initially released on Higurashi no Naku Koro ni Rei fan disc that was supposed to be Meakashi-hen's epilogue but was dropped for being too silly and irrelevant, while the rest has original stories.</p></li>

				<li><p>&emsp;<b>Movie:-</b></p></li>
				<ul>
					<li><p>&emsp;1. <b>Higurashi When They Cry: Outbreak</b>(2013): (52-minute episode) -A spin-off episode where an unknown virus infests the Hinamizawa village and depicts the struggles of Rika and her friends as they search for a way to counter this catastrophe.</p></li>
				</ul></br>
			</ul><br/>

			<h3>Characters</h3>

			<h3>(Spoiler Alert !!)</h3><br>
			<ul>

			    <li><p>&emsp;1. <b>Furude Rika</b><br>Furude Rika is undoubtedly the true protagonist of the story. She is a seemingly ordinary little girl but is always at the heart of the events throughout the story. She is also referred to as the “Queen Carrier.” Rika, being the only heir daughter of the Furude clan, One of the three great clans of the Hinamizawa village, is assumed as the reincarnation of the local deity “Oyashiro-sama.” Due to specific reasons(watch the anime for it), she lives with his best friend Hojo Satoko.</p></li>

				<li><p>&emsp;2. <b>When they cry: Rei</b><br>Maebara Keiichi is initially depicted as the show's protagonist, at least for the entirety of the starting arcs. Throughout various loops, we see his environment devolve from a playful, carefree time to a murder-fest where multiple characters go psychotic.. He is a transfer student in the only school in Hinamizawa, getting cues about the uncanny history of the village. It is from his eyes that we truly experience the horror of behind-the-scenes going on in the village.</p></li>

				<li><p>&emsp;3. <b>Hojo Satoko</b><br>Hojo Satoko is Rika’s best friend, and her daily life revolves mainly around her. Satoko’s character is depicted as a playful prankster throughout her school. However, being the only member of one of the three great families of the village, she also happens to have a deep backstory behind her tragic past, which is untwined throughout the arcs of the story</p></li>
			
				<li><p>&emsp;4. <b>Sonozaki Mion</b><br>Sonozaki Mion is the heir of the Sonozaki family of Hinamizawa. She is also the leader of the Hinamizawa School club, possessing a straightforward and adventurous personality. Throughout the story, we observe her being deeply involved in the insider politics of the village.</p></li>

				<li><p>&emsp;5. <b>Sonozaki Shion</b><br>Sonozaki Shion is the twin sister of Sonozaki Mion. She possesses a demure personality, living separately from her family in an urban zone and working part-time in a restaurant to earn her living. The reason she lives separately is also of mysterious concern, though throughout the story, we see her relatively less in some arcs. However, she still plays a major role in the murders taking place througout the story.</p></li>

				<li><p>&emsp;6. <b>Ryugu Rena</b><br>Rena, along with Keiichi, is also a transfer student at the Hinamizawa school, however, unlike him, she has been there for half a year now. Rena’s personality is the most feminine in the show. Her possessiveness to cute things is one of her key features.You may have heard of the famous phrase “omochikaeriii.” Despite all of this, Rena is also a victim of trauma caused due to her parents’ divorce, Which led to her being partially insane and causing a ruckus in her past school. However, she now leads a completely everyday life but isn’t completely free from the tragedy that Hinamizawa has in store for her.</p></li>

			</ul>

			<h3>The horror elements of Higurashi When They Cry</h3>

			<h3> (Spoiler Alert!!!)</h3><br>

			

			<ul>

			    <li><p>&emsp;1. <b>Hinamizawa Syndrome- The absolute terror of that which is invisible</b><br>100 years….Yes, 100 whole years was the time that Rika Furude, an innocent child, suffered due to the sole existence of this disease, and the one who introduced this into her life, into her village, by the heartless doctor and researcher Takano Miyo. Being thrown into one world from another( referred to as “kakera” in the story). Every try to outlive the fateful day of June 23, 1983, was rendered entirely useless by the ravaging of this disease into her life, into her dear friend’s lives.</p><br> 

					<b>Oyashiro-sama and Oyashiro-sama’s curse</b><br>
					
					<p>This all starts from the Hinamizawa village, originally known as “Onigafuchi village,” named after the swamp “Onigafuchi swamp (referred to as “Onigafuchi marsh” in some translations). The legends dictate that long ago, man-eating demons rose out of that swamp and started murdering and eating the people of the village and terrorizing them. This led to the appearance of a sacred deity named “Oyashiro-sama.” The deity, being displeased by these demons, granted them human form to co-exist with the villagers, and also made it taboo for anyone to leave the village and for outsiders to enter the village.</p><br>
					
					<p>We move to the modern era now, where a “Dam Construction” project is being planned, dividing the villagers into two factions, i.e., the ones supporting it and the ones opposing it. The opposing faction finally manages to nullify the project, and after that, they ostracized all the members of the Supporting Faction. Even the children of the supporting faction ended up as outcasts of the village.</p><br>
					
					<p>This is where the horror of the Oyashiro-sama’s curse begins. The deity, being vindictive of the betrayers, is thought to have cast a curse on such people on the day of the “Watanagashi(cotton drifting) festival,” dictates that one person will die on the night of the festival and the other person will be “spirited-away” on the same night. The horror of inevitability depicted here is also a common theme in its sister work, Umineko. It creates a sense of dread and foreboding in the viewer as they are aware of the eventual gruesome end and anticipate it. It also creates a sense of complacency in the viewer to stop finding hope and to give up as the outcome is determined, irrespective of the loops. The curse starts from the year 1979, failing not a single time in making random victims over the continuous course of 5 years.</p><br>

					<b>Stages of the syndrome</b><br>
					<ul>

						<li><p>&emsp;1. <b>L1 & L2: </b><br>Nothing unusual here. The victim in this stage is mostly unaffected and can carry out their everyday lifestyle.</p></li>
		
						<li><p>&emsp;2. <b>L3: </b><br>This is where the deterioration starts. The victim’s mental and emotional stability begins to be shaken by the progressing syndrome, and they remain susceptible to worsening.</p></li>
		
						<li><p>&emsp;3. <b>L4: </b><br>Still not the worst possible condition the victim reaches. In this stage, the prominent symptoms are progressing paranoia and hallucinations of a visual and auditory nature.
							One fantastic point about the presentation of the mystery is that in the question arcs, we see the events unfolding from the perspective of the victims themselves, depicting to us the true horror of these hallucinations and how much they affect their everyday lives after seeing the unfolding mystery in the answer arcs.
							</p></li>
					
						<li><p>&emsp;4. <b>L5: </b><br>The final and the worst stage of the Hinamizawa syndrome, the accurate depiction of what extreme paranoia and insanity do to a person. The hallucinations, the extreme mistrust in everyone, and the feeling of the uncanny presence of the “Oyashiro-sama” are what lead the lives of a regular group of children to go south. This stage is so much worse that the affected character ends up brutally murdering their friends for reasons only their mind, devoid of the tiniest bit of sanity, can justify. </p><br>
							<p>We see in the question arcs how much cruelty this stage of the syndrome can bring forth, as in one of the arcs, Satoko is brutally tortured by the affected Shion just for the sake of her beloved Satoshi(Satoko’s oni-chan). In another arc, Keichi mercilessly murders Mion and Rena with a bat, splitting open their heads.</p><br>
							<p>Another Key symptom of this stage is the ever-increasing feeling of the maggots crawling and squirming under the skin, causing the victim to itch and eventually tear out their skin from this feeling. The terminal L5 stage makes them commit suicide out of the dread of the Oyashiro-sama approaching them. The feeling of the maggots entirely filling their throats, to get rid of this feeling, they claw their throat and end up plowing their artery, resulting in death due to blood loss. (i am getting chills remembering all of this).
							</p></li>
		
					</ul>

					<b>The End result</b><br>
                    <p>The end result of this is nothing short of a catastrophe: a group of innocent kids, destroyed by the insanity of a disease it is, ending up in pure gore and bloodshed, which no one deserves.</p>
                    <p> Next, we take up the evil who, in her pursuit of curiosity, lost even the touch of her basic humanity.</p>
					
					<li><p>&emsp;2. <b>Takano Miyo- The true malice of human curiosity</b><br>Now, we have seen the horror of this biohazard disease, but this “Hinamizawa syndrome” is not that of an infectious nature. Now, you might be wondering how this syndrome manages to barge its way into our story. The culprit at the root of this heinous act is none other than Takano Miyo, the primary antagonist of the entire story.</p><br>

						<b>A bit of backstory</b><br>
						
						<p>Takano Miyo was originally born under the name “Miyoko Tanashi” and lived joyously with her parents in her early childhood. However, an unexpected car crash occurs, and she is suddenly stripped of her parental bonds. Now, being an orphan, she is taken to an orphanage, but who knew that the children there were so horribly abused by the staff leader? One incident of this was when Miyoko was almost forced to clean a toilet orally…...
						Together with three girls, she escapes and phone calls a man named Hifumi Takano, who was her father, Takemitsu Tanashi's mentor. Hifumi decided to adopt Miyo, and Miyo changed her name from "Miyoko Tanashi" to "Miyo Takano." Hifumi becomes a sort of grandfather for her, and she cares deeply for him. Since his name can mean "1-2-3," Miyoko decides to take the name "Miyo," which can mean "3-4." He inspires Takano on the path of biological research by allowing her to help him with his study of Hinamizawa Syndrome. When Hifumi dies humiliated and discredited by his superiors, Takano vows to complete his research, whatever the cost may be.</p><br>
						
						<b>The Crimes</b><br>

						<p>This relentless determination towards her obsession eventually leads to her losing her humanity. The irony behind the fact that she is the character who committed the most murder becomes crystal clear through the story's progression.</p><br> 
						
						<p>While being a popular worker at the “Irie Clinic,” her personality, covered by the facade of gentle and tender kindness, is revealed to be that of the most twisted nature. On the surface level, she loves to frighten people with horrifying tales of Hinamizawa’s past( the history of the village being one of her obsessions), the frightening part of her personality being that she sees every person in the village as nothing but a mere guinea pig for her research, and the only thing she looks humanly at, is the memory of her late grandfather.</p><br> 
						
						<p>The monster does not hesitate even a bit to go as far as to massacre the entire village in a single night under the name of a natural catastrophe in order to remove the evidence of her research.</p><br>
						
						<p>The tragedy she throws at the village was done through the means of the elite squad of counter-intelligence soldiers termed “The Yamainu,” which handles most of the killing in the backside of the story. However, there are instances where she does not hesitate to perform some of them herself, including the murder of her lover, Jiro, through the dose of the Hinamizawa Syndrome. In one of the arcs, she goes as far as to murder all the children herself.</p><br>
						
						<p>At the end of almost every arc, Rika is forcefully killed by her in the process of dissection just to research the “Queen Factor” that Rika possesses. Driven by pure curiosity, the woman shows no mercy and tries her very hardest to get her hands on Rika’s body, taking no heed of her life in the process. She even openly disposes of her body in just a shrine devoid of respect.</p><br>
						
						<p>Takano Miyo unarguably depicts the sickest of humanity.
						</p></li>

				</ul><br>
			
			<h3>Conclusion</h3>
			<p>Alright, so with this, we conclude the article(the deadline can go to hell). I hope I gave you a taste of the horrors of the Higurashi series. With this, we went through the in-depth structuring of the stories and their dark aspects, too. Welp, I hope you had a good time reading :)</p>
				<div class="article-end"></div>
		</div>
	</div>
</div>
