{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> The Fear of Unknown : Uzumaki and Our Primal Fear </h2>
		<br/>
		<div class="article-author">By: Teetotaller </div>
		<br>
		<div class="article-content">
			
			<div class="article-end"></div>
		</div>
	</div>
</div>
