{% extends "_base.njk" %}

{% set thispage = '404' %}
{% set pagetitle = '404' %}

{% block pagecontent %}
	<h1>It doesn't look like this page exists!</h1>
	<h4>If you think this is an error, please contact us at 
		<a href="mailto:kgpmask@gmail.com" target="_blank" rel="noopener noreferrer">kgpmask@gmail.com</a>.</h4>
{% endblock %}
