{% set navlinks = [{
	href: 'art',
	name: 'Art'
}, {
	href: 'newsletters',
	name: 'Newsletters'
}, {
	href: 'videos',
	name: 'Videos'
}, {
	href: 'events',
	name: 'Events'
}] %}


<!doctype html>
<html lang="en">
	<head>
		<title>
			{% if pagetitle %} {{ pagetitle }} {% else %} MASK {% endif %}
		</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="{% block pagedesc %} The MASK website {% endblock %}"/>
		<meta name="keywords" content="Manga, Anime, MASK, Kharagpur, IIT KGP, Otakus"/>
		<link rel="stylesheet" type="text/css" href="/assets/mask.css"/>
		<link rel="shortcut icon" href="/assets/favicon.ico"/>
		{% block customcss %}{% endblock %}
		{% block customjs %}{% endblock %}
		{% for script in scripts %}
			<script src="{{ script }}"></script>
		{% endfor %}
	</head>
	<body>
		<div id="page-container">
			<div id="content-wrap">
				{% block navbar %}
					<div class="navbar-full">
						<ul>
							<li><a href="/" style="padding:0px 16px;vertical-align:middle;" class="nohover" target="_self"><img src="/assets/logo.jpeg" alt="Logo" width="100%" height="100%" id="navbar-logo"/></a></li>
							<span class="navbar-line">&nbsp;</span>
							<div class="navbar-container">
								{% for link in navlinks %}
									<li><a href="/{{ link.href }}" {% if link.href === thispage %} class="active-page" {% endif %} target="_self">{{ link.name }}</a></li>
								{% endfor %}
							</div>
							<div style="float:right;" id="dropdown">
								<a href="/about" class="dropbtn" target="_self">About</a>
								<div class="dropdown-content">
									<a href="/about" {% if 'about' === thispage %} class="active-page" {% endif %} target="_self">Our Society</a>
									<a href="/members" {% if 'members' === thispage %} class="active-page" {% endif %} target="_self">Our Members</a>
								</div>
							</div>
						</ul>
					</div>
					<div class="plate"><a href="/"><div class="burger-home"><img src="/assets/logo.jpeg" id="burger-logo"/></div></a><div class="burger"><div class="patty"></div></div></div>
					<div class="hamburger-menu">
						<div style="height:80px;"></div>
						<hr id="top-line"/>
						{% for link in navlinks %}
							<a href="/{{ link.href }}" target="_self"><div class="lettuce{% if link.href == thispage %} active-page {% endif %}" >{{ link.name }}</div></a>
							{% if not loop.last %}<hr class="minor"/>{% endif %}
						{% endfor %}
						<a href="/about" target="_self"><div class="lettuce{% if 'about' == thispage %} active-page {% endif %}" id="most-bottom">Our Society</div></a>
						<hr class="minor" id="lower-border"/>
						<a href="/members" target="_self"><div class="lettuce{% if 'members' == thispage %} active-page{% endif %}" id="almost-bottom">Our Members</div></a>
						<hr class="border-bottom"/>
					</div>
					<script>
						document.querySelector('.burger').addEventListener('click', function () {
							this.classList.toggle('open');
							document.querySelector('.hamburger-menu').classList.toggle('slide');
							document.querySelector('#content-wrap').classList.toggle('burger-open');
						});
					</script>
				{% endblock %}
				{% block pagecontent %}
					Huh, this is an empty page.
				{% endblock %}
			</div>
			<footer>
				<div id="contact-us"><span class="float-middle">Find us!</span></div>
				<a href="https://www.youtube.com/channel/UCVYGmPrKHFPKKzO0lb-XM_Q" target="_blank" target="_self"><img class="social-icon" src="/assets/youtube.png"/></a>
				<a href="https://www.instagram.com/maskiitkgp" target="_blank" target="_self"><img class="social-icon" src="/assets/instagram.png"/></a>
				<a href="https://www.facebook.com/maskiitkgp" target="_blank" target="_self"><img class="social-icon" src="/assets/facebook.png"/></a>
				<a href="mailto:maskiitkgp@gmail.com" target="_blank" target="_self"><img class="social-icon" id="gmail" src="/assets/gmail.png"/></a>
			</footer>
		</div>
	</body>
</html>