{% macro scripttag(paths) %}
	{% for path in paths %}
		<script src="{{ path }}"></script>
	{% endfor %}
{% endmacro %}

{% set navlinks = [{
	href: 'art',
	name: 'Art'
}, {
	href: 'newsletters',
	name: 'Newsletters'
}, {
	href: 'youtube',
	name: 'YouTube'
}, {
	href: 'events',
	name: 'Events'
}] %}

{% macro makenavbar() %}
	<div class="navbar">
		<ul>
			<li><a href="/" style="padding:0px 16px;vertical-align:middle;" class="nohover"><img src="assets/logo.jpeg" alt="Logo" width="100%" height="100%" id="navbar-logo"/></a></li>
			<span class="navbar-line">&nbsp;</span>
			<div class="navbar-container">
				{% for link in navlinks %}
					<li><a href="{{ link.href }}" {% if link.href === thispage %} class="active" {% endif %}>{{ link.name }}</a></li>
				{% endfor %}
			</div>
			<div style="float:right;" id="dropdown">
				<a href="about" class="dropbtn">About</a>
				<div class="dropdown-content">
					<a href="about" {% if 'about' === thispage %} class="active" {% endif %}>Our Society</a>
					<a href="members" {% if 'members' === thispage %} class="active" {% endif %}>Our Members</a>
				</div>
			</div>
		</ul>
	</div>
{% endmacro %}
	

<!doctype html>
<html lang="en">
	<head>
		<title>
			{% if pagetitle %} {{ pagetitle }} {% else %} MASK {% endif %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The MASK website">
		<link rel="stylesheet" type="text/css" href="assets/mask.css"/>
		<link rel="shortcut icon" href="assets/favicon.ico"/>
		{% block scripts %}{% endblock %}
	</head>
	<body>
		<div id="page-container">
			<div id="content-wrap">
				{% block navbar %}
					{{ makenavbar() }}
				{% endblock %}
				{% block pagecontent %}
					Huh, this is an empty page.
				{% endblock %}
			</div>
			<footer>
				<div id="contact-us"><span class="float-middle">Find us!</span></div>
				<a href="https://www.youtube.com/channel/UCVYGmPrKHFPKKzO0lb-XM_Q" target="_blank"><img class="social-icon" src="assets/youtube.png"/></a>
				<a href="https://www.instagram.com/maskiitkgp" target="_blank"><img class="social-icon" src="assets/instagram.png"/></a>
				<a href="https://www.facebook.com/groups/otakus.iitkgp" target="_blank"><img class="social-icon" src="assets/facebook.png"/></a>
				<a href="mailto:maskiitkgp@gmail.com" target="_blank"><img class="social-icon" id="gmail" src="assets/gmail.png"/></a>
			</footer>
		</div>
	</body>
</html>