{% macro heading(h,label) %}
	<div class="heading">
		<{{ h }}>{{ label }}</{{ h }}>
	</div>
{% endmacro %}

{% macro field(id, label, required) %}
	<div class="item field">
		<input type="text" {% if required %} required {% endif %} id="{{ id }}">
		<label>{{ label }}</label>
	</div>
{% endmacro %}

{% macro radio(id, label, options) %}
	<div class="item radio" id="{{ id }}">
		<label style="top: 0;">{{ label }}</label>
		{% for option in options %}
			<div class="option">
				<input type="radio" id="{{ option.id }}" name="answer" class="option-input" value=""/>
				<div class="option-design"></div>
				<div class="option-text" id="option" for="{{ option.id }}">{{ option.label }}</div>
			</div>
		{% endfor %}
	</div>
{% endmacro %}

{% macro checkbox(id, label, options) %}
	<div class="item checkbox" id="{{ id }}">
		<label style="top: 0;">{{ label }}</label>
		{% for option in options %}
			<div class="option">
				<input type="checkbox" id="{{ option.id }}" name="answer" class="option-input" value="{{ option.value }}"/>
				<div class="option-design"></div>
				<div class="option-text" for="{{ option.id }}">{{ option.label }}</div>
			</div>
		{% endfor %}
	</div>
{% endmacro %}

{% macro datetime(id, label, value) %}
	<div class="item datetime">
		<input type="date" id="{{ id }}" value="{{ value }}">
		<label>{{ label }}</label>
	</div>
{% endmacro %}

{% macro form(formheading) %}
	<div class="message hidden"></div>
	{% if formheading %}
		<h1 class="heading"> {{ formheading }} </h1>
	{% endif %}
	<div class="form-container">
		<form>
			{{ caller() }}
		</form>
	</div>
	<div style="height: 30px;"></div>
{% endmacro %}

{% macro css() %}
	<style>
		.message {
			position: absolute;
			top: 0;
			right: calc(50vw - 220px);
			padding: 20px;
			z-index: 1;
			color: #fff;
			font-weight: 600;
			font-size: 18px;
			width: 400px;
			transform-origin: top;
			transition: transform 0.3s ease;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
		}
		.error {
			background-color: rgba(255, 51, 51, 0.85);
		}
		.success {
			background-color: rgba(75, 189, 67, 0.85);
		}
		.hidden {
			transform: scaleY(0);
		}
		.form-container{
			padding: 23px 25px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transform: 0.3s;
		}
		form {
			display: flex;
			flex-direction: column;
			border: 2px solid rgba(255,255,255,0.1);
			border-radius: 12px;
			padding: 12px 5px;
			width: 40%;
			background-color: rgba(255,255,255,0.13);
			backdrop-filter: blur(5px);
		}
		form * {
			outline: none;
			border: none;
		}
		.item {
			position: relative;
			margin: 20px 10px;
		}
		.heading {
			margin-block-start: 0.83em;
			margin-block-end: 0.83em;
		}
		label {
			position: absolute;
			top: 50%;
			left: 5%;
			transform: translateY(-50%);
			color: #fff;
			font-weight: 600;
			font-size: 18px;
			pointer-events: none;
			transition: 0.3s;
		}
		.datetime > label{
			top: -7px;
			font-size: 16px;
			padding: 0 2px;
			background-color: rgba(0, 0, 0, 0);
		}
		input{
			background-color: rgba(255,255,255,0.07);
			font-size: 18px;
			font-weight: 300;
			height: 50px;
			width: 90%;
			border-radius: 8px;
			padding: 0 15px 0px 15px;
			border: 2px solid var(--light-gray);
			color: #fff;
			outline: none;
		}
		input:focus{
			border: 2px solid var(--red);
		}
		.field > input:focus ~ label{
			top: -7px;
			font-size: 16px;
			color: var(--red);
			padding: 0 2px;
			background-color: rgba(0, 0, 0, 0);
		}
		.field > input:valid ~ label{
			top: -7px;
			font-size: 16px;
			padding: 0 2px;
			background-color: rgba(0, 0, 0, 0);
		}
		.datetime > input:focus ~ label{
			color: var(--red);
		}
		.option {
			position: relative;
			display: flex;
			align-items: center;
			border-radius: 10px;
			cursor: pointer;
			transition: 0.3s;
			padding: 5px 20px;
			margin: 12px;
		}
		.option:focus-within,
		.option:hover {
			background: hsla(0, 0%, 80%, .14);
		}
		.option-input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}
		.option-design {
			width: 22px;
			height: 22px;
			border-radius: 100px;
			background: linear-gradient(to right bottom, hsl(0deg 100% 75%), hsl(0deg 100% 50%));
			position: relative;
		}
		.checkbox > .option > .option-design {
			border-radius: 2px;
		}
		.option-design::before {
			content: '';
			display: inline-block;
			width: inherit;
			height: inherit;
			border-radius: inherit;
			background: hsl(0, 0%, 90%);
			transform: scale(1.1);
			transition: 0.3s;
		}
		.option-input:checked + .option-design::before {
			transform: scale(0);
		}
		.option-text {
			color: hsl(0, 0%, 60%);
			margin-left: 14px;
			font-weight: 900;
			transition: 0.3s;
		}
		.option-input:checked + .option-text {
			color: hsl(184deg 58% 60%);
		}
	</style>
{% endmacro %}