{% extends "_base.njk" %}

{% set thispage = 'newsletters' %}

{% macro nextprev() %}
	<div class="controls">
		<a{% if adjs[0] %} href="/newsletters/{{ adjs[0] }}"{% endif %}><button class="rel" {{ 'disabled' if not adjs[0] }}><span class="buttonicon" id="flipped">&#x279C;</span><span class="buttontext">Previous</span></button></a>
		<a href="/newsletters/{{ 'random' if (adjs[0] or adjs[1]) else '' }}"><button class="rel" {{ 'disabled' if not (adjs[0] or adjs[1]) }}><span class="buttonicon" id="random"><i class="fas fa-random"></i></span><span class="buttontext">Random</span></button></a>
		<a{% if adjs[1] %} href="/newsletters/{{ adjs[1] }}"{% endif %}><button class="rel" {{ 'disabled' if not adjs[1] }}><span class="buttonicon">&#x279C;</span><span class="buttontext">Next</span></button></a>
	</div>
{% endmacro %}

{% block pagecontent %}
	{{ nextprev() }}
		<h1>{{ pagetitle }}</h1>
		<div id="pages-container"><div id="pages">
			{% block article %}
				<div class="faded">This article hasn't been published yet - stay tuned!</div>
			{% endblock %}
		</div></div>
	{{ nextprev() }}
{% endblock %}

{% block customcss %}
	<style>
		div.controls {
			padding: 40px 20px;
			display: flex;
			width: 400px;
			margin: 0px auto;
			justify-content: space-between;
		}

		span.buttontext {
			display: block;
		}

		.buttonicon {
			display: none;
		}

		span#flipped {
			transform: scale(-1);
			filter: flipH;
			-ms-filter: flipH;
		}

		button.rel {
			width: 100px;
			height: 30px;
			background-color: var(--medium-gray);
			color: var(--off-white);
			border: 2px solid var(--ghost-gray);
			border-radius: 5px;
			cursor: pointer;
		}

		button.rel:disabled {
			background-color: var(--tinted-gray);
			border: 1px solid var(--gray);
			color: var(--ghost-gray);
			cursor: default;
		}

		button.rel:not(:disabled):hover {
			background-color: var(--middle-gray);
		}

		@media (max-width: 500px) {
			div.controls {
				width: 200px;
			}

			span.buttontext {
				display: none;
			}

			.buttonicon {
				display: block;
			}

			button.rel {
				width: 50px;
			}
		}

		#pages-container {
			overflow: hidden;
			width: 420px;
			max-width: 100%;
			max-height: 80%;
			display: block;
			margin-bottom: 10px;
			position: relative;
			margin: auto;
		}
		#pages {
			display: flex;
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			scroll-behavior: smooth;
			-webkit-overflow-scrolling: touch;
			height: 100%;
			width: 100%;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
		#pages::-webkit-scrollbar {
			display: none;
		}
		.page {
			scroll-snap-align: start;
			flex-shrink: 0;
			width: 100%;
			margin-right: 20px;
			transform-origin: center center;
			transform: scale(1);
			transition: transform 0.8s;
			position: relative;
			display: block;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			background-color: var(--off-white);
			box-sizing: border-box;
			padding-top: 20px;
			height: 594px;
			border-radius: 5px;
			color: var(--abyss);
			page-break-before: always;
			counter-increment: page;
		}
		.page:after {
			content: counter(page) "/{{ pagecount }}";
			position: absolute;
			bottom: 0;
			right: 10px;
			z-index: 999;
			padding: 5px 12px;
			font-size: 12px;
			opacity: 0.5;
		}
	</style>
	{% block lettercss %}{% endblock %}
{% endblock %}

{% block customjs %}
	<script src="https://kit.fontawesome.com/dbc840a846.js" crossorigin="anonymous"></script>
	{% block letterjs %}{% endblock %}
{% endblock %}