{% extends "_base.njk" %}

{% set thispage = 'about' %}
{% set pagetitle = 'About Us' %}

{% block pagecontent %}
	<h1>Manga & Anime Society, Kharagpur</h1>
	<div class="text" style="text-align: left;">
		<p style="margin: 8px 0px;">
		Konnichiwa. We are the <b>Manga and Anime Society, Kharagpur (MASK)</b>. We are a group of Manga and Anime enthusiasts who work on things related to it.
		</p><br/>
		<h2 style="margin: 8px 0px; text-align: left;">Backstory Time </h2>
		<p style="margin: 8px 0px;">
		Like fatherless shonen protagonists, even MASK did not have a proper parental figure <i>(*sob sob*)</i>. The society in itself was established in 2020 by a couple of students from IIT Kharagpur who dreamed of having a place to discuss and promote Anime and Manga. The idea was spread and became popular and before we knew it, here we are, with our third batch of members.<br/>
		</p>
		<br/>
		<h2 style="margin: 8px 0px; text-align: left;">What we do over here</h2>
		<p style="margin: 8px 0px 8px 0px;">
		We, as a society, work on quite a few things, ranging from fan-arts and AMVs to reviews, newsletters and puzzles. We are also slowly expanding our reach to some other domains as well, but those will be a suspense for now ;)<br/><br/>
		We accept fan-arts and AMVs from others outside our society and will be open to publishing them. In case you want to publish your art under our handle, do submit them in the <a href="https://forms.gle/x5ZbSbsUmtnPHFqz9" style="color:rgba(200,200,255,0.47);" target="blank">form</a> (which you can also find in the main page.)
		</p>

	</div>
{% endblock %}
