{% extends "_base.njk" %}

{% set thispage = 'about' %}
{% set pagetitle = 'About Us' %}
{% set pagedesc = 'Welcome to Manga & Anime Society Kharagpur [MASK]! We are a vibrant community of manga and anime enthusiasts. Visit this page to know more about us.' %}

{% block pagecontent %}
	<h1>Manga & Anime Society Kharagpur</h1>
	<div class="text" style="text-align: left;">
		<p style="margin: 8px 0px;">
			こんにちは！ We are the <b>Manga & Anime Society Kharagpur [MASK]</b>. We are a group of manga and anime enthusiasts who work on spreading the culture.
		</p><br/>
		<h2 style="margin: 8px 0px; text-align: left;">What We Do Over Here</h2>
		<p style="margin: 8px 0px 8px 0px;">
			We, as a society, work on quite a few things, ranging from fan-arts and AMVs to reviews, newsletters and puzzles. We are also slowly expanding our reach to some other domains as well, but you'll have to find out about those later.
		</p>
		<br/>
		<p style="margin: 8px 0px 8px 0px;">
			We accept fan-arts and AMVs from others outside our society and are open to publishing and featuring them. In case you want to publish your art under our handle, do submit them through our <a href="/submissions" style="color:rgba(200,200,255,0.47);" target="blank">external submissions form</a> (which you can also find on the main page).
		</p>
		<br/>
		<h2 style="margin: 8px 0px; text-align: left;">Teams</h2>
		<p style="margin: 8px 0px 8px 0px;">
			We have the following teams:<br/>
			<ul>
				<li><h4>AMV</h4>Video and sound Editing, as well as music making.</li><br/>
				<li><h4>Design & Art</h4>Hand-drawn art, digital art, and PhotoShop.</li><br/>
				<li><h4>Media and Newsletter</h4>The team that handles media and writes reviews and content on anime.</li><br/>
				<li><h4>Quiz</h4>The team responsible for all the anime quizzes conducted within or outside the society.</li><br/>
				<li><h4>Web Development</h4>The team responsible for website maintenance and other technical stuff.</li><br/>
			</ul>
		</p>
		<br/><br/>
		<h2 style="margin: 8px 0px; text-align: left;">History</h2>
		<p style="margin: 8px 0px;">
			The society was established in 2020 by a couple of students from IIT Kharagpur who dreamed of having a place to discuss and promote anime and manga. The idea spread and became popular, and after a lot of effort by a lot of students, we've finally reached where we are today.<br/>
		</p>
	</div>
{% endblock %}

{% block customcss %}
	<style>
		p {
			text-align: justify;
		}
	</style>
{% endblock %}
