
{% set thispage = 'applications' %}
{% set pagetitle = 'Apply to MASK!' %}
{% extends "_base.njk" %}

{% block pagecontent %}
	<!--h1 id="formpre" style="text-align: center;">Submit your content here!</h1-->
	<iframe src="https://docs.google.com/forms/d/1C3Kh9mfIQ1w14J4AJ80sJteu5yYpPpdUOHhM2y7-XFM/viewform?embedded=true&lang=en"></iframe>
{% endblock %}

{% block customcss %}
	<style>
		a[href] {
			color: var(--white) !important;
		}

		.navbar-full{
			font-family: Ubuntu,Roboto,Arial,Open Sans,sans-serif;
		}

		body {
			background-color: var(--dark-gray) !important;
			text-align: left;
		}
		/*Form as a whole*/

		iframe {
			border: 0px;
		}
	</style>
{% endblock %}