{% extends "_base.njk" %}

{% set thispage = 'art' %}
{% set pagetitle = 'Art' %}

{% block pagecontent %}
	<h2>Content coming soon!</h2>
	<div class="text">For now, try checking out our content <a href="https://www.instagram.com/maskiitkgp" class="link" target="_blank">here</a>.</div>
{% endblock %}

{% block customcss %}
	<style>
		.link {
			color: var(--off-white);
		}
	</style>
{% endblock %}