{% extends "_base.njk" %}

{% set thispage = 'events' %}
{% set pagetitle = 'Events' %}

{% block pagecontent %}
	<h2>None planned for now.</h2>
	<div class="text">We'll post an update here once we start organizing events!</div>
{% endblock %}