{% extends "_base.njk" %}

{% set thispage = 'leaderboard' %}
{% set pagetitle = 'Leaderboard' %}

{% block pagecontent %}
	(Leaderboard goes here)
{% endblock %}

{% block customcss %}
	<style>

	</style>
{% endblock %}