{% extends '_base.njk' %}

{% set thispage = 'leaderboard' %}
{% set pagetitle = 'Leaderboard' %}
{% set pagedesc = 'Excited to see your results? Visit here to see how well you did here.' %}

{% block pagecontent %}
	(Leaderboard goes here)<br/>(Why do you know about this page?)
{% endblock %}

{% block customcss %}
	<style>
	</style>
{% endblock %}
