{% extends '_base.njk' %}

{% set thispage = 'leaderboard' %}
{% set pagetitle = 'Leaderboard' %}

{% block pagecontent %}
	(Leaderboard goes here)<br/>(Why do you know about this page?)
{% endblock %}

{% block customcss %}
	<style>
	</style>
{% endblock %}
