{% extends "_base.njk" %}

{% set thispage = 'login' %}
{% set pagetitle = 'Login' %}
{% set pagedesc = 'Login to Manga & Anime Society Kharagpur [MASK]! site' %}

{% block pagecontent %}
	<a class="undecorated-link" href="/login/federated/google"><img src="/assets/icons/google_sign_in.png" height="46"/></a>
{% endblock %}
