{% extends '_base.njk' %}

{% set thispage = 'members' %}
{% set pagetitle = 'Our Members' %}

{% set pagedesc = 'Our members, who have worked hard and made this place what it is now.' %}

{% block pagecontent %}
	<div id="loaded" style="display:none">
		<h1><u>{{ membersTitle }}</u></h1>
		{% for status, members in membersObj %}
			{% if members | length %}
				<div class="status">
					<h2><u>{{ status }}</u></h2>
					<div class="yearbox">
						<div class="list">
							{% for member in members %}
								<div class="member">
									<img src="{{ member.image }}" alt="{{ member.name }}" class="member-icon" loading="lazy"/>
									<div class="div-line">&nbsp;</div>
									<div class="member-desc">{{ member.name }}<br/></div>
									<div class="teamlist">
										{% for team in member.teams %}
											<span class="icon-{{ team.icon }}" title="{{ team.name }}"></span>
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		{% if prev %}
			<a href="/members/{{ prev }}"><button class="year-button">{{ prev }}</button></a>
		{% endif %}
		{% if next %}
			<a href="/members/{{ next }}"><button class="year-button">{{ next }}</button></a>
		{% endif %}
	</div>
	{{ loadingscreen('loaded') }}
{% endblock %}

{% block customcss %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/icons.css"/>
	<style>
		.yearbox {
			color: var(--off-white);
			padding: 20px;
			border-radius: 10px;
			background-color: var(--tinted-gray);
			margin: 40px auto;
			width: 80%;
		}
		h3 {
			margin: auto;
		}
		.div-line {
			width: 70%;
			margin: 5px auto;
			display: block;
			height: 0px;
			border: 1px solid var(--ghost-gray);
		}
		.list {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			list-style: none;
			justify-content: center;
		}
		.member {
			border-radius: 10px;
			background-color: var(--medium-gray);
			width: 100px;
			display: grid;
			text-align: center;
			margin: 20px;
			padding: 10px;
		}
		.member-icon {
			border-radius: 15px;
			margin-bottom: 10px;
			font-size: 60%;
			height: 100px;
			width: 100px;
		}
		.member-desc {
			margin-top: 10px;
			display: block;
			font-size: 0.68em;
			{# overflow: wrap; #}
			word-wrap: break-word;
			hyphens: auto;
		}
		.teamlist {
			margin-top: 10px;
			align-self: flex-end;
		}
		#unloaded {
			margin-top: 10%;
			font-size: 2em;
		}
		.year-button {
			border: 2px solid var(--off-white);
			border-radius: 9px;
			background: var(--tinted-gray);
			padding: 20px;
			color: var(--white);
			transition: 0.4s;
			cursor: pointer;
			font-size: 1.1em;
			margin: 0 5px 30px;
		}
		.year-button:hover {
			background-color: var(--middle-gray);
		}
	</style>
{% endblock %}
