{% extends '_base.njk' %}

{% set thispage = 'newsletters' %}
{% set pagetitle = 'Newsletters' %}

{% set latestnewsletter = letters[0] %}

{% macro card(name, link, desc) %}
	<div class="newsletter">
		{# <a class="card" href="/newsletters/{{ link }}"> #}
			<div class="cvr-hldr">
				<img class="cover" src="../assets/releases/{{ link }}/cover.webp" onerror="this.src='../assets/releases/no-cover.webp'"/>
			</div>
			<div class="desc" style="width: 100%; text-align: left;">
				<h3>{{ name }}</h3>
				<p>{{ desc }}</p>
			</div>
		</a>
	</div>
{% endmacro %}

{% block pagecontent %}
	<h1> Newsletters </h1>
	{% block extrainfo %}{% endblock %}
	<div class="container" class="grid">
		{{ card(latestnewsletter.name, latestnewsletter.link, "weufg ewu fgewuf gewf guwef gyuae gfyuwef guew gfuysefuyweg fyweg fyueyfugevygfvewfyu vesagyfve", 90) }}
		{% for letter in letters %}
			{% if not loop.first %}
				{{ cards(letter.name, letter.link, letter.desc) }}
			{% endif %}
		{% endfor %}
	</div>
	<div style="height: 40px;"></div>
{% endblock %}

{% block customcss %}
	<style>
		{# <link rel="stylesheet" type="text/css" href="/assets/styles/newsletters.css"/> #}
.container {
    display: grid;
	grid-auto-flow: column;
    gap: 1.5rem;
    height: 100%;
    grid-template-rows: 1fr 1fr;
}
.span-2{
    grid-row: span 2;
    grid-column: span 2;
}
.cover{
    width: 100%;
	object-fit: contain;
}
.newsletter{
    border: 10px solid red;
	width:400px
}
.card{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
	width:400px
}
.cvr-hldr{
	width: 100%;
	height:80%

}

	</style>
{% endblock %}

{% block customjs %}
	<script>
		window.onload = () => {
			const accs = document.getElementsByClassName('accordion');
			for (const acc of accs) {
				acc.addEventListener('click', function () {
					this.classList.toggle('active-accordion');
					const panel = this.nextElementSibling;
					if (panel.style.maxHeight) panel.style.maxHeight = null;
					else panel.style.maxHeight = panel.scrollHeight + 'px';
				});
			}
			accs[0].click();
		}
	</script>
{% endblock %}
