{% extends 'newsletters.njk' %}

{% set pagetitle = 'Not found!' %}

{% block extrainfo %}
	<div style="background-color:var(--red);color:var(--off-white);opacity:0.8" class="text">
		Unable to find that newsletter!
	</div>
{% endblock %}