{% extends '_base.njk' %}

{% set thispage = 'polls' %}
{% set pagetitle = poll.title %}

{% block pagecontent %}
	<div>
		<h1> {{ poll.title }} </h1>
		<div class="poll-container">
			<h3> Choose one of the following (or make your own choice) </h3>
			<br>
			<div>Click here to see the <a href="/polls/results/{{ poll._id }}" style="color: var(--dark-red);">current poll results</a></div>
			<br>
			{% for choice in poll.records %}
				<div class="choice-container">
					<input type="radio" name="poll-value" value="{{ choice._id }}" id="{{ choice._id }}" {{ 'checked' if votedFor === choice.value else '' }}>
					<label for="{{ choice._id }}">{{ choice.value }}</label>
				</div>
			{% endfor %}
			<div class="choice-container">
				<input type="radio" name="poll-value" value="null" id="null">
				<label for="null"><input type="text" onclick="document.querySelector('#null').checked = true"></label>
			</div>
			<br>
			<button type="button" onclick="submitVote()"> Submit </button>
		</div>
	</div>
{% endblock %}

{% set scripts = ['https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'] %}

{% block customjs %}
	<script>
			axios.defaults.withCredentials = true;
			axios.defaults.headers.common['X-CSRF-TOKEN'] = '{{ csrfToken }}';
		</script>
	<script>
		async function submitVote () {
			const pollId = '{{ poll._id }}'
			const id = [...document.querySelectorAll('input[name="poll-value"]')].filter(inp => inp.checked)[0]?.id;
			const userChoice = document.querySelector(`label[for="${id}"]`).firstChild.value ?? document.querySelector(`label[for="${id}"]`).innerText;
			{# console.log(userChoice); #}
			const response = await axios.post('/polls/', { pollId, userChoice });
			if (response.data === 'Successfully voted.') {
				alert('Successfully updated your vote.');
				location.reload();
			}
		}
	</script>
{% endblock %}

{% block customcss %}
	<style>
		.poll-container {
			display: flex;
			flex-direction: column;
			margin: 0 5%;
			border-radius: 10px;
			padding: 40px 5%;
			width: 80%;
			background-color: var(--darker-gray);
		}

		.choice-container {
			display: flex;
			flex-direction: row;
			justify-content: space-around;

			margin: 10px auto;
			width: 80%;
		}

		.choice-container > input {
			appearance: none;
			width: 20px;
			height: 20px;
			{# border: solid 5px var(--red); #}
			border-radius: 10px;
			background-color: var(--off-white);
			color: var(--red);
		}

		.choice-container > input:checked {
			border: solid 5px var(--red);
			background-color: var(--abyss);
		
		}

		.choice-container > label {
			width: 90%;
			height: 90%;
		}

		.poll-container > button {
			margin: auto;
			width: 15%;
			max-width: 220px;
			border-radius: 12px;
			padding: 12px;
			background-color: var(--red);
			color: var(--abyss);
			font-size: 106%;
		}
	</style>
{% endblock %}
