{% extends '_base.njk' %}

{% set thispage = 'events' %}
{% set pagetitle = 'Prizes' %}

{% set mangalist = ["Attack On Titan", "Dragon Ball Z", "Demon Slayer", "Naruto", "One Piece", "Haikyuu", "Jujutsu Kaisen"] %}

{% block pagecontent %}
	<h1>Prizes</h1><br/>
	{% for name,list in prizes %}
		<div class="name{{ name if name in mangalist }}">
			<h2>{{name}}</h2>
			<br>
			<div id="prizes-container">
				{% for prize in list %}
					<div class="prize-container{% if name in mangalist %}prize-{{ name }}{% endif %}">
						<img class="prize-image" src="{{ prize.link }}" alt="{{ prize.name }}"/>
						<div class="prize-name">{{ prize.name }}</div>
						<div class="prize-points">{{ prize.cost }} points</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block customcss %}
	<style>
		.name{
			height: 700px;
		}
		#prizes-container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0% 10%;
			border-radius: 10px;
			background-color: var(--tinted-gray);
			height: 85%;
		}

		.prize-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 10px;
			overflow: hidden;
		}

		.prize-image {
			display: block;
			min-width: 80px;
			min-height: 80px;
			max-height: 350px;
			max-width: 260px;
			margin: 5px;
		}
	</style>
{% endblock %}