{% extends "_base.njk" %}

{% set thispage = 'events' %}
{% set pagetitle = 'Login' %}

{% block pagecontent %}
	{% if hasMessages %}
		{% for msg in messages %}
			<b>{{ msg }}</b>
		{% endfor %}
	{% endif %}
	To participate in our quizzes, you'll need to <a class="button google" href="/login/federated/google">sign in with Google</a>.
{% endblock %}