
{% set thispage = 'submissions' %}
{% set pagetitle = 'Submit!' %}
{% extends "_base.njk" %}

{% macro input(name, type, text=null, options=null) %}
	<div class="input-container">
		<h4> {{ name | capitalize if not text else text }} </h4>
		{% if type == 'text' or type == 'email' %}
			<input type="text" name="{{ name }}">
		{% elif type == "radio" %}
			{% set options = [{ value: 'true', label: 'Yes' }, { label: 'No', value: 'false' }] if not options else options %}
			<div class="option-container">
				{% for option in options %}
					<label for="{{ name + '-' + option.value }}">
						<input type="radio" name="{{ name }}" value={{ option.value }} id="{{ name + '-' + option.value }}"> {{ option.label }} 
					</label>
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endmacro %}



{% block pagecontent %}
	<h1>Submit your content here!</h1>
	<form action="javascript:console.log;">
		{# Email Address #}
		{{ input('email', 'email', 'E-mail Address') }}
		{# Name #}
		{{ input('name', 'text', "Your Name (or a Psudonym, if you prefer)") }}
		{# Member of IIT Kharagpur? #}
		{{ input('member', 'radio', "Are you a member of IIT Kharagpur?") }}
		{# Content type #}
		{{ input('type', 'radio', 'What kind of content are you submitting?', [
			{ label: 'Art (Digital)', value: 'dig-art' },
			{ label: 'Art (Traditional)', value: 'trd-art' },
			{ label: 'Video (AMV)', value: 'amv-vid' },
			{ label: 'Video (Animation)', value: 'ani-vid' },
			{ label: 'Video (Instrumental Music)', value: 'ins-mus' },
			{ label: 'Video (Vocal Music)', value: 'voc-mus' }
		]) }}
		{# Content Link #}
		{{ input('link', 'url', 'Please provide the Drive link of the content you wish to submit.') }}
		{# Proof of Ownership #}
		{{ input('proof', 'url', 'If possible, please provide any proof of ownership for the same') }}
		{# Social Media Handles to be mentioned #}
		{{ input('social', 'text', "Mention any social media handles you\'d like to be taggged in") }}
	</form>
{% endblock %}

{% block customcss %}
	<style>
		form {
			display: flex;
			flex-direction: column;
			border: solid 1px var(--off-white);
			margin: auto;
			border-radius: 12px;
			padding: 12px 5px;
			width: 70%;
			background-color: rgba(255,255,255,0.13);
			backdrop-filter: blur(5px);
			padding-right: calc(5px + 2.68em);
		}

		h4 {
			color: var(--off-white);
			margin-inline-start: 0.3em;
			margin-block-end: 0.4em;
		}

		.input-container {
			margin: 10px 5vw;
			text-align: left;
		}

		.input-container > input {
			background-color: rgba(255, 255, 255, 0.07);
			font-weight: 300;
			width: 90%;
			border-radius: 5px;
			padding: 5px 10px;
			border: 2px solid var(--light-gray);
			color: #fff;
			outline: none;
		}

		.option-container {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
		}

		.option-container > label {
			margin: 5px 10px;
		}
	</style>
{% endblock %}
