{% extends '_base.njk' %}

{% block navbar %}
	<div class="navbar-full">
		<ul>
			<li> <a href="/" style="padding:0px 16px;vertical-align:middle;" class="nohover" target="_self"><img src="/assets/logo.jpeg" alt="Logo" width="100%" height="100%" id="navbar-logo"/></a> </li>
		</ul>
	</div>
{% endblock %}

{% block pagecontent %}
	<div style='margin: 10px 3vw;'>
		<h1> Under Maintenance </h1>
		<h4> The server is under maintenance. We apologise for the inconvenience caused. </h4>
	</div>
{% endblock %}
