{% extends "_base.njk" %}

{% set thispage = 'videos' %}
{% set pagetitle = 'Videos' %}

{% block pagecontent %}
	<div class="text">Check out our video content here or on <a href="https://www.youtube.com/channel/UCVYGmPrKHFPKKzO0lb-XM_Q" class="link" target="_blank">YouTube</a>!</div>
	<div class="youtube-videos">
		{% for vid in youtubeVids %}
			<div class="youtube-vid">{{ vid.show | safe }}</div>
		{% endfor %}
	</div>
{% endblock %}

{% block customcss %}
	<style>
		.link {
			color: var(--off-white);
		}
		.youtube-videos {
			display: inline-flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		.youtube-vid {
			height: 300px;
			width: 532px;
			margin: 40px;
			padding: 10px;
			border: 2px solid var(--off-white);
			border-radius: 10px;
			background-color: var(--medium-gray);
		}
		iframe {
			border-radius: 5px;
		}
	</style>
{% endblock %}
