{% extends "_base.njk" %}

{% set thispage = 'youtube' %}
{% set pagetitle = 'YouTube' %}

{% block pagecontent %}
	<h2>Content coming soon!</h2>
	<div class="text">For now, try checking out our content <a href="https://www.youtube.com/channel/UCVYGmPrKHFPKKzO0lb-XM_Q" class="link" target="_blank">here</a>.</div>
	<div class="vid-wrapper">
		<div class="youtube-videos">
			{% for vid in youtubeVids %}
				<div class="youtube-vid">{{ vid.show }}</div>
		</div>
		<div class="insta-videos"></div>
	</div>
{% endblock %}

{% block customcss %}
	<style>
		.link {
			color: var(--off-white);
		}
		.youtube-vid {
			height: 390px;
			width: 640px;
			border: 2px solid var(--light-gray);
			border-radius: 5px;
		}
	</style>
{% endblock %}