<div class="page">
	<div class="article-full">
		<h2>Anime News Scan</h2>
		<br/>
		<div class="article-author">By: Gargi Raj</div>
		<br/><br/>
		<div class="article-content">
			<p>1. Fans to get treated with Manga Series <b>&ldquo;BeyBlade X&rdquo;</b> by <b>The Promised Neverland Creator</b> Posuka : Demizu Pozuka revealed working on a new manga series, based on the hit manga series <b>Kakegurui</b> (Compulsive Gambler). Further updates awaited! </p>
			<p><i>(Source: <a class="link" href="https://www.latestanimenews.com/the-promised-neverland-artist-demizu-pozuka-to-release-new-manga-series-beyblade-x/">The Promised Neverland Creator Demizu Posuka To Release New Manga Series &ldquo;Beyblade X&rdquo; - Latest Anime News</a> )</i></p>
			<br/><center><img src="/assets/releases/2023-05-1/1.webp" style="max-width: 65%; display: block; width: 400px;"></center><br/>
			<br/><br/>

			<p>2. Creator One unexpectedly drops a <b>One-Punch Man chapter mid-May</b>, after a 2 year interval to fans&rsquo; surprise and a twist to the expected end of the series. </p>
			<p><i>(Source: <a class="link" href="https://www.cbr.com/one-punch-man-webcomic-returns-2-year-hiatus/">One-Punch Man Webcomic Returns After 2-Year Hiatus</a> )</i></p>
			<br/><center><img src="/assets/releases/2023-05-1/2.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>
			<br/><br/>

			<p>3. <b>Bleach Creator</b> Tite Kubo&rsquo;s <b>Burn The Witch Season 2 production</b> rumours. The thrilling four-episode anime adaptation of the manga had aired its first season in 2020, further fueling the anticipation for a potential continuation of the series. </p>
			<p><i>(Source: <a class="link" href="https://www.latestanimenews.com/burn-the-witch-season-2-rumoured-to-be-in-production/">Burn The Witch Season 2 Rumoured To Be In Production - Latest Anime News</a> )</i></p>
			<br/><center><img src="/assets/releases/2023-05-1/3.webp" style="max-width: 65%; display: block; width: 400px;"></center><br/>

			<div class="article-end"></div>

		</div>
	</div>
</div>
