<div class="page">
	<div class="article-full">
		<h2>Anime Review: Demon Slayer</h2>
		<br/>
		<div class="article-author">By: Nishkal Prakash</div>
		<table class="anime-info">
			<tr><th>Japanese Name: </th><td>Kimetsu no Yaiba / 鬼滅の刃</td></tr>
			<tr><th>Seasons: </th><td>3+ (ongoing)</td></tr>
			<tr><th>Episodes: </th><td>26 + 18 + ?(ongoing)</td></tr>
			<tr><th>Genres: </th><td>Action, Fantasy</td></tr>
		</table>
		<br/><br/>
		<div class="article-content">
			<p style="text-align: center;"><i>&ldquo;No matter how many people you may lose, you have no choice but to go on living. No matter how devastating the blows might be.&rdquo; - Kamado Tanjiro (S01E07)</i></p>
			<br/><center><img src="/assets/releases/2023-05-1/6.webp" style="max-width: 65%; display: block; width: 300px;"></center><br/>

			<h3>Intro:</h3><br/>

			<p>&ldquo;Demon Slayer: Kimetsu no Yaiba&rdquo; is a 2019 anime television series based on the manga of the same name by <i>Koyoharu Gotouge</i>. The series follows <i>Tanjiro Kamado</i>, a young boy who becomes a demon slayer after his family is slaughtered. To make matters worse, his sister, <i>Nezuko</i> turns into a demon herself.</p>
			<br/><center><img src="/assets/releases/2023-05-1/7.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>


			<h3>Overview:</h3><br/>

			<p>Demon Slayer is a visually stunning anime with some of the best animation I&rsquo;ve ever seen. The fight scenes are particularly well-done, with fluid animation and beautiful visuals. The characters are also well-developed and likable, with Tanjiro being a particularly compelling protagonist.</p>
			<br/><center><img src="/assets/releases/2023-05-1/8.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>

			<p>The story of Demon Slayer is a classic shonen tale of good versus evil, but it&rsquo;s told in a way that feels fresh and exciting. The characters are all relatable and the stakes are always high, making it hard to put the show down.</p>
			<p>Here are some of the things I love about Demon Slayer:</p>
			<ul style="all: revert;">
				<li>The animation is simply stunning. <i>Ufotable</i> has outdone themselves with this series, and the fight scenes are some of the best I&rsquo;ve ever seen.</li>
				<li>The characters are all likable and relatable. Tanjiro is a great protagonist, and I found myself rooting for him the entire time.</li>
				<li>The story is exciting and engaging. The stakes are always high, and I was never bored.</li>
				<li>If you&rsquo;re a fan of anime, then I highly recommend Demon Slayer: Kimetsu no Yaiba. It&rsquo;s a must-watch for any fan of the genre.</li>
			</ul>
			<br/><br/>


			<h3>FAQ:</h3>
			<br/><br/>
			<h4>Q. Where can I watch the anime and movie?</h4>
			<p>You can watch all seasons and the movies on Crunchyroll, Funimation and Hulu. Seasons 1-3 is also available on Netflix and is updated weekly with new episodes.</p>
			<br/><center><img src="/assets/releases/2023-05-1/9.webp" style="max-width: 65%; display: block; width: 400px;"></center><br/>

			<h4>Q. How are the seasons formatted in regards to the movie / What is the watch order?</h4>
			<p>The best order to watch the seasons in is as follows:</p>
			<ul style="all: revert;">
				<li>Demon Slayer: Kimetsu no Yaiba season 1</li>
				<li>[Optional Movie] Demon Slayer: Kimetsu no Yaiba - The Movie: Mugen Train </li>
				<li>Demon Slayer: Kimetsu no Yaiba season 2 Part 1 - Mugen Train Arc</li>
				<li>Demon Slayer: Kimetsu no Yaiba season 2 Part 2 - Entertainment District Arc</li>
				<li>[Optional Movie] Demon Slayer: Kimetsu No Yaiba - To the Swordsmith Village </li>
				<li>Demon Slayer: Kimetsu No Yaiba season 3 - Swordsmith Village Arc</li>
			</ul>
			<p>The movies are optional and almost all of it covered in the seasonal episodes. The benefit of the movies is the chance at watching &ldquo;Demon Slayer&rdquo; in the big screen with friends.</P>
			<p>The first film from the franchise is titled &ldquo;Demon Slayer: Kimetsu no Yaiba - The Movie: Mugen Train&rdquo;, and it covers the same story as the first half of the TV show&rsquo;s second season. In fact, the film came first but the TV show features some original content for viewers looking for something new.</p>
			<p>The second film, &ldquo;Demon Slayer: Kimetsu no Yaiba - To the Swordsmith Village&rdquo;, adapts the final two episodes of season 2, as well as the first episode of season 3, while season 3 adapts the manga&rsquo;s Swordsmith Village arc in full.</p>
			<br/><center><img src="/assets/releases/2023-05-1/10.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>
			
			<h4>Q. What is the Rank System in Demon Slayer?</h4>
			<p>There are ten ranks in the Demon Slayer Corps. Going up from Mizunoto (癸), the ranks are Mizunoe (壬), Kanoto( 辛), Kanoe (庚), Tsuchinoto (己), Tsuchinoe (戊), Hinoto (丁), Hinoe(丙), Kinoto (乙), and Kinoe (甲); these ranks are named after the Heavenly Stems. Collectively, they represent the average ranks most Demon Slayers can expect to climb in their lifetime. The demon slayers rank up by completing various missions and honing their skills. Upon reaching the highest rank, Kinoe, the demon slayer, can now look forward to becoming an Hashira, the organization&rsquo;s most elite combatant and second only to the leader.</p>
			<br/><center><img src="/assets/releases/2023-05-1/11.webp" style="max-width: 65%; display: block; width: 650px;"></center><br/>
			<p>The Hashira, the peak of the Corps&rsquo; strength, rank at a level beyond even Kinoe. To qualify for this prestigious title, a Demon Slayer must attain the rank of Kinoe and slay either 50 demons or a member of the Twelve Kizuki. The Hashira get special privileges in the Corps and are even allowed to request large amounts of money if they need it. They only answer to members of the Ubayashiki family, namely Kagaya.</p>
			<p>Of the nine active Hashira presented in the series thus far, <i>Tanjiro</i> has gotten to know four of them; <i>Giyu Tomioka</i>, <i>Shinobu Kocho</i>, <i>Kyojuro Rengoku</i>, and <i>Tengen Uzui</i>. He met the rest of the Hashira when they were deciding what to do about him and his sister, but he hadn&rsquo;t gotten to know them. He is formally introduced to <i>Muichiro Tokito</i> and <i>Mitsuri Kanroji</i> in the ongoing season of the Swordsmith Village Arc. As for the remaining three Hashira, he&rsquo;ll likely meet them again in good time.</p>
			<br/><center><img src="/assets/releases/2023-05-1/12.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>
			
			<h4>Q. How does &lsquo;Breathing&rsquo; work in Demon Slayer?</h4>
			<p>Breathing is a swordsmanship form used by the Demon Slayer Corps and allows the user to become stronger both physically and mentally by increasing the amount of oxygen in their body. Breathing Styles are swordsmanship styles that makes use of an esoteric breathing technique known as Total Concentration Breathing practiced and taught by members of the Demon Slayer Corps and are used in combat by Demon Slayers. The majority of known Breathing Styles mimic a certain element of nature (i.e. flame, water and wind) and replicates it with the user&rsquo;s movements, techniques and abilities. The weapon attacks of Demon Slayers who use Breathing Styles are also longer ranged, possibly due to shockwaves or air pressure generated from their weapon itself when swinging and striking.</p>
			<br/><center><img src="/assets/releases/2023-05-1/3.gif" style="max-width: 65%; display: block; width: 600px;"></center><br/>
			
			<h4>Q. What are the Demons in the story?</h4>
			<p>Demons are a carnivorous, vampire-like species whose primary diet is humans, consuming their flesh and blood. Demons become stronger by eating humans and can eventually develop supernatural powers called their Blood Demon Art. Each Blood Demon Art is different for every Demon, with every power seemingly based on a central theme, (i.e. martial arts, sleep, the sea) some of which are evidently based on a demons&rsquo; past, personality, interests, and/or occupation. Moreover, Blood Demon Arts may not have a singular usage, and instead grant multiple abilities under the same concept or theme. As suggested by its name, all supernatural phenomena and effects use their wielders&rsquo; blood as a medium to manifest themselves in reality. Essentially, Blood Demon Arts are blood magic.</p>
			<p>A universal weakness to Blood Demon Arts is that they are susceptible to both sunlight and Nichirin weapons, meaning that they will disintegrate or be dispelled when exposed to sunlight or cut with a Nichirin Sword, possibly attributed to the fact that each ability and technique is created from a demon&rsquo;s flesh and blood.</p>
			<br/><center><img src="/assets/releases/2023-05-1/13.webp" style="max-width: 65%; display: block; width: 300px;"></center><br/>
			
			<h4>Q. What does upper rank or lower rank mean for a Demon?</h4>
			<p>The Twelve Kizuki (or, Twelve Demon Moons) are the twelve most powerful Demons who serve directly under Muzan Kibutsuji. Each member has received a larger portion of Muzan&rsquo;s blood, which has greatly strengthened their powers. The Twelve Kizuki are separated into two groups: the Upper Ranks and the Lower Ranks.</p>
			<p>The Twelve Kizuki are divided into two groups, the six Upper Ranks, numbered one through six, and the six Lower Ranks, also numbered one through six. The number signifies their ranking among the Twelve Kizuki, determined by each member&rsquo;s level of strength, Upper Rank One being the strongest and Lower Rank Six being the weakest. The Lower Ranks have their numbers and ranks engraved only into one eye, whereas the Upper Ranks have their numbers in one eye and the kanji for &ldquo;Upper Rank&rdquo; in the other.</p>
			<br/><center><img src="/assets/releases/2023-05-1/14.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>
		
			<h4>Q. Who is Kibutsuji Muzan?</h4>
			<p>Muzan Kibutsuji is <del>Michael Jackson</del> the main antagonist of &ldquo;Demon Slayer: Kimetsu no Yaiba&rdquo;. He is the Demon King, the first of his kind, and the progenitor of all other demons in existence. Muzan is also the leader of the Twelve Kizuki, an organization of the twelve strongest demons in existence that serve directly under him. Muzan is cold-hearted, ruthless, intimidating, and exceptionally intelligent. He is the only one capable of creating new demons from humans using his own blood. He sees no value in any humans he has encountered and shows little value in his own subordinates. Rarely ever visually upset or happy, he appears completely monotone and detached on most occasions, even when he callously murders his own subordinates. </p>
			<br/><center><img src="/assets/releases/2023-05-1/15.webp" style="max-width: 65%; display: block; width: 600px;"></center><br/>


			<h3>Conclusion:</h3>
			<p>Overall, Demon Slayer is an excellent anime that I highly recommend. It&rsquo;s got everything you could want from a shonen anime: great animation, likable characters, and an exciting story. If you&rsquo;re a fan of the genre, then you definitely need to check it out. It&rsquo;s so exciting that your head may just fall off.</p>
			<br/><center><img src="/assets/releases/2023-05-1/4.gif" style="max-width: 65%; display: block; width: 600px;"></center><br/>

			<div class="article-end"></div>

		</div>
	</div>
</div>
