<div class="page">
	<div class="article-full">
		<h2>Popular Meme Dialogues over the years: Action Anime</h2>
		<br/>
		<div class="article-author">By: 
			<span onclick="this.innerText = 'You were expecting the author, but it was me, Dio'; this.style.backgroundColor = '#00000000'" style="background-color: var(--off-white)"> Click to find out </span>
		</div>
		<br><br>
		<div class="article-content">
			<p>Over the course of many years, memes of anime dialogues have been prominent in the internet. As we find more and more memes every day, let's revisit some popular dialogues from Action Animes which have become popular meme content.</p>

			<h3 style="text-align:center">Omae Wa Mo Shindeiru (You are already dead)<h3>
			<h4 style="text-align:center"><i>Sauce: Hokuto no Ken (The Fist of the North Star)</i></h4>
			<br>

			<p>Airing from 1984 to 1987, Hokuto no Ken focuses on Kenshiro, the successor of a deadly martial art of assassination, in a post-apocalyptic world. The phrase &ldquo;Omae wa mo shindeiru&rdquo; (<i>lit. "You are already dead"</i>) is something he says to his opponent just before they die. The scene depictions show death hitting the opponents the moment they realise what he says.</p>
			<br/><center><img loading="lazy" src="/assets/releases/2023-05-1/4.webp" style="max-width: 65%; display: block;"></center><br/>
			<p>The meme has been popularly used in many places, popularly as a remix of the audio. It was further popularized when Among Us was trending, being used in gameplay videos to add a dramatic effect to sudden twists like emergency meetings, kills or unexpected reveals.</p>

			<div class="article-end"></div>


			<h3 style="text-align:center">Kono Dio Da (It was me, Dio)<h3>
			<h4 style="text-align:center"><i>Sauce: JoJo's Bizarre Adventure</i></h4>
			<br>

			<p>In the first season of JoJo's Bizarre Adventure, the dialogue "Kono Dio Da" was said by the character in question, Dio Brando, when he forces Erina, the protagonist's love interest, into kissing him and to show off the fact that the first kiss was from him and not JoJo (Jonathan Joestar).</p>
			<br/><center><img loading="lazy" src="/assets/releases/2023-05-1/1.gif" style="max-width: 65%; display: block;"></center><br/>
			<p>The meme is used to depict unexpected appearances, like dramatic reveals. It was first popularized by the presence of the meme instead of the instruction manual in <i>JoJo's Bizarre Adventure: All Star Battle</i> game.</p>
			
			<div class="article-end"></div>


			<h3 style="text-align:center">It's Over 9000<h3>
			<h4 style="text-align:center"><i>Sauce: Dragon Ball Z</i></h4>
			<br>

			<p>An iconic reference from Dragon Ball Z, the dialogue is said by Vegeta when he checks Goku's power level through his scouter as they face off for the first time.</p>
			<p>With the original Japanese dialogue being &ldquo;Hassen ijo da&rdquo; (<i>lit. it's over 8000</i>), it is used as a figure of speech in Japanese to indicate a very large or uncountable number. The dialogue was however changed to &ldquo;It's over 9000&rdquo; in the English dub in an effort to sync the lip movements.</p>
			<br/><center><img loading="lazy" src="/assets/releases/2023-05-1/5.webp" style="max-width: 65%; display: block;"></center><br/>
			<p>It is often used to depict a quantity often being really large or uncountable. The meme has worked its way into various pop cultural forms as well.</p>

			<div class="article-end"></div>


			<h3 style="text-align:center">Muda Muda Muda (It's Useless)<h3>
			<h4 style="text-align:center"><i>Sauce: JoJo's Bizarre Adventure</i></h4>
			<br>

			<p>Another famous meme from Dio Brando, this dialogue can be considered his catchphrase itself. Be it in Phantom Blood against Jonathan Joestar, or by his stand in Stardust Crusaders against Jotaro's Star Platinum, the dialogue adds the element of intensity to the scene in whatever form it appears. It is also used by Giorno Giovanno's stand, Gold Experience (GG... I still wonder how he's a JoJo)</p>
			<br/><center><img loading="lazy" src="/assets/releases/2023-05-1/2.gif" style="max-width: 65%; display: block;"></center><br/>
			<p>Together with the stand cry of Star Platinum, Ora Ora Ora, the stand cries are often used in spam, shitposting and to exaggerate the seriousness of the situation.</p>
			
			<div class="article-end"></div>

		</div>
	</div>
</div>
