<div class="page">
	<div class="article-full">
		<h2>Seasonal Anime Review - Summer 2021</h2>
		<br/>
		<div class="article-author">By: Abhibhu Prakash</div>
		<div class="article-content">
			{# <div class="article-end"></div> #}
			<h3 style="text-align:center">That Time I Got Reincarnated as a Slime</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Isekai, Action, Adventure, Fantasy</td></tr>
			</table>
			<p>A light hearted and simple anime, yet filled with adventure to the brim. This anime depicts the life of a human, who reincarnated into a slime, in his adventure of building a kingdom and climbing the hierarchy of strength to become one of the strongest beings in the world. This anime offers good character development, not neglecting the supporting characters. With exceptional sound effects and good animation, you are sure to enjoy this anime.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>8.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">I'm Standing on a Million Lives</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Isekai, Game, Fantasy, Action</td></tr>
			</table>
			<p>A strange plot with annoying protagonists, along with a ridiculous setting, this anime combines all these sub-par elements to deliver something surprisingly good. With the characters going through their own sets of problems and identity crisis, they are forced to be the heroes tasked with saving a world from impending doom. The narration deeply focuses on the various factions involved in each adventure, be it the allies of the heroes or their enemies, sometimes to the point where you feel sad for the fate of the losing party. This show emphasises on the values of morality and the consequences of actions.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>6.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Seirei Gensouki</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Isekai, Action, Drama, Romance</td></tr>
			</table>
			<p>A typical isekai anime with a decent plot, detailed theme but somewhat shallow character development. There is excessive plot armour, evidently seen when things proceed way too smoothly for the protagonist, or he comes at the last second to save the day. Every other girl that he meets ends up falling in love with him, while he densely keeps his distance from them. More often than not, you will feel the turn of events to get cringy. Still, this is an enjoyable anime, with a decently good animation.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>6</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">How a Realist Hero Rebuilt the Kingdom</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Isekai, Action, Romance, Military</td></tr>
			</table>
			<p>An isekai with a unique concept, focused on strategy and politics rather than action or adventure, this anime is about the story of a summoned hero from Earth who uses his ingenuity and wits to change the fate of a kingdom on the road of economic collapse to making it one of the strongest bastion of humanity. A lighthearted and calm anime for most of its duration, it is definitely a must watch if you are looking for a change of pace.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>7</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">Girlfriend, Girlfriend</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>School, Romance, Comedy, Harem</td></tr>
			</table>
			<p>Two words are enough to describe this anime: absolute cringe. With a stupid, dense yet dedicated protagonist, we get to see his ventures as he openly two-times with his girlfriend while the three hides their peculiar relationship from their peers and try their hardest to progress in their romactic endeavours. The protagonist is so gallantly stupid that you'll feel like digging a hole to hide yourself in it on watching this anime even if you are alone. It's so purely cringy that it's hilarious.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>5.5</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">The Dungeon of Black Company</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Isekai, Comedy</td></tr>
			</table>
			<p>Overall, this anime is nothing exceptional, but I still strongly recommend you to watch this. This anime is a complete satire on corporate life and many of you might find this already relatable. The protagonist with a ruthless and genius business mindset gets isekai'd and is stuck as a corporate slave. His various ventures to strike it rich, while always ending up bankrupt, with the rock bottom luck of the protagonist added to the fray, this series is rather fun to watch.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>7</td></tr>
			</table>
			<div class="article-end"></div>
			<h3 style="text-align:center">The Detective is Already Dead</h3>
			<table class="anime-info">
				<tr><td>Genre</td><td>Mystery, Comedy, Drama, Romance</td></tr>
			</table>
			<p>With well defined characters, a couple of secret organisations, and a lot of adventures, all shrouded in a dark veil of mystery, this anime offers every element you expect from a detective based anime. The backstory and pasts of the various characters are so intrinsically linked, or rather, mingled, that you can't help but feel exasperated by it. Sometimes, it even gets awkward, but only to the point which can be expected from a detective anime.</p>
			<table class="anime-ratings">
				<tr><td>Rating</td><td>7</td></tr>
			</table>
			<div class="article-end"></div>
		</div>
	</div>
</div>
