<div class="page">
	<div class="article-full">
		<h2>Review: Akagami no Shirayuki-hime</h2>
		<br/>
		<div class="article-author">By: Ankit Chowdhury</div>
		<table class="anime-info">
			<tr><td>English Name</td><td>Snow White with the Red Hair</td></tr>
			<tr><td>Seasons</td><td>2</td></tr>
			<tr><td>Episodes</td><td>12+12</td></tr>
			<tr><td>Genres</td><td>Fantasy, Romance</td></tr>
		</table>
		<div class="article-content">
			<h3>Brief Summary</h3>
			<p>The story centres on a young woman named Shirayuki, who is well known for her work as a herbalist and her red hair. Nobody in her country of Tanbarun has such red hair, and this makes her the centre of unwanted attention. When the moronic Prince Raj falls in love with her and wants to make her his concubine, she refuses to let herself be subjected to a cruel fate, so she flips him the middle finger by cutting her hair and runs away to the next kingdom, Clarines, as she has nowhere else to go. While traversing through the forests, she finds herself befriending the crown prince of Clarines, Zen, who offers to let her into his kingdom to protect her from Raj. She isn't quite sure what his intentions are, but she does want to pay her debt to him, so she becomes a court herbalist in his castle. With this, her adventures in the Clarines kingdom begin.</p>
			<h3>Characters</h3>
			<p>The relationships between the characters are what this show is all about. Or well, to be more accurate, they are what makes the show special and great to watch. Shirayuki is completely different from the heroines that are commonly in this type of demographic. She's very clever, independent of what she does and holds responsibility for what she does and tries to repay any favour that she may hold to anyone. She is not there to be saved and protected for romantic moments, she holds her own and tries her best to be in the same line as the male main lead. Her boldness and ability to solve situations on her own is nothing short of amazing! The same falls for other characters. Most of the characters showed how multidimensional their characteristics are instead of being one dimensional character. Character developments are thankfully still open for the continuation of this series.</p>
			<h3>Art & Animation</h3>
			<p>The art and animation of the series is incredibly exquisite, as expected from a studio that is well known for its gorgeous visuals, Bones. It does not follow the usual colorization that someone would expect from this type of show, yet the animations fit it perfectly. The colours are bright and the animation is slick, smooth and relaxing.</p>
			<h3>Music</h3>
			<p>It basically contains relaxing songs. In all it has four songs – two opening and two closing songs in two seasons. My personal favourite is Sono Koe ga Chizu ni Naru by Saori Hayami.</p>
			<h3>Enjoyment</h3>
			<p>Akagami no Shirayuki-hime is an anime that is incredibly easy to watch through. It's light and warm. The interactions between the characters are interesting and the dialogue rarely leaves the person to be bored or feel that it is being dull. It may have its moments that feel "cheesy" on book, but the way it is approached is what makes it gorgeous and beautiful to watch. If you're a fan of the Disney-like settings, with a strong-willed heroine, then this show should be right up the alley.</p>
			<h3>Ratings</h3>
			<table class="anime-ratings">
				<tr><td>Story: </td><td>8</td></tr>
				<tr><td>Characters: </td><td>10</td></tr>
				<tr><td>Art: </td><td>9</td></tr>
				<tr><td>Music: </td><td>9</td></tr>
				<tr><td>Enjoyment: </td><td>9</td></tr>
				<tr><td>Overall: </td><td>9</td></tr>
			</table>
			<div class="article-end"></div>
		</div>
	</div>
</div>
