
<div class="page">
	<div class="article-full">
		<h2>Review: No Game No Life</h2>
		<br/>
		<div class="article-author">By: Vidhu Vikas Singh</div>
		<table class="anime-info">
			<tr><td>Episodes</td><td>12</td></tr>
			<tr><td>Genres</td><td>Adventure, Comedy, Ecchi, Fantasy, Game, Supernatural</td></tr>
		</table>
		<div class="article-content">
			<p>The protagonists of this anime are Sora and Shiro, a brother and sister pair, brother being 18 and sister being 11. The anime starts off by showing them being a pair of shut-ins who do nothing but play games all day. Their skills are so incredible that there are urban legends about them across the world of games, they play each and every game, and their genius has let them to never lose a single time.</p>
			<img src="/assets/releases/2021-09-2/2.webp" alt="NGNL" style="float:left;margin:10px 20px 5px 0;height:40vh;min-width:100px;max-width:400px;max-width:80%"/>
			<p>They get summoned to another world by "God", when they defeat him in a game of chess. This new world is apparently ruled by this "God", who has prohibited any fighting. Everything in this world is decided by games, including things like robbery and national borders. They arrive and see that the human race has been reduced to a small land. Can they become the "saviours" of humanity?</p>
			<p>This anime has been adapted from the light novels of the same name. The "ecchi" or explicit content is quite high in this anime with a bit of incestuous elements as well... The 11 year old Shiro has not been spared either, so watch out for it. In fact, this was the reason that No Game No Life was banned in a few countries. Looking past all that, though, the plot is simply incredible. The characters are quite likeable, and the genius of Sora and Shiro never ceases to amaze one. The games they play are exciting to watch and the anime never gets stale.</p>
			<p>It has been animated by Madhouse Studios, and the fine animation speaks for itself. The characters other than our protagonist duo undergo a decent amount of character development, while our duo does undergo some character development, it is not enough to show any significant changes in only 1 season. The music is beautiful, the OP gives off the grand and exciting feeling while the ED gives off the wholesome vibe.</p>
			<p>The only probable downside to watching this anime is the fact that this anime does not and will probably never have a season 2. You might end up in an endless loop of waiting for it (like me). Though I do suggest reading light novels later on. Give the anime a try, you might end up falling in love with No Game No Life.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>