{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> How to build the Perfect Tsundere </h2>
		<br/>
		<div class="article-author">By: Moggerlal </div>
		<br>
		<div class="article-content">
			<p>Since the dawn of human civilization, one question has persistently fueled debates and discussions across generations. Initially framed as "who is the most compatible mate," this inquiry has evolved alongside the rapid changes in society into a more nuanced query: "Who embodies the ideal partner?" This fascination is particularly prevalent among enthusiasts of manga and anime, ranking just behind the infamous debate of "Can ABC beat Goku, though?" For the purpose of this article, we embark on unraveling this age-old enigma by categorizing anime characters into distinct archetypes and subsequently delving into the complexities faced by the trope. </p>

			<p>Upon a simple Google search to find common character tropes, these are the results that we got:</p>
			<img src="" alt="">
			<p>Search dated 19 March 2024</p>

			<p>As you can see, common character tropes in anime include derederes, sadoderes, danderes, kuuderes, tsunderes, underes, yanderes, byoukideres, and Hachi- Hachiman Hikigaya??? What on earth is bro doing on that list? Schnawg is definitely trying to sneak into the girls’ sleepover.</p>

			<p>Jokes aside, these are, indeed, the most famous character tropes in recent Japanese media. </p>
			<p>When faced with genres like danderes, kuuderes, and yanderes, the strongest trope was asked, “Who would win, you or them?” <br>
			It responded with “If the kuuderes joined forces with the danderes, they would cause me a little trouble.”<br>
			“But would you lose?</p>
			<img src="" alt="">

			<p>As you may have guessed from the previous passage (and panel), tsunderes are the greatest character tropes of all time. They’re often characterized by loudly defiant personalities with twin-tailed hairstyles. Since we have chosen tsunderes as the best character trope (you can argue with a wall), we will now try to address the common complaints regarding tsundere characters and the corrections which can be made <i>in order to build the perfect tsundere</i> (title drop alert!)</p>
			<img src="" alt="">

			<ol>
				<li>
					<h2><u>Not Honest When It Matters</u></h2>
					<p>The most common complaint people have when it comes to tsundere characters is that they are not honest enough when it matters most, and they keep sending mixed signals (or sometimes off-putting signals) when they vehemently deny their feelings. Sometimes, it gets painful to witness misunderstandings stem out of improper communication, and this happens way too often with tsunderes. One way to get past this problem is to create a tsundere character that knows when to cut the act and be open and honest with his/her feelings. Another solution to this problem is to make the character’s denial so obvious that the other side easily gets the message. This could be done by having the character always say the opposite of what he/she meant, and/or by adding an easily noticeable prefix+suffix combination to every dishonest statement (e.g., “It’s not like… or anything.”) Inda Karane is one such tsundere character.</p>
					<img src="" alt="">
				</li>
				<li>
					<h2>Too Violent:</h2>
					<p>Another frequent allegation against tsunderes is that they beat up their partners badly, and then go around as if nothing ever happened. Not a single acknowledgment of being too harsh, nothing. Sure, most authors do this with hilarious intent, but these moments are about as funny as Friends without a laughing track. </p>
					<img src="" alt="">

					<p>There are four ways one could fix this issue: create a situation where the tsundere beating up her love interest is justified (e.g., Ayuzawa Misaki), make sure the tsundere character doesn’t beat anyone up (impossible), make sure that even if the tsundere character DOES beat someone up, it is playful and doesn’t harm the other person (or send him flying 300 miles above sea level); or make a tsundere character that will beat someone up, albeit very hard, but actually feel guilt and apologize if it turns out the victim is undeserving of such a battering (Inda Karane).</p>
					<img src="" alt="">
				</li>
				<li>
					<h2>Loud and Obnoxious:</h2>
					<p>The tendency for tsunderes to exhibit exaggerated, loud behavior as a means of concealing their affections presents another point of contention. One solution could be to have them lower their volume, though I doubt they’d be tsunderes if they ceased their tantrums. (I do not have a single example of a tsundere that isn’t loud.) However, they’re not the only character trope that is loud, and if you don’t like your characters loud, perhaps ‘Komi Can’t Communicate’ or ‘Aharen-san wa Hakarenai’ would be more up your alley.</p>
					<img src="" alt="">
				</li>
			</ol>

			<p>As a reward for making it to the end of this article, here are a few famous tsunderes in the world of animanga: <b>Aisaka Taiga</b> (Toradora), <b>Ayuzawa Misaki</b> (Maid-Sama), <b>Kaguya Shinomiya</b> and <b>Miyuki Shirogane</b> (Kaguya Sama-Love is War), <b>Asuka Langley Soryu</b> (Neon Genesis Evangelion), <b>Chitoge Kirisaki</b> (Nisekoi), <b>Nino Nakano</b> (The Quintessential Quintuplets), and, hold on, let me search Google for a sec-</p>

			<img src="" alt="">
			<p>Search dated 19th March 2024</p>

			<p>Apparently, Jotaro Kujo, Levi Ackerman, and Saitama are tsunderes as well. Yeah, it adds up.</p>

			<p>Author’s Top Picks: <b>Inda Karane</b> (The 100 Girlfriends Who Really, Really, Really, Really, Really Love You), <b>Ayuzawa Misaki</b>, <b>Shirayuki Kokoa</b> (After A Heartbreak, My Bitter Childhood Friend Is Now Sweet Like Sugar), <b>Stella Vermillion</b> (Chivalry of a Failed Knight)</p>

			<div class="article-end"></div>
		</div>
	</div>
</div>
