{# Ready for review #}
<div class="page">
	<div class="article-full">
		<h2> The 20th Century Man </h2>
		<h3>Exploring the complexities of Naoki Urasawa’s three most popular works.</h3>
		<br/>
		<div class="article-author">By: Binaya Kumar Naik</div>
		<br>
		<div class="article-content">

			<center><img src="/assets/releases/2024-04-1/2-1.webp" alt="Naoki Urasawa's three  works" style="width: calc(min(820px, 75vw));"></center><br>
			<p><br>Naoki Urasawa is a renowned Japanese manga artist known for his popular and critically acclaimed works. While each of his manga series explores unique themes and storylines, there are some notable similarities across his top three works, which are often considered to be Monster, 20th Century Boys, and Pluto.</p>

			<p>Let’s begin with summaries of the above mangas.</p>

			<p>When brilliant neurosurgeon Dr. Kenzo Tenma saves a young boy's life over an influential patient, it sets off a chain of horrifying events. Years later, that boy, Johan Liebert, has become a monstrous serial killer. Tenma feels responsible and becomes consumed with stopping Johan, embarking on a pursuit across Germany. As Tenma unravels Johan's twisted past and motivations, he encounters a web of characters impacted by the monster he created. </p>
			
			<p>Set in an alternative Astro Boy universe, Pluto follows robot detective Gesicht as he investigates the brutal destruction of advanced robots, including those created by Dr. Tenma. His investigation uncovers a conspiracy linked to the legendary, near-indestructible "Monster" robot. Gesicht crosses paths with Astro Boy (Atom) and the enigmatic Pluto, central to the robot killings. Exploring AI ethics and robot identity, Pluto delves into themes of technological consequences and the line between humans and machines.</p>
			
			<p>In the late 1960s, a group of young boys create an imaginary "Book of Prophecies" about their vision for the future. Decades later, their childhood fiction inexplicably becomes a reality when a mysterious cult arises, hellbent on ushering in doomsday as depicted in the book. An unassuming convenience store owner, Kenji, recognizes the cult's link to his childhood imaginings and is drawn into a desperate struggle to decipher the prophecies and stop the cult's apocalyptic plans. </p>
			<br>
			<p>Three of these mangas follow a distinct character. A genius Neurosurgeon, a prolific detective, and an imaginative failed rockstar working as a shopkeeper. Even though these characters might seem to share nothing in common their journey in these tales says otherwise. Their paths throughout the manga force them to confront their inner selves and their beliefs about morality, redemption, and the depths of human nature.</p>

			<p>Urasawa, in all his works, tries to explore various themes about morality and beliefs, here are some of these ;</p>

			<h3> Moral Dilemmas and Nature of Good/Evil:</h3>
			<ul>
				<li><p> In Monster, Dr. Tenma's decision to save a young boy over an influential patient sets off a tragic chain of events, blurring the line between good and evil intentions.</p></li>

				<li><p> In Pluto, the robots grapple with existential questions about their purpose and whether they can be considered truly "good" or capable of evil acts.</p></li>

				<li><p> In 20th Century Boys, the childhood "Book of Prophecies" takes on a sinister meaning as a cult tries to bring about an apocalypse, testing the morality of the main characters.</p></li>
			</ul>

			<h3>Consequences of Actions/Personal Responsibility: </h3>
			<ul>
				<li><p> Tenma's choice in Monster directly leads to the creation of the monstrous Johan, making Tenma feel responsible for stopping him.</p></li>

				<li><p>In Pluto, Gesicht's investigation reveals how the robots' advanced capabilities can have devastating consequences when misused.</p></li>

				<li><p>In 20th Century Boys, Kenji's innocent childhood game morphs into a real threat, forcing him to take responsibility for its effects.</p></li>
			</ul>
			
			<h3>Identity/Duality of Human Nature:</h3>
			<ul>
				<li><p> Johan in Monster embodies the duality of outward innocence masking an evil interior self.</p></li>
				
				<li><p> The robots in Pluto struggle with their robotic identities versus seeming to exhibit human qualities like emotions and free will.</p></li>
				
				<li><p> Kenji in 20th Century Boys grapples with reconciling his mundane life with the extraordinary circumstances stemming from his childhood dreams.</p></li>
			</ul>

			<h3>Psychological Depth/Character Development:</h3>
			<ul>
				<li><p> Tenma undergoes immense psychological turmoil and growth in his quest to stop Johan in Monster.</p></li>

				<li><p> In Pluto, robots like Gesicht and Atom exhibit complex emotions and inner lives rarely seen in their kind.</p></li>

				<li><p> The 20th Century Boys group evolves from carefree kids to adults driven by the impact of their childhood visions.</p></li>
			</ul>
			<h3>Sociopolitical Commentary/Conspiracies:</h3>
			<ul>
				<li><p> Monster touches on commentary about cults, political unrest, and conspiracies in Germany. </p></li>
				
				<li><p> Pluto explores themes of technological ethics and society's relationship with AI through the robot community. </p></li>
				
				<li><p> 20th Century Boys centers on a doomsday cult conspiracy with roots in the characters' childhood imaginings.</p></li>
			</ul>

			<h3>Impact of Childhood Experiences:</h3>
			<ul>
				<li><p> Johan's traumatic childhood in Monster shapes his psychopathic mindset.</p></li>
				
				<li><p> Key robots in Pluto, like Atom, were created based on childlike qualities envisioned by their maker.</p></li>
				
				<li><p> The entire premise of 20th Century Boys stems from childhood dreams manifesting in adulthood with grave results.</p></li>
			</ul>

			<h3>Redemption/Atonement:</h3>
			<ul>
				<li><p> Tenma's pursuit of Johan is driven by a need for personal redemption for his part in creating a monster.</p></li>
				
				<li><p> Gesicht's cases in Pluto allow him to unravel ethical issues tied to robotic technology and find purpose.</p></li>
				
				<li><p> Kenji aims to decipher and stop the cult conspiracy as a form of atonement for his childhood fantasies in 20th Century Boys.<br>
				Through these diverse examples, Urasawa masterfully weaves profound philosophical themes and complex human experiences into immersive narratives across his acclaimed works.</p></li>
			</ul>

			<p>Urasawa is known for incorporating compelling short stories within the overarching narratives of his manga series. These self contained tales often serve as interludes or side stories that enrich the main plot, provide additional context, and explore the series' themes from different perspectives.</p>
			
			<p>Here are examples of some of the few memorable stories from the three mangas.</p>

			<h3>Another Monster Arc in Monster</h3>
			<center><img src="/assets/releases/2024-04-1/2-2.webp" alt="The soldier and the girl from Monster" style="width: calc(min(480px, 20vw));margin: 0.5em;"></center><br>
			
			<p>It explores the life of a former soldier struggling with post-traumatic stress disorder and the trauma inflicted upon him during the war. This arc serves to highlight the psychological complexities of human nature and the lasting impact of violence and tragedy.</p>
			
			<p>The soldier lives the little girl, Daphne as a constant reminder of all the terrible things he had done during the war. They had never had a heartfelt connection. It all changes when Dr. Tenma comes to train under him and he changes Daphne. Seeing her smile for the first time inspires him to how he could make her life a lot better. Instead of living with her and constantly being reminded of his trauma, he could just start a happy fatherly relationship with her. Saving both of their lives from the terrors of War.</p>

			<h3>Story of North#2 from Pluto</h3>
			<center><img src="/assets/releases/2024-04-1/2-3.webp" alt="Paul sees his song filling up the sky.(Manga panel)" style="width: calc(min(480px, 20vw));margin: 0.5em;"></center><br>
			
			<p>Despite Paul's initial disdain for North's artificial nature, North remains devoted, striving to prove his worth. Paul's traumatic past, marked by abandonment and illness, fuels his determination to excel as a musician. When setbacks arise, North reveals Paul's mother's sacrifices, fostering a newfound understanding between them. North's musical talent touches Paul's heart, leading to reconciliation. </p>
			
			<p>However, their tranquility is shattered by the arrival of Pluto, culminating in a tragic confrontation where North sacrifices himself to protect Paul. Their story explores themes of redemption, forgiveness, and the power of music.</p>
			<div class="article-end"></div>
		</div>
	</div>
</div>
