{% extends 'events.njk' %}

{% set pagetitle = 'Not found!' %}

{% block extrainfo %}
	<div style="background-color:var(--red);color:var(--off-white);opacity:0.8" class="text">
		{{ message if message else 'Unable to find that quiz!' }}
	</div>
{% endblock %}
