{% extends '_base.njk' %}

{% set thispage = 'events' %}
{% set pagetitle = 'Submitted!' %}

{% block pagecontent %}
	<h4>You have already attempted this quiz!</h4>
	<br/><br/>
	<a href="/quizzes"><button class="rel">Back to quizzes</button></a>
{% endblock %}

{% block customcss %}
	<style>
		button.rel {
			width: 100px;
			height: 30px;
			background-color: var(--gray);
			color: var(--off-white);
			border: 2px solid var(--ghost-gray);
			border-radius: 5px;
			cursor: pointer;
		}
		button.rel:disabled {
			background-color: var(--tinted-gray);
			border: 1px solid var(--gray);
			color: var(--ghost-gray);
			cursor: default;
		}
		button.rel:not(:disabled):hover {
			background-color: var(--middle-gray);
		}
	</style>
{% endblock %}
