name: Node.js CI

on:
  push:
    branches: [ main, dev ]
    paths-ignore:
        - 'LICENSE'
        - 'README.md'
  pull_request:
    branches: [ main, dev ]
    paths-ignore:
        - 'LICENSE'
        - 'README.md'

jobs:
  test:
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
      env:
        GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
        GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}
        MONGO_TEST_URL: ${{ secrets.MONGO_TEST_URL }}
        MONGO_URL: ${{ secrets.MONGO_URL }}
        SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
    - run: npm install
    - run: npm test
