{# Ready for review #}
<div class="page">
    <div class="article-full">

        <h2> Should people be allowed to choose who protects them? </h2>
        <br/>
        <div class="article-author">By: Jasesh Pandya</div>
        <br/>
        <div class="article-content">
            <p>
                Humanity is at its strongest in its unity. Humanity has developed and overcome challenges that once seemed like a tall wall through unity. First came the tools, then the fire, agriculture, the wheel, the printing press, and now came the smartphones and the internet. Each step along the way, the process of selection became lenient on humans, and as a result of this, today humanity stands tall with a population much larger than it started with.
                <br/>
                Naturally, as the number of people kept increasing, it became clear that many people cannot work on one thing harmoniously. Different people would have other thoughts, and because of that, the development path would become slow and jittery. This disharmony paved the way for leaders to take the lead and start representing people, protecting them, and upholding their ideals.
            </p>
            <p>
                In our world, one leader is not physically capable of protecting the lives of the millions they represent, but the power they hold because of the people's trust allows them to. Being selected by the people does give them the power to help and protect, but is this always the case?
            </p>
            <p>
                This question intrigued me, and there exist multiple possible answers for it. I found one of them in the anime To Be Hero X.
                <br/>
                To further delve into this answer, let me explain the world in which To Be Hero X(referred to as TBHX going forward) is set.
            </p>

            <h3>To Be Hero X</h3>
            <p>
                TBHX takes place in a world where the amount of trust a person has received from society can be measured by a numerical value known as the trust value.
                <br/>
                The higher a person’s trust value is, the stronger they become in reflection of the ideals of those who trust in the person. So if I were to believe in someone and think of them as someone who solves problems by force, then that person would become physically stronger to match my ideals of them. Similarly, if I were to believe in someone and think of them as someone who resolves problems without violence, they would grow stronger in that aspect.   
            </p>

            <img class="image-1" src="/assets/releases/2025-10-1/3-1.webp" alt="TBHX Image 1" align="left" style="max-width: 15%; height: auto; margin-right: 15px;  margin-bottom: 15px;"/>
            <p>Essentially, TBHX is set in a world where people’s trust makes a person both figuratively and literally stronger. Due to such a scenario, one would expect people to trust others after a lot of consideration. However, that is not the case. Underhanded play runs rampant, everything is used as a showpiece to fool the masses and make one group stronger.</p>
            <p>Because of how the trust value works, the trusted individuals are treated like heroes and are responsible for protecting humanity and representing the people who believe in them. </p>
            <p>The story revolves around the top 10 heroes ranked by their trust in the 41st year after the establishment of the hero commission, unveiling the stories behind the making of these heroes.</p>

            
            <h3 style="clear: left;">Aspects depicting where trust goes wrong</h3>
            <p>
                The story begins with Lin Ling, a typical worker in an advertising company who works for the hero Nice. Nice is known to embody perfection in the public’s eye and thus is represented everywhere as such. After a series of unfortunate events, Lin Ling finds himself in front of his idol, Nice, who just walked off a building after Lin Ling saw him, committing suicide. Soon after, Lin Ling is made to impersonate Nice by the company responsible for Nice. Due to how similar the impersonation is, Lin Ling inherits all the trust value that Nice had and becomes Nice.
                <br/>
                After becoming Nice, Lin Ling learns that all the perfection that Nice embodied was a facade. He faked defeating villains and relationships to gain more people's trust.
                <br/>
                Just from the first episode, two very concerning issues are evident. Them being the ease with which identity was lost and reassigned, and the fraudulent nature of the hero industry.
            </p>
            <p>
                Later on, Lin Ling gets exposed for impersonating Nice, but the people accept him as a hero due to his dedication to being a hero and his virtue.
                <br/>
                Something even more ridiculous happens in the season finale, but I will leave that for you to explore and understand.
            </p>
            <p>
                In a world where trust is the most valuable thing, what integrity is maintained if people’s trust can be displaced so easily, without them even knowing? And if trust was gained through immoral and superficial means, can trust be something that should be allowed to make people powerful?
            </p>
            <p>
                In the arc following Lin Ling’s, we see how the current E-Soul became the 9th-ranked hero.It follows Yang Cheng, who acts in performances for children as E-Soul. His passion for the job and the work he puts into it garners him admirers. In a dire incident, he saves one of the kids, his passionate fan, from being kidnapped. His heroic behaviour in the incident becomes viral, and he gets heralded as the new E-Soul. Later on, challenges the old E-Soul. In which one of them meets their demise, and a new collective E-Soul is formed that inherits the trust value of both of them.
                <br/>
                Both of their fans allow such a ridiculous match to happen just to entertain them. This caused one hero to die, which would’ve helped protect the people.
            </p>
            <p>
                Clearly, the people know what the implications of their demands mean, yet they allow such losses to happen. The fans cannot confirm whether the E-Soul they supported is the one they are trusting in now, yet they go on with it. These ridiculous things occur when everything is left to the people’s beliefs.
            </p>
            <p>
                Even more ironically, all of this, from the ascension of the new E-Soul to the removal of one of the E-Souls, was all set up by the leader of the group that E-Soul was signed with.
                <br/>
                So, in a world where trust is everything, integrity is just a side object to the superficial showcase.
            </p>

            <p>
                As the show progresses, we see how the heroes make their way to the top despite not following a regime of protecting people. The prime examples are the rank seventh hero, Lucky Cyan, and the 4th hero, Ghostblade.
            </p>

            <p>
                Lucky Cyan started as a street singer and became popular because of her captivating music.As she became increasingly popular, she gained people who adored her and her music, so her trust value kept increasing. Eventually, a hero agency signed Lucky Cyan and started publicizing her as a hero rather than focusing on her musical strength. As time passed and things surrounding her image became clear, she became a top-ranked hero despite not working for it from the start, and the public even accepted her as a protector despite clearly preferring her a lot more as an artist. Even though she gains resolve to work as a hero, all of this happens just because the company she works for benefits from her being a hero and doesn’t mind misguiding the public and Cyan herself about their intentions
            </p>

            <p>
                Before Ghostblade became a hero, he worked at his family’s butcher shop. A few clips of him at work got incredibly viral, leading to him coming under public spotlight. Due to more and more people viewing his clips, his trust value kept increasing. He got signed to a hero company and became known for his silent nature. Because of the trust gained in this manner, he lost his ability to speak but gained strength that made him incredibly deadly. He works as a hero but is often commissioned as an assassin by his hero company or the commission to deal with the things they cannot get their hands dirty with.
            </p>

            <p>
                Both of these cases are clear scenarios of trust being misdirected one way or the other.
            </p>

            <p>
                The people in the world of TBHX understand and know the implications of what their trust can do, yet they let their desires misguide them.
            </p>

            <p>
                At many points in the story, heroes get slandered for working more on their media image instead of doing their jobs. But all of this gets suppressed by another media stunt by the power of the companies or by lying to the people, yet again.
            </p>

            <h3>Verdict</h3>
            <p>
                While trust is not a literal metric in our world and other worlds, it is still a key factor in how society is built upon. Such a situation raises another question: Are people wrong to trust others, or is people’s trust not worth weighing?
            </p>

            <p>
                If people are wrong to trust others, society becomes self-centered, reclusive, and regressive, which in turn harms development.
            </p>
            <p>
                If people’s trust is not worth weighing, then whose opinion should matter? The opinion of a central body? If so, who decides whether the central body is correct or incorrect?
                <br/>
                The answer to each question is made available at the price of two new questions, and it is a process that will keep spiraling to nowhere.
            </p>
            <p>
                With all of this, I have told you, the reader, about the question that intrigues and bothers me so much.
            </p>
            <p>Thanks for Reading<p>

            <p>
                P.S.: This anime conducts polls amongst its viewers, where viewers can vote for one of the top heroes to increase their trust value. Queen, the hero ranked 2nd in the show, has the agenda of abolishing the trust system because it is unstable. If people in the TBHX world understood why this was important, they would greatly trust her. Well, that part aside, the viewers voted for the characters they liked, and because of it, Queen has fallen to 6th place now. The lapse of the popularity and trust system clearly shows and is very amusing.
            </p>

            <img class="image-2" src="/assets/releases/2025-10-1/3-2.webp" alt="TBHX Image 2" style="max-width: 100%; height: auto; margin-top: 15px;"/>
            <div class="article-end"></div>
    </div>
</div>

<style>
    @media (max-width: 768px){
        .image-1 {
            max-width: 100% !important;
            height: auto !important;
            margin-right: 0 !important;
            margin-bottom: 15px !important;
            float: none !important;
            align: center !important;
        }
    }
</style>